<div class="article-page-container">
    <div class="article-pages" id="page4">
        <p class="indented">
	        Through the language of prayer, the poet brings poetry to the window only to admit the passage into divinity is either uncrossable or too costly, an exercise that insists on the fundamental otherness of the prayer-object. Berryman, Wright, and Ali, retain for their divinities a certain alienating majesty against which they contrast and explicate human suffering. Fanny Howe, however, offers yet another use of prayer by which poetry can suggest something about the relationship between the lived human experience and notions of the sacred. The structure of her 1995 poem “O’Clock,” comprised of fifty-nine meditations on the Irish landscape and her place in it, references the liturgy of canonical hours, which retells the complete Christian narrative over the course of each day with prayer every three hours. The liturgy of the hours emphasizes the overlay of the divine and quotidian and the constant communication between the two in ways that allow Howe to escape the <em>I-Thou</em> construct of personal devotion that leads Berryman, Wright, and Ali to silence and an impassable gate. Through prayer and the recitation of scripture, the liturgy of the hours consecrates the passage of time, and though “O’Clock” is less rigidly structured than some other poetic interpretations of this liturgy—Auden’s “Horae Canonicae” comes to mind—Howe is interested in what kinds of consecration are still available to both the self and society in post-industrial, post-modern, globalized (and explicitly not post-colonial) Ireland.
        </p>
        <p class="indented">
	        As with much of Howe’s work, “O’Clock” operates in a meditative tone, returning over and over to a set of images and themes diffused across nearly sixty pages of poetry. In the first sections of “O’Clock,” Howe suggests her compositional strategy depends on both physical and mental wandering: “Out like a scout, she tackled the fields / in her hem or heels.” This is a poem concerned foremost with cycles of exploration and retreat rather than focused petition: 
        </p>
        <pre class="preformatted-font preformatted-spacing">
                Go on out but come back in
                you told me to live by, so I went
                with my little dog trotting

                at my side out of the garden
                into woods colored rotten.

                I did this several times, out and in, 
                it was of course a meditation.
        </pre>
        <p class="not-indented">
            The operating assumption of the poem is that the liminal space of greatest concern is not whatever threshold the individual aims to cross through prayer, but rather the blurry line between the natural landscape and the built environment. To traverse this grey zone—the side garden, the Dublin pale, the kitchen window looking out on “the light behind the clouds . . . rinsing them blue” —is to enter the meditative space where history collapses (“Past? Present? Future? No such things.”) and a humanistic escape from the totalizing capitalistic war-state becomes possible (“I’ll try to avoid the world / where bombs obviate everything. // The twelfth century was when?”). The poem enacts this meditative escape, and the reader works through its sections as through a book of hours in which one approaches and then draws away from places of veneration, in this case the Irish landscape and sky and moments of human tenderness—an Irish breakfast, a mother folding back her daughter’s sheets—that exist for Howe outside of time.
        </p>    
        <p class="indented">
            Though her language is inventive throughout, the rhetorical modes of Howe’s meditations in “O’Clock” become as routine and predictable as the liturgy of the hours. Across the poem’s sections, Howe weaves natural images drawn from her walks (“Soft fist of feathers / high to invisible / pulsing through May’s misted sky—”), memories of human affection (“the children who make my knees / a pillow”), aphoristic observation (“The avant garde worships history, the others / choose mystery.”), and lyric interiority (“Inside me, a pulse of desire. / Inside me, the way elsewhere.”). These are the hours she prays while she walks, and she tells us how to read them: “The prayers here are earthbound and workaday, though their desired end is a faith that can be felt and seen.” For Howe, the purpose of poetry as prayer is to consecrate the felt and seen mundane, overlaid with, rather than shut out from, the sacred mysterious. 
        </p>
        <p class="indented">
            As the poem progresses and global events intrude more severely into the poet’s thoughts about the land she walks on, we can read Howe’s meditative routine as an act of resistance against the historical contingencies happening all around her. In one of the few moments of direct address to a God-thought, Howe struggles with the sense that her cycle of contemplative exploration and return has morphed into full-scale spiritual dislocation resulting from a lost sense of place:
        </p>
        <pre class="preformatted-font preformatted-spacing">
                Parent above, look down and see
                how far from you I’ve travelled.

                From the swell in your firmament
                you’ll see the way that the light
                has diffused the location of home.

                I’ve lost it, roads wilden
                into an interstate between work and wine.
        </pre>
        <p class="not-indented">
            Diffuse city lights, highways, the assignation of work in one place and sociability, or escapist drinking, in another. This is the Ireland of the Celtic Tiger and the Troubles, a moment of geographic and demographic upheaval in the service of emergent economy even as violence conditions the ways in which individuals interact, or fail to interact, with each other in the public space. The increasingly violent geographies of the poem gradually expand to include other conflict zones, like Palestine, and historical moments, like Dunkirk. “O’Clock” thus adopts a kind of relativity logic in which the simple act of a meditative walk causes the poet’s experience to bridge resonant points in time and space, dehistoricizing the threat of oblivion even as it imbues the most quotidian pleasures—“oil, vinegar, salt, lettuce, brown bread, butter”—with sacred meaning. Each section of the poem becomes both a record of passage and passage itself, not out of the world, but across it. 
        </p>
        <p class="indented">
            Meditation as prayer as poetry has been a rich poetic vein for Howe writing against the gravitational drift of consolidation and false consolation. Her 2004 collection <em>On the Ground</em> contains a similarly impressive twenty-page consideration of life in New York after 9/11 called “Kneeling Bus,” the first and last sections of which invoke and repurpose the idea and language of prayers said in sacred spaces. “My church the bus / is padded with shadows,” she begins, and then a few lines later:
        </p>
        <pre class="preformatted-font preformatted-spacing">
                Twins of anything are frightening
                They ask for it
                Morning white night
                A fistful of snow or crack cocaine
                Two buses sign into a single stop
                One driver unzips the door
                and lowers the lift outside
                Artificial light is staring
                at two eyes weeping inside the bus
                You see, parts don’t add up when love is missing.
        </pre>
        <p class="not-indented">
            There is a striking confidence of statement in these lines that moves the poem from private devotion to public prayer. My church is the bus that seems to kneel, as if in prayer, when its hydraulic systems lower it to welcome people in wheelchairs and people with mobility issues. The city is so full of death and infirmity, the stupefied and terrorized citizens of New York on the death march of their morning commute, that any moment of grace, even a kneeling bus, becomes a sanctuary we are all in together. The sense of diffusion throughout this opening overwhelms the reader. Fragmented images like the wool-capped heads and the nanny’s mitten, ambiguous grammars, the repetition of “white”: these all contribute to the sense that the sacred has been scattered throughout the city and can just as plausibly be found on the M11 as at Trinity Church. Prayer, in this poem, is not the focused language of a human addressing God, but something that is all around us, something the bus does, something we inhale. Then Howe turns her gaze to the Twin Towers and the blue morning that becomes a perverse “white night” (with a potent pun on the white knight of American imperialism). The clouds of the collapsing towers are imagined as snow or crack cocaine, the promise of purity or the promise of obliteration. This is the church of life in New York: prayer and the dust of the dead comingled in the air. 
        </p>
        <p class="indented">
            What does Howe make of this disorienting diffusion of the sacred and profane? The monostich at the end of the first section—“You see, parts don’t add up when love is missing.”—set off by an extra line of white space, at first reads like a sloppy gloss on the spare, crushing verses above. She echoes Auden’s line from the end of “September 1, 1939”: We must love one another or die. But who is the you that sees? Until now Howe’s diction has been so tightly controlled and imagistic, it seems hard to read this as a conversational toss off. Does the reader see? Or a lover? A fellow rider? Or should we take Howe at her word that the bus she is on is her church, in which case she may well be speaking to the divinity all around her. Not a prayer, exactly, but an observation: repair is impossible. Diffusion is the new normal. I think of Rothko’s canvasses in which meaning is not isolated by representation, but dispersed throughout. 
        </p>
        <p class="indented">
            Near the end of the poem Howe expresses the core problem with this state of affairs. She catches herself praying:
        </p>
        <pre class="preformatted-font preformatted-spacing">
                Let me travel the M11 down to Greystones
                with my brother
                as happy a soul as he is
                and see the silver spears
                of towers symbolically
                built into the deep dream state.
        </pre>
        <p class="not-indented">
            Happiness and a safe bus ride downtown: that is all she wants. But then: “Let me who? Who will let me? Who am I addressing?” In a poem characterized by fraying, disruption, and pastiche, the poet recognizes the dissonance between the lived reality of early 2003 in New York and inherited ways of moving through the world that now seem almost quaint. The rhetoric of prayer here allows Howe to pinpoint the disorientation of that time and place: everywhere is hallowed ground, but it is not clear who is doing the hallowing.
        </p>
        <p class="indented">
	        And Howe does mean everywhere: 
        </p>
        <pre class="preformatted-font preformatted-spacing">
                My church is this machine rolling 
                the people along and sometimes
                my church is a public latrine, sometimes
                I drop on my knees and fall
                across a chair like a coat in an empty room.
        </pre>
        <p class="not-indented">
            The line and stanza breaks in that second couplet let “drop on my knees” do a lot of work: we get a person throwing up in a toilet, an intimation of gay cruising in public bathrooms, and the poet slouched bereft over a chair. Howe’s church is wherever the rough and grimy texture of human life comes into sharpest focus, and it is precisely from these human places that she makes poetry. 
        </p>
    </div>
</div>
