<div class="article-page-container">
    <div class="article-pages" id="page5">
        <p class="indented">
	        It has been said that all prayers can be boiled down to two words: <em>help</em> and <em>thanks</em>, both of which Howe offers in these last lines. Desperation and gratitude. What more can be said about our lives than this? But for Howe these are not prayers to be said to God but to each other. If the poem is a prayer, it is made to the reader here in the world. In the poem’s last image the speaker says thanks to the bus driver then crosses the street, but also, in a brilliant weighting of meaning, says a prayer of thanks and crosses herself as she leaves her church. The most common moment expands into something sacred, something that sustains life amid the confusion. I again hear a twist on Auden: not “we must love one another or die” but “we must help one another to live.” As with Rothko’s murals, the poem and its prayers have thrown us as readers back onto ourselves and the mysterious world around us. The poet does not find passage into epiphany but steps into an unknowing she can taste and see.  
        </p>
        <p class="indented">
	        The challenge of poetry is not to know, but to consider what to do with our unknowing. I imagine Rothko in Florence, exhilarated by Michelangelo’s enclosure precisely because he saw how despair, exclusion, and disorientation could take on pure color and shape rather than figuration. His murals propose and then turn their backs on ideas of art as a vehicle of escape and salvation, offering transport only into the physical world and our experiences of it. But that is also a passage into the imagination, which Berryman, Wright, Ali, and Howe all recognize. In distinct ways, the modes and tropes of prayer allow these poets to investigate rather than allay the loneliness, boredom, sorrow, longing, and confusion of their lives. They hallow their own experiences through poems that dwell in unknowing and expect no answer but themselves. This is difficult work in a culture that has a hard time looking honestly at itself without veering into myopic absurdity or self-affirming resolution. These poems challenge us to wander in the world and see each other’s lives as they really are, which is why they are the kind of poems we need most.
        </p>
        <p class="with-spacing">&nbsp;</p><br />
        <div id="article-workscited">
            <span class="workscited-title">Works Cited</span>
            <p>
                <a name="wc1"></a>Ali, Kazim. “A mini-essay: ‘A Brief Poetics: to Layla Al-Attar.’ <em>National Book Critics Circle</em>. 16 August 2008. <a href="http://bookcritics.org/blog/archive/SMALL_PRESS_SPOTLIGHT_KAZIM_ALI/">http://bookcritics.org/blog/archive/SMALL_PRESS_SPOTLIGHT_KAZIM_ALI/</a>
            </p>
            <p>
                <a name="wc2"></a>---.<em>The Far Mosque</em>. Farmington, ME: Alice James Books, 2005.
            </p>
            <p>
                <a name="wc3"></a>Berryman, John. <em>Love and Fame</em>. New York: FSG, 1972.
            </p>
            <p>
                <a name="wc4"></a>Howe, Fanny. <em>On the Ground</em>. Saint Paul: Graywolf Press, 2004.
            </p>
            <p>
                <a name="wc5"></a>---. <em>Selected Poems</em>. Berkeley: UC Press, 2000.
            </p>
            <p>
                <a name="wc6"></a>Wright, James. <em>Collected Poems</em>. Middletown, CT: Wesleyan UP, 1971.
            </p>
        </div>
    </div>
</div>
