<div class="article-page-container">
    <div class="article-pages" id="page7">
        <p class="indented">
            I speak of Tory Dent’s <em>Black Milk</em>, whose title poem is an unflinching depiction of living with AIDS as well as the de-humanizing treatment for it: “For this, this stainless steel, this sanitary lack of love, / this medicine-vacuum, we were not born” (43). Dent’s openness and care is not limited to her life. She speaks not only from her body, as Nicole Cooley argues in her 
            December 2011 <em>Pilot Light</em> essay, <a href="http://www.pilotlightjournal.org/2/8/1">“A Poetics of Resistance: Tory Dent, Sylvia Plath, and ‘The Moon and the Yew Tree.’”</a>:
        </p>
        <p class="excerpt-spacing">
            [I]t is a female body identified with gay male bodies, a female body suffering as those bodies suffer. <em>And it is not a private, individual body</em>. In her final volume, <em>Black Milk</em>…, Dent titles her poems about HIV and AIDS after poems by such writers as John Donne and Paul Celan, and employs the other poets’ language within her own to show how the body under siege exists throughout history. Dent’s individual body in these poems is always a social body. (my italics)
        </p>
        <p class="not-indented">
            Dent does not live isolated from the world. She turns to other writers for comfort as her body fails her, quoting from Rilke’s “First Duino Elegy” in her poem “When Atheists Pray,” with a move outward into the public space: “<em>Fling the emptiness out of your arms into the space we breathe</em>—” (11). She cannot contain her pain she has been holding but instead angrily throws it out so that she may rage against her diagnosis but also so that others may help her deal with her new life. No one is alone; we are all connected by the air “we breathe,” especially “<em>the birds</em> [that] <em>will feel the extended air in more intimate flight</em>. // Those birds … / strangely sustaining us” (11).
        </p>
        <p class="indented">
            I mention Katie Ford and her collection, <em>Colosseum</em>, which tells stories of ruination throughout history, those ancient (the Akkadian Empire in Iraq, c. 2100 B.C.) and modern (New Orleans after Hurricane Katrina in 2005). Also inspired by Eastern European poets, she “went to these poets because of the extremity of the living conditions of their time, if I read the poets who were in exile and loss, I might be able to find the right music for writing poems about what happened to New Orleans and the Gulf Coast” (Interview). Other Eastern European poets like Marina Tsvetaeva and Anna Akhmatova inhabit the book, bringing in their grief but also serving as a comparison against which Ford is able to remind herself to not let her small losses take on more significance than they deserve, as in “Coliseum Theater”:
        </p>
        <pre class="preformatted-spacing preformatted-font">
                The houses burn, the oil rigs burn,

                but when the oldest moviehouse burns,

                our days are named by fires.

                ………………………………………..

                All we had then was the movies.

                ………………………………………..

                We who wanted so much

                to say again, simply,

                let’s go to the movies.

                Please, just let us go. (34)
        </pre>
        <p class="not-indented">
            Though the speaker and her husband are living in New Orleans, they have been lucky. They have not lost nearly as much as many others in the region have. Ford moves deftly from the opening realization that tragedy often only becomes important when it touches us personally to a sense of guilt at the end. When others’ houses have washed away, when their relatives have disappeared or died, this couple’s biggest concern is the destruction of their favorite theater. They may have thought to complain, but in the end, they only “<em>wanted</em> so much” to give voice to their plea because they recognize how uncouth that would be. As Ford notes in the interview:
        </p>
        <p class="excerpt-spacing">
            My own loss or grief is not, in any way, comparable to the poets I have listed, nor does it compare to what many citizens in New Orleans went through—it does not compare at all…. But I don’t think it’s an exaggeration to say that some citizens of New Orleans lost just as much and continue to suffer as much as, say, Tsvetaeva did when her child starved under Stalin.
        </p>
        <p class="not-indented">
            She isn’t afraid to make her speaker look unlikable for a moment while also having enough perspective to know the best course for her to take is to stay quiet. This isn’t the typical range of emotions in a poem, but it does show a willingness to get outside her head and think of others.
        </p>
        <p class="indented">
            I can reference Brian Turner’s experiences in the Iraq War in <em>Here, Bullet</em>. These poems are honest; they are unflinching in their treatment of war. They never shy away from the beauty or the atrocity we create, which provides the collection personal and public perspectives that depend on each other and generate much of the collection’s success. “AB Negative (The Surgeon’s Poem)” begins, “Thalia Fields lies under a gray ceiling of clouds, / just under the turbulence, with anesthetics / dripping from an IV into her arm” (15) and continues to describe how much damage shrapnel has done to her body. While Thalia Fields is just one name, the story Turner writes about her is not singular but representative of too many American soldiers’ experiences. As her body gradually deteriorates en route to Landstuhl Regional Medical Center, the poem’s focus shifts from Thalia to her doctor who imagines what she sees as she closes her eyes: “the most beautiful colors rise in darkness, / tangerine washing into Russian blue, /…/ island palms / painting the sky an impossible hue” (15). But this is only a coping mechanism for the surgeon because “Thalia Fields is gone, long gone, / about as far from Mississippi / as she can get” (15-6). It’s enough to drive him to tears with:
        </p>
        <pre class="preformatted-font preformatted-spacing">
                his bloodied hands on her chest, his head

                sunk down, the nurse guiding him

                to a nearby seat and holding him as he cries,

                though no one hears it, because nothing can be heard

                where pilots fly in blackout (16)
        </pre>
        <p class="not-indented">
            The way in which Turner describes the surgeon’s exhaustion at the life-saving measures he attempted and the grief he feels over Thalia’s death serves as a powerful analogy for the reader-poet relationship done right. Though our mission should not necessarily be to leave the reader in tears, we can hold ourselves more accountable to present work that takes hold of the reader and lingers. Though perhaps “no one else hears it” besides our reader, we still have an opportunity to leave an impression on whoever reads our poems, not just waste their time with self-reflexive lines that lack larger purpose.
        </p>
        <p class="indented">
            Turner uses a similar strategy in “Autopsy” as Staff Sergeant Garza performs her Y-incision and then “cuts the cords which bind the heart” (26). Garza may be Camp Wolverine’s mortuary affairs specialist, but to her the heart she weighs and measures is not just an organ. It is a metaphor for understanding “thirty-four years of a life”:
        </p>
        <pre class="preformatted-font preformatted-spacing">
                ………………………………… she can’t help

                but imagine how fast it beat when he first kissed

                Shawna Allen, or how it became heavy

                with whiskey and what humbled him. (26)
        </pre>
        <p class="not-indented">
            Her moment of re-imagining this man’s life, both the good and bad moments that possibly have shaped him, is a tender, earnest act from a person who could very well be jaded by war’s cruelty. As the man’s body is given “in ash to the earth and sea” (26), Garza (or someone like her) will still celebrate life through song at the funeral. Even on her autopsy table, the bodies and souls are linked forever, which is a difficult point to hold onto in war but one that Turner reminds us of again and again in his collection.
        </p>
        <p class="indented">
            I also speak of Jennifer Moxley’s “The Fountain,” which questions gender roles still commonly accepted:
        </p>
        <pre class="preformatted-font preformatted-spacing">
                Women do not love

                as men do—

                or so we’re told

                by adults, who

                do not remember

                the gelatinous

                yearning of twelve-

                year-olds, not for

                proposals but just

                to get off. (5)
        </pre>
        <p class="not-indented">
            Her work reminds us to refuse easy characterizations of men and women, to push past popular stereotypes that only limit our understanding of each other. And I can go on about how Philip Levine’s blue-collar poems, like “Belle Isle, 1949,” which describes a night of skinny-dipping in the Detroit River while the city around the speaker and a girl crumbles, and James Wright’s “Beautiful Ohio,” an unlikely urban pastoral, remind us to celebrate beauty when it’s easy to do so <em>and</em> when it’s difficult. No matter what, all of the poets mentioned avoid replicating the banality of contemporary society or cataloging its emptiness. They work to create a legacy of authentic connection to others in their work, one that should last much longer than if they had focused purely on the self. I want us to situate our poems within the same context as we work to rise above the label of “a more or less interesting form of drudgery.” If more young contemporary American poets accept this calling, we can mend the intellectual and emotional disconnectedness that prevents us from truly understanding who we are, where we come from, and where our poems can take us.
        </p>
        <p class="with-spacing">&nbsp;</p><br />
        <div id="article-workscited">
            <span class="workscited-title">Works Cited</span>
            <p>
                <a name="wc1"></a>Baranczak, Stanislaw. Introduction. </em>Polish Poetry of the Last Two Decades of Communist Rule: Spoiling Cannibals’ Fun</em>. Ed. Stanislaw Baranczak and Clare Cavanagh. Evanston: Northwestern University Press, 1991. Print.
            </p>
            <p>
                <a name="wc2"></a>Blodgett, E. D. “Milosz as Witness.” <em>Between Anxiety and Hope: The Writings and Poetry of Czeslaw Milosz</em>. Ed. Edward Możejko. Edmonton: University of Alberta Press, 1988. Print.
            </p>
            <p>
                <a name="wc3"></a>Cooley, Nicole. <a href="http://www.pilotlightjournal.org/2/8/1">“A Poetics of Resistance: Tory Dent, Sylvia Plath, and ‘The Moon and the Yew Tree.’”</a> <em>Pilot Light: A Journal of 21st Century Poetics and Criticism</em> (December 2011). Web. 26 Nov. 2012.
            </p>
            <p>
                <a name="wc4"></a>Dent, Tory. <em>Black Milk: Poems</em>. Riverdale-on-Hudson: Sheep Meadow Press, 2005. Print.
            </p>
            <p>
                <a name="wc5"></a>Ford, Katie. <em>Colosseum</em>. Saint Paul. Graywolf Press, 2008. Print.
            </p>
            <p>
                <a name="wc6"></a>---. Interview by Jesse Nathan. <em>SFStation.com</em>. SF Station: A City Guide, 30 May 2008. Web. 10 Nov. 2012.
            </p>
            <p>
                <a name="wc7"></a>Gilbert, Jack. Interview by Gordon Lish. <em>Unsaid: The Journal of New and Lasting Writing</em>. 16 Nov. 2012. Web. 1 Dec. 2012.
            </p>
            <p>
                <a name="wc8"></a>Herbert, Zbigniew. <em>The Collected Poems: 1956 – 1998</em>. Ed. Alissa Valles. New York: Ecco Press, 2007. Print.
            </p>
            <p>
                <a name="wc9"></a>Hoagland, Tony. <em>What Narcissism Means to Me</em>. Saint Paul, MN: Graywolf Press, 2003. Print.
            </p>
            <p>
                <a name="wc10"></a>Levine, Philip. <em>They Feed They Lion and The Names of the Lost</em>. New York: Knopf, 1999. Print.
            </p>
            <p>
                <a name="wc11"></a>Levis, Larry. <em>The Selected Levis</em>. Pittsburgh: University of Pittsburgh Press, 2003. Print.
            </p>
            <p>
                <a name="wc12"></a>Milosz, Czeslaw. <em>New and Collected Poems: 1931-2001</em>. New York: Ecco Press, 2001. Print.
            </p>
            <p>
                <a name="wc13"></a>Moxley, Jennifer, Clampdown. <em>Chicago: Flood Editions</em>, 2009. Print.
            </p>
            <p>
                <a name="wc14"></a>Rich, Adrienne. “Legislators of the World: In Our Dark Times We Need Poetry More than Ever.” <em>The Guardian</em>. Guardian News and Media Limited, 17 Nov. 2006. Web. 19 Feb. 2012.
            </p>
            <p>
                <a name="wc15"></a>Siken, Richard. <em>Crush</em>. New Haven: Yale University Press, 2005. Print.
            </p>
            <p>
                <a name="wc16"></a>Szymborska, Wislawa. <em>Poems New and Collected: 1957 – 1997</em>. New York: Harcourt Brace & Company, 1998. Print.
            </p>
            <p>
                <a name="wc17"></a>Turner, Brian. <em>Here, Bullet</em>. Farmington: Alice James Books, 2005. Print.
            </p>
            <p>
                <a name="wc18"></a>Welsch, Gabriel. “The Telemarketer Means to Call Baker About Erectile Dysfunction but, in a Misdial, Winds up With Simic.” <em>The Missouri Review</em> 27.2 (2004): 31-3. Print.
            </p>
            <p>
                <a name="wc19"></a>Wright, James. <em>Above the River: The Complete Poems</em>. New York: Farrar, Straus, & Giroux, 1990. Print.
            </p>
            <p>
                <a name="wc20"></a>Zagajewski, Adam. <em>Without End: New and Selected Poems</em>. New York: Farrar, Straus, and Giroux, 2002. Print.
            </p>
            <p>
                <a name="wc21"></a>---. <em>A Defense of Ardor: Essays</em>. New York: Farrar, Straus, and Giroux, 2004. Print.
            </p>
        </div>
    </div>
</div>
