<div class="article-page-container">
    <div class="article-pages" id="page2">
        <p class="indented">
            I am reminded of Czeslaw Milosz’s poem “Dedication,” an elegant poem that questions and then answers what poetry is supposed to do:
        </p>
        <pre class="preformatted-font preformatted-spacing">
                You whom I could not save

                Listen to me.

                ……………………………………………

                What strengthened me, for you was lethal.

                You mixed up farewell to an epoch with the beginning of a new one,

                Inspiration of hatred with lyrical beauty,

                Blind force with accomplished shape.

                ……………………………………………

                What is poetry which does not save

                Nations or people? (<em>New and Collected Poems</em> 77)
        </pre>
        <p class="not-indented">
            Instead of the poet writing for himself or herself as in some contemporary American poetry, Milosz, perhaps the greatest contributor to the postwar Eastern European tradition, realizes what poetry’s aim should be: connecting people in a world that has increasingly come to privilege the self more than the community. In “Milosz and Witness,” critic and poet E. D. Blodgett notes as much:
        </p>
        <p class="excerpt-spacing">
            The speakers of [Milosz’s] poems, individuals they may be, have acquired a voice transcending the isolated ego and the limited regionality of so many of our poets. The poetry that Milosz signals is great precisely because it has surpassed the small pleasures of yet another psychological insight and speaks to a condition that the world, not the poet, faces. (150)
        </p>
        <p class="not-indented">
            Milosz doesn’t want his simple, earnest lines to become “readings for sophomore girls” (77). Guilt and the burden of survival may have been the poem’s genesis (“What strengthened me, for you was lethal”), yet the poem is not only a means for self-healing because the speaker’s goal is to share the peace he has found in poetry with as many people as possible. From the poem’s first sentence, we see how much Milosz’s speaker cares for others. Even those he couldn’t save at first, he can’t forget: “You whom I could not save / Listen to me.” Milosz understands that as a poet he has a responsibility to make his readers confront the world in all its splendor and pain, overcome the obstacles it presents, and know the calm that words can offer. Whether we know it or not, we “want good poetry” so that we can find help in dealing with and understanding the world, so that we don’t have to feel alone.
        </p>
        <p class="indented">
            Like Milosz, Adam Zagajewski understands how necessary it is to reach outward in his poems. The beginning stanzas of Zagajewski’s poem “Europe Goes to Sleep” point to a difference between the American and European perspective, a reading that can easily be extended to a discussion of the American and European poetic sensibilities:
        </p>
        <pre class="preformatted-font preformatted-spacing">
                Europe goes to sleep; in Lisbon aging

                chessplayers still knit their brows.



                Gray fog rises over Krakow

                and blurs the contours of venerable sails.



                The Mediterranean sways lightly

                and will be a lullaby soon. (<em>Without End</em> 11)
        </pre>
        <p class="not-indented">
            America and its citizens are perhaps too young to see what else has happened and is happening in the “poor mute world,” especially when compared to the “aging / chessplayers” of Portugal whose intense focus on thinking three moves ahead is essential for their survival, especially on a continent as besieged by war as twentieth century Europe. Even more poignant is the next couplet: “Gray fog rises over Krakow / and blurs the contours of venerable sails.” The “gray fog” looms over the Polish city, referencing the suffering and death Poles had to endure at the hands of Nazi Germany. I’m reminded of the oppressiveness gray clouds can have over us as they block the sun, but also how the “gray fog” brings to mind the smoke and ash emanating from concentration camps. All the good Germany has produced (its “venerable sails”) is clouded by the destruction of a single political and social agenda. But as quickly as these references are made, Zagajewski changes pace and soothes us: “The Mediterranean sways lightly / and will be a lullaby soon.” Not only can he engage our pain and suffering, he can also quiet us with images that speak to us tenderly:
        </p>
        <pre class="preformatted-font preformatted-spacing">
                When Europe is sound asleep at last,

                America will keep watch



                over the poor mute world

                mistrustfully, like a younger sister. (11)
        </pre>
        <p class="not-indented">
Zagajewski’s ability to write with emotional range, from bitter to peaceful to guarded in just a few lines, is in stark contrast to what is happening in some American poetry, which watches over the world “mistrustfully, like a younger sister.” Indifference hovers all around us in America, pushing us farther and farther from those who have faced pain, dealt with it, and now can fall “sound asleep.”
        </p>
        <p class="indented">
Astute political commentary and reflections on philosophy and art are common territory in Zagajewski’s poems, which is no surprise considering the political upheaval in Poland in the decades following the end of World War II. Postwar Eastern European poets underwent much in order to find their identities in an ever-changing world. Former national boundaries were done away with as land was up for grabs in Poland and the Soviet Union. New political ideologies were being founded, which were then debated or revolted against because people had vastly different ideas on how government should work. Zagajewski writes because he sees how many people he must awaken to the atrocities of the establishment. Despite the political leanings of his poetry, what has always struck me in reading Zagajewski’s work is how often we encounter a solitary speaker pained by history and personal loss. In “Lullaby,” he writes, “No sleep, not tonight. The window blazes. / Over the city, fireworks soar and explode. / No sleep: too much has gone on” (<em>Without End</em> 147). While cultivating a deep sense of individualism, Zagajewski’s poems also promote a connection to his community. Though the insomnia is private, what has caused it—the “too much [that] has gone on”—is not. Others can feel what the speaker is experiencing. Privy to his speakers’ innermost thoughts, we are invited to be moved as their descriptions rise above ugliness and “praise the mutilated world,” to become these pensive souls’ friends and allies as we accompany them along the page and in our imaginations. The solitary speaker then is not alone at all. Rather, he shows us how connected we are because we have so much to gain from one another.
        </p>
    </div>
</div>
