<div class="article-page-container">
    <div class="article-pages" id="page5">
        <p class="indented">
            Adrienne Rich may argue with tongue in cheek that “poetry is not a healing lotion, an emotional massage, a kind of linguistic aromatherapy,” but more important, she asserts that “when poetry lays its hand on our shoulder we are, to an almost physical degree, touched and moved,” which may be why Zagajewski so openly questions the motives of young American poets in <em>A Defense of Ardor</em>:
        </p>
        <p class="excerpt-spacing">
            Why do young American poets pay so much attention to their immediate family and neglect a deeper reality? Why are there so many mediocre poets, whose triteness drives us to despair? Why do contemporary poets—those hundreds and thousands of poets—agree to spiritual tepidity, to those small, well-crafted, ironic jokes, to elegant, at times rather pleasant, nihilism? (141-2)
        </p>
        <p class="not-indented">
            “Spiritual tepidity” and “ironic jokes” have seeped into some contemporary American poetry. A fairly recent issue of <em>The Missouri Review</em> featured Gabriel Welsch’s series of telemarketer poems in which the caller speaks to poets about their products. They are clever, at times, but ultimately disappointing in their emotional sparseness. “The Telemarketer Means to Call Baker About Erectile Dysfunction but, in a Misdial, Winds up With Simic” manages to capture Simic’s emotional directness and precise diction in which there are no excessive words, yet the joke fades fast:
        </p>
        <pre class="preformatted-font preformatted-spacing">
		        Good evening, sir. I am calling you

		        because you asked for more information

		        about our product, Rigida, the natural

		        erectile enhancement…


					        I didn’t do that.


		        Is this Mr. Baker? <em>I should have asked that

		        right away</em>. So, you’re not Mr. Baker? 


					        No. Who are you?


		        [Pause] Well, that’s not really, you know,

		        important.  


					        I know who you are.  (31)
        </pre>
        <p class="not-indented">
            Welsch captures the telemarketer’s voice and tone well, which is the problem. What does a telemarketer’s offer about an erectile enhancement drug reveal? Is it that the poet is evening the score with David Baker, poetry editor of <em>The Kenyon Review</em>, for previously rejecting his work by implying Baker’s sexual dysfunction? Can the poem offer much more than a gentle snicker about imagining an irritated Charles Simic on the other end of the line, wondering how and why he’s being called? The poem succeeds in conjuring criticism about an oversexed, pill-happy America, but it has no emotional urgency, no move to incorporate a larger, looming issue in the world that deserves commentary and perhaps change. By the time Welsch shows how an imagined Simic’s pointed replies hit at the telemarketer’s innermost insecurities about her life—“You know the taste of air here, don’t you? / Sugared with all you lack?” to which the telemarketer can reply only “[Sniffle] Stop seeing what I see” (32)—we have already stopped caring.
        </p>
        <p class="indented">
            Humor has a place in poetry, but in order to truly succeed, it should be used in contrast to something serious, to something that is “at stake.” Take Richard Siken’s “Boot Theory,” which opens: “A man walks into a bar and says: / <em>Take my wife—please.</em> / So you do” (20). We chuckle. We smile. We are welcomed into the poem expecting something other than what happens. Siken continues to riff on Henny Youngman’s famous one-liner, but the humor slowly departs and turns into desperation for the poem’s “you,” whose sexuality becomes almost more than he can handle, as in the second stanza:
        </p>
        <pre class="preformatted-font preformatted-spacing">
		        A man walks into a bar and says:

				        <em>Take my wife—please.</em>

							        But you take him instead.

		        You take him home, and you make him a cheese sandwich,

			        and you try to get his shoes off, but he kicks you

								        and he keeps kicking you.

			        You swallow a bottle of sleeping pills but they don’t work.

		        …………………………………………………………………………

		        You go to work the next day pretending nothing happened.

			        Your co-workers ask

				        if everything’s okay and you tell them

									        you’re just tired.

			        And you’re trying to smile. And they’re trying to smile. (20-1)
        </pre>
        <p class="not-indented">
            The joke serves as a disarming device, a way to use humor to balance what could otherwise be an emphatically melancholic poem. The emotional range he manages to instill in it makes us feel much more as we read than if it was as one-note as the joke that inspired the poem. We agonize as “A man walks into a bar, you this time, and says: / <em>Make it a double</em>,” and even more so when the one-liner is modified: “A man walks into a convenience store, still you, saying: / <em>I only wanted something simple, something generic…</em>” (21). We all want our lives to be simple, but nothing in life is easy, especially not for this “you” we’ve met who, by virtue of the second person pronoun, is also us. We’re asked to “<em>walk a mile in my shoes</em>” (21) and, in so doing, see a small and difficult part of understanding one’s sexuality, even if others will not be accepting or simply tolerant of it.
        </p>
        <p class="indented">
            Siken offers intensely personal moments, which in turn afford readers the opportunity to feel at one with him, but he doesn’t stop simply at generating sympathy between speaker and reader. Sympathy suggests a casual appreciation of what another person is feeling while <em>empathy</em> entails that larger emotion that poets should all aspire to: an intense recognition, sensitivity to, and identification of the feelings, thoughts, and experiences of another person without having these emotions being fully and explicitly communicated. Though sympathy is easy to get, empathy is hard to achieve considering how private an emotion empathy is. But, like Siken, we must still try to dig deep and witness its traces in our lives. If we don’t, our poems will not transform us or our understanding of the world.
        </p>
    </div>
</div>
