<div class="article-page-container">
    <div class="article-pages" id="page6">
        <p class="indented">
            Contemporary American poets must not have a tin ear to the cultural, social, or even economic zeitgeist shaping the country. Postwar Eastern European poets achieved great work as they overcame the adversity forced on them by the German Occupation, but this was not only because of the tragic historical context. Fundamentally, they understood how significant their singular voices were to the whole of their countries’ identities. Many American poets have direct connections to postwar Eastern European poets, either through being their students or having read them extensively, going so far as to write responses to their literal or figurative mentors’ work. Even those Americans I name who don’t have such immediate ties to Eastern Europe, they do share this similar aesthetic, one that privileges the honest, authentic connection that should come through poetry. They do not shy away from their readers. They write with an inside-out approach, which recognizes the speaker’s motivation for beginning the poem but then manages to extend this initial inspiration to a metaphor, a theme, a moment, that a larger audience can grasp and meditate on. 
        </p>
        <p class="indented">
	Larry Levis serves as an important link between postwar Eastern European poetry and today’s poets, particularly because he managed to see that his work is part of a legacy that future generations of poets will read, be challenged by, and serve as a model for what verse must do. His friendship with Zbigniew Herbert, who taught with Levis at UCLA in the early 1970s, inspired him to write the beautiful lyric “For Zbigniew Herbert, Summer, 1971, Los Angeles.” The second stanza begins:
        </p>
        <pre class="preformatted-font preformatted-spacing">
		        Once a poet told me of his friend who was torn apart

		        By two pigs in a field in Poland. The man

		        Was a prisoner of the Nazis, and they watched,

		        He said, with interest and a drunken approval . . .

		        If terror is a state of complete understanding,



		        Then there was probably a point at which the man

		        Went mad, and felt nothing, though certainly

		        He understood everything that was there […].

		        ...………………………………………………………………

		        But some things are not possible on the earth.

		        And that is why people make poems about the dead.

		        And the dead watch over then, until they are finished:

		        Until their hands feel like glass on the page,

		        And snow collects in the blind eyes of statues. (60-1)
        </pre>
        <p class="not-indented">
            In reaching out to Herbert, Levis has created a wildly imaginative yet focused poem. Like the Eastern Europeans, he has taken from agony and found the piece of hope that still remains. Levis has kept his eyes and ears open to Herbert, both stylistically and emotionally:  “And now I will have to bury him inside my body, / And breathe him in, and do nothing but listen.” Herbert’s influence maintains a large hold on Levis to the point where Levis is obliged to approach this dead man’s memory with as much empathy and compassion as Herbert did. Even in the passive act of listening, Levis is doing much more than many American poets do. Unlike him and the Eastern European poets, all too often we don’t acknowledge what has been before us, what is with us, and what will come. Poetry that fails to see this becomes forgettable, locked in space and time to the point that it no longer speaks to people. Poets like Milosz, Zagajewski, Herbert, and their Eastern European peers remain accessible and poignant to all generations. They have faced tragedy and joy and are not afraid to examine themselves and their world in order to understand what makes them human, what makes them poets.  
        </p>
        <p class="indented">
	        The history of American poetry is relatively short compared to other nations around the world, which calls for us to go beyond our immediate literary ancestry and find mentors who can help us transcend the temptation to continue writing the “flashy” poem. It is essential for us, then, to have other poetic mentors, ones whose view of the world is not as limited as American writers sometimes are. The United States does not have the troubled and complicated history that Eastern Europe does. Having to contend with World Wars, the Cold War, and the final journey to freedom from under Soviet rule, writers from the former Czechoslovakia, Hungary, and Poland have had to struggle to discover themselves in the midst of a half-dozen countries with their half-dozen languages. Being at the “center” of the world has prevented Americans from this kind of discovery, but that does not mean we are incapable of writing poems that blossom from an individual experience and affect a great number of other people. By recognizing this narcissism with our lives and our subjects, we can begin to correct the many flaws ingrained in contemporary American poetry. Eastern European writers do not forget they are one mind, one heart, one soul who writes not only to understand their own selves but for their brothers and sisters and their national identity as well. My intention then is to show how Eastern European poets and who they influenced in the United States to this point can help reshape contemporary American verse, especially for writers early in their careers whose journal publications and/or first books have prevented them from fully exploring their potential. More often, we should ask ourselves, “What do we hold dear? Who do we write for?” If both answers are “the poet”—and for some contemporary American writers that is, unfortunately, the case—then our perspective on what poems can do has been irreparably harmed. But if we decide to speak for the self and to the community, there is still hope.  
        </p>
        <p class="indented">
	        Poetry can be found in more places than just collections of it. In his essay, “Young Poets, Please Read Everything,” Zagajewski asks us to be open to all the possibilities that our humanity presents, which can only help to deepen our relationship with the world so that we may become more responsible to our inner lives and to our readers:  
        </p>
        <p class="excerpt-spacing">
            Read for yourselves, read for the sake of your inspiration, for the sweet turmoil in your lovely head. But also read against yourselves, read for questioning and impotence, for despair and erudition…. Read your enemies and your friends, read those who reinforce your sense of what’s evolving in poetry, and also read those whose darkness or malice or madness or greatness you can’t yet understand because only in this way will you grow, outlive yourself, and become what you are. (<em>A Defense of Ardor</em> 189-90)
        </p>
        <p class="not-indented">
            We should not feel limited to only drawing upon the influence of other poets. His cry for young poets to read across all disciplines and not just “‘only’ poetry [which] suggests that there’s something rigid and isolated about the nature of contemporary poetic practice, that poetry has become separated from philosophy’s central questions, from the historian’s anxieties, the qualms of an honest politician” (188) is another way by which we can get outside what we feel as comfortable and begin to engage the world in new and surprising ways. Zagajewski calls young poets to do research, to gather as much and as widely from the whole of human experience. While each of the postwar poets discussed to this point have drawn upon each other’s work, they also are not afraid to use their own interests in philosophy, science, film, art, and psychology to populate their poetry. They remain open to the spirit of their times with the inevitable by-product of having the chance to connect with a greater number of people, not simply those who read poetry. 
        </p>
        <p class="indented">
	        Poetry has power to handle all kinds of questions, and with a renewed sense of reading, of research, we can help provide answers for how we can change the world:
        </p>
        <p class="excerpt-spacing">
            The way a young poet organizes his reading is actually quite crucial for the place of poetry among other arts. It may determine—and not only for a single individual—whether poetry is a central discipline (even if read solely by the happy few), responding to the key impulses of a given historic moment, or a more or less interesting form of drudgery that for some reason continues to draw a few unhappy fans. (Zagajewski, <em>A Defense of Ardor</em> 189)
        </p>
        <p class="not-indented">
            A lot of good poetry written in the past several years does respond to “a given historic moment,” and it is in that spirit that I also note poets who have worked to write with those “key impulses” in mind.
        </p>
    </div>
</div>
