<div class="article-page-container">
    <div class="article-pages" id="page5">
        <p class="indented">
            Indifference to creating connections to readers shouldn’t serve as the sole vehicle for creating poems, but too often contemporary American poetry steers toward excessive navel-gazing. The opening poems of Tony Hoagland’s <em>What Narcissism Means to Me</em> exhibit this “spiritual tepidity,” a lack of extending beyond one time, one place, and most important, one very limited perspective. Hoagland’s work from the section titled “America” speaks of RadioShacks, MTV, Delaware congressmen who revel in sexual misconduct and do so with an appropriately conceived sense of satire. Because American poets look to each other for guidance and inspiration, how much does this kind of poetry set us back? As Zagajewski declares, “Surely we don’t go to poetry for sarcasm or irony, for critical distance, learned dialectics or clever jokes… from poetry, we expect poetry.” Hoagland’s “America” poems with their sarcasm and un-Herbertian irony do not have nearly as much to offer as his other poetry which develops multi-faceted emotions and has emotionally-complicated speakers. In “The Change,” the speaker examines how a tennis match, in which an African-American woman trounces “some tough little European blonde,” marks the passing of the twentieth century:
        </p>
        <pre class="preformatted-font preformatted-spacing">
		        The season turned like the page of a glossy fashion magazine.

		        In the park the daffodils came up

		        and in the parking lot, the new car models were on parade.



		        Sometimes I think that nothing really changes—



		        The young girls show the latest crop of tummies,

			        and the new president proves that he’s a dummy.



		        But remember the tennis match we watched that year?  (11)
        </pre>
        <p class="not-indented">
            The flat diction, the suddenness with which the speaker switches topics, even the topics themselves, which range from the new president’s dimness to the new car models, suggest in the poem a spiritual indifference, a total lack of interest in getting his hands dirty as he examines the poem’s core and what it has to reveal. Hoagland can’t invite me into the poem’s heart because it has none. The poem instead moves along the page word by word, line by line, leaving us feeling helpless and hopeless because we have no work to do as readers. No great understanding is to be revealed in the poem; everything is right at its surface. To paraphrase Zagajewski, without complexity and depth, the poem’s triteness drives me to despair, not a feeling of being enlightened.  
        </p>
        <p class="indented">
	        As “The Change” continues, the speaker describes the match and how, despite himself, he roots for the European blonde instead of the “big black girl from Alabama,” who does in fact triumph and is rewarded for her victory:
        </p>
        <pre class="preformatted-font preformatted-spacing">
		        And the little pink judge

				        had to climb up on a box

		        to put the ribbon on her neck,



		        still managing to smile into the camera flash,

		        even though everything was changing



		        and in fact, everything had already changed—

		        <em>Poof</em>, remember?  It was the twentieth century almost gone,

		        we were there,



		        and when we went to put it back where it belonged,

		        it was past us

		        and we were changed.  (12-13)
        </pre>
        <p class="not-indented">
            To have any idea what has changed for the speaker, who has insulated himself from anything remotely resembling feeling, we need to see shifts in the poem’s tone, diction, and emotion.  They can’t remain stagnant or one-dimensional. But here, no emotions have been developed, so how can it be that the “we” has suddenly been altered by what has transpired in the tennis match? Perhaps there has been some transformation, but it is so inwardly focused that only the speaker can be certain of what it is.
        </p>
        <p class="indented">
	        Along with “spiritual tepidity,” Zagajewski’s criticism of poets settling for “small, well-crafted, ironic jokes” is apparent in Hoagland’s work. “Impossible Dream” begins with such ineffective irony:
        </p>
        <pre class="preformatted-font preformatted-spacing">
		        In Delaware a congressman

			        accused of sexual misconduct

		        says clearly at the press conference,

		              speaking

				        right into the microphone,

		        that he would like very much

					        to do it again.  (18)
        </pre>
        <p class="notindented">
            Enjambments and the use of spacing play up the opening stanza’s suspense as it finally winds down to a punch line, but this excerpt does little else for the poem. After we chuckle for a moment at 
            Hoagland’s cleverness, we are moved quickly and forcefully to a new focus:  a woman listening to the radio while painting “in red nail polish / on the back of a turtle” (18). Though using the 
            congressman’s declaration might at first appear to be a satisfactory means to begin the poem, closer examination reveals how much of an egregious poetic sin Hoagland has committed. He has insulted 
            us by using a joke to catch our attention instead of earnest, well-crafted poetry. 
        </p>
        <p class="indented">
	        Humor can complicate our reactions to poems; however, the stand-up routine Hoagland uses in the first stanza is wholly unnecessary. Instead of building to the poem’s conclusion, the opening appears tossed in strictly for comic effect, a moment of self-indulgence that easily could have been left out entirely. Hoagland’s narcissism shows itself with little concern for the readers or even the poem. In contemporary America, we can laugh at these moments of political whimsy, but how do they translate to future generations or even now to other countries? When done right, poems with historical references, like Yeats’s “Easter, 1916” for instance, have an important place in the poetic canon. They translate to other countries and ages because what drove the poet to write about the incident, whether it is the yearning for freedom or trying to denounce unspeakable atrocities against others, is common to us all. They are not singular moments in history; their importance transcends such limitations and speaks to every person. The beginning of Hoagland’s poem is not motivated by concerns as deep-seated as the fight for freedom; scandal drives it. His “America” poems deal with particular historical moments and feel merely topical because their focus is so narrow. They have little charm or importance outside a very select audience and are therefore unable to speak to a larger, deeper reality. Nor do they reach to other moments in history, which is a move that would compound the poems’ current meanings and make them richer and more encompassing than they otherwise might be. These poems come across as written solely for the poet, which defeats the purpose of having a willing audience. 
        </pre>
    </div>
</div>
