<div class="article-page-container">
    <div class="article-pages" id="page3">
        <p class="indented">
            Zbigniew Herbert’s poems are more demure than Zagajewski’s, but Herbert infuses a depth into his work that might transcend his fellow Pole’s. Herbert writes with passion and frankness, which in turn asks us to engage fully in the poem’s occasion. For Herbert, there seems to be little time for dilly-dallying. What has transpired must be tackled immediately. Take for instance “Five Men”:
        </p>
        <pre class="preformatted-font preformatted-spacing">
                They take them out in the morning

                to the stone courtyard

                and put them against the wall



                five men

                two of them very young

                the others middle-aged



                nothing more

                can be said about them. (106)
        </pre>
        <p class="pre-indented">
            Zagajewski’s lush style, his flair for making even the ugly beautiful, does not inhabit “Five Men.” Herbert’s straightforward style hits us where it counts: in the heart and in the imagination. Though “nothing more / can be said about them,” we cannot allow the incident to exist in such sparseness. Herbert challenges us to create the poem’s scene, the circumstances that prompted the firing squad, and ultimately the violence being perpetrated upon these five men. He will fill in some of the blanks later in the poem, but he lets our curiosity compose most of the poem’s beginning. The first section’s mystery ensures that Herbert will have an attentive audience as the poem continues. We want to follow along with these men. We want to know what happens. We want to find out what the speaker’s reaction will be. Herbert makes us do as much work as he does in these opening lines—a thoughtful and clever gesture. He does not take us for granted, but rather obliges us, letting us decide whether to empathize with the five men or not.
        </p>
        <p class="indented">
            In the poem’s second section, Herbert reveals details about the deaths:
        </p>
        <pre class="preformatted-font preformatted-spacing">
                when the platoon

                level their guns

                everything suddenly appears

                in the garish light

                of obviousness…



                the nostrils will be filled with biting smoke

                a petal of blood will brush the palate

                the touch will shrink and then slacken



                now they lie on the ground

                covered up to their eyes with shadow

                the platoon walks away

                their buttons straps

                and steel helmets

                are more alive

                than those lying beside the wall (106-7)
        </pre>
        <p class="pre-indented">
Herbert uses abstraction with ease and cunning. If “the garish light / of obviousness” had not followed the guns’ leveling, then the description wouldn’t have worked at all. But with the right timing and context, Herbert makes these lines surprisingly clear and accessible. Instead of distancing the reader, the abstraction gives us the opportunity to fill in the blanks, to create mentally both the scene and the emotions that must be going through these men’s minds. This in turn allows us to involve ourselves more deeply in the world of pain and death that Herbert has created. Herbert’s abstractions are difficult to handle at first, but once we realize that they allow us to make the poem ours, too, through the imaginative and interpretive work we perform as we read, then we can see the beauty and ingenuity of the poet. He continues in the third section, revealing his suspicion that he hasn’t done justice to his subjects:
        </p>
        <pre class="preformatted-font preformatted-spacing">
                I did not learn this today

                I knew it before yesterday



                so why have I been writing

                unimportant poems on flowers (107)
        </pre>
        <p class="not-indented">
            Herbert has every right to feel justified in writing his poem, but he second-guesses himself, calling his work “unimportant,” an especially ironic word given his historical situation. As Polish poet and critic Stanislaw Baranczak points out in his introduction to <em>Polish Poetry of the Last Two Decades of Communist Rule: Spoiling Cannibals’ Fun</em>, “In the officially published poetry of the late 1950s, 1960s, and even part of the 1970s, irony functioned chiefly as a weapon of self-defense, effective mainly because of its clever indirections” (5). “Five Men,” from his 1957 collection, <em>Hermes</em>, <em>Dog and Star</em>, would certainly have necessitated such a means of self-preservation as Herbert feared what may have been done to him for speaking out. However, as Baranczak continues, irony to Herbert and his fellow writers was a way of speaking in which three persons are invited but only two are aware of the true dialogue: the “ironist,” or poet, and the “listener,” the intelligent reader who understands the indirect message. The second listener, most often associated with the regime, becomes the “victim,” who is tone- deaf to irony (5). Herbert knows his audience will see through his mockery at “writing / unimportant poems on flowers.” He has succeeded in writing on two levels, one to protect himself and the other as means to urge his listeners to fight the government’s brutal, totalizing force, even in such a small way as believing in the power of a single voice. Irony for Herbert is meant to intensify and complicate the poem’s meanings, not to keep the (intelligent) reader away. Used correctly, it serves as an invitation to dig deeper into the poem so we can be rewarded in kind.
        </p>
        <p class="indented">
            Herbert does not just act humble in “Five Men,” either; he sincerely questions his abilities and the usefulness of commemorating these men’s lives. The deep-seated obligation to eulogize them because their lives might have been saved if someone had been willing to act haunts him. Nothing in these lines is overblown either. He describes his insecurity with a beautiful quietude. There seems to always be coyness to the postwar Eastern European poets’ work, a sense that the reader also needs to work to fully grasp the situation’s gravity. They see how much they must still learn about life and death and how poetry deals with each. Whatever their level of fame, they still see themselves as students. They are mature and self-assured enough to realize they have not learned everything there is to know about poetry. Much more is yet to be discovered. In Herbert’s closing lines of “Five Men,” use poetry to “offer to the betrayed world / a rose” (60) as a way of connecting to others, not as a symbol of their self-importance.
        </p>
        <p class="indented">
            Like Herbert in the 1950s, Wislawa Szymborksa blends irony and moralism in her 1986 collection, <em>The People on the Bridge</em>. She criticizes the forces in power shrewdly to the point of almost being too subtle in “An Opinion on the Question of Pornography.” Superficially, the poem alludes to the debate on whether to legalize pornography, which filled the pages of the censored press in Poland throughout the 1980s. Szymborska’s genius lies in her decision to give voice to an imagined supporter of law and order who maintains that “there’s nothing more debauched than thinking” (208), even pornography. The speaker strings together a series of double entendres and sexual allusions that paints the philosophers as depraved perverts: “In broad daylight or under cover of night / they form circles, triangles, or pairs” and “It’s shocking, the positions, / the unchecked simplicity with which / one mind contrives to fertilize another!” (208). Yet in its description of “those who think” sitting, reading, and sipping their tea, the poem comes to a sobering conclusion that jolts us back to realizing how indignant we should be at the speaker and what he considers just:
        </p>
        <pre class="preformatted-font preformatted-spacing">
                Only now and then does somebody get up,

                go to the window,

                and through a crack in the curtains

                take a peep out at the street. (209)
        </pre>
        <p class="not-indented">
            The speaker defends a reality in which an oppressive regime terrifies people into believing that the very act of thinking can lead to police persecution. Szymborska was not considered an overtly political poet, but each of the poems in <em>The People on the Bridge</em> “relates closely to the experience and reflections of the common man, of the average thinking individual [and then] take an element of everyday experience and refract it through a prism of a specific narrative… so that reality’s absurdity or senselessness compromises itself” (Baranczak 9). Not many situations could be as unreasonable as people anticipating that a certain thought could trigger immediate punishment, but this was Poland in the 1970s and ‘80s, a time and place where Poles so craved poetry that they devoured the official, censored poetry as well as verse smuggled into the country or printed underground, no matter the risks for publisher, printer, smuggler, and reader (Baranczak 4). Poetry was dangerous; it could weaken the government’s hold over the people and had to be dealt with accordingly. Szymborska and Herbert were not afraid to respond to their history or their present; they took responsibility to make out of one voice, many.
        </p>
    </div>
</div>
