<div class="article-page-container">
    <div class="article-pages" id="page5">
        <p class="not-indented">
            Lesson 4: “Theories, Systems, Workmen”<br /><br />
        </p>
        <p class="not-indented">
            Poetry cannot stop a bullet, feed the hungry, or sway an election. But there is something to be said for positing new narratives. Take for 
            example our current economic crisis. Beyond the rhetoric of the 1% and 99%, it becomes hard to understand one’s place (working class, middle 
            class, upper class) in a new economy fraught with new vulnerabilities. Our economic crisis, the perpetual crisis, also signals a representational 
            crisis. As critic Laura Berlant explains in her book, <em>Cruel Optimism</em>, we have reached the end of “the social democratic/liberal fantasy of 
            mass upward mobility, meritocracy, and a reliable social safety net.”
        </p>
        <p class="indented">
            What stories will we tell ourselves before we go to sleep?
        </p>
        <p class="indented">
	        By the time Rukeyser set out to write her long sequence of poems about the Gauley Bridge mining disaster, she had already earned a place as a 
            poet and an activist. At the age of nineteen she was arrested while protesting the racially charged Scottsboro Boys trial in Alabama. She 
            would witness the start of the Spanish Civil War in Barcelona the same year she traveled to West Virginia to document the mining tragedy. Rukeyser 
            wrote “The Book of the Dead,” a series of poems constructed out of testimony from doctors, employees, and victims’ relatives gathered in a 
            congressional investigation as well as from interviews. She offered descriptions of the town as well as excerpts from regional histories, 
            dizzying equations for falling water (the project included the construction of a dam), and a stock market ticker for the project’s parent 
            company Union Carbide. In a note accompanying the series, Rukeyser explains her desire to demonstrate how “theories, systems and workmen…factors, 
            which are in the end not regional or national” created this community and how, in the end, they lead to its devastation. And in the end Rukeyser 
            created a blueprint for how to “extend the document” to the poem as well as established an important connection between documentary investigation 
            and activism.
        </p>
        <p class="indented">
	        Like Rukeyser before them, Nowak, Wright, and Hillman all sketch out broad maps of responsibility, connection, complicity, affect, and agency. 
            These poets offer us reminders of what is real as well as more than a few strategies on how to represent those realities in our own work and 
            remain aware of them in our own lives. Beyond serving as a site for witnessing, their poems provide a space of thoughtful speculation, a call 
            for action, a place where the imagination can activate sympathies, where we might recognize connections and complicities, learn how to read the 
            raw footage, where we might, like Infantryman Ethan McCord, chart a return to our own humanity. 
        </p>
        <p class="with-spacing">&nbsp;</p><br />
    </div>
</div>
