<div class="article-page-container">
    <div class="article-pages" id="page2">
        <p class="">Lesson 1: Sampling the Document<br /><br /></p>
        <p class="not-indented">
            Perhaps Rukeyser’s closest descendent thematically is Mark Nowak, who writes about contemporary mining disasters. In <em>Coal Mountain Elementary</em>, 
            Nowak interweaves testimony from the survivors of a West Virginia mine disaster that claimed the lives of 12 men with newspaper accounts of mining 
            disasters in China, photographs from West Virginia and China (taken by Nowak and British photojournalist Ian Teh) as well as excerpts from the 
            American Coal Foundation’s curriculum for schoolchildren. The result is masterful in its sheer relentlessness, a chilling portrait of a global 
            system of danger and exploitation.
        </p>
        <p class="indented">
	        The book opens with text in italics gathered from Chinese newspaper reports describing the Sunjiawan mining disaster that took the lives of 210 
            miners on Chinese New Year (creating a “slant” parallel with the Sago disaster that occurred on January 2). But while the story of the Sago 
            disaster unfolds over the course of the book, the italicized text swiftly records another Chinese mining tragedy then another, offering a grim 
            body count (“203 miners had died in the blast at Sunjiawan pit,” “an explosion in northern Shaanxi province killed 166 miners,” “a blast in central 
            Henan … left 148 dead”) as well as testifying to the pervasiveness of such disasters. To the reader unfamiliar with China, the names—Xinhua, Sanhuiyi, 
            Shangyukou—blend into one another making it difficult to keep the disasters straight. Yet the details of the tragedies linger, such as the story of 
            the 14-year-old girl who “stopped tearing pages from the calendar hung on her broken wardrobe since Monday when her father did not return” from the 
            mine. The blurring of disasters offers one example of a productive disorientation that the reader encounters in this book.
        </p>
        <p class="indented">
	        Another example comes in the bold-faced sections of testimony from the Sago disaster that provide a chronological narrative of the tragedy. We follow 
            miners in the mine (“I said, we’ll just ease down out of here nice and slow. We’re alright… And he said, well don’t leave me”) and get reports from 
            workers and family above ground trying to coordinate their rescue (“call the state, the federal, get the mine rescue teams, get the emergency squad 
            get everybody out here”) as well as confront brutal calculations as to how much air might be left for the trapped miners (“one cubic yard per hour 
            per man at rest”). Faced with these unattributed quotations the reader must continually reorient herself like the witnesses to and victims of the 
            disaster who must constantly respond to new conditions and information.
        </p>
        <p class="indented">
	        The last piece in this braid of source texts comes from the curriculum for the American Coal Foundation, which provides a grimly ironic counterbalance 
            in the form of assignments designed to familiarize children with the mining industry. (The text excerpted from the curriculum is the only text that 
            appears with line breaks; the reports from China and Sago testimonies are presented in prose sections.) For example, one lesson teaches children 
            corporate practices through a “simulated ‘mining’ of chocolate chips from cookies.” In light of the mining disasters described, one gets a chill reading 
            the Discussion Question “What do you think are some of the costs associated with mining coal?” positioned opposite a photograph of a sign from Sago 
            exhorting “Pray for our Families.” (The uncaptioned photographs provide another site for productive confusion as the viewer confronts similar 
            images from the mining industry in both the United States and China.) 
        </p>
        <p class="indented">
	        While the three sources are compelling in themselves, juxtapositions prove insightful. Readers learn of a Chinese family struggling financially after 
            their father was killed in the mine forcing the children to drop out of school. The story ends with the quote: “My dad didn’t live a single day of a 
            happy life, but I will try hard to earn a happy life for my mother.” What follows is an excerpt from the Coal Mining Curriculum on an “historic craft 
            among coal mining families.” The curriculum begins: “In this activity, students will make their own coal flower,” but in conjunction with the testimony 
            that appears just before it, the activity suggesting a dark blossom and tragic possibilities for the actual children of coal miners. The words of the 
            Chinese widow whose husband died in the mines (“Time has not dimmed the pain of losing my husband”) meet their gloomy echo in the words of 
            the Sago families (“Ms. Boni …said her own father died in a coal mining accident when she was a teenager. ‘It’s something you never get over,’ she 
            said.”) In addition, the lack of standards and cover-ups in China becomes mirrored by incompetence and negligence in U.S. corporate mining practices.
        </p>
        <p class="indented">
	        The interweaving of sources (Nowak calls it “sampling”) gives new life to the document, connecting a series of agents and outcomes. Like McCord’s 
            testimony, these poems humanize the mining tragedies as the voices of the miners and families dominate the text as well as offer insight into how 
            we are all implicated. In interviews, Nowak reminds us that, when we purchase goods made in Chinese factories powered by the coal industry, we become 
            intimately linked to the miners and their fates.	
        </p>
        <p class="indented">
	        Nowak has long moved his activism beyond the page, and this is also the case with <em>Coal Mountain Elementary</em>. He has staged readings of his work with 
            union members across the country and offered writing workshops for laborers here and abroad. Nowak also chronicles coal-mining accidents on 
            <a href="http://coalmountain.wordpress.com/">his blog</a>. 
            In this way not only does Nowak create a poetry that connects the documents surrounding mining practices—he extends his activism to actual labor 
            communities and on the web.
        </p>
        <p class="with-spacing">&nbsp;</p><br />
    </div>
</div>
