<div class="article-page-container">
    <div class="article-pages" id="page3">
        <p class="not-indented">
            Lesson 3: Document Your Activism
        </p>
        <p class="not-indented">
            In <em>Practical Water</em>, Brenda Hillman offers another kind of testimony, as well as political engagement, which she calls: “Reportorial Poetry, 
            Trance and Activism.” As Hillman explains: “Reportorial poetics can be used to record detail with immediacy while one is doing an action and 
            thinking about something else.” While Nowak and Wright consider disenfranchised or marginal groups, Hillman documents the center of U.S. 
            military power creating poems out of her experience of protesting against the wars in Iraq and Afghanistan as a member of the anti-war group 
            Code Pink as well as attending Congressional hearings in what Hillman calls “meditative states” or “trance.” The idea was to create a record 
            “both collective and personal” as well as to “cross material boundaries” experiencing more than one reality at once. For example, in the poem 
            “In a Senate Armed Services Hearing,” Hillman records: “the prickly intimate hairs…behind (the General’s) ears,” a fly circling the room, and 
            a vision of the goddess Ishtar from Babylon “before they smashed her country.”
        </p>
        <p class="indented">
	        In doing so, Hillman provides another view of the war in stark contrast to Infantryman Ethan McCord’s description of carnage on the streets 
            of New Baghdad—a view to the bureaucratic machinations that perpetuate combat. And from where we sit, as citizens and taxpayers, it is vital 
            to pay attention to both. The Senate hearing is so similar to our board meetings, faculty meetings, and PTA meetings that the reader may 
            struggle to reconcile its description with the number of civilian and military lives that hang on its outcomes. Thus Hillman’s desire to cross 
            material boundaries—to be open to more than one reality at once—proves fruitful and offers an interesting counter to the testimony from those 
            orchestrating the war, who seem to live divorced from the realities on the ever-expanding battlefield or the concerns of citizens who do not 
            support these conflicts. Hillman writes:
        </p>
        <pre class="preformatted-font preformatted-spacing">
		        …& I forget who asked what isn’t even
	        in the same syntax of this
        language I’m trying to make no progress in, asked
	        how the army would unoccupy, by north or south?
        A voice beside my insect ear
	        said, these Senators all have lives:
	        kids with stuff to do, folks with cancer, some
		        secret shame…
        </pre>
        <p class="not-indented">
            Hillman lays bare the corruption of language in a phrase such as “unoccupy” demonstrating the stark difference between her intentions in a 
            language in which she aspires to make “no progress” compared to the manipulation of language by a group of government officials whose words 
            determine the fates of so many. The poem remembers “the soon-to-be-smashed goddess as in/Babylon” as well asks, “how do the dead breathe, 
            Senator.” Yet, the poem also manages to “humanize” even the Senators who “all have lives.” 
        </p>
        <p class="indented">
	        The poem “Dragonskin” provides another example of Hillman’s technique as she documents a salesman addressing a subcommittee about a new 
            fabric used to make body armor. But the poem is literally punctuated by Hillman’s own reaction to the hearing including her notations that 
            become represented textually as punctuation marks. She writes:
        </p>
        <pre class="preformatted-font preformatted-spacing">
		        There’s a useful panic like the secret script
	        sent between women in villages. Right now
		        It’s a series of marks I’m making  :::: :: ::
			        during a subcommittee hearing
        </pre>
        <p class="not-indented">
            As the poem unfolds, Hillman not only provides quotes from and commentary on the hearing (“Has Dragonskin / been shown in tests to be more 
            lightweight…”), but she records on her own note taking (“I write this in my notebook as <em>DRAGONSKIN</em> / slash slash slash slash”) describing
            her notations at one point as “fairly art-deco.” This provides a stunning reminder on the mediated nature of representation that confounds 
            ideas about “objective” documentary. In addition, Hillman’s notations record her emotional states, “the useful panic” she feels throughout 
            the meeting. When Hillman likens these notations to the abovementioned “secret script” invented by women in remote Chinese villages that “men 
            couldn’t read,” their inclusion raises the question: why is there no panic in this talk of body armor and battlefields in the (male dominated) 
            voices (“calm in adult talk”) of government officials and defense contractors?
        </p>
        <p class="indented">
	        These contrasts highlight the difference between frontlines and homefront as well as offer an example of how we might refuse the narratives 
            created about our wars. As Hillman explains:
        </p>
        <p class="not-indented excerpt-spacing">
            Whether or not you have the strength to resist official versions that are devastating the earth and its creatures, you could in any sense send 
            back reports. If political parties will not provide solutions, the good can occur when people gather in small groups to work for justice in 
            each community using imagination without force. 
        </p>
        <p class="not-indented">
            Imagination offers not just an opportunity for sympathy and recognition of complicity but also emphasizes the important role of poetry in 
            resisting “official versions” by reclaiming the language of bureaucracy and visualizing new possibilities. Hillman explains: “Shelley 
            wants you to visit Congress when he writes / a violet in the crucible & when he notes / imagination is enlarged by sympathy.” It is important 
            to remember that writing a poem is distinct from a political act, like protesting or occupying. Hillman admits, “There are no results in 
            poetry.” And yet the exploratory, speculative nature of many contemporary political poems provide an important counter discourse to official 
            versions from the state or the media devoid of subtly or complexity. Hillman demonstrates how poetry offers a medium at once imaginative and 
            sympathetic in which to investigate relations of power, language, and complicity.
        </p>
        <p class="with-spacing">&nbsp;</p><br />
    </div>
</div>
