<div class="article-page-container">
    <div class="article-pages" id="page3">
        <p class="not-indented">
            Lesson 2: Make the Document<br /><br />
        </p>
        <p class="not-indented">
            “The popular perception is that art is apart. I insist it is part of,” explains C.D. Wright in the preface to <em>One Big Self: An Investigation</em>. 
            The poems in this book come from Wright’s travels to three Louisiana prisons with photographer Deborah Luster. The book’s subtitle “An 
            Investigation” implies a resistance to the idea of documentary that’s worth mentioning. Investigation emphasizes the speculative nature of the 
            lyric and results in a documentary that knows its own subjective limits and actively pushes against them. 
        </p>
        <p class="indented">
	        When Wright records snippets of conversations, anecdotes, and observations from both inside and outside of the prisons, she forges links, 
            such as those that exist between incarceration rates and local economies. Ultimately, she writes beyond the language of crime and punishment, 
            to chart a history frequently untold. 
        </p>
        <pre class="preformatted-font preformatted-spacing">
	        The poem begins with a series of commands to the reader:

                Count your fingers
                count your toes
                count your nose holes
                count your blessings
                count your stars (lucky or not)
        </pre>
        <p class="not-indented">
            The gesture references the prevalence of numbers inside these prisons as a way to mark time and to inventory possessions—as well as alludes to 
            the “count” as a mechanism of control for each of the prisoners. “There are five main counts in the cell or work area. 4:45 first morning count. 
            I/m must stand for the count. The Count takes as long as it takes. Control Center knows how many should be in what area.” This is just one example 
            of how prison life influences the forms Wright chooses for her poems. In addition to the count, Wright uses the epistolary form throughout the 
            book, which references the importance of letters to the inmates.
        </p>
        <p class="indented">
	        The book-length poem garners its strength through quotes from prisoners (“See what I did was, I accidentally killed my brother,”) from guards 
            (“Some have their baby and are brought back on the bus the next day and act like it doesn’t bother them a bit. Some cry all the way. And for days”) 
            as well as from the poet herself (“That’s hard. / I don’t go there”). There are also quotes from writers on prison: “Solitary confinement, Mr. 
            Abbott wrote, / can alter the ontological makeup of a stone.”
        </p>
        <p class="indented">
	        While Luster’s photographs offer close-ups of individual inmates, Wright vacillates between recording the singular voice (“Behind every anonymous 
            number, a very specific face”) and referencing the landscape and larger contexts that surround them: “Church marquee: AFTER GOOD FRIDAY COMES 
            EASTER / GOD ALWAYS WINS / Drive-in marquee: Lenten Special / poboys fries drink.” And she reminds readers how profitable the privatized prison 
            industry can be: “The good news is: / Corrections Corporation of America increased its inmate mandays by 12% From 15.1 million in 1998 to 16.9 
            million in 1999…The increase in mandays in 1999 led to a 19 % increase in CCA’s revenues…” 
        </p>
        <p class="indented">
	        Wright never presents herself as an impossibly objective observer. She draws attention to her own circumstances, constantly re-affirming the 
            connection and distance between herself and the inmates. “If I were you,” she writes. “Screw up today and it’s solitary, Sister Woman, the padded 
            dress with the food log to gnaw upon.” Then later: “If you were me: If you wanted blueberries you could have a big bowl. 2 dozen bushes right on 
            your hill.”  The book is full of contrasts and commonalities, slips and reversals between “you” and the “I,” images of the incarcerated and the 
            economic system supported by prison walls. 
        </p>
        <p class="indented">
	        To render the circumstances of those vastly different than ourselves takes a careful consideration of our own positions. It takes an ability to 
            think and write across divides of culture, gender, and class. In her preface, Wright explains: “Not to idealize, not to judge, not exonerate, … Not 
            to demonize, … What I wanted was to unequivocally lay out the real feel of hard time.”  It is an act of compassion and imagination.
        </p>
        <p class="indented">
 	        Wright tells us: “If we go there, if not with our bodies then at least with our minds, we are more likely to register the implications.” At a time 
            when more African-Americans are under correctional control today—in prison or jail, on probation or parole—than were enslaved in 1850, a decade 
            before the Civil War began, this is more than an act of sympathy. To get anywhere with our minds requires that we actively investigate our own 
            circumstances and ideologies, our own part in a web of power and capital, our relationship to history and language.
        </p>
        <p class="with-spacing">&nbsp;</p><br />
    </div>
</div>
