<div class="article-page-container">
    <div class="article-pages" id="page1">
        <p class="not-indented">
            The video begins with a street scene shot from above, a few men gathering on the sidewalk as seen through crosshairs. You hear snippets from the voice-over:
        </p>
        <p class="indented">
	        “Are we free to engage?”
        </p>
        <p class="indented">
	        “Once you get on them just open up.”
        </p>
        <p class="indented">
	        There’s the sound of gunfire then silence and stillness on the screen marking the time it takes the bullets to reach their targets. A cloud of dust rises. 
            Men drop to the ground, one tries to flee the cloud of smoke, the viewfinder follows him. The viewfinder shakes with the vibrations of gunfire until the man 
            falls still.
        </p>
        <p class="center"><br />***<br /></p>
        <p class="not-indented with-spacing">
            In 1936 Wallace Stevens wrote, “in the presence of extraordinary actuality, consciousness takes the place of the imagination.” Noting a turn toward the 
            documentary in a variety of arts including poetry, Stevens explained the Great Depression had focused everyone’s attention “in the direction of reality, that is 
            to say in the direction of fact.”
        </p>
        <p class="indented">
	        At a time of our own “extraordinary actuality” when we are engaged in several wars as well as an almost unprecedented economic crisis, we witness a new fascination 
            with the “fact”— the 9-1-1 tape, the unscripted interaction, status updates, diplomatic cables, the raw footage from the Apache helicopter of a massacre in New 
            Baghdad.
        </p>
        <p class="indented">
	        The WikiLeaks website, from which the video I just described was culled, contains more than two-hundred and fifty thousand leaked United States embassy cables, 
            nearly four-hundred thousand “reports” from Iraq and Afghanistan as well as videos. Still the facts of these conflicts can be difficult to discern.
        </p>
        <p class="indented">
            Raw footage needs explication. We need the voice of infantryman Ethan McCord to tell us that the men fired upon were not combatants but included two unarmed 
            journalists. That the van that approached to collect the wounded and was later fired upon included two children. That the soldier running with a dying child toward 
            the tank was McCord himself—in a moment when he declares he was returned to his “humanity.”
        </p>
        <p class="indented">
	        Most documents need context. In the United States, poets have a long tradition of doing what Muriel Rukeyser calls “extending the document,” not just drawing 
            inspiration from the “events of our day” or giving the document new life in a poem, but providing it with context and humanity. Rukeyser was working on a long 
            sequence of poems on the Gauley Bridge Mining Disaster in West Virginia. That tragedy resulted in the silicosis poisoning and deaths of as many as 2,000 mostly 
            African-American miners. Rukeyser’s poems utilize testimony from doctors, employees, and victims’ relatives gathered in a congressional investigation as well as 
            from interviews conducted by the poet on a visit to Gauley Bridge. The result is a series of poems that map out a web of power and responsibility behind the tragedy.
        </p>
        <p class="indented">
	        A contemporary generation of poets takes up Rukeyser’s watch in mining towns, behind penitentiary bars, and at the barricades highlighting social injustice and 
            creating new modes of lyric activism.
        </p>
        <p class="with-spacing">&nbsp;</p><br />
    </div>
</div>
