@{
    ViewBag.Title = "About";
    Layout = Request.Browser.IsMobileDevice
        ? "~/Views/Shared/_MobileLayout.cshtml"
        : "~/Views/Shared/_Layout.cshtml";
}

<div id="about-default" class="copy">
    <p>Pilot Light is an on-line journal of 21st century poetics and criticism. We publish six times a year.<br /></p> 
    <p>Editors: Natalie Giarratano & Beth Marzoni<br /></p>
    <p>All work that appears on this site belongs to the authors who wrote it and is published with their permission. Please do not reprint it without permission.</p>
</div>
@section Scripts{}