<div class="article-page-container">
    <div class="article-pages" id="page3">
        <p class="normal">
            Liveliness is a distinctly American value in poetry.  It may be the common denominator of both an experimental poetics and a poetics that, however it 
            argues with tradition, means to extend it.
        </p>
        <p class="normal">
            Liveliness is the value that informs Gertrude Stein’s manifesto of One, her great declaration of aesthetic eccentricity, “Poetry and Grammar.”  It is 
            liveliness, she hints from the get-go of the essay, that Stein advocates; hence her implicit preference for printed words that seem spoken, as in plays 
            by poets, wherein the “words . . . are more lively than the same words written by the same poet in other kinds of poetry.”  Her intellectual attitude 
            towards nouns—she doesn’t like them, even though she concedes they are the mainstay of poetry—towards, really, all parts of speech except 
            prepositions—comes down to a frustration with deadening language: what she means poetry to do is to <i>cleanse</i> nouns.  For Stein nouns have of all parts 
            of speech gone the most robotic.  Their liveliness needs to be restored.  By stripping them of preciously poetic connotations and by recharging diction 
            and language with new combinations, and, in the case of her prose, a jolting syntax largely unarrested by punctuation.  The motive of experiment in 
            Stein is not experiment for its own sake.  Liveliness: you can’t get there by using words in a whimsical fashion:  
        </p>
        <p class="excerpt-formatting-4">
            I had to feel anything and everything that for me was existing so intensely that I could put it down in writing as a thing in itself without at all necessarily using its name. . . .
        </p>
        <p class="resume">
            Stein does not mean to demolish language, she means to enliven it.  For her the source of liveliness in description is emotion, which is somehow able to 
            pass from writer to reader the thing itself.  The thing itself, the holy grail of other Modernists like Stevens and Williams.  If you are a poet and you 
            cannot believe in language’s capacity to get at the thing itself, you might as well be a newspaper hack.  On this matter Stein is unequivocal, even 
            tendentious:
        </p>
        <p class="excerpt-formatting-4">
            . . . . the noun must be replaced not by inner balance but by the thing itself and that will eventually lead to everything.
        </p>
        <p class="normal">
            Take a look at this speck of a poem from <i>Tender Buttons</i>:
        </p>
        <p class="excerpt-formatting-4">
		    “Roast Potatoes”<br />
		    Roast potatoes for.
        </p>
        <p class="resume">
            The noun “potatoes” is not the most important word of this grammatically instable sentence: the unassuming pronoun “for” is.  It expresses the act of 
            roasting potatoes as an offering.  To whom hardly matters.  “For.” 
        </p>
        <div class="dividing-line-container"><div class="dividing-line"></div></div>
        <p class="normal">
            I am not interested here in the overtly instable grammar of sentences that, like Hopkins’, have a poetically heightened quality to their instabilities 
            or—like those of Jorie Graham—heroically override grammatical norms by means of rhapsodic never-ending-ness.  I’m thinking about the inner life of 
            sentences in poetry and a potential in such sentences for delicate, if inevitable, response.  As in this atypical poem, “At Home,” by Linda Gregg.  
            It is her one formal poem.  It is perhaps her least fractured poem syntactically, but it has more than its share of grammatical instabilities.  
            It almost reads like an elementary reader, or a pre-school grammar of place:
        </p>
        <p class="excerpt-formatting-4">
            “At Home”<br />
            <br />
			Home is where I am near.<br />
			Far is where I live.<br />
			My home is in the far.<br />
			The night is still.<br />
			A dog barks from a farm.<br />
			A tiny dog not far below.<br />
			The bark is soft and small.<br />
			A lamp keeps the stars away.<br />
			If I go out there they are.
        </p>
        <p class="resume">
            The noun “home” has seldom sounded so homely as it does here.  That noun, the subject of the sentence, is made to equal an adverbial clause, “where I am 
            near.”  This latter clause contains the sentence within a sentence, “I am near,” which contains in it the sentence “I am.”  A Russian-doll syntax, the 
            first sentence.  Following this first line, nouns like home, far, my home, night comply with different predicates and different parts of speech.  Every 
            sentence is a line, every line is end-stopped, every end-stop seems final, yet until the last uncanny line every sentence, with its back to the wall, 
            is met by another sentence. 
        </p>
        <p class="normal">
            Listen to that last line:
        </p>
        <p class="excerpt-formatting-4">
            If I go out there they are.
        </p>  
        <p class="resume">
            A syntactic slide accounts for the instability, and the richness, of this last sentence.  A lamp can go out, and must go out or must be gone out from 
            for the stars to reappear.  So “If I go out” is a subliminal pun.  And how might you punctuate this last sentence so as to provide a grammatical 
            reading of it?  Three options are not only possible but probable:  
        </p>
        <p class="excerpt-formatting-4">
            If I go out, there they are.
        </p>
        <p class="resume">
            And:
        </p>   
        <p class="excerpt-formatting-4">
            If I go, out there they are.
        </p>
        <p class="resume">
            And:
        </p>
        <p class="excerpt-formatting-4">
            If I go out there, they are.
        </p>   
        <p class="resume">
            All three are grammatical, and on a subliminal level all three are true at once.  Grammatical instability marries inside and outside, the single “I” and 
            the plural “stars”—the fact of the stars and the perception of them, the sight of them, the almost unimaginable feeling of quiet owing to celestial 
            distances that accompanies the simple act of the speaker stepping outside to the stars—this poem can be read among other ways as a domestic version of 
            Whitman’s “When I Heard the Learn’d Astronomer.”  But she doesn’t say she is looking at stars.  She doesn’t have to.  And she certainly doesn’t say 
            “I observe the stars.”  The stars appear in the proxy of a third person plural pronoun “they.”  Their being for the speaker emerges as it is 
            internalized by a syntax wherein grammatical phrases are instable enough to nicely overlap.     
        </p>  
        <p class="normal">
            The simple omission of punctuation can destabilize grammar—this is exactly what happens in the last line of “At Home.”  It is what happens, as has been 
            beaten to death by critics—in Frost’s line “The woods are lovely, dark and deep.”  But really the effect is liveliness.  Insert the comma after dark, 
            and you have a pretty pedestrian line of poetry: a series of obeisant adjectives.  On a subliminal level the destabilization of grammar through the 
            omission of the comma creates a literally unlikely yet internally credible definition of what “lovely” is in this isolated evening in a snowy woods. 
        </p>  
        <p class="normal">
            I can’t help but think that something of this line of Frost’s is embedded in the following, repeatedly morphing lines from Elizabeth Bishop’s “At The 
            Fishhouses.”  With respect to grammar they are among Bishop’s most curious lines.  They initially occur as the first lines of the second verse paragraph 
            “Cold dark deep and absolutely free, / element bearable to no mortal / to fishes and to seals.”  They are echoed once the speaker of the poem has lost 
            sight of a specific would-be companionable seal that has disappeared from sight and finds herself staring at ocean water, lost to something like 
            reverie:
        </p>  
        <p class="excerpt-formatting-4">
            Cold dark deep and absolutely clear,<br />
			The clear gray icy water . . .
        </p> 
        <p class="resume">
            This second grammatically instable phrasing re-emerges in a somewhat different mien in the last six lines, which have another try at trying to name what 
            the ocean is:
        </p>  
        <p class="excerpt-formatting-4">
        	It is like what we imagine knowledge to be,<br />
			Dark, salt, clear, moving, utterly free,<br />
			Drawn from the cold hard mouth<br />
			Of the world, derived from the rocky dream<br />
			Forever, flowing and drawn, and since<br />
			Our knowledge is historical, flowing, and flown.
        </p>   
        <p class="resume">
            There are too many poetic effects going on here to take them in from one reading—in fact, judging from a letter to Robert Lowell not long after she must 
            have finished the poem, when Bishop listened to the Library of Congress’s recording of herself reading this poem, she may have found its density a bit 
            alarming: “‘At The Fishouse(s)’ was sheer torture to listen to.”  This poem that, like a great painting, invites a good long look, or many such looks.  
            When a poem is read out loud we experience punctuation not only as pauses but also as grammatical indicators.  We hear grammar as well as recognize it 
            on the page, or we would hear nothing at a poetry reading but gibberish.  
        </p>  
        <p class="normal">
            Here is part of what we read and hear.  The first two quoted lines contain no less than eight modifiers: seven adjectives and one adverb.  Stein could 
            not have approved!  She puts her scorn for the adjective, the supercilious contempt we know from Poetry Workshop 101 and from newspaper prose, 
            unequivocally:  “ . . .  anyone knows that because of course the first thing that anybody takes out of anybody’s writing are the adjectives.”  
            If Bishop had heeded such advice in her second adjectival string you’d have three words left, the definite article “the,” the humble coordinating 
            conjunction “and” and the—shall we say “watery”?—noun “water.”  Among the proliferation of adjectives these parts of speech are scant.  And if Bishop 
            took Stein’s advice further, then, following the strange and tentative and almost Hamlet-like phrase “it is like what we imagine knowledge to be,” the 
            last five lines of the poem, all adjective and/or adjectival phrases, would have to be edited altogether.   
        </p>
        <p class="normal">
            The syntax of the second pair of lines—a fragment with a submerged verb “is”—is almost deluged by modifiers.  The adjectives of the first two lines are 
            missing commas.  I think these two lines read without commas pretty clearly.  You don’t hear the pauses because you wouldn’t read the pauses.  Commas 
            create stability: Stein, who likes to leave commas out, says that commas work “by helping you along holding your coat for you and putting on your shoes.”  
            If this is so, for these two lines the voice, uncoated and unshod, is defenseless. 
        </p>
        <p class="normal"> 
            The adjectives seem almost to bob up to the surface. 
        </p>
        <p class="normal">
            And without commas the adjectives shift place, they bleed like watercolors.  They are fluid 
            beyond notation.  One adjective gets used twice, “clear.”  Clarity is defined in a most unlikely manner, as “cold dark deep.”  As if this were not 
            unsettling enough, the adjectives of the next line, “clear gray icy,” appearing as they do after an end-stopped line break, seem that much more 
            forbidding.  One thing is clear: no one can stay in such a groundless state of mind forever.  The feel of groundlessness here is the feel of 
            grammatical dissolve.  This sentence that is not exactly a sentence must, fortunately for the speaker, trail off. . . .
        </p>
        <p class="normal">
            The two strings of nothing-but-adjectives anticipate the adjectival subordinations of the last five lines.  These fluid refrains do not have the 
            security more formal refrains offer.  They do more to hypnotize the speaker—they act as grammatical undertow.  When this adjective pattern appears 
            in the fourth-to-last line of the poem it seems to offer some footing because commas—grammatical indicators—have been reinserted.  But is there more 
            footing at the end of the poem?  There certainly is more elaboration and more repetition.  The speaker finds a language capable of making a 
            hyper-contextual statement about knowledge and history, but what she has to say about knowledge and history is no more stable than what she earlier 
            feels and perceives about water.  The flourishes of the last line, mostly adjectival, inflect irretrievably, to “flown” and to all the implications 
            of this past participle, the most emphatic word of the poem (a period and white space follow it).  Ultimately, a grammar more conventional than not 
            is sustained.  Cold comfort, one might add.
        </p>
        <p class="normal">
            Yet it all holds together.  Something behind our very aptitude for words longs for and is sometimes capable of coherence.
        </p>
        <p class="normal">
            Grammar operates at some unutterable level.  The deep image and surreal metaphors aren’t the only way to an individual or collective unconscious.  
            Logic may seem to dictate all of grammar.  But the unconscious does some of the dictating too.  And unless it does a poem is all Apollonian light, 
            and a grammar all light is too blinding to yield a vision.
        </p>
        <p class="normal">
            I was once fortunate enough to see the sunlight through a window of Bishop’s childhood house in Great Village, Nova Scotia.  It has now been converted 
            into a writers’ retreat but at the time—2002—the house was owned by a Paul Tingley, a retired social worker from Nova Scotia.  There was a Guest Book on 
            the dinner table for me and my wife to sign.  The only official marking of Bishop’s time in Great Village was a brass plaque on the church a stone’s 
            throw away.  It bore the dates of her birth and death and one line from “Crusoe”—“Homemade, homemade.  But aren’t we all homemade?”
        </p>
        <p class="normal">
            If grammar is structural, grammatical instabilities are openings in the structure.  It was the openings—the windows—of Bishop’s house that most drew our 
            attention.  All the rest should have defied belief.  There was an old-fashioned stove like a Marvel Stove that wasn’t a Marvel Stove.  The notorious 
            bedroom of Bishop’s first short story “In the Village” was wall-papered in striped wallpaper similar to the wallpaper in the story, but it wasn’t that 
            wallpaper.  None of the furniture was the original.  The walls had been painted.  A cat Mr. Tingley named Bishop that wasn’t Elizabeth Bishop followed 
            us from room to room.  Outdoors, through one of these windows, all in a straight line, were “soon-to-be-dismantled trees,” already dismantled.  Out the 
            same window was a garden and its wheelbarrow carrying a few horseshoes that brought to mind the horseshoes that so fascinated Bishop in her 
            autobiographical short story “In The Village” and that—who knows—may well have been the same horseshoes: Mr. Tingley told us he had dug them out of his 
            garden and that he didn’t know what to do with them. 
        </p>
        <p class="normal">
            As for the house itself, nothing on the surface was the same, nothing, except one thing: some of these windows still had the original windowpanes, the 
            sort that aren’t perfectly flat but that are waver-y and that, when you look through them, distort the outside a little bit, as if your eyes and not the 
            world were out of focus.  This is to say that the only thing we could lay our eyes on that Bishop’s eyes also laid on was invisible . . . except for the 
            imperfections.   As with the instabilities of grammar.  Waves in the glass, pockets of air—you had to be there, you could see through anything that 
            literally remained of the past.  
        </p>
        <p class="additional-note">An earlier version of this essay was delivered as a lecture at Vermont College of Fine Arts in January 2011.</p>
        <br />
        <br />
        <div id="article-workscited">
            <span id="article-workscited-title">Readings</span>
            <p>
                <a name="wc1"></a>Ashbery, John.  <i>Self Portrait in a Convex Mirror</i> (Penguin, 1976).
            </p>
            <p>
                <a name="wc2"></a>Barthes, Roland.  <i>Writing Degree Zero</i> (Hill and Wang, 1977).
            </p>
            <p>
                <a name="wc3"></a>Berryman, John.  <i>Homage to Mistress Bradstreet and other poems</i> (Farrar, Straus, and Giroux 1959).
            </p>
            <p>
                <a name="wc4"></a>Bishop, Elizabeth and Lowell, Robert.  <i>Words In Air: The Complete Correspondence between Eizabeth Bishop and Robert Lowell</i> (Farrar, Strauss, and Giroux, 2008).
            </p>
            <p>
                <a name="wc5"></a>Frost, Robert.  <i>Collected Poems, Prose, & Plays</i> (Library of America, 1991).
            </p>
            <p>
                <a name="wc6"></a>Gregg, Linda.  <i>All Of It Singing: New and Collected Poems</i> (Graywolf, 2008).
            </p>
            <p>
                <a name="wc7"></a>Donald Justice. “Baudelaire: The Question of His Sincerity; or Variations on Several Texts by Eliot.”, <i>Oblivion: On Writers and Writing</i> (Story Line Press, 1988).
            </p>
            <p>
                <a name="wc8"></a>Stein, Gertrude. “Poetry And Grammar” in <i>Lectures In America</i> (Beacon, 1985).
            </p>
            <p>
                <a name="wc9"></a>Valentine, Jean.  <i>Break the Glass</i> (Houghton Mifflin, 2010).
            </p>
            <p>
                <a name="wc10"></a>Whitman, Walt. <i>Poetry And Prose</i> (Library of America, 1982). 
            </p>
        </div>
    </div>
    <div class="article-sidebar">
        <div id="article-footnotes">
            <ol start="1">
            </ol>
        </div>
    </div>
</div>