<div class="article-page-container">
    <div class="article-pages" id="page3">
        <p class="normal">
        </p>
        <p class="normal">
        </p>
        <p class="normal">
        </p>
        <br />
        <br />
    </div>
    <div class="article-sidebar">
        <div id="article-footnotes">
            <ol start="1">
            </ol>
        </div>
    </div>
</div>