<div class="article-page-container">
    <div class="article-pages" id="page1">
        <p class="normal">
            <i></i>Real information in real art</i>.  Here, just for a little perspective, and maybe for the sheer force of its agenda, is another 
            attempt to talk of the Gauley Bridge tragedy.  It appeared in 1935 in People's Press, a radical labor newspaper in Detroit:
        </p>
        <p class="excerpt-formatting-2">
            Their only gravestones [are] cornstalks waving in the wind, their shrouds [are] the overalls in which they died, 169 tunnel 
            workers killed at Gauley Bridge were tossed into trenches in this field at Summerville, W. Va., to rot. As they keeled over in 
            the death tunnel, one at a time or several in a day, choked to death by silicosis, they were hauled 40 miles to Summerville 
            and dumped into the grave 	the same day. No identification, no coffins. The company paid the undertaker $50 a piece to bury them. 
            A wife who came tearfully to claim the remains of her loved one was quietly driven away. There was <i>no way</i> in which his body could be 
            found. They were all victims of America’s worst industrial disaster. Then government officials, newspapers and others conspired to keep 
            this story from the public knowing that soon the witnesses would all be dead. The 26 foremen are already dead. In Gauley Bridge, 
            Town of the Living Dead, men once strong and hearty waste away while loved ones grimly await their death.
        </p>
        <p class="resume">
            Of course this is purple prose.  In the guise of letting the story "tell" itself, the writer breathes outrage into the language: 
            how else can we feel but outraged to read of this town, whose citizens, having emerged from the "death tunnel," have been 
            "tossed into trenches . . . to rot," have "keeled over," been "choked to death," or, if still dying, are the "Living Dead," 
            whose survivors bear witness "tearfully"?  You can find the article I'm quoting from in the archives of the Department of Labor, 
            in Box 59, Jan.-April 1936—or you can, with a little trouble, find it online.  To be stored in the memory as well as the heart—to 
            last, rather than to cause immediate action—is not its intention.
        </p>
	    <p class="normal">
            <i>Real information in real art?</i>  Here is a description of a refugee camp from the CBC News website called "Anatomy of a refugee camp":	
        </p>
        <p class="excerpt-formatting-2">
	        Camps are usually located on the edges of towns or cities in a secure area, away
	        from the border, war zones and landmines. The camp should be set up on sloped
	        terrain that provides natural drainage.  It should also be away from breeding sites
	        of insects that can carry disease.  
        </p>
	    <p class="resume">
            It's clean and plain, this description.  Its intention, to impart information.  It takes no position.  It doesn't aspire to art, 
            though Khaled Mattawa might easily have inserted the passage into any one of the poems of Tocqueville, a collection Yusef Komunyakaa 
            describes as "a collage of lyrical inferences."  Mattawa brings together material from a hodgepodge of sources, including (of course) the
            Internet, the Qur'an, Walt Whitman and Adrienne Rich and Robert Hass, Tocqueville's <i>Democracy</i>, Vijay Prashad's <i>The Karma of 
            Black Folks</i>, and . . . I'll stop there, though the list goes fascinatingly on.  And here are just a few of the many figures who make 
            their appearance (brief or recurring) in the book: John Yoo, Saddam Hussein, Anna Nicole Smith, a nameless 24-year-old unemployed man 
            from Somali, Shakespeare's Caliban, Viet Dinh, James Brown.  And the list of humans sirens on.
        </p>
        <p class="normal">
            The poem I'm going to look at, "On the Difficulty of Documentation," addresses, from its title on, the problem that Rukeyser brings up 
            in her criticism of the documentary film—how to navigate between principle, information and art.  The poem begins,
        </p>
	    <p class="excerpt-formatting-2">
		    The village women carry the moon on their heads.<br />
            <br />
		    Each carrying a piece.<br />
            <br />
		    Or each carrying her own moon,<br />
		    the jugs of white stoneware in Myrtle Winter's photo.
        </p>
        <p class="resume">
            The scene, which we assume is a direct description of something actual, turns out in line four to be a description of a photograph.  
            A—document?  A piece of art?  Is the poem about Myrtle Winter's thirty years of photographs documenting Palestinian refugee camps?  
            Is it about the camps themselves?  About the act of writing about them, or about the act of writing about photographs about them?  
            Myrtle Winter, writes Sally Bland,
        </p>
	    <p class="excerpt-formatting-2">
            arrived in Jerusalem in 1951, as a photographer for "Life" magazine. She was so affected by what she saw in the Palestinian refugee 
            camps that she	soon quit her job and became Director of UNRWA's Information Center.  For 30 years she photographed the tragedy and 
            the daily lives of the refugees, as well as training new photographers and compiling a photo archive. 
        </p>
        <p class="resume">
            In <i>I Would Have Smiled: Photographing the Palestinian Refugee Experience</i>, more than a hundred of her photographs have been collected and 
            paired with responses by various essayists and artists (including Mattawa).  In the preface, Widar Kaward says of Winter's photographs, 
            "They were intended to document moments in human history when the whole world turned a blind eye to fellow and equal human beings. 
            It was the world's denial of this tragedy that Myrtle wanted to capture."  These descriptions make reference to documentation, archiving, 
            and the intention of eliciting a social and political response.  What Mattawa takes on in his poem, starting with the title and his own 
            imagistic impression of one of the photographs, is the means and the difficulty, complexity, and maybe even the questionability of the 
            means by which art addresses such things.
        </p>
        <p class="normal">
            But let me go back for a minute to the poem's opening lines.  Am I off, is my ear faulty, that I hear the echo of Randall Jarrell?—
        </p>
        <p class="excerpt-formatting-2">
	        The saris go by me from the embassies.<br />
            <br />
	        Cloth from the moon.  Cloth from another planet.<br />  
	        They look back at the leopard like the leopard.
        </p>
        <p class="resume">
            Jarrell's poem, "The Woman at the Washington Zoo," is about "otherness," from the point of view of a woman longing for otherness, 
            longing to trade in her office-wear for sari-cloth, for skin the "sunlight dyes."  I don't know whether Mattawa is consciously alluding 
            to Jarrell here, whether Jarrell's rhythms and image were called up irresistibly by the Winter photo, but, intentional or not, for me 
            the Jarrell poem has a palimpsest-like presence in the opening of this poem: women who pass, distant, intent on their business, wholly 
            unaware of being observed by the distant observer, are ghosted behind women wearing "headscarves radiating against twilight. / Each a 
            planet then, rejoining a galaxy on the run" while the observer is twice-removed, first, from the women themselves, and last, from the 
            scene in a photograph.  If Jarrell's poem focuses on the speaker's yearning for change, for some way to step out of her body, out of her 
            own predictable situation, Mattawa's poem stops short at the distance itself: 
        </p>
        <p class="excerpt-formatting-2">
	        I recall: Such people have no time for beauty.<br />
	        I recall: Beauty is one of the great conversation stoppers of all time.
        </p>
        <p class="resume">
            The poem, in other words, turns back on itself, questioning any assumption that the lives of others, especially these others enduring 
            hardship and poverty without comment or lament, offer any sort of revelation or escape for an audience.  Selfhood, for the moment, 
            just doesn't exist as an issue.  This art "in quest and question of itself" asks what the poet is up to in this act of artful observation.  
            "Evidence," Mattawa says, "is plentiful that the twilight these women walk is a betrayal":
        </p>
        <p class="excerpt-formatting-2">
            The child whose skin is a crumbled sack around the muscles of his legs<br />
		    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;and buttocks.<br />
	        <br />
	        Look at how his mother's beauty is fleeting.
        </p>
        <p class="resume">
            Beauty as a value having already been called into question, so is evidence as a value, or at least the nature of evidence: the documentary 
            quality of the word is in contrast immediately with, yes, the beauty of a phrase like "the twilight these women walk."  And, to backtrack 
            a few lines, I must not neglect to mention that Mattawa has added to his "evidence" another kind of "document"—an excerpt from sixteenth-century 
            English lyric poet Thomas Wyatt, introduced by another line describing the women in Winter's photograph:
        </p>
        <p class="excerpt-formatting-2">
	        See how light spills into their dark robes—<br />
		    <br />
		    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In thin array after a pleasant guise,<br />
		    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;When her loose gown from her shoulders did fall. 
        </p>
        <p class="resume">
            He even includes the poet's name in parentheses at the end of that last line.  The Wyatt poem, "They Flee From Me," is a 
            poem employing and then reversing a conventional hunting metaphor representing the male seduction of a female.  Mattawa cleverly picks up 
            the word "flee" ("They flee from me that sometime did me seek") for use in a sadder context in the line, "Look at how his mother's beauty 
            is fleeing."  The women carrying stoneware jugs on their heads are juxtaposed with Wyatt's gentlewoman whose "loose gown from her shoulders 
            did fall"—the Palestinian refugees are not thinking of love or seduction, they are not thinking of beauty even as "their beauty is fleeing."  
            Then—and maybe at this point I should begin calling this poem a collage—Mattawa juxtaposes the careworn faces of the refugee women 
            ("Look at the faces that evoke an age-old deferral") with a passage from a political poem by Bertolt Brecht, twentieth-century German 
            poet and playwright:            
        </p>
        <p class="excerpt-formatting-2">
			Alas, we<br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;who wished to lay the<br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;foundations of kindness<br />
			could not ourselves be kind. . . .<br />
            <br />
			But, you, when at last it<br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;comes to pass . . .<br />
            <br />
			do not judge us too harshly. (Brecht)
        </p>
        <p class="resume">
            This passage is followed by a line that is an amalgam of Wyatt and Brecht: "Do not judge us for this strange fashion of forsaking (Wyatt) 
            because / what beauty does is almost a crime (Brecht)."  The names in parentheses (and, too, the voluminous endnotes for this and many 
            of the poems in the book) scream, "these are quotations!  Take notice!"  This is a poem in question not merely of itself but of poetry.  
            The most famous lines from the Brecht poem ("To Posterity") are not quoted here but are clearly in the mind of the poet: "Ah, what an age 
            it is / When to speak of trees is almost a crime / For it is a kind of silence about injustice!"  The argument about/against/in question of 
            lyric poetry is engaged not merely in this poem but throughout <i>Tocqueville</i> (though Mattawa himself has written lyric poetry).  The poem 
            turns again to photography, first in question of its morality—"and what the photographer's eyes take from them most be a kind of theft too—"—and 
            then, in defiance of the question, back to the photos of the refugee camp, images that are surreal rather than documentary:
        </p>
        <p class="excerpt-formatting-2">
		    into refugee tents weighed down with thirst<br />
            <br />
		    toward children whose shaved heads gleam and men whose faces<br />
		    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;are horoscopes of dejection?<br />
            <br />
		    And what of that look, and the all too human?
        </p>
        <p class="resume">
            How can art honorably/accurately break "a kind of silence about injustice"?  Mattawa neither answers the question nor allows it to keep 
            him silent: he expresses skepticism about the ethics of photography; he transforms Winter's documentary photographs into images that 
            could have come from Merwin's 1967 <i>The Lice</i> ("horoscopes of dejection"); he twists Wyatt's lyrical poetry so that it comments on its own 
            enterprise; he brings Wyatt and Brecht and their aesthetics into uncomfortable dialogue, himself confessing to a yearning 
            (a weakness? a loyalty?) for beauty:
        </p>
        <p class="excerpt-formatting-2">
            To be enthralled<br />
            <br />
		    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;and fain know what she hath deserved (Wyatt)<br />
            <br />
		    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;the squalor that makes the brow grow stern<br />
		    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;the just anger that turns a voice harsh (Brecht)
        </p>
        <p class="resume">
            Enthrallment?  Just anger?  The women go on doing what they are doing, the speaker narrating—
        </p>
        <p class="excerpt-formatting-2">
	        And I recall how<br />
		    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;They flee from me, gentle tame and meek<br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;how they range<br />
		    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Busily seeking with continuous change (Wyatt)
        </p>
        <p class="resume">
            Who gets the last word—Wyatt?  The poet (who has rearranged and edited Wyatt)?  The self-consciousness of parenthesis?  The women themselves 
            flee the seducer, the photograph, the poet, who himself goes on, he too "busily seeking with continuous change."  That is as good a 
            description as any for Mattawa's serpentine and energetic progress through the poem, through "the difficulty of documentation."
        </p>
    </div>
    <div class="article-sidebar">
        <div id="article-footnotes">
            <ol start="1">
            </ol>
        </div>
    </div>
</div>