<div class="article-page-container">
    <div class="article-pages" id="page1">
        <p class="normal">
            How does the actual world come into the actual poem, and what is lost in the translation?  Can a poem be a siren articulating some truth 
            of the moment?  Or must it be, as Reginald Gibbons has described the New Critical definition, "an instance of graceful tension in which 
            paradox was set in amber, so to speak, rather than lived?" A passage from Louise Kertesz's <i>The Poetic Vision of Muriel Rukeyser</i> gets as 
            close as anyone to articulating the paradox:
        </p>  	
        <p class="excerpt-formatting-2">
            The scientist Jacob Bronowski stood in the pond at Auschwitz for television viewers in the 1970's and picked up a fistful of sludge, 
            explaining that into that pond were flushed the ashes of four million people.  He urged his audience to adopt the humble attitude of the 
            atomic scientists who were discovering, ironically, just as Nazism was flourishing, that no certainty is possible, that no dogmatism is 
            justified.  What is important, said, Bronowski, holding his fistful of sludge, is "that we touch human beings."  Rukeyser's theory 
            of poetry is essentially that it is a touching . . . .
        </p>
        <p class="resume">
            Both Rukeyser and Mattawa explore the distances between subject and poem, fact and art, documentary remove and passionate human response.  
            "If you want to know how it was," says Marvin Bell, "make the siren into the shape of a man / or woman."  Both Rukeyser and Mattawa 
            acknowledge the distances between us and those sirens, and they listen.  "Take my hand," says Muriel Rukeyser in another one of her poems.  
            "Speak to me."
        </p>
        <p class="additional-note">An earlier version of this essay was delivered as a lecture at Vermont College of Fine Arts in January 2011.</p>
        <br />
        <br />
        <div id="article-workscited">
            <span id="article-workscited-title">Works Cited</span>
            <p>
                <a name="wc1"></a>"1500 Doomed: <i>People's Press</i> Reports on the Gauley Bridge Disaster." <i>People’s Press</i>, 7 December 1935. NARA, Record Group 174, Department of Labor, Sec. 	Frances Perkins, Labor Standards — Jan.-April 1936, Box 59.
            </p>
            <p>
                <a name="wc2"></a>"Anatomy of a Refugee Camp." <a href="http://www.cbc.ca/news/background/refugeecamp/">http://www.cbc.ca/news/background/refugeecamp/
            </p>
            <p>
                <a name="wc3"></a>Bell, Marvin.  "Cable News Night," <i>Mars Being Red</i>.  Port Townsend: Copper Canyon Press, 2007.  20.
            </p>
            <p>
                <a name="wc4"></a>Bland, Sally.  "Photographs Have Their Voices."  <i>The Jordan Times</i>  10 Dec. 2010.
            </p>
            <p>
                <a name="wc1"></a>Bertolt Brecht, "To Posterity."  <i>Bertolt Brecht, Selected Poems</i>.  Trans. H. R. Hays.  New York: Grove Press, 1959.
            </p>
            <p>
                <a name="wc2"></a>Cherniak, Martin.  <i>The Hawk's Nest Incident: America's Worst Industrial Disaster</i>.  New Haven, CT: Yale UP, 1986.
            </p>
            <p>
                <a name="wc3"></a>Gerould, Gordon Hall.  <i>The Ballad of Tradition.</i>  New York: Oxford University Press.
            </p>
            <p>
                <a name="wc4"></a>Gibbons, Reginald.  "Fullness, Not War: On Muriel Rukeyser."  <i>"How Shall We Tell Each Other of the Poet?": The Life and Writings of Muriel Rukeyser</i>.  Eds. Anne F. Herzog and Janet F. Kaufman.  New York: Palgrave, 1999.  106.
            </p>
            <p>
                <a name="wc5"></a>Jarrell, Randall, "The Woman at the Washington Zoo."  <i>The Complete Poems</i>.  New York: FSG, 1981.  215-16.
            </p>
            <p>
                <a name="wc5"></a>Kaward, Widar.  "Preface."  <i>I Would Have Smiled: Photographing the Palestinian Refugee Experience: A Tribute to Myrtle Winter-Chaumeny</i>.  Eds. Issam Nassar and Rasha Salti.  Jerusalem: Institute of Palestinian Studies, 2009.
            </p>
            <p>
                <a name="wc5"></a>Kertesz, Louise. <i>The Poetic Vision of Muriel Rukeyser</i>.  Baton Rouge: Louisiana State UP, 1980.  73.
            </p>
            <p>
                <a name="wc5"></a>Komunyakaa, Yusef.  Blurb on <i>Tocqueville</i>.  Author Khaled Mattawa.  Kalamazoo: New Issues Press, 2010.
            </p>
            <p>
                <a name="wc5"></a>Lange, Dorothea.  "The Assignment I'll Never Forget: Migrant Mother." <i>Popular Photography</i> Feb. 1960.
            </p>
            <p>
                <a name="wc5"></a>"Lord Randall."  <i>The Norton Anthology of Poetry</i>.  Shorter 4th ed.  Eds. Margaret Ferguson, Mary Jo Salter and Jon Stallworthy.  New York: Norton, 1997.
            </p>
            <p>
                <a name="wc5"></a>Mattawa, Khaled.  <i>Tocqueville</i>.  Kalamazoo: New Issues Press, 2010.
            </p>
            <p>
                <a name="wc5"></a>Merwin, W. S.  <i>The Lice</i>.  New York: Atheneum, 1973.
            </p>
            <p>
                <a name="wc5"></a>Miller, Prairie.  "NY School of Documentary Film Retrospective at Anthology Film Archives." <a href="http://newsblaze.com/story/20100308143119mill.nb/topstory.html">http://newsblaze.com/story/20100308143119mill.nb/topstory.html</a>.
            </p>
            <p>
                <a name="wc5"></a>Rukeyser, Muriel.  "Absalom."  <i>The Collected Poems of Muriel Rukeyser</i>.  Eds. Janet E. Kaufman and Anne F. Herzog.  Pittsburgh: U of Pittsburgh Press, 2005.  83-85.
            </p>
            <p>
                <a name="wc5"></a>Rukeyser, Muriel.  "Effort at Speech Between Two People."  <i>The Collected Poems of Muriel Rukeyser</i>.  Eds. Janet E. Kaufman and Anne F. Herzog.  Pittsburgh: U of 	Pittsburgh Press, 2005. 9-10.
            </p>
            <p>
                <a name="wc5"></a>Rukeyser, Muriel.  <i>The Life of Poetry</i>.  Ashfield, Massachusetts: Paris Press, 1996.  	149.
            </p>
            <p>
                <a name="wc5"></a>Rukeyser, Muriel and Samuel Sillen, "Radio Interview."  In <i>Muriel Rukeyser's Book of the Dead</i>.  Author Tim Dayton.  Columbia: U of Missouri Press, 2003.  145-6.	
            </p>
            <p>
                <a name="wc5"></a>Stott, William.  <i>Documentary Expression and Thirties America</i>.  Chicago: U of Chicago 	Press, 1986.  8.
            </p>
        </div>
    </div>
    <div class="article-sidebar">
        <div id="article-footnotes">
            <ol start="1">
            </ol>
        </div>
    </div>
</div>