<div class="article-page-container">
    <div class="article-pages" id="page1">
        <p class="normal">
        </p>
        <p class="normal">  
        </p>    	
        <p class="excerpt-formatting-1">
        </p>
        <p class="normal">
        </p>
        <p class="excerpt-formatting-1">
        </p>
	    <p class="resume">
        </p>
        <p class="normal">
        </p>
    </div>
    <div class="article-sidebar">
        <div id="article-footnotes">
            <ol start="1">
            </ol>
        </div>
    </div>
</div>