<div class="article-page-container">
    <div class="article-pages" id="page2">
        <p>
            AIDS is currently the third most deadly disease for women in the US. And women now make up 25% of all 
            new HIV/AIDS diagnoses in this country (“Women and HIV/AIDS: An Overview, Elinor Nauen and Bonnie Goldman). 
            <span class="superscript lit">1</span> Yet whenever I teach Dent’s work my students are shocked to read the experience of a 
            woman living with HIV.  Paula Treichler writes, “Despite documented cases of AIDS from almost the beginning of the epidemic, 
            AIDS was assumed by most of the medical and scientific community to be a “gay disease” or a “male disease”—assumed, that is, 
            to be different from other sexually transmitted disease” 
            (@Html.ActionLink("42", "Nicole_Cooley", "Issue", null, null, "wc5", new { page = 3 }, new { @class = "workscited-links" })). 
            Even in 2008, more than twenty years after the epidemic was 
            first named, I have seen this disbelief about women and AIDS in the college classrooms without exception every time 
            I begin a discussion of Dent’s work.  And as soon as we start talking about women and AIDS, my students always want to 
            know how Dent contracted HIV.  I ask them why this matters, which often leads to a conversation about stigma –what it 
            means to be an AIDS “victim” -- that can be valuable. <span class="superscript lit">2</span>
        </p>
        <p>
            There is a second reason I teach Dent’s work in my women poets class and it is that 
            it is deeply challenging. Dent’s work constantly exposes language’s formal limits and yet 
            it is at every moment a project of bearing witness to atrocity. Furthermore, part of which 
            both confounds and interests students is her reliance on other art forms within her poems. 
            In Dent’s first book What Silence Equals, music or sound is the dominant trope that signifies 
            writing (several poems are noted as being written to songs and one poem is titled “Poems 
            in American Sign Language”). And in her second book, HIV Mon Amour, photography plays a 
            central role. In her final volume, Black Milk, the poems offer very direct poetic 
            intertextualties; Dent titles them after well-known poems and deploys the other poets’ 
            language within her own. Dent’s work slips between categories and communities, belonging 
            to all of them and at the same time belonging to none: AIDS writing, women’s writing, 
            and experimental writing. Her poems describe bodily agonies, a real disease, and they do 
            so through a complex and challenging use of language.
        </p>
        <p>
            My reading of Dent’s work follows Paula Treichler’s assertion in How To Have Theory in An 
            Epidemic: Cultural Chronicles of AIDS that AIDS is an “epidemic of signification” 
            (@Html.ActionLink("19", "Nicole_Cooley", "Issue", null, null, "wc5", new { page = 3 }, new { @class = "workscited-links" })), 
            that AIDS cannot just be read by language but that it is constructed through language, 
            in particular the language of biomedicine, and that an understanding of AIDS’ multiple 
            and at times contradictory meanings is crucial to our understanding of the disease. 
            “Signification” and its relation to disease is a central focus for Dent; her poetics are 
            inseparable from AIDS and its significations.
        </p>
        <p>
            As well, Ross Chambers’ figuration of “testimonial writing” in Untimely Interventions: 
            AIDS Writing, Testimonial and the Rhetoric of Haunting is valuable for Dent’s work. 
            Here, Chambers notes that “witnessing” is usually understand through ideas of legal 
            testimony—as ”honest and direct, straightforward and unproblematic—the simple report 
            of a reliable eyewitness” 
            (@Html.ActionLink("18", "Nicole_Cooley", "Issue", null, null, "wc1", new { page = 3 }, new { @class = "workscited-links" })). 
            This is exactly what Tory Dent’s work refuses – transparency. 
            Several critics, most recently Chambers, have linked the representations of the Holocaust 
            with representations of AIDS within current writing. Within Dent’s body of work, Black Milk, 
            shows this most clearly. The title is taken from Paul Celan’s “Death Fugue.” 
        </p>
        <p>
            In what follows, I will look briefly at Dent’s poem “The Moon and the Yew Tree” from Black 
            Milk to begin to think about what a reading of Dent’s work might contribute to our 
            understanding of women’s poetry. Dent’s “The Moon and the Yew Tree” is suggestive in these 
            terms because it adopts Sylvia Plath’s title “The Moon and the Yew Tree” and situates 
            Plath’s poem within Dent’s own framework. As I noted, Black Milk is comprised largely of 
            poems which use this format, which invoke, embed and translate lines from canonical, 
            older (i.e. non-contemporary) poems. Notably, the use of Plath’s poem within Dent’s own 
            marks the only instance of a woman poet as model and intertext within the book. (Other 
            poems Dent uses are by Rilke, Hopkins, Donne and Celan.) The question arises: why does 
            Tory Dent invoke Sylvia Plath? I don’t mean to positon Plath here as a kind of literary 
            mother-figure or to trace a clear line of influence. Indeed, many contemporary women poets 
            would probably assert Plath’s importance for their work. Nevertheless, Plath’s use of 
            tropes of death and dying, the ways in which her work is performative, and the way in which 
            her work functions as a testimonial are all significant for Dent’s poetics. 
        </p>
        <p>
            From the poem’s first moment, Dent makes Plath’s image of death both metaphorical and highly literal:    
        </p>
        <div class="excerpt-formatting-1">
            This is the light of the mind, cold and planetary.<br />
            The trees of the mind are black. Their irregular branches,<br />
            like broken arms backlit from MRI dye, offset by yearning.<br />
            They take form in ways only experts can decipher. 
            (@Html.ActionLink("22", "Nicole_Cooley", "Issue", null, null, "wc2", new { page = 3 }, new { @class = "workscited-links" }))
        </div>
        <p>
            Here, while Plath’s “trees of the mind” open the poem -- Plath is the first to speak here-- Dent 
            immediately concretizes the abstract image, moving from the “mind” right to the body (the MRI). 
            A similar move occurs in the fourth stanza: “The moon is no door. It is a face in its own right. / 
            White as a knuckle and terribly upset. I identity with its nausea.” Again, the moon as metaphor is 
            grounded in the body, in illness’s bodily sensations, as “upset” becomes, for Dent’s poem, “nausea.” 
        </p>
    </div>
    <div class="article-sidebar">
        <div id="article-footnotes">
            <ol start="1">
                <li id="issue1-cooley-foot1">
                    <p>
                        In 1985, in the first years of the epidemic, women and adolescent girls made up only 7 percent of 
                        reported AIDS cases in the United States. (“Women and HIV/AIDS: An Overview, by Elinor 
                        Nauen and Bonnie Goldman,  
                        <a href="http://www.thebody.com/Forums/AIDS/SafeSex/Archive/TransmissionNon/Q171082.html">“The 
                        Body/The Complete HIV/AIDS Resource,”</a> January 9, 2006.)
                    </p>
                </li>
                <li id="issue1-cooley-foot2">
                    <p>
                        Disturbingly, I have found that this question frequently arises outside the classroom too. 
                        On the website thebody.com, dedicated to providing information and resources about HIV and AIDS,  
                        a reader wrote in to ask the resident doctor, “This may be politically incorrect of me -- 
                        but I was wondering if you knew how she got HIV? I heard it was from a blood transfusion.” 
                        To which “Dr. Bob” replied:  “Tory Dent was a poet, essayist and art critic whose verse 
                        vividly revealed her life and struggle with AIDS. What possible reason could you have for 
                        wanting to know how she became infected? Hopefully you do not believe she would be more of an 
                        "innocent victim" if she acquired the virus via a blood transfusion rather than sexually? 
                        The best answer to "how she got HIV" is really quite simple: "it doesn't matter!" Rather 
                        than spending time wondering how the virus found Tory, I suggest you read her work. 
                        I'll reprint a portion of the title poem from "Black Milk" below.
                    </p>
                </li>
            </ol>
        </div>
    </div>
</div>