<div class="article-page-container">
    <div class="article-pages" id="page1">
        <p class="indented">
            Other poems in Gizzi’s collection manage to be political through his use of elegy. In one of the title poems from the book (of which there are two), Gizzi connects 
            the fall of Rome to an eventual (or present, perhaps?) fall of America with a mention of “coliseum-like” sand and with the “leaves arch[ing] over everything / …so 
            democratic.” Even though the poem strikes me as being elegiac, the more I read it, the more I began to consider what exactly it was elegizing: the innocent Iraqis 
            dead from a senseless war? The soldiers? The moment before “the dialectical / awakening everyone / is hankering to embrace”? Gizzi’s poem “The Outernationale” 
            is perhaps elegiac, but its main purpose seems to be simply raising the question of what a poem should do in the current political and social contexts in which it 
            exists, even if the contexts are entirely fragmented to the point of senselessness. 
        </p>
        <p class="indented">
            Four writers discuss this very issue in the article “Does Poetry Have a Social Function?” at the Poetry Foundation’s Online Journal (the article originally appeared 
            in Poetry Magazine in January of 2007). The article is essentially a conversation about the purpose of poetry and the issues raised here are quite applicable to 
            this discussion of Gizzi’s work. Daisy Fried comments that “poetry’s social function comes not from what it means but from what it is…to shake us out of our 
            standard American buy-stuff-and-watch-TV half life [and a] poem’s content matters very little to that utility.” Their discussion ventures into a conversation about 
            how poetry can exist in a consumer-based America—and obviously the implications of this discussion are quite political. Fried goes on to comment that “many of us 
            are hungry for poems that look outward, not just into the self or into what seems like another kind of narcissism, a turning away via the knee-jerk 
            (therefore empty) ‘avant garde’ linguistic gesture,” and yet I see the title poem in Gizzi’s collection as functioning both by looking inward and outward; in fact, 
            he doesn’t seem to see a difference between the two views:
        </p>
        <pre class="preformatted-font preformatted-spacing">
                …time seems a trip,
			    come back, little sheen of products
			    in rows behind glass.			
                We went to the store and why not
			    we go to the moon
			    jeweled box on a shelf.
        </pre>
        <p class="not-indented">
            The poem here ventures into a commentary on consumerism, capitalism, and ownership, and by using the pronoun “we,” Gizzi creates a moment that both looks outward 
            and inward in regard to this desire which is not necessarily human, but does tend to be American. The moon becomes just another object to be owned and, in this 
            brief moment, Gizzi brings up the race with Russia to stake claim on the moon and the political ramifications of this race. What makes Gizzi’s poem so successful 
            is that he doesn’t comment or critique the idea of consumerism. Too many political poems tend to look outward and make a comment that becomes didactic or forced; 
            the use of “we” frees Gizzi because the speaker in the poem includes himself in with the group of people who live in a time “when the administration / of money 
            flows backward.” A poem that does something similar is Marvin Bell’s “Coffee,” where “[t]he house smells of coffee” and the speaker has just “dreamt of coffee” 
            and notes that the “dream of coffee is a wartime dream.” Bell’s poem grapples with the idea of capitalism, much like Gizzi, but the shift to the war leads toward a 
            didactic statement that doesn’t allow much room for the reader to interpret: “It’s his war and my coffee. Get out of my house, / Mr. President. You can get your 
            own coffee.” I don’t mean to say that Bell’s poem isn’t as successful as Gizzi’s, but the intentions of the poet direct the poem toward the final statement without 
            allowing the poem to follow a natural progression set by the language or the lines. Bell’s poem seems to meet both Wojahn’s requirements as well as the ones set by 
            Fried in creating both “social engagement” and “personal authenticity” as well looking outward through the use of coffee as a trope to reach the final directive, 
            but there is something to be said for subtlety and allowing a trope to do the work.
        </p>
        <p class="indented">
            In addition to its subtlety, “The Outernationale” is a profoundly effective political poem in other ways. The main political question it wrestles with is identity 
            and how to make sense of the self in a country as large and diverse as America. Gizzi seems to be struggling with the very thing that Whitman praised: an America 
            with many voices and the manner in which they form one singular voice. In Gizzi’s work, there are just as many American voices, but they are often opposing and 
            polarizing, creating less unity than the idea of an “American” voice in Whitman’s work. Gizzi’s shift in this section of the sequence to plural pronouns creates a 
            unifying sense among the varied voices he hears:
        </p>
        <pre class="preformatted-font preformatted-spacing">
                We find purpose
                in the game and together,
                this crucial passage given flight
                when detail disappears into a crowd
                that too quickly invested 
                and then discarded power.  
        </pre>
        <p class="not-indented">
            Indeed, “before we were happy / we were unhappy,” Gizzi writes earlier in this section, and this simple observation says a lot about the ways in which attitudes 
            shift from one side to the next and the 
        </p>
        <p class="indented">
        </p>     
        <pre class="preformatted-font preformatted-spacing">
                         …dark 
                indigo setting on the glass
                just sitting there. Reminding us 
                days gallop into grass rushing wind
                into miles of cable.
        </pre>
        <p class="not-indented">
            Gizzi’s use of the window and “miles of cable” shows a familiar shift that occurs throughout this collection: the thought of nature leads towards the consideration 
            of how technology further separates us from not only nature, but also from each other; even if the glass can be seen through and the “miles of cable” exist to 
            transmit information, both the glass and the cable separate: the glass, physically and the cable through the way that media has a tendency to polarize. This sense 
            of separation is something the speaker in “The Outernationale” seeks to undo in the last two lines of the poem: “when I asked what happened / I meant what happened 
            to us?” This movement seems quite political as well. A question about one person is a question about everyone, but the question mark that Gizzi uses makes this 
            moment of the poem even more intriguing: it introduces self-doubt into the statement as well as a sense of hesitancy, which leads the reader back to the title of 
            the poem and the book itself, an allusion to the song “The Internationale,” which praised socialism in the nineteenth century. Gizzi’s title recalls a time of 
            social change and in doing so would seem to suggest that it is time for another type of change, one that looks outward rather than inward as this poem, and the 
            book as a whole, suggests. 
        </p>
        <p class="indented">
            Many of the themes mentioned here are dealt with throughout the book, but near the end, Gizzi returns again to the form of the long poem—and titles it 
            “The Outernationale” as well, a reiteration of the book’s political implications. The other poems discussed above have a sense of hesitancy in the language, but 
            this poem does not have any hint of reticence. Gizzi moves forward, opening with a question: “So the bird’s in the hand / and now what?” and from there the poem 
            opens up to explore the role nature plays in our present world. Much like the above-mentioned Frost poem, “Design,” Gizzi tells us that the trees “might be saying 
            / all we need to be here” but there are simply too many distractions—or as Gizzi suggests—routines: “Everyday weather / and the everyday weatherman” and “Rain… / 
            falling everywhere / around the boy falling digitally.” Later, the speaker in the poem notes that “The box is spitting electro- / magnetic lies into the room / 
            again.” Gizzi’s voice here is quite different from the previous poems—and the certainty has more power largely due to the poems that come before it. Later in this 
            section, the speaker comments that there is “Nothing more personal / than headlines,” an idea that our everyday being, our existence even, is tied to the news in 
            one way or another. So what does the speaker say we should do with this knowledge? Are we to allow the panic from the opening poem to take over and let the “end 
            result [be] worry, chaos”? Eventually the poem moves toward a meditation on desire and on what drives us. The speaker’s commentary is political on some level, of 
            course, as a desire for power—or even food—can drive someone to selfish acts, whether it be waging war on a large scale or inflicting violence on a single person. 
            The speaker wants to “expose doubt itself / to open up / the mechanics of want” in seeking to understand desire. Perception and its power returns in the poem:
        </p>
        <pre class="preformatted-font preformatted-spacing">
                If we could say
                the world has changed,
                it has changed. If we say
                the world is the same
                then so it is. But nothing
                changes everything
                and we know this.
                We earn this the hard way.
        </pre>
        <p class="not-indented">
            As with the other poem titled “The Outernationale,” the speaker admits that poetry cannot change everything, though it might seem to be the only art form 
            uninfluenced or disrupted by the destructive power of capitalism. Speaking generally, poetry can be written with disregard for money, power, or fame, and even so, 
            Gizzi seems to admit that the only thing that can change everything is perception, not poetry. The constellations still stare down and “the little tightness / that 
            keeps us wanting / … looking hard into the dark.” What is it that we are looking for? Gizzi’s answer is simple: “that one day / we might find ourselves lit up.” 
            That this line directly follows the list of constellations suggests a desire to create a myth or framework that others will look to for understanding. In this poem, 
            Gizzi highlights a common human emotion and desire: the need to be remembered—and ideally to be remembered in positive terms.
        </p>
        <p class="indented">
            As Wojahn notes in his article, many poets are writing about the war, as evidenced by the “Poets Against the War” website which includes poems that seem to be less 
            successful simply because of their didactic quality. Interestingly, Peter Gizzi’s “Protest Song” from The Outernationale appears on this site, but Gizzi’s poem 
            stands out from the others. His poem is one of negation, rather than active participation with the war and the ideas behind it:
        </p> 
        <pre class="preformatted-font preformatted-spacing">
                This is not a declaration of love or song of war
                not a tractate, autonym, or apologia

                This won’t help when the children are dying
                no answer on the way to dust

                Neither anthem to rally nor flag flutter
                will bring back the dead, their ashes flying

                This is not a bandage or hospital tent
                not relief or the rest after

                Not a wreath, lilac, or laurel sprig
                not a garden of earthly delights
        </pre>
        <p class="not-indented">
            Gizzi’s poem, a protest, speaks to the fact that poetry cannot bring the dead back to life or even be a “bandage or hospital tent.” In expressing poetry’s 
            shortcomings, Gizzi suggests that we must arrive at something greater in order for the war to stop and for the children to stop dying. Is this poem a political 
            one without the title? Of course. But the true power of Gizzi’s work can be seen in the place where the poems arrive—they don’t necessarily start with “delight 
            and end in wisdom.” Gizzi’s poems end holding a mirror up to the reader, perhaps the most effective political commentary of all.
        </p>
        <p class="with-spacing">&nbsp;</p><br />
        <div id="article-workscited">
            <span class="workscited-title">Works Cited</span>
            <p>
                <a name="wc1"></a>
            </p>
            <p>
                <a name="wc2"></a>
            </p>
            <p>
                <a name="wc3"></a>
            </p>
            <p>
                <a name="wc4"></a>
            </p>
        </div>
    </div>
    <div class="article-sidebar">
        <div id="article-footnotes">
        </div>
    </div>
</div>