<div class="article-page-container">
    <div class="article-pages" id="page1">
        <p class="indented">
            In this day and age, is it possible to write a poem that isn’t political? Even in ignoring political and social events, one might argue that a poem is political in 
            its choice to not acknowledge what’s happening around it. But what about poets who choose to engage with social and political causes? In this subset of poems, 
            the idea of what makes a poem “political” varies widely. David Wojahn discusses the need for a political poem to engage with society from the personally authentic 
            perspective of the poet; on the other side of the argument, a poet like Marvin Bell feels that simply the act of writing a poem is political. Many of Robert Frost’s 
            poems engage with the political, though the meanings might be understated or at least somewhat subtle. Emily Dickinson’s work, too, reckons with widely-held notions 
            of her time and often questions these notions. All of this is to say that there are many different ways of approaching the political through poetry. Is one approach 
            preferable or more successful to another or does it really just boil down to a question of taste? For example, how do we respond to a poem that tells us, 
            straight-faced, what the poet thinks or perhaps even what we should think? I tend to prefer a poet like Frost who often provides two readings: one surface-level 
            message for a reader not willing to dig that deep and another that calmly questions an institution like organized religion, as in a poem like “Directive” that 
            ends: “Drink and be whole again beyond confusion.” If anything, there is only more confusion at the end of the poem, though a reader with perhaps a more optimistic 
            or generous view of the world might interpret it differently. One contemporary poet who seems to be engaging in the political poem in a way unlike any other writer 
            is Peter Gizzi in his latest book <em>The Outernationale</em>. Gizzi manages to write with a certain subtlety when dealing with the political—which, in turn, allows the 
            reader to draw his or her own conclusions based on the speaker’s observations that are heavily steeped in a Romantic tradition—and in the idea of the role 
            perception plays in our everyday lives.
        </p>
        <p class="indented">
            The opening poem in Gizzi’s book is a sequence called “A Panic That Can Still Come Upon Me,” a poem that introduces many of the major themes in the book, but 
            especially the ideas of isolation and fragmentation. Gizzi’s use of the subordinate clause creates a sense of repetition that becomes trance-like in its rhythms:
        </p>
        <pre class="preformatted-font preformatted-spacing">
                If today and today I am calling aloud

                If I break into pieces of glitter on asphalt
                bits of sun, the din

                if tires whine on wet pavement
                everything humming
        </pre>
        <p class="not-indented">
            This sense of dependence shows the manner in which the speaker is—at least in a sense—reliant on the panic and also on outside forces. Is it that these outside 
            forces remind us that we exist? In Gizzi’s poem the outside stimuli are clearly American (“Apache fire,…administrators / who can say I am found, [and]…children / 
            taken down in schools”), but what I find so fascinating is that Gizzi does not approach these images with a tone of disgust or hatred. Rather, the speaker here 
            demonstrates that without these outside forces, he will not exist—it’s a troubling thought, but it’s authentic and honest. The “If” that carries the poem forward 
            (and appears in each of its five sections), works to both question the landscape where the speaker lives and also allows the speaker to feel alive by questioning 
            the reality he sees, no matter how terrible the images might be.
        </p>
        <p class="indented">
            The second section of the poem opens with a different voice, one that is more sure than the one in the first section: “It isn’t alright to want just anything / 
            all the time.” The speaker goes on to address the sky and how the “day unbraids its pretty light.” These images of nature might not seem political on the surface, 
            but the fact that Gizzi places this speaker away from the twenty-four hour news channels of the first section suggests the speaker’s ability to block out these 
            images of death and destruction by immersing him or herself in nature—and in doing so, the speaker comments on perception and how “This must be all there is / 
            right now in the world.” But this reflective pause does not last long, for even in nature, a question arises with the familiar “If” of the first section that is 
            addressed to an observation of nature:
        </p>
        <pre class="preformatted-font preformatted-spacing">
                If the sun throbs like a drum
                every five minutes

                what can we do with this […]

                If every afternoon gravity and fire
                it’s like that here

                undressed, unwound
        </pre>
        <p class="not-indented">
            The progression takes the speaker back to images of war with the pun of “undressed” and “unwound” suggesting a wound being dressed or undressed. Up against the 
            realities of “gravity and fire,” war is as real and prevalent as the forces of nature experienced by the speaker, so much so that he or she even observes that 
            this moment “must be all there is.” 
        </p>
        <p class="indented">
            This pastoral realization brings the speaker directly back to “If” and the address shifts to a “you” in the poem, which brings up the idea of how Gizzi uses the 
            lyrical “I” in a political manner, especially in this poem, but in other moments throughout the book as well. The “I” here strikes me as being an American “I,” 
            much in the same tradition of Ginbserg and Whitman, though the “I” in Gizzi’s poem constantly struggles to make sense of the images and paradoxical moments that 
            exist in the day-to-day. I’m not sure who Gizzi visualizes speaking these poems, but their general nature makes them especially accessible—in large part because 
            of the way in which they grapple with reality and how <em>unreal</em> it can be. The third section of the poem returns to the voice of the first, turns us to a landscape 
            where the speaker is “a tiger inside the DMZ” and asks “if speech can free us” without finishing the thought, suggesting that perhaps it cannot. The poem wrestles 
            with this notion of speech and freedom in a way that suggests that rights do not always empower or free us—they become worthless when the power and right to 
            question authority becomes impossible, as it seemed to be when the war in Iraq started. A marginalized voice is the one we see here—a voice that questions the 
            power of free speech, the power of “everyday strife.” The speaker asks what happens if he or she dies and “begin to lose consciousness / and the flag,” which 
            speaks to the idea of identity and the role that being a citizen plays in this view of self—once the speaker begins to lose consciousness, he or she is no longer 
            a citizen but only a body. Being alive forces one to acknowledge both who one is as well as the country that one is a part of—the images of war and violence are 
            attached to the idea of “America” and no matter where this speaker places him or herself on the political scale, the speaker still feels a sense of responsibility 
            for the war and its repercussions in the world. 
        </p>
        <p class="with-spacing">&nbsp;</p><br />
    </div>
    <div class="article-sidebar">
        <div id="article-footnotes">
        </div>
    </div>
</div>