<div class="article-page-container">
    <div class="article-pages" id="page1">
        <p class="resume">
            The figure on our horizon is no metaphor.<br />
            It is a man on a bridge<br />
            overlooking the Los Angeles river.<br />
            River might be a metaphor<br />
            depending on the season.<br />
            For it is summer, and the shine<br />
            has dwindled to a trickle<br />
            in the whiteness of our page.<br />
            The sun in the water is no pearl.<br />
            And no sooner we have placed a pearl<br />
            inside the sun.<br />
            We cannot help it.<br />
            We transgress. Like a river.<br />
            <br />
            Pearls drizzle downward<br />
            through the bloodstream of the man <br />
            who searches the river<br />
            for the sky, such as<br />
            it is. Standing water comforts no one.<br />
            Nothing like a little rain, <br />
            a nerve of light running through the gutter.<br />
            The sound of a river is another word<br />
            for stillness.<br />
            Cities hang by the blue threads.<br />
            Any wonder we cling<br />
            to our waters long after<br />
            the trappers and scouts float seaward in canoes.<br />
            <br />
            And because the night rain throws a net of calm<br />
            over the sleeping child,<br />
            we have all been that child,<br />
            eager to become the one<br />
            we have never been.<br />
            One half of a figure must be<br />
            the given. The other, the made,<br />
            the wilderness of sleep.<br />
            No, the man in this river is not<br />
            a river. He’s a guy, more real<br />
            than he imagines.<br />
            And so he looks down from this bridge to find<br />
            his image looking back.<br />
            <br />
            Is it true, we rinse our eyes in the currency<br />
            of sleep. All across Los Angeles,<br />
            the quiet violence<br />
            of the new. Men do what they do.<br />
            They pass on.<br />
            Their bodies are rivers inside of rivers<br />
            that flood the banks<br />
            of those they leave behind.<br />
            No, the man in this body is no metaphor.<br />
            And so he is available<br />
            to be one.<br />
            Somewhere in his sleep, an ocean rises up in terror<br />
            and pauses.<br />
            <br />
            Like a sentence that clings<br />
            to the stillness of paper.<br />
            He wakes. The ocean falls.<br />
            The world, as he knows it, goes on.<br />
            Nothing is funny<br />
            without distortion. Funny-weird,<br />
            funny-ha-ha. Bells charm in the distance.<br />
            This much is clear.<br />
            The time they measure is a bridge<br />
            in flames.<br />
            Try falling in love with a world<br />
            that never lies. Never burns.<br />
            These are facts.<br />
            <br />
            The child who is a man again<br />
            traces his face<br />
            in the water with a stick.<br />
            Nature holds a mirror to art<br />
            the way death holds a mirror to our nature.<br />
            I hate death<br />
            and love the fruit it bears.<br />
            This man for one.<br />
            This body that is a bridge<br />
            in the water.<br />
            The heart’s apple<br />
            borne across the threshold of this,<br />
            our native tongue.<br />
        </p>
    </div>
    <div class="article-sidebar">
        <div id="article-footnotes">
        </div>
    </div>
</div>