<div class="article-page-container">
    <div class="article-pages" id="page1">
        <p class="normal">
            Bruce's poem
        </p>
    </div>
    <div class="article-sidebar">
        <div id="article-footnotes">
        </div>
    </div>
</div>