<div class="article-page-container">
    <div class="article-pages" id="page2">
        <p class="not-indented">
            I’ve used the word <em>hybrid</em>, and yet I am painfully aware of the inadequacy of that term. In recent years there’s been a fair amount of traffic in textual 
            hybridity—works that often operate in several genres or defy genre labels altogether. To be certain, this hybridity is not that of the <em>American Hybrid</em> 
            anthology (edited by Cole Swensen and David St. John), which repurposes the term toward altogether separate ends (namely, the reconciliation of the academy with 
            the avant-garde—already a fait accompli). In experimental circles at least, there’s been either a marked fatigue with genre conventions or a sense that genres work 
            well in collaboration. I’m not sure, however, that classifying <em>Don’t Let Me Be Lonely</em> as hybrid does us any good, as the label has been poorly understood 
            and even more poorly applied. 
        </p>
        <p class="indented">
            In his review of Maggie Nelson’s <em>Bluets</em>—a book that shares some distinct thematic and formal similarities with <em>Don’t Let Me Be Lonely</em>—Ray McDaniel laments, 
            apropos “the death of poetry,” that Wave Books marketed <em>Bluets</em> as “Essay/Literature.” McDaniel is a good critic—smart, incisive, and sensitive—and I think he’s 
            onto something here. He writes: 
        </p>
        <p class="not-indented with-spacing excerpt-spacing">
            <em>Bluets</em> reads like both [Anne Carson’s <em>Eros the Bittersweet</em> and <em>The Beauty of the Husband</em>] at the same time, and many other books besides. Why not? The failure here 
            isn’t Nelson’s (for I think this is a wild, brilliantly successful book) but how it is marketed. And while I cannot blame Wave Books for wanting to expand the 
            readership for such an accomplished and fascinating book, it doesn’t help matters to deny <em>Bluets</em> as poetry. It does what Nelson’s admitted poetry does; it also does 
            what her mixed-genre work does. 
        </p>
        <p class="not-indented">
            McDaniel is edging toward a statement here close to the concerns embodied by <em>Don’t Let Me Be Lonely</em>: in a way, he’s arguing for a new definition of poetry, 
            one that includes work that thinks like a poem even if it doesn’t look like one. McDaniel seems to be saying that until we embrace the full range of possible poetic 
            expression—which includes essayistic discourse and fictional narrative—we’ll be stuck with this self-involved angst about the death of poetry. We’ll also be 
            blinding ourselves to nearly everything except what has already been accomplished. 
        </p>
        <p class="indented">
            Aesthetic categories, as the artist Robert Smithson was quick to point out, are commonly vehicles for establishing, maintaining, and exerting power, and part of 
            what’s at stake here (e.g., in a work like <em>Don’t Let Me Be Lonely</em> or <em>Bluets</em>) is power—power over what counts and doesn’t count as an essay or a poem, 
            power to build an academic or critical career, but also power over the reader. The hybrid is democratic—verging on the anarchic—and it privileges readers’ 
            experiences with texts over the boxes into which we might place them. One reason a manifesto of hybridity has yet to appear is that no single document could account 
            for the writers and readers of the texts in question (although this has perhaps always been the case). 
        </p>
        <p class="indented">
            Put another way, the hybrid situates reading as the articulation of genre, not its reenactment. In the context of <em>Don’t Let Me Be Lonely</em>, such hybridity 
            begins with its subtitle, “An American Lyric.” Outside of some recognizably lyric poems by Milosz and Celan included in the text, there is little in the book’s 
            formal presentation we might mistake for lyrical poetry as it has come down to us, through innumerable divagations, from Sappho. But as Anne Carson has written, at 
            its origins the lyric enacted a “crisis of contact”: an I encounters a You and/or him/her, and the external becomes internal (41). The lyric situates the poem 
            squarely between one person and another (cf. O’Hara’s “Personism”), or as the critic W.R. Johnson has written, “the words and sounds and pictures of a lyric poem 
            are spoken to someone about something by someone, and that someone who speaks is, or should be, an integral part of what he speaks” (34). Such definitions of the 
            lyric reflect the concerns of <em>Don’t Let Me Be Lonely</em> more clearly than any review of the book I have read. The book refigures and revises genre conventions 
            according to the demands of its very particular “crisis of contact.” Namely, how does one subject encounter an other in a post-9/11 world, and how can this 
            encounter become something other than an avoidance (I avert my eyes) or—<em>pardon me</em>—an apology? If strangers passing on the street can be models for strangers passing 
            on a page, the question becomes how to enact and embrace the encounter between reader and writer.
        </p>
        <div class="dividing-line-container"><div class="dividing-line"></div></div>
        <p class="not-indented">
            One way to understand spirituality, divorced of its religious trappings, is as a longing for connection, not to material things—we have enough of that kind of 
            connection—but to the unseen world that consists, in part, of everything internal both in ourselves and in others. At the same time, we tend to confuse spirituality 
            with the practices that make us aware of that unseen world; the point of meditation, for instance, is not meditation but its application in one’s daily life. Seen 
            in this light, writing (particularly hybrid writing) might be its own variety of spiritual practice, one that, ideally, connects us not to the text itself but to 
            the unseen and to each other. 
        </p>
        <p class="indented">
            <em>Don’t Let Me Be Lonely</em> is obsessed with this kind of connection. It posits, as a solution to our cultural crisis and its accompanying static (indicated 
            throughout the text by a series of fuzzy TVs), the poem as a kind of connective tissue; writing becomes the site of a reciprocal responsibility to everyone in 
            social space, to paraphrase a line from Myung Mi Kim that plays a prominent role in Rankine’s book. And inlaid in that word <em>responsibility</em> is <em>response</em>. Much as the 
            point to any prayer is its outward gesture, no poem exists in isolation: the poem enters and responds to social space. No matter how fiercely a piece of writing 
            resists its context, it responds to the conditions in which it was produced. So why fight it? Myung Mi Kim makes the point that just as in a social situation there 
            is a responsibility to those around you, the poem has its own sociability. Rankine writes:
        </p>
        <p class="not-indented with-spacing excerpt-spacing">
            Paul Celan said that the poem was no different from a handshake…The handshake is our decided ritual of both asserting (I am here) and handing over (here) a self to 
            another. Hence the poem is that—Here. I am here. This conflation of the solidity of presence with the offering of this same presence perhaps has everything to do 
            with being alive. (130)
        </p>
        <p class="not-indented">
            Our being, in other words, is both an ontological (“the solidity of presence”) and an ethical/metaphysical (“the offering of this same presence”) fact. Here, the 
            text is the practice of offering and asserting the self simultaneously. It is a vehicle and ritual for connection, a conduit for the spirit. Rankine also quotes Emmanuel 
            Levinas: “By offering a word, the subject putting himself forward lays himself open and, in a sense, prays” (120).
        </p>
        <div class="dividing-line-container"><div class="dividing-line"></div></div>
    </div>
    <div class="article-sidebar">
        <div id="article-footnotes">
        </div>
    </div>
</div>