<div class="article-page-container">
    <div class="article-pages" id="page1">
        <p class="not-indented">
            In the long wake of 9/11, I have often wondered what poetry can say about our country’s internal violence as well as the violence we export abroad (in the form 
            of neoliberal trade deals, puppet governments, and military invasions). Much contemporary work strikes me as exceedingly private in varying ways, but I also 
            suspect that this reflects a larger tendency to avoid the toughest conversations. My questions, then, have to do with response and responsibility: in particular, 
            where to situate one’s work, and how to avoid the complicity of silence. What obligations does one have, and what opportunities does writing present to address 
            them? How does one tackle, as a writer, the <em>kairos</em> of our cultural moment without drowning in it? 
        </p>
        <p class="indented">
            In her 2004 book, <em>Don’t Let Me Be Lonely</em>, Claudia Rankine writes that “the attack on the World Trade Center stole from us…our willingness to be complex”
             or, alternately, that it “revealed to us…that we were never complex” (91). We lacked the vocabulary to process what had happened, or rather that vocabulary had 
             yet to be invented. <em>Don’t Let Me Be Lonely</em> writes into this void, which may be either the absence of complexity or the absence of rituals to address it. 
             A poet may not be the priest Allen Ginsberg once claimed (self-deprecatingly) he was, but that is not to say her role is any less public or that the poem is any 
             less ceremonial than prayer; although <em>Don’t Let Me Be Lonely</em> is not a spiritual text, this understanding underlies and animates the book. 
        </p>
        <p class="indented">
            Equally important is the realization that ours is a deeply disturbed culture, one unable or unwilling to process its traumas. And so <em>Don’t Let Me Be Lonely</em> 
            moves, ceremonially, through one symptom of this disturbance after another. Against the painful “recognition that billions of lives never mattered”—and against our 
            collective inability to acknowledge these lives—the book often reads like an oration over the bodies of the dead and dying: the body of Amadou Diallo, for 
            instance—the young, unarmed Guinean immigrant shot 41 times by four New York City police officers in 1999; the body of the six-year-old girl beaten to death by 
            her thirteen-year-old neighbor; the body of executed Oklahoma City bomber Timothy McVeigh, as well as the bodies of his victims; finally, the bodies of millions of 
            HIV-positive South Africans, sentenced to death by the drug companies that for many years prevented the distribution of low-cost antiretrovirals (23). 
        </p>
        <p class="indented">
            None of this is to say that <em>Don’t Let Me Be Lonely</em> should be compared, either formally or otherwise, to the texts of existing prayers, but that it has the 
            tone and spirit of prayer without (in almost any sense) its object: there is no appeal to a higher power, no supplication for beneficence or mercy. It is not so 
            much an invocation or entreaty as it is an observance or mourning ritual—a text that, at its heart, attempts to process the cultural context and aftermath of 9/11 
            more than the violence of the actual event. Because there is something ominous about a culture unable to respond to its own traumas, a culture that cannot compose 
            the texts recited over its dead. Priest or not, Ginsberg was savvy enough to recognize this, and so he set about writing his own version of the Kaddish for his 
            mother. Rankine is no less savvy a writer (and no less a socially-oriented one), and in a cultural and poetic context that almost demands our mourning take 
            private forms, she has created a text that enacts the intersection of private and public grief, a ritual to address our wounds.
        </p>
        <div class="dividing-line-container"><div class="dividing-line"></div></div>
        <p class="not-indented">
            Situated at that very intersection between public and private, which is also perhaps the intersection of reportage and disclosure, the poem may be the form most 
            adequate to our grief. But at the time Rankine began to write <em>Don’t Let Me Be Lonely</em>, the poem had undergone the latest in a long series of crises of 
            conscience, one that arguably continues today. We don’t seem to know exactly what role is appropriate to the poem—epistemological inquiry, conceptual toy, formal 
            relapse? 
        </p>
        <p class="indented">
            This much is clear: the poem’s widespread unwillingness to be wracked by overwhelming sadness (there are exceptions) reflects a larger unwillingness. 
            Rankine writes:
        </p>
        <p class="not-indented with-spacing excerpt-spacing">
            Sometimes I think it is sentimental, or excessive, certainly not intellectual, or perhaps too naïve, too self-wounded to value each life like that, to feel loss 
            to the point of being bent over each time. There is no innovating loss. It was never invented, it happened as something physical, something physically experienced. 
            It is not something an “I” discusses socially. (57)
        </p>
        <p class="not-indented">
            These days intellectuals, including poets, are perhaps ill-equipped to respond to something on the order of Amadou Diallo’s death. Talk about it, sure. Process it, 
            analyze it—absolutely. But to register this loss as a physical sensation in the body (or in the body of the poem), to be wounded by Diallo’s story in this way—that 
            isn’t “something an ‘I’ discusses socially.” And yet, if poets are in some ways the voice and conscience of the culture, and if they aren’t able to grieve 
            publicly—to pay witness to a death like Diallo’s—to what extent can you say of the culture that it can’t express itself? That it can’t feel? It’s this kind of 
            thought without feeling, or thought disembodied from feeling, that may be the heart of the book’s “loneliness” and the object of its prayer.
        </p>
        <p class="indented">
            But, again, <em>Don’t Let Me Be Lonely</em> isn’t quite prayer, and it isn’t quite poem either—or essay, for that matter, which is another of the labels its 
            marketers have affixed to it. This, too, speaks to the <em>kairos</em> of the book’s setting. We were no longer in the mood, in 2001 or 2004 or 2011, to seek in poems what 
            we couldn’t find in prayers. Or perhaps it’s better to say that what we found in the poems and prayers was not adequate to our needs. In response, the form the 
            book takes is at once elliptical and discursive, lyrical and narrative. It might be said to cover its modal bases. Like many other works of our period, it is a 
            hybrid, by which I mean the text is not, a <em>priori</em>, poem or essay or prayer. 
        </p>
        <p class="indented">
            Put another way, the poem—no less than prayer—might be operating under definitions that are no longer sufficient to conditions, in which case the emergence of the 
            hybrid as a viable mode in the past several decades (which is not to ignore centuries of historical precedents) can be seen as an attempt to produce texts that are 
            sufficient to conditions. <em>Don’t Let Me Be Lonely</em> can thus also be seen as a gesture toward the expansion of the possibilities of the poem, its range of 
            expression. For, at least in the larger culture, the poem qua poem is suspicious: when, to escape the summer heat, Rankine sits on the roof of her apartment 
            building and chants a poem to the sky, she is treated as a potential suicide by the neighbors who spot her legs dangling over the side of the roof. It is as though 
            we no longer know what to make of poems and the people who write and recite them. More to the point: we have perhaps lost the willingness or the ability for making 
            public what is otherwise private. 
        </p>
        <p class="indented">
            In response, <em>Don’t Let Me Be Lonely</em> tries “to fit language into the shape of usefulness”—useful in the sense that it reclaims or refines that ability 
            (129). In a world that “moves through words as if the bodies the words reflect did not exist,” <em>Don’t Let Me Be Lonely</em> wants to reattach those bodies to the 
            words they use—to reattach our bodies, through our words, to the world (129). Otherwise, we risk getting stuck in a lonely condition where language is a confusing 
            and possibly dangerous abstraction, one in which words can all too easily be made to manipulate or obscure. (An extreme example: the hideous language around the 
            extraordinary rendition of terrorism subjects, “ghost” detainees whose presence at a site is negated by the refusal to acknowledge it. Someone says the prisoner 
            isn’t there, and as a result the prisoner “disappears” even while he remains quite physically present.)
        </p>
        <p class="indented">
            Nowhere is this purpose more pointed than in the book’s opening passages, in which Rankine recalls her childhood confusion about both the silence surrounding death 
            and the challenges of its representation. “Every movie I saw while in the third grade,” Rankine writes, “compelled me to ask, Is he dead? Is she dead?” (6). In the 
            case of old movies, the answer was often yes, but then inevitably she would see some actors in other contexts—a late-night talk show, for example. The confusion is 
            obvious: the third-grader cannot distinguish the character from the actor, what is represented as opposed to what represents it. The problem is compounded by the 
            fact that, according to one famous study, a child will witness 16,000 simulated murders on television by the time she is eighteen. Given the enormity of that 
            violence, how do you explain to a child what it means to be dead versus what it means to appear to be dead? How do you explain that the word <em>dead</em> attaches to a 
            body? How do you divorce (or distinguish) words from make-believe? 
        </p>
        <div class="dividing-line-container"><div class="dividing-line"></div></div>
    </div>
    <div class="article-sidebar">
        <div id="article-footnotes">
        </div>
    </div>
</div>