<div class="article-page-container">
    <div class="article-pages" id="page3">
        <p class="not-indented">
            At the same time, if a Paul Celan poem is a handshake, it’s a very peculiar handshake indeed, and although such comparisons may be odious, <em>Don’t Let Me Be Lonely</em> 
            may perform a similarly strange greeting. Celan famously said that he could not allow his German to be the language of his oppressors, and as a result the surface 
            tension of his language is extreme, even as he resisted characterizations of his work as hermetic. Rankine’s book is not hermetic, but it does resist its 
            oppressors. And it can be painful. A few years ago I had a student who asked to be excused from class discussions of the book. Normally I wouldn’t entertain such a 
            request, but coming from this bright student whose writing and thinking I respect, I asked her to give her reasons. She struggled with depression, she told me. 
            I insisted: the point of the book is, in part, that depression is a product of an unwillingness to discuss it. She said she knew her triggers well, and certain 
            conversations were off-limits. The hand may have been outstretched, but this student wasn’t ready to shake it. Knowing her reservations, I wasn’t about to force 
            her.  
        </p>
        <p class="indented">
            The incident was the peculiar echo of exchanges with students who have had difficulty with Celan and, more commonly, Gertrude Stein. Any text may be a response, 
            may invite and engage reciprocally with the world, but there is no guarantee that the world is ready or willing to respond to the text. If Celan is right and the 
            poem is no different than a handshake, then who is on the other side of it? Inasmuch as “the poem is that—Here. I am here,” the reader has the opportunity to hand 
            herself over to the writer and her text or to refuse to do so. That reciprocity, that exchange, that abandonment to the other is an ongoing challenge. There may be 
            no accounting for taste, but the ability to accept the world’s outstretched hand, however painfully it is offered, may be a matter in which our very being, rather 
            than our predilections, is at stake. 
        </p>
        <p class="indented">
            We wager our being in the gap between ourselves and the book, between the book and each other—in the interval that is the poem and which is also, in some sense, 
            the interval of prayer. In which case the student who, in the end, did not discuss <em>Don’t Let Me Be Lonely</em> may have had relatively little to lose by 
            engaging with the book; she had, comparatively, everything to gain. In failing to respond to the work, that is, she was perpetuating the very condition Rankine 
            critiques: namely, the unwillingness to engage with difficult subjects and the ready substitution of diversion for that difficulty. A couple of pages after alluding 
            to the racially-motivated 1998 murder of James Byrd, Jr.—and her justifiable anger that then Governor of Texas George W. Bush was incapable of remembering the 
            details of the murder, which happened during his tenure—Rankine writes, “I just find when the news come on I switch the channel” (23). “Don’t like the world you 
            live in,” she continues, “choose one closer to the world you live in.” And finally: “This is what is great about America—anyone can make these kinds of choices” 
            (24). But here “great” also smacks of the attributive, as in: “It’s a great American habit to make these kinds of choices.” Which is to say that such choices are 
            writ-large over American consciousness—tiny extensions of the title’s plea, <em>Don’t Let Me Be Lonely</em>. 
        </p>
        <p class="indented">
            No doubt it is difficult to be lonely, as difficult as it is to face the brutality of the news, but how much more difficult is it to deny one’s condition? Rankine 
            suggests that as painful as it is to read how, after being chained to and dragged from the back of a pickup truck, the trail of James Byrd’s “blood, body parts, 
            and personal effects stretched for 2 miles,” it may ultimately be more painful to suppress those details (135). They can only suppurate with time. And yet, the 
            message disseminated by the culture is very much that of the suicide hotline attendant who tells the caller, “Don’t believe what you are thinking and feeling” (7). 
            Such disbelief is intimately tied to the aggressive marketing and concomitant proliferation of anti-depressants (“Your life is waiting,” reads one ad [29]), and it 
            is ultimately tragic. It might even be the heart of the American tragedy, which includes, as one of its most visible symptoms, the events of 9/11. The attendant 
            for the suicide hotline (admirable as such organizations may be) sends an ambulance, as though that were the only way to participate in, and ameliorate, the 
            caller’s apparent distress. Like my student, he limited the options for engagement to a narrow comfort level—to the point where the conclusion would be unambiguous. 
            Whether the caller really intended to commit suicide or not is almost—<em>almost</em>—beside the point: her hand was outstretched, but on some level he refused 
            to shake it. 
        </p>
        <div class="dividing-line-container"><div class="dividing-line"></div></div>
        <p class="not-indented">
            To lay oneself open, in Levinas’s phrase, is a hopeful gesture. A prayer is a hopeful gesture. Rankine quotes Cornel West: hope is not the same as our American 
            brand of capital “O” Optimism. Philosophically speaking, the latter (first proposed by Leibniz in the 18th century) holds that the actual world is the best of 
            all possible worlds; applied to America, it amounts to the widespread “fantasy that we will survive no matter what,” as Rankine puts it—that “our” way of life 
            is the best possible (and so why not export it to other countries, too?) (25). It’s a worldview that posits the ultimate victory of good over evil (think of the 
            Bush era political rhetoric: “evildoers,” “axis of evil,” etc.), one that maintains a certain confidence about the success of any given venture (the banner that 
            read, prematurely, “Mission Accomplished”). Hope, on the other hand—and this is West’s point—is simply the desire that things will turn out, that life will get 
            better, success will come, good things happen. The difference lies in thinking that things either are or certainly will turn out for the best, versus wanting and 
            expecting this to happen, but with no real confidence either way. 
        </p>
        <p class="indented">
            As a group, West argues, African-Americans are “Too scarred by hope to hope”; and yet, what Rankine may be implying is that Americans as a whole are too scarred 
            by our perpetual optimism to hope (23). Our collective inability to believe that life is anything other than the best it can be—to acknowledge “the dark side” 
            of the American dream—may be part of the post-9/11 dilemma. Our optimism bars any consideration that things may not be so peachy after all, or that America may 
            play a large part in the endemic despair, poverty, and destitution that are so much a part of life on the globe. Hope, which simultaneously acknowledges things 
            could be better and desires they become so, may be a place to begin. “Maybe hope,” Rankine writes, “is the same as breath—part of what it means to be alive” (119).
        </p>
        <p class="indented">
            Albeit with the caveat: hope scars.
        </p>
        <div class="dividing-line-container"><div class="dividing-line"></div></div>
        <p class="not-indented">
            A handshake, too, is a hopeful gesture. A poem also hopes. I think of Annie Dillard here: “For what is significance? It is significance for people. No people, 
            no significance.”
        </p>
        <p class="indented">
            And: “We teach our children to look alive there, to join by words and activities the life of human culture on the planet’s crust.” 
        </p>
        <p class="indented">
            And: “All those things for which we have no words are lost.”
        </p>
        <p class="indented">
            In the end <em>Don’t Let Me Be Lonely</em> may not be, like the work of Edmond Jabès or Emmanuel Levinas, the product of an agnostic theology, but like both 
            Jabès and Levinas it is a work fixated on the ways we join by words “the life of human culture on the planet’s crust.” It is a book dedicated not to the life of 
            the spectator but to the life of the participant, the celebrant, and the witness. Hence, the epigraph from Aimé Césaire: “And most of all beware, even in 
            thought, of assuming the sterile attitude of the spectator, for life is not a spectacle, a sea of grief is not a proscenium, a man who wails is not a dancing 
            bear….” Beware, in part, because the spectator occupies a lonely position, one that alienates her from the proceedings by implying it’s possible to remain separate 
            from them. It’s not, and there is no redoubt remote enough to exempt us from participation in the world, or the words, around us.
        </p>
        <p class="indented">
            More to the point, writing is a resolutely social act, one that allays—if only tentatively or temporarily—the loneliness and grief that saturates our cultural 
            moment. (It is a curious paradox that the world’s increasing interconnection and sociability have done little to reverse this tendency—indeed they may have 
            aggravated it, but that’s another essay.) As such, writing is the ground of an encounter that cannot become codified lest it lose its power to affect us—an 
            encounter that invites embodiment, vigilance, and sensitivity to the subtle shifts in the contexts and conditions of exchange. Seen in this light, <em>Don’t 
            Let Me Be Lonely</em>, like Celan’s work, is a strange handshake for precisely this reason: it requires us to acknowledge its particularity, to witness the people 
            and events it describes as they are, not as we might wish them to be. Part public oration, part secular prayer, the book may ultimately be a kind of practice for 
            living.
        </p>
        <p class="with-spacing">&nbsp;</p><br />
        <div id="article-workscited">
            <span class="workscited-title">Works Cited</span>
            <p>
                <a name="wc1"></a>Carson, Anne. <em>Eros the Bittersweet</em>. Princeton, NJ: Princeton UP, 1986. Print.
            </p>
            <p>
                <a name="wc2"></a>Dillard, Annie. “Total Eclipse.” <em>Teaching a Stone to Talk</em>. New York: Harper & Row, 1982. Print 
            </p>
            <p>
                <a name="wc3"></a>Johnson, W.R. <em>The Idea of Lyric: Lyric Modes in Ancient and Modern Poetry</em>. Berkeley: University of California Press, 1982. Print.
            </p>
            <p>
                <a name="wc4"></a>McDaniel, Ray. “Bluets.” <em>The Constant Critic</em>. Fence Books. 5 Apr 2010. Web.
            </p>
        </div>
    </div>
	<div class="article-sidebar">
        <div id="article-footnotes">
        </div>
    </div>
</div>