<div class="article-page-container">
    <div class="article-pages" id="page1">
        <p class="not-indented"><em>Crossing the Sheepscot</em></p>
        <p class="not-indented with-spacing">
            I steer out of an inlet, mostly pine, towing these very hours in which my son the Campione del mondo sleeps and dinner will have to wait:  my own bodily memory of 
            pulling soon laid down ahead of one paddle, digging into water, fulcrumed at the sternum, its twin digging into air, milling into an afterlife I can see—a minutia of 
            surges cut into wind-rips, from the sternum one arm is for water, one for air, winding myself a strand to the cord, my dragging laid down before me into worse rips, 
            before a far wood-line should split in three and Hell’s Mouth open all the world, alone, for me.
        </p>
        <p class="center with-spacing"><em>Poetry and the seven billionth person</em></p>
        <p class="not-indented with-spacing">
            I tow these very hours in which Danica May Camacho sleeps.  Though, I think of little else but the strokes themselves, eye and ear forward, attentive to the immediate 
            current and to the distant shoreline, <i>every oar a thought in readiness</i>, for my boat will tolerate little agitation: looking back or overleaning to either side.  I 
            compel it to the right or to the left, or I can let it drift as I did that day on the Sheepscot, following the tide’s swell inland to reach Hockomock Bay in time to 
            follow the tide out again.  I can move upstream to “widen” a mouth and see more deeply into estuary.  But the parallax error will open other mouths, islands slide 
            open as a doors.
        </p>
        <p class="not-indented with-spacing">
            I enter towing these very hours in which Danica May sleeps.  She is nowhere visible or calling for me, far away as she is in Manila and not my daughter.  The thought 
            of her is close behind me, as I cross these waters.  It means I desire the world ahead also partly for her.  I approach a shoreline that opens many mouths, weighing 
            one entrance against another.
        </p>
        <p class="not-indented with-spacing">
            I tow the hours in which she is colicky, she sleeps through the night, she sits up, she won’t eat, she eats, she is weaned, she speaks, though we are uncertain which 
            word comes first:  is it Mamma, is it Pretty, she is bringing a piece of bark to her mouth, she’s thinking about putting a guitar pick in her mouth, she is toddling 
            toward a glass, toward an open door and I pull—.  I tow the door, I tow the stairs that fall from it, I tow her mother who snatches her up in time, or does not.
        </p>
        <p class="not-indented with-spacing">
            If I am an American poet, it is a singed and regenerous country that follows me.  I choose a mouth to enter, a poem, leaning always after <i>beauty</i>, desiring also on 
            Danica May’s behalf—that she see it.  In any one poem, to choose the mouth.  The islands slide open and closed, mouths open and close.  The miracle is that the gap, 
            narrow as an image contained in a few lines, sometimes narrow as a word, might allow this flotsam.  It permits us voyage.  I think of Whitman’s Brooklyn Ferry passing 
            through “Scilla et Caribdi.”  I think of a “system to pointing” in Stein, or the “road to the contagious hospital” in Williams.  I think of “No stroke wide from your 
            side.”  I think “and and and.”  Think “pried / open, “lonely offices, “I tried each thing…”    Think “the flesh / opens endlessly.”  I think of “ferns” in a recent 
            poem of Carl Phillips.   Our art, as always—narrowing inlets, immenser bays.
        </p>
    </div>
    <div class="article-sidebar">
        <div id="article-footnotes">
        </div>
    </div>
</div>