@{
    ViewBag.Title = "Pilot Light Journal - 404 Page Not Found";
}

<br /><br />
<h2>404: Page Not Found</h2>
<br />
<p>
    Sorry, but the page you are looking for cannot be found. Try going back to our homepage, @Html.ActionLink("Pilot Light", "Index", new { area = "", controller = "Home" }), 
    and navigating from there. 
</p>
@section Scripts{}
