<div class="image-container">
    <img class="image" alt="" src="@Url.Content("~/Content/Industrial_Texture.jpg")" width="475" />
    <span class="image-credit">Photo by: Wolfram Schubert</span>
</div>