<div class="article-page-container">
    <div class="article-pages" id="page1">
        <pre class="preformatted-font">
                        “An architect is not forgetful. At the base of his / her practice persists a memory 
                        that tells about a future…previously unconceived.…“
								                                        —Claudia Westermann
        </pre>
        <h3 class="not-indented">
            The Tyranny of Elegy
        </h3>
        <p class="not-indented with-spacing">
            It’s not possible to speak of Jake Adam York’s poetry in terms of books—if we mean by “book” something membraned, discrete. Because each of Jake’s book-spines was the steeple of a town, or a neighborhood, or block, was an architecture of a much larger <em>polis</em>.
        </p>
        <p class="not-indented with-spacing">
            At first, his project was—and he is best known for creating—a memorial, vis-à-vis a series of elegies. He had written his PhD thesis, published as <em>The Architecture of Address</em>, on poetry that engaged the ethical, that engaged public thought. He had visited the Civil Rights Memorial designed by Maya Lin in Montgomery, Alabama, a round granite table inscribed with the names of those killed in the struggle for equal civil rights. Nearby is the biblical quote made famous by Martin Luther King’s paraphrase, about 
        </p>
        <p class="not-indented with-spacing">
            <em>justice, rolling down like water</em>
        </p>
        <p class="not-indented with-spacing">
            In the version I heard, Jake was in some ways visited on that day by a sense of what was missing—people, feelings, lies: the “absence[s] / which everyone ignore… as they pass” (“Elegy”).
        </p>
        <p class="not-indented with-spacing">
            In some ways his entire project appeared to him then, in an initial form: not of a book but of a series of books, heroic in both aim and form; not in honor of an individual person, or even a group of persons, but of a whole <em>polis</em>—the real Us, actually—which exists but is ignored. 
        </p>
        <p class="not-indented with-spacing">
            An architect is not forgetful. A poet is not a place. A moment is not a building. A poem is not a truth. A man is not an apple. A woman is not a monument. A building is not a lie. A poem is not a woman. An architect is not a moment. A memory is not a monument. A lie is not a poem. A monument is not forgetful. A truth is not a memory. A polis is not a monument. A people is not a place. A place is not forgetful.
        </p>
        <p class="not-indented with-spacing">
            In <em>Persons Unknown</em> Jake explores his own ferry—the elegiac—noting that “the Greeks / always cut something from their lines / …to create a silence / or a place to hear it.” Prosodically, that meant, for him, often “slipping in an <em>iamb</em>, which means <em>limping</em>, / or <em>lame</em>, like the gait of a wounded man.” Jake’s work is filled not only with images of the dead, and the violence that killed them, but of these spaces in which we can “hear” the “silences” of their lives gone. Each poem is like a room in the superstructure, the city he was building for us to gather within.
        </p>
        <p class="not-indented with-spacing">
            But as he went on, writing poem after poem in honor of those who had been lost, he discovered that his works were becoming hostages. The series of elegies, meant to open up that forgotten world, in some ways only further confined it. This was partly due to the trajectory of all grief: after the heart-loosening catharsis, after the sorting and re-ordering, reality beginning to enfold absence, when we realize that loss has merely moved us from one enclosure to another. That all elegy may become—once given over to the very real forces of the world—a tyranny of elegy.
        </p>
    </div>
</div>
