<div class="article-page-container top-margin-5em">
    <div class="article-pages" id="page3">
        <h3 class="not-indented">
            Citizens of a Moment
        </h3>
        <pre class="preformatted-font with-spacing">
                        “Moment:”  fr L, “momentum,” motion, cause of motion, 
                          equivalent to <em>mo</em>- (<em>movere</em>, to move)
        </pre>
        <p class="not-indented with-spacing">
            Jake was asked increasingly often, by white people, “how long” he was going to take this building project. He started to say that it would go on for as long as 
            it needed to—maybe his whole life. That was also because, at least in what he related to me, it would, when done, be at least ten books long. 
            “[A]nd so the elegy…” he says, “reaches for what’s missing…/ while everyone is looking at something else.”
        </p>
        <p class="not-indented with-spacing">
            Memorial can be a landscape, painted-on. As Jake says, in the afterword (“Foreword to a Subsequent Reading”) of his next book, <em>Abide</em>: 
            “If memory lives only there, it isn’t memory anymore.” <em>Abide</em> is filled with references to letters, loops, and musical sustain, the lines 
            that connect with people, living and dead, who are important to him. The poems are joyful affirmations of the shared places—on the back of musical notes, 
            inside the arc of drawings, or in drinks and meals shared—that can never be un-free. 
        </p>
        <p class="not-indented with-spacing">
            From a talk he gave in the spring of 2012:
        </p>
        <p class="not-indented with-spacing">
            <em>If race is whatever is non-white, then, at least for the white reader and perhaps for the white writer, race is a thing, to be located by…—something seen, perhaps heard—that is apart from the self…</em>
        </p>
        <p class="not-indented with-spacing">
            <em>Race is not a thing. It is a process.</em>
        </p>
        <p class="not-indented with-spacing">
            There is a scene in <em>12 Years a Slave</em>, when Northup is freed: leaving the plantation his face is shot in close-up; behind him, the camera’s gaze soft. Unfocused as the past, or future. His eye tears, partly from wind, partly from the almost unbearable pressure one feels if ever fully inside any moment, any ending/beginning, what moments are. Another: the scene of his reunion with family; this one has closeness, distance, closeness. Touch. As if with attention, attending, we could ever know what Past/Present lies within another. "Moment," from L. mover, "to move." Where else could it start?
        </p>
        <p class="not-indented with-spacing">
            Responding to dominance and enclosure Jake designed a poetics, an architecture, of arm’s length, of usable space. And so the unfolding series of elegies became the series of book spines known as <em>Inscriptions for Air</em>. Steeples and city. City and citizen. Mournful city. Heavenly city. 
        </p>
        <p class="not-indented with-spacing">
            <em>Let’s replace race with relation. Propose a relation, live relatively.</em>
        </p>
        <p class="not-indented with-spacing">
            City beyond <em>cordon sanitaire</em>, polis beyond the policing of <em>time</em>—that great double agent, collaborator with Master and Mistress Narratives. Here, outside this policing, each of us, from <em>Abide</em> again, “citizens of a moment”:
        </p>
        <p class="not-indented with-spacing">
            <em>Let’s get closer, get within.</em>
        </p>
        <p class="with-spacing">&nbsp;</p><br />
        <div id="article-workscited">
            <span class="workscited-title">Works Cited</span>
            <p>
                <a name="wc1"></a>Westermann, Claudia. “Incomplete Glossary of an Architectural Poetics.” <em>Inhabitable Theories.</em>. 5/31/11. Web. 10/29/13.
            </p>
            <p>
                <a name="wc2"></a>York, Jake Adam. “Foreword to a Subsequent Reading.” <em>Abide</em>. Carbondale: Southern Illinois University Press, 2014.
            </p>
            <p>
                <a name="wc3"></a>York, Jake Adam. “Blueshifting: Moving the Conversation About Race & Other Improvisations on Identity.” Talk given at Goucher College 3/23/12.
            </p>
            <p>
                <a name="wc4"></a>York, Jake Adam. “Elegy.”<em>Persons Unknown</em>. Carbondale: Southern Illinois University Press, 2010.
            </p>
        </div>
    </div>
</div>
