<div class="article-page-container top-margin-5em">
    <div class="article-pages" id="page2">
        <h3 class="not-indented">
            How Long, That Long
        </h3>
        <p class="not-indented with-spacing">
            Jake’s poetics was not just elegizing the dead, it was messing with a <em>cordon sanitaire</em>, erected by white power, to ensure that any monument, any memorial built, would be made into yet another form of concealment.
        </p>
        <p class="not-indented with-spacing">
            As a white person, a white man, his elegizing, like monuments that are built in lieu of real community reckoning, could act as more “forgetting,” more order, and constraint.
        </p>
        <pre class="preformatted-font with-spacing">
We Mourn Our Loss
                                                    We Regret
                                                                                        We Remember
            We Support
Never Forget

                            How to Apply
                                                                                        Our Artists

                                                                    Our Producers

                            Where’s Your Stuff

                                                    What to Do If

What to Do When
                                                                                        Table of Contents
                                                    Other Books in the Series
            Who We Are
        </pre>
        <p class="not-indented with-spacing">
            As a human, in America, which is to say a raced being, someone given a script, a role, and a director yelling, “Cut!”—no matter how he was raced, his elegies, meant to honor, would be folded in. Because that is the dramaturgy of power that is race.
        </p>
        <p class="not-indented with-spacing">
            How long, not long. Too long, not strong. Not strong enough, too long. How strong, not long. Too strong, how long. Long enough, how strong. Not soon enough, not strong. The struggle. The tug of war. The rug, swept under it.
        </p>
    </div>
</div>
