<div class="article-page-container">
    <div class="article-pages" id="page1">
        <p class="not-indented">
            For almost eight years now, I’ve lived with a false memory of the first poem I ever heard Jake Adam York read. The me of eight years ago sat on the floor of my high school English classroom, listening to a poem about a photograph, watching black men turn into white men, watching white men turn into black men in my mind as Jake read couplet after couplet about townspeople gathered to witness their version of the justice system. A photographic negative will do this, will invert an image, will invite the viewer, so carefully grasping only the very edges of undeveloped film, to see an invented world, a world with witness and victim not only reversed but replaced.
        </p>
        <p class="not-indented with-spacing">
            We talked about language that day and about structure, how a poet can engage the formal qualities of a poem in pursuit of explication, representation, illumination. The image and the structure remained with me, though I forgot the poem’s title. It was only when I was writing a eulogy for Jake that I returned to his first book, <em>Murder Ballads</em>, to find that poem, its name. “Negatives.” The poem about John Lee, burned alive, a crowd of w[h]it[e]nesses. Couplets.
        </p>
        <pre class="preformatted-font with-spacing">
            But let us imagine
            just afterward, the camera slung

            on the taker’s shoulder, 
            and at its heart a thousand blacks

            staring into this cloud of light,
            for a moment neither 

            gathering toward nor
            descending from heaven,

            but waiting in their adoration
            and blessing each with its glow—

            a vision of these thousand whites
            turned dark for an hour

            and praying, terrified, to this pillar
            for the rectifying light

            and then imagine,
            their prayer, the paper

            slowly darkening in the light
            until they are restored, white from dark. (<em>Murder Ballads</em> 60)
        </pre>
        <p class="not-indented with-spacing">
            But this isn’t the image I remember. I remember two men in the center of the photograph. I remember rope, not smoke. But I remember Jake reading from his book, straight from its pages.
        </p>
    </div>
</div>
