<div class="article-page-container">
    <div class="article-pages" id="page2">
        <p class="not-indented with-spacing">
            When I was asked to write this, I knew there were things I would not have the ability, the capacity, to discuss. The craft of poetry. The Civil Rights Movement. The South. If I were to even address the details of the photographic process to which this poem refers, I would need to ask Jake about that process. I would need to ask for a refresher course on how film is developed, how chemicals and paper and light become something. 
        </p>
        <p class="not-indented with-spacing">
            When I was asked to write this, I went in search of the right poem. I found it, but not where he’d left it in my memory. “Double Negative.” The image that has been seared into my brain all these years: Jesse Slayton and Will Miles hanging from the branches of a tree. Another photograph. Another evocation of the photographic process, of the ways in which chemicals and paper and light not only become something but destroy something. Destroy the version of the world that allows nothing but leaves to hang from trees.
        </p>
        <p class="not-indented with-spacing">
            “Double Negative” was published on the Connotation Press website in October of 2009. It doesn’t appear in <em>Murder Ballads</em>. It doesn’t appear in any of Jake’s published books. It appears on its own, online, in an archive, and it appears as a poem called “Negative” in my memory. My reality insists on a version of these two poems as one poem published in Jake’s first book and read to my class in 2005. When I was asked to write this, when I discovered that my imagined reality was only that, imagined, I looked inside Jake’s work itself to ameliorate the sense that I’d done violence to these poems by imagining an impossibility.
        </p>
    </div>
</div>
