<div class="article-page-container">
    <div class="article-pages" id="page1">
        <p class="not-indented">
            In the spring of 2014, Southern Illinois University Press will release <em>Abide</em>, the fourth collection of poems by Jake Adam York, which he completed just before his death. Though <em>Abide</em> certainly extends Jake’s project of elegizing the martyrs of the Civil Rights Movement, what I admired most when I first read it in manuscript form were the ways he had broadened his scope as a poet. There are a plethora of poems in the book that deal with his love of music (Sun Ra, Howlin’ Wolf, Thelonius Monk, and others make appearances). Other poems are in dialogue with poets and artists such as Yusef Komunyakaa, Cy Twombly, Kerry James Marshall, and Terrance Hayes. There are several more personal poems that deal with family, love, and growing up in the South. One such poem is “Exploded View.” Here is the poem in full:
        </p>       
        <pre class="preformatted-font preformatted-spacing">
            Exploded View

            While he slept, I read my father’s books
            brought home from the furnace,
            traced the diagrams—channels, ladles of iron,

            oxygen lances—trying to follow
            the metal’s path, to follow the work
            that took him each night into the dark—

            flame to the coal’s dark, the dark
            gone bright while the rest of us slept.
            The door closed like a storybook….

            While he worked, the furnace flamed
            in dream, and I tried to follow
            through the swarm of yellowjackets,

            hot wings of iron, but they were just
            outlines in my dream, dream,
            not iron, not fire in the dark—just spray

            from one rare story I tried to follow.
            I tried to follow, but even he
            didn’t want to go, not even

            in story, the blanks in the books’
            diagrams all ash, all flame. All silence,
            they seemed to say. But silence

            is a furnace, too, where work
            disappears, where breath is turned
            to iron. And night is a furnace, too,

            where sleep, where dark are burned away
            like words until the books are blank
            and there’s nothing left to follow.

            I tried, listening as he eased the stairs,
            clicked the door, then drove away,
            his engine lost in the trains’ low drone,

            strained to hear him turning,
            ten miles away, pages in the book of iron,
            the story he told by not telling,

            the dark in which the furnace always rests.
            So, the furnace is a father, too,
            whose story you cannot follow,

            a shadow sitting loud in the dark,
            while the quiet hardens in his lungs.

            And the father is a story, too,
            you cannot follow,
            a book fed slowly to the fire,

            a fire, worked, at last,
            to two black tongues of iron.
        </pre>
        <p class="not-indented with-spacing">
            “Exploded View” explores absence and silence in the relationship of a father and a son, who are separated by knowledge, circumstance, age, and language (or lack thereof). While the boy sleeps, the father works nights at a steel mill. The boy hears him leave, “the door closed like a storybook,” the image suggesting how the child’s view of the father is charged with myth. While the father sleeps, the boy reads the father’s books, technical manuals on the process of smelting iron. He tries to follow the diagrams that might explain what the father does, and in doing so, close the literal, physical separation between them by figuratively following him to work. But the knowledge hovers beyond him—he can’t follow it—and “the blanks in the books’ diagrams” turn to “ash,” to “silence.” The father cannot help: he himself “didn’t want to go” to work, not even in stories, which he might tell to the boy to explain what it is he does.
        </p>
        <p class="not-indented with-spacing">
            The poem’s transformation of different types of voids—silence, absence, and separation—from negative states into spaces of potentiality fascinates me. In the metaphorical language of the poem, the furnace, an open vessel that cradles the fire necessary for smelting iron, and the exploded view diagrams, which use blank spaces between the different parts of machinery to illustrate how something works or is assembled, represent these voids. Those blank spaces, the poem tells us, seem to say silence, but “silence // is a furnace, too where work / disappears.” The father’s story is “told by not telling.” Thus silence, absence, and separation, the poem argues, are needed, are necessary states that thought and feeling inhabit. They are sites of transformation where a kind of work takes place even as it seems to disappear, where communication occurs even when we don’t speak.
        </p>
        <p class="not-indented with-spacing">
            This approach to silence is a departure from much of Jake’s previous work, which often confronts the historical silence left in the wake of Jim Crow era racial violence. That silence—created by time, forgetting (or the lack of remembering), shame, and hate—is a burden, an obstacle, something to be confronted and challenged. To overcome such historical silence not only gives voice to the voiceless, but also, at times, exposes the oppressor. Jake has discussed in interviews how this confrontation with historical silence often begins not with private language, but from the syntax and quotations of documents, interviews, and newspaper stories. Here, however, in the intimate familial space of “Exploded View,” the language and archetypes are private, not public. Likewise, the poem paradoxically embraces the silence between father and son, even as it breaks it.
        </p>
        <p class="not-indented with-spacing">
            The lyric intensity of “Exploded View,” however, is signature Jake Adam York. The poem crackles and swirls with a mesmerizing, hypnotic repetition of images, ideas, and memories. Indeed, my first thought when trying to describe the repetitive movement of the poem is of fire—all the bobbing, overlapping flame-licks, all the transformations and changing colors, the building of heat, an intertwining of energy that cannot be untangled or predicted. The poem, then, like silence and like the father, is a furnace, too. However, the idea of the poem as an exploded view, as the title suggests, is tinged with irony. The relationship between the father and the boy cannot be followed or fully explained. It cannot be reduced to its parts and separated out as in such diagrams. The process remains a mystery, and yet the final product, the poem’s final image—“two black tongues of iron”—is knowable, tangible. A pair of tongues, one for the father and one for the son, forged in a single fire. These tongues may not be lithe and moved easily to speech, but they’re built to last. They speak without speaking of a durable love, one that will withstand and overcome the ravages of time.
        </p>
    </div>
</div>
