<div class="article-page-container">
    <div class="article-pages" id="page1">
        <p class="indented">
            There’s a figure in Buddhism called Avalokiteshvara, known for his power to listen. His listening is compassionate and deep; he hears silence. I like to imagine such a being. He follows us through waywardness, bears witness to the worst of us. Witness, to this end, is with-ness. This Avalokiteshvara has a remarkable gift; where the priest instructs and the psychotherapist takes note, analyzes, evaluates from an easy chair on the left side of the brain, I see him rather as a figure who <em>engages listeningly</em>. His kind of listening begins not in the brain, but in the heart.
        </p>
        <p class="indented">
            I have been thinking about Avalokiteshvara as I revisit the poetry of my friend, Jake Adam York.   It is nearly a year since Jake’s death at the age of 40. As I page through my favorite poems, scores of them—numerous for a poet who had not reached the height of his game—I begin to revise some of my older ideas about Jake’s writing: that he was a singer; a <em>scop</em>; a historian of the mead hall. It could also be said that Jake was a great listener. 
        </p>
        <p class="indented">
            What is the yoga of this listening? To put it in Western terms, the painful element of Tragedy is that the audience, and to some extent the chorus, must watch as the protagonist makes bad choices, bringing others down as he or she falls. But this compassionate distance is the very source of tension that inspires our catharsis—the release of pity and fear. Unable to stop these unfolding events, we must watch as the Prince’s mad plans bring sorrow to those around him.  There comes along an antagonist, and we can blame that figure, to some extent, for causing all this trouble. But mostly the antagonist is that one who acts as a vehicle for what is already there—a sense of something rotten in the kingdom.  We can blame the antagonist, but it is the place and its ways that have brought this about. It was a long time coming. 
        </p>
        <p class="indented">
            Jake and I were four years apart—a distance, now, that lengthens daily—and so I suppose you could say we were contemporaries. I met him a little over ten years ago when I was teaching in Pueblo, Colorado, and he at the University of Colorado-Denver. With a klatch of other poets we formed a writing group that continued to meet over a period of three years. In that time Jake’s first book and my second were published. I left Colorado just before his unforgettable collection A <em>Murmuration of Starlings</em> was published by Southern Illinois University Press. On a flight somewhere crossing the Rockies, I read through the early manuscript, discovering for the first time “Substantiation,” the masterwork at the center of his life’s work. I read it again the next day. I have been reading it ever since. When the full-length collection was published, it won the 2008 Colorado Book Award, putting Jake’s poetry on the map. 
        </p>
        <p class="indented">
            Unsurprisingly, <em>Murmuration</em> has become a classic since its publication five years ago, and “Substantiation” still stands as its “To be or not to be,” utterly recognizable as the voice of Jake Adam York. In the poem an objective—you could say unflinching—narrator recounts for the conflicting testimonies at the trial of Emmett Till, a fourteen-year-old African American who was beaten, shot and thrown into the Tallahatchie River by white men in August, 1955. Mississippi, grown as rotten as Shakespeare’s Denmark, is the kingdom in question.  Jake, white, born in the South nearly twenty years after Till’s death, reports from this moderate distance. We are his audience in the amphitheater. We are impelled, by the beauty of his art, to listen. Or, better, we are made the silent jury. The poet merely puts it all down:
        </p>
        <pre class="preformatted-font preformatted-spacing extra-line-height">
            In the nervous ward, Reed remembers Milam with the gun
            asking did he hear anything. Reed remembers saying no,
            he didn’t hear anything, anything. Remembers not hearing
            the beating and the crying in the shed behind Milam’s.
            Remembers not thinking, they beatin’ someone up there.
            Remembers not passing the shed, not hearing the beating.
            Remembers not remembering Milam not coming out,
            not asking if he’d heard. Remembers not
            not remembering on the stand, not not whispering
            the court reporter not not recording his not
            not remembered memory. Not not getting on the train.
            Not hearing anything, anything. Such quiet now. (@Html.ActionLink("13", "Work", "Issue", null, null, "wc1", new { page = 1 }, new { @class = "workscited-links" }))
        </pre>
        <p class="indented">
            The poem’s title, “Substantiation,” suggests a question about what is real, what can be substantiated, what is of substance. In the passage above, “substantiation” refers also to a truth perceived by what is <em>not</em> said. Reed’s double negatives revert back into positives. The poet, our court stenographer, records the facts via not-facts. What are we hearing?  Reed and Milam are liars, and the world is full of Agons; but deeper than that, we apprehend that they are the inevitable blooms of a certain wretched garden. This is a world that does not listen, does not hear anything—or denies what it hears. 
        </p>
        <p class="indented">
	        The release of our compassion depends on our ability to witness open-mindedly the fall of someone or something that could have been great. Jake loved the South. He grappled with all of its territories. When Till was set in his coffin, his mother famously allowed reporters to photograph the corpse, beaten beyond recognition. It was an act of sacrifice, an agony, committed for the sake of sight. Jake’s poetry seems to evoke that gesture elsewhere (in this case, an act of hearing) when he writes, “All that is empty is space / like a broken mouth. / A sleep curls there / till the righteous sounds emerge” (@Html.ActionLink("75", "Work", "Issue", null, null, "wc1", new { page = 1 }, new { @class = "workscited-links" })).
        </p>
        <p class="with-spacing">&nbsp;</p><br />
        <div id="article-workscited">
            <span class="workscited-title">Works Cited</span>
            <p>
                <a name="wc1"></a>York, Jake Adam. <em>A Murmuration of Starlings</em>. Carbondale: Southern Illinois University Press, 2008.
            </p>
        </div>
    </div>
</div>
