<div class="article-page-container">
    <div class="article-pages" id="page1">
        <p class="not-indented">
            Though we didn’t know Jake Adam York personally, last December, the sudden and unexpected loss of him <em>felt</em> personal: he was a poet we trusted as one trusts a dear friend. Winter, already stunned and mostly silent, was made even more stunned and silent for us, for many others. What could we say about this man, this poet? When we tried, the words were usually his. To each other we repeated the title of his essay “<a href="http://www.pilotlightjournal.org/2/6/1">An Unfinished Sentence</a>,” which he wrote for <em>Pilot Light</em> in 2011, when we were a very young publication. The title was a way to name our grief. And the gesture of the essay—the chance he took on us—came to stand, in our minds, for his generosity and his grace. The essay is as York was: brilliant, simultaneously unflinching and tender, unrelenting and hopeful.
        </p>       
        <p class="not-indented with-spacing">
            York believed in American poetry—not as an establishment, but as the living record we make of ourselves. In the poems, letters, essays, and explications collected here you’ll find many different versions of the man—Avalokiteshvara, editor, barbeque and bourbon aficionado, trusty reader, photographer, book-binder, teacher, witness—but always the same scholar and poet who made a life of honoring the lives of others, who waded deep into the complicated story of our country with vision, compassion, and conviction. We are all less without him, but better for his having been. 
        </p>
        <p class="not-indented with-spacing">
            Returning to York’s work doesn’t return him to us, but it might teach us what to do with this new silence and the absence his death has opened up. We might, as York says in “An Unfinished Sentence,” learn “to write ourselves into a kind of new world, while all the while being tethered to the world that’s passing.” Jake Adam York did this. In <em>Murder Ballads</em>. In <em>Murmuration of Starlings</em>. In <em>Persons Unknown</em>. In <em>The Architecture of Address</em>. And, thanks to Southern Illinois University Press, in <em>Abide</em>, which is forthcoming in 2014. These works establish York as one of the vital American poets of his generation.
        </p>
        <p class="not-indented with-spacing">
            All our thanks to the many writers who have contributed to this issue and to those who’ve talked us through this project. Several of the pieces published here were first part of the tribute to York at AWP in Boston in 2013, and we thank those authors for making their work available to our audience. Many thanks, too, to the good people at <a href="http://www.siupress.com">Southern Illinois University Press</a>, especially Jon Tribble and Angela Moore-Swafford, for their support of this project and the permission to publish so many excerpts from York’s work, including entire poems from the forthcoming <em>Abide</em>. Sarah Skeen graciously provided the Lomographic photographs—taken by York—for this issue. We thank her for her support and for the company of those images.
        </p>
        <p class="not-indented with-spacing">
            In gratitude,
            <br /><br />
            Natalie Giarratano & Beth Marzoni<br />
            Editors
        </p>
    </div>
</div>
