<div class="article-page-container">
    <div class="article-pages" id="page1">
        <pre class="preformatted-font">
Each night we drift

Heat-shimmer the wind
could blow away

Half nightmare, half dream

Put us back in a sentence
or a story of the world

The heat of history
our voices draw us into

There’s a silence here
I want to scratch away

Silence ready to break
into small birds of sound

Starlings gather in branches
when we cannot sleep

When we cannot sleep
starlings descend from the dark

Dark beats until the room
is night and sheen

The flickers offer only
a syllable

Our mouths are full
of birds

The cradle of song 
either empty or aflame

Neither history nor a promise
of rain
            
A song like breaking glass

Somewhere there is a name
for this

Someone could write it down

Whatever finally falls,
falls quietly

All the innumerable wings

Wings arranged 
like the hands of the dead

Later the song will break

Creel of starlight and moon,
pearl, beak, pebble, bone

A room of song behind us,
echo that will fill the night
        </pre>
        <br />
        <div id="article-workscited">
            Note: “Each Night We Drift” is a cento based on lines from Jake Adam York’s poetry
        </div>
    </div>
</div>