<div class="article-page-container">
    <div class="article-pages" id="page1">
        <p class="not-indented">
           The first time I read a collection of Jake Adam York’s poetry it was still in manuscript and titled “Interference.” This collection would go on to become Jake’s first book, <em>Murder Ballads</em> (2005, Elixir Press). I had an opportunity to sit down with Jake in 2004 before he changed the title, and he explained to me that he was referencing the investigative technique interferometry, a way of combining waves meant to reveal some meaningful property of the originals from the resulting patterns. We also talked about how important music was to Jake in exploring the possibilities of history in his poems and the public and personal stories in his work. At the time the challenge of Jake’s work—from the writer’s point of view—was the challenge of realizing the past <em>and</em> the present simultaneously. Even then Jake’s poems understood that our position changes our understanding of an event, and that a shift in perspective complicates as much as it repents. The poems in <em>Murder Ballads</em> drew on connections to Southern folk and gospel traditions, which anchored Jake’s work to the past <em>and</em> allowed the poems to renew the power of an old idea through the frequency of the present’s lens. 
        </p>
        <p class="not-indented with-spacing">
            In December 2012, when I sat down with Jake’s final completed collection of poems, <em>Abide</em> (forthcoming, 2014, Southern Illinois University Press), I couldn’t help but recall that earlier conversation when I read the poem “Letter to Be Wrapped Around a 12-Inch Disc.” Jake had moved beyond the anchor of earlier musical traditions to “Planet Rock” by Afrika Bambaaata & the Soulsonic Force, “a rocket taking off, / not landing,” the hip hop music transforming a white Alabama adolescent’s understanding of himself, allowing him “to wake up and discover / what I’d always known, myself / an alien with this second sight, // the world a book / of such vibration I could see / what I needed.” This frequency reveals the essential properties of the boy in the poem, the place, the time, and this poetic interferometry expands our understanding of the power of music to change the way we see the world around us, the power of new songs to reinvent our universe.
        </p>
        <p class="not-indented with-spacing">
            Early in the poem, we do hear the echo of those ballads and religious songs in some of the liturgical phrasing—“this music, whosoever it was,” “a strange music at last / at hand”—but this nod to the past is not where the poem seeks salvation. No, the past and present arrive only at Reagan-era START (Strategic Arms Reduction Treaty) imagery of the shells flashing “on the army range a few hills distant // which we knew would be / among the first to go if / the Russians struck, // everything we knew turned first / to light and then to ash….” The new music Bambaata brings instead leads to 
        </p>       
        <pre class="preformatted-font preformatted-spacing">
  		    …doors opening between the stars,
                			        of someone reaching
		    down, George Clinton or Jesus
        			        Christ, someone reaching up,
		
		    Sun Ra’s Rocket #9 taking off
                			        for Venus,
		
		    anywhere but this before
        			        the radiation, mutation
		    came down.          
        </pre>
        <p class="not-indented with-spacing">
            Trading the bleak vision of destruction for the possibility of escape, of flight, makes “four dollars of polyrhythm, / of syncopation” one of the best bargains ever.
        </p>
        <p class="not-indented with-spacing">
            The poem calls these new sounds “liberation music,” and the transformation of the boy learning “to begin to hear / myself over the drawl of home” into someone ready to “step to the mall-fountain / rap battles…” where he is taught “to fold a sentence / to a hawk, a panther, / a rattlesnake, a rocket, / an origami star.” That he becomes more than just one of the “Southside hicks against / boys from Litchfield / and Tuscaloosa Ave” is a liberation of mind and self, a way of moving past limits, “the lines the county drew around us.” But there was so much more to be liberated from: “the history // we were told we shouldn’t / name, stir up, remember, / so much silence // we needed to break.” And even with the too-familiar clarion of the old against the young to “turn that noise down,” the connection itself made in these new songs, this fresh call and response and call again cannot be unmade, and the rhymers “slid the discs off our fingers / until even the ridges of our prints / felt musical.”
        </p>
        <p class="not-indented with-spacing">
            There is a new making here, an act of creation that connects the makers attempting to sample and reshape the past into a new beat, a sound familiar and alien at once that binds a country to itself in new ways: “Birmingham / drifts with Philly, New York / with New Orleans.” And the respect and communion created through the efforts may be transitory, but for a time they are real: “Dap is the vibe passing / hand to hand, hand to pen, / pen rolling like the needle // over the dark // then pulling back to spin / free again so // fingerprints give up / their songs.” The songs are as unique and alive for the moment as the voices and hands bringing them forth:
        </p>
        <pre class="preformatted-font preformatted-spacing">
				        Take this then
		    and spin it, pulling history
			        back against itself until

		    you find the star-calling riff
				        and everything falls

		    and elsewhere gives way
			        to where and we don’t have to
		    look away again.
        </pre>
        <p class="not-indented with-spacing">
            Jake Adam York’s poems ask us to believe in resisting the comfort of looking away, to remember the past not because we can change it but because it changes us. And though the music of “Letter to Be Wrapped Around a 12-Inch Disc” is now also a music of the past just like the music that inspired <em>Murder Ballads</em>, the poem’s exploration of the moment when new is <em>new</em> and the sounds around us possess the power to transform an individual, a place, a time is a moment of possibility to embrace even when we “have to peel the tape / to open the disc / of night to set it reeling, // in its grooves the plosive novas / of dust, the afterwards of skin.”            
        </p>
        <p class="not-indented with-spacing">
            The entire text of the poem is here: <br /><br /><a href="http://therumpus.net/2012/04/national-poetry-month-day-25-letter-to-be-wrapped-around-a-12-inch-disc-by-jake-adam-york/">http://therumpus.net/2012/04/national-poetry-month-day-25-letter-to-be-wrapped-around-a-12-inch-disc-by-jake-adam-york/</a>
        </p>
    </div>
</div>
