<div class="article-page-container top-margin-10em">
    <div class="article-pages" id="page16">
        <pre class="preformatted-font with-spacing">
Forfeit the dead grass, 
the rim of dandelion 
and mortgage. Forfeit 
the factory where the marrow 
is pulled. Forfeit taxonomy, 
the legalese of the law office 
windows at sunset, so many 
<em>heretofores</em> and <em>to wits</em>. Forfeit foreclosure, 
the vacant lots, stairs leading to white 
grass and sunlight. Where houses 
were sewn together, now gone. 
Foundations, the absence 
of ruin is just as quiet, nonbeing 
where was being, remains. 
        </pre>
    </div>
</div>
