<div class="article-page-container top-margin-10em">
    <div class="article-pages" id="page3">
        <pre class="preformatted-font with-spacing">
Jake gone six months, then seven. 
I move through summer, verb for breath, accrue. 

Heat understands, folds into the dashboards. 

A woman is living in her Oldsmobile on Leigh Street.
For weeks she unfolds the traffic,
the shade of an elm pours, devalues, 
all present tense and bending close, 
house to house. There is no explaining
the ghost of a face, then a face.  

What can I give that won’t be taken, 
assembled into guilt? The feral cat 
under the shed archives the rats, then squirrels.  

<em>Gone</em> isn’t the word I’m looking for. 
        </pre>
    </div>
</div>
