<div class="article-page-container  top-margin-10em">
    <div class="article-pages" id="page6">
        <pre class="preformatted-font with-spacing">
I’ve played the slave narratives 
in abandoned places —
among the candles 
and cinderblocks.

Silo, dirt, house 
where the vultures live.  

All to bring you back. 

There’s a shopping mall 
where your anvil stood. 

I bought socks, a button-down shirt,
and sat in the parking lot listening
to the corroded wax cylinders —
disintegrating dialects 
<em>becoming a column of air 
anyone can pass through.</em>

I never deserved to hear them.  

        </pre>
    </div>
</div>
