<div class="article-page-container top-margin-10em">
    <div class="article-pages" id="page2">
        <pre class="preformatted-font with-spacing">
You came without a horse 
and left us human hair in the tulip tree, 
strange among the blossoms.

For years we weren’t terrified, 
we carried around your death, its severity.

The terror lasts, your grave a wide field now,
but I never thought of it as something separate. 
        </pre>
    </div>
</div>
