<div class="article-page-container top-margin-10em">
    <div class="article-pages" id="page8">
        <pre class="preformatted-font with-spacing">
Woo-Woo turned a trick in the Rent-a-Toilet 
last night. I watched her pull the man in, 
septic dark pocked with paper towels,
clefts of rain.

<em>The world was one place, then overnight,
it became someplace else.

In other words, this is always going to be
about mine, not yours.</em>

I am teaching myself to see the street
as sleep is seen: 

Woo-Woo with a toothache, jaw looped 
with panty hose. Even mentioning her
is a gentrification. 

I make it sound like I know an answer. 

She is not you and we honor this emptiness. 
        </pre>
    </div>
</div>
