<div class="article-page-container top-margin-10em">
    <div class="article-pages" id="page19">
        <pre class="preformatted-font with-spacing">
NOTES:

For my friend, Jake Adam York.
        </pre>
        <p class="not-indent">
            The “you” being addressed is Gabriel, today commonly – if incorrectly – known as Gabriel Prosser, a literate enslaved blacksmith who planned a large slave rebellion in the Richmond, Virginia area in the summer of 1800. Information regarding the revolt was leaked prior to its execution, and he and an estimated twenty-five followers were taken captive and hanged in punishment.
        </p>
        <pre class="preformatted-font with-spacing">
Norman Dubie:
<em>It is another century. 
Things are not better or worse.</em>


John Coltrane:
<a href="http://youtu.be/5cnIZ826ZVE">http://youtu.be/5cnIZ826ZVE</a>


Jake Adam York:
<em>becoming a column of air 
anyone can pass through.

Child of gravity, stranger to the ground. 
Come down and help me rise. 

There is only one year,
and it repeats itself forever.</em>


Sound description/transcription from Library of Congress’ Slave Narratives Collection: <a href="http://memory.loc.gov/ammem/snhtml/">http://memory.loc.gov/ammem/snhtml/</a>


Gary Lutz:
<em>The world was one place, then overnight,
it became someplace else. 

In other words, this is always going to be
about mine, not yours.</em>


From the film <em>General Orders No. 9</em>, by Robert Persons:
<em>What should the new map look like?</em>
<a href="http://www.generalordersno9.com/">http://www.generalordersno9.com/</a>
        </pre>
    </div>
</div>
