<div class="article-page-container top-margin-10em">
    <div class="article-pages" id="page18">
        <pre class="preformatted-font with-spacing">
I have never been hungry. 

You invented hunger and handed it to the owl,
200-year-old crime-scene tape slung from the bridges. 

<em>What should the new map look like?</em>

Help me, moonlight. 

Bring the granary to the sky, 
burnt yellow called down. 

The night that took you
will take us too. 
        </pre>
    </div>
</div>
