<div class="article-page-container top-margin-10em">
    <div class="article-pages" id="page15">
        <pre class="preformatted-font with-spacing">
<em>There is only one year,
and it repeats itself forever.</em>
        </pre>
    </div>
</div>
