<div class="article-page-container top-margin-10em">
    <div class="article-pages" id="page14">
        <pre class="preformatted-font with-spacing">
Jake, gone almost a year. 
Woo-Woo, gone. Feral cat, gone. 

Harry’s down the street fixing 
his station wagon in the cold. 
He said the cops used
my house in the 8o’s to watch 
the dealers on the corner. 

The whole block abandoned back then. 

Sniper in the bay window, dead man 
on the bricks. 19 arrested. 

The black stain on the bedroom floor 
refutes the belt sander, shifts
from history to history,
outliving us, passing deeper. 

Stanley’s drunk again, his walk 
more song than speech.
He asked me once if I was rich. 

The porch fell off Scott’s house
and made the news. Someone’s 
burning wood this evening,
the Masonic Lodge quiet. 

I lean from the window 
to feel it slip past me. 
All of it. 

        </pre>
    </div>
</div>
