<div class="article-page-container top-margin-10em">
    <div class="article-pages" id="page5">
        <pre class="preformatted-font with-spacing">
All the sleeping Poteats. 
All their skin, impossible to see.
All their land and gauzed light. 
All the asphalt and rain between us.
All the kerosene on the carpet, 
kudzu weaving doors shut. 
All great-great-grandfathers gutting 
pigs. All great-grandmothers
throwing sand on the blood. 
All industry siphoned.
All selves creek-banked, collapsed. 
All plantations a coffin, a little vandalism.
The whole family, haunted. 
        </pre>
    </div>
</div>
