<div class="article-page-container top-margin-10em">
    <div class="article-pages" id="page1">
        <pre class="preformatted-font">
<em>Here is a story in the worst way. I have no business being anywhere in it. 
It comes between me and the life I have coming.</em> 
                                                                        — Gary Lutz
        </pre>
        <pre class="preformatted-font with-spacing">
Blood of my abyss, illegible voice, was the morning kind?

The cold dawns here, steaming through. 

I imagine you in a field 
across the river, floodplain attic, 
lichen brailed thin on the pump-house door. 

You are dead in the gallows and not dead, 
the rope cannot claim you. 

It is another century. 

Things are not better or worse.
        </pre>
    </div>
</div>
