<div class="article-page-container top-margin-10em">
    <div class="article-pages" id="page9">
        <pre class="preformatted-font with-spacing">
When the highway came, the houses 
didn’t know enough to be afraid.
Leeway and ease, night comes 
through the gutters loose as fever.

I don’t believe there is an answer, 
honeysuckle blooming the creek gut. 

There are tunnels leading up from the river, 
dug before the war. Torch ends 
grating in their cups, history averting
into the cellars of abolitionists. 

This is not what I mean to say to you. 
        </pre>
    </div>
</div>
