<div class="article-page-container top-margin-10em">
    <div class="article-pages" id="page10">
        <pre class="preformatted-font with-spacing">
Jake gone eight months, 
even the honeysuckle estranges, 
pleats the afternoon. 

Everything is unfinished, momentary. 
It’s not anyone’s fault, I know. 

We’re all strangers to the middle of the noise.

On <em>Live at Birdland</em>, Coltrane’s <em>Alabama</em> drops 
the snare by the church parking lot at 2:42. 

That’s where the ghosts are, 
waiting with the floor tom, 
a tousled mess of glyph and syllable. 

<em>Child of gravity, stranger to the ground. 
Come down and help me rise.</em> 
        </pre>
    </div>
</div>
