<div class="article-page-container top-margin-10em">
    <div class="article-pages" id="page12">
        <pre class="preformatted-font with-spacing">
I do not bring you to the river beneath the river
because time ruins, a heresy.

The river erases itself when we need it most, 
dawn inside dawn, tar in the throat of the oak, 
a hermit thrush strange and metallic over 
Jefferson Park repeats the vowels its body carves. 
A fine ash of song too far south. 

A house is taken from the landscape 
and the wind blows stronger 
through that space. 
The body can’t signify 
that kind of vacancy. 
        </pre>
    </div>
</div>
