<div class="article-page-container top-margin-10em">
    <div class="article-pages" id="page4">
        <pre class="preformatted-font with-spacing">
There’s no other way to say it:
I was built by slaves,
carved skin white-pined 
like sand and tobacco
and the Poteat name
that pulls me from you. 

Say the words
the fields would speak.

The bloodline stops
here. 
        </pre>
    </div>
</div>
