<div class="article-page-container top-margin-10em">
    <div class="article-pages" id="page13">
        <pre class="preformatted-font with-spacing">
Always one of everything here…one bee in the clover, 
one dove on the power line, one mockingbird 
diving into the jessamine to guard its one chick 
that will be dead by Sunday. 

I can see the layers of need 
where I couldn’t before: first a sea, 
an orchard, a corral, a parking lot. 

There is nothing left of the sea here 
but its sound, street cleaner flushing 
the day out, brushes like wings under 
their machinery, star’s blood through 
the pipes under the street, watershed 
of the river and farther out, the bay. 
        </pre>
    </div>
</div>
