<div class="article-page-container  top-margin-10em">
    <div class="article-pages" id="page7">
        <pre class="preformatted-font with-spacing">
[<em>opening incomprehensible, very poor recording until one minute sixteen seconds</em>]
[<em>equipment set-up noise and pause</em>] 
[<em>steam engine toots in background</em>] 
[<em>disc skips</em>] 
[<em>a cat meows</em>] 
[(?)] 
[<em>loud gurgling sound</em>] 
[<em>Mrs. Annie Williams sings</em>] 
[<em>loud distortion</em>] 
[<em>she delivers a prayer</em>] 
[<em>microphone noise before Uncle Billy sings</em>] 
[<em>he attempts to sing</em>] 
[<em>the women seem to hold a discussion among themselves</em>] 
[<em>concludes song</em>] 
[<em>Mrs. Williams sings</em>] 
[<em>remainder of recording extremely poor</em>] 
God is ??? of God my ??? 
[<em>recording ends</em>]
        </pre>
    </div>
</div>
