<div class="article-page-container top-margin-10em">
    <div class="article-pages" id="page17">
        <pre class="preformatted-font with-spacing">
The old theater on 25th street, 
sunk in ivy, the roof long gone 
or the roof is the sky…either way 
there’s nothing there, saplings crowd
the orchestra pit, mud-wasps 
in the projection booth, flicker of 
pornography and sun hollowing the years. 
        </pre>
    </div>
</div>
