<div class="article-page-container">
    <div class="article-pages" id="page1">
        <pre class="preformatted-font">
                                        <em>And on the bank a lonely flower he spied,
                                        A meek and forlorn flower, with naught of pride,
                                        Drooping its beauty o’er the watery clearness,
                                        To woo its own sad image into nearness:
                                        Deaf to light Zephyrus it would not move; 
                                        But still would seem to droop, to pine, to love. 
                                        So while the Poet stood in this sweet spot, 
                                        Some fainter gleamings o’er his fancy shot; 
                                        Nor was it long ere he had told the tale 
                                        Of young Narcissus, and sad Echo’s bale.</em>

                                                    —John Keats (“I stood tip-toe upon a little hill”)
        </pre>
        <p class="not-indented with-spacing">
            I’m sitting hapless before a group of students. After just a few minutes, our conversation is at a standstill. Perhaps no one bothered to read the assigned poems since our last class. Perhaps no one read this particular poem aloud or dared to read the poem more than once. Had my own recitation failed to convey that poetry is most alive (resuscitated!) when read aloud? I even question the scheduling gods who bring us to the fourth-floor classroom on Friday afternoons. 
        </p>
        <p class="not-indented with-spacing">
            But this is what we do: we read the poem, read the poem again, and wait for the signal. We read the poem once more. Perhaps an avenue will appear and ease us from our reluctance. 
        </p>
        <pre class="preformatted-font with-spacing">
                                        <em>I look for a sign in the sun, in the puddle 
                                        of sunlight in front of the door, which 
                                        already shifts, withdraws.</em>

                                                    —Jacques Roubaud (“Endings”)
        </pre>
        <p class="not-indented with-spacing center">
            &#35;&nbsp;&nbsp;&nbsp;&#35;&nbsp;&nbsp;&nbsp;&#35;
        </p>
        <p class="not-indented with-spacing">
Rather than frustrate, a poem’s mystery engages my curiosity. I’m also fascinated (and terrified) by the fact that everything in this world seems to mature or devolve, including the world itself. The familiar shoreline is unrecognizable. The degree of light revises itself in a moment. So many have returned and noted: <em>This neighborhood is not what it used to be</em>. If the future is anything like my past, some yet encountered recording of a poet, some lent book, or some week spent driving this great country to read poems will change my convictions entirely. 
        </p>
        <p class="not-indented with-spacing center">
            &#35;&nbsp;&nbsp;&nbsp;&#35;&nbsp;&nbsp;&nbsp;&#35;
        </p>
        <pre class="preformatted-font with-spacing right">
AIR: 
On Monday just after Thanksgiving and a few 
minutes before my undergraduate poetry 
workshop, a colleague appears in the doorway 
and asks if we can speak. A few minutes later, 
I return to my chair at the front of the room.
        </pre>
        <p class="not-indented with-spacing center">
            &#35;&nbsp;&nbsp;&nbsp;&#35;&nbsp;&nbsp;&nbsp;&#35;
        </p>
        <p class="not-indented with-spacing">
            In March 2013, while visiting Lexington, Kentucky, I encountered a broadside and the opening sentences of Jake Adam York’s “<em>Narcissus incomparabilis</em>” hanging on a living room wall:
        </p>
        <pre class="preformatted-font with-spacing">
                                        <em>Lean down, lean down
                                        while the light’s abducted,
                                        its last skirts caught
                                        then torn through the trees.
                                        Keep your own eye still
                                        so no one catches you.</em>
        </pre>
        <p class="not-indented with-spacing">
            Here: the poem raises its hand and announces itself present. Dusk is framed by the imperative voice, which introduces the implied speaker and the poem’s “you.” Such simple observations don’t occur to me when first reading a poem; it’s during the second, fifth, and fifteenth reading when I start to trust my own responses. But here (<em>Here!</em>) these lines appear eight, now nine months later, and I see that neither the speaker nor the “you” is clearly identified in the poem’s single stanza. In addition to recurrences of memory and light, the opening of York’s poem suggests an exchange like that between hunter and prey. The poet’s diction is one of violence: the light is “abducted,” “caught,” and “torn through the trees.” 
        </p>
        <p class="not-indented with-spacing center">
            &#35;&nbsp;&nbsp;&nbsp;&#35;&nbsp;&nbsp;&nbsp;&#35;
        </p>
        <pre class="preformatted-font with-spacing right">
MEMORY:
I read aloud all but one of the names from my 
attendance sheet. I take a breath and look around 
the circle of chairs. Then, I tell my students that 
their classmate—the one who just a week ago sat 
right there—was found in the Chicago River.
        </pre>
    </div>
</div>
