<div class="article-page-container">
    <div class="article-pages" id="page3">
        <p class="not-indented with-spacing center">
            &#35;&nbsp;&nbsp;&nbsp;&#35;&nbsp;&nbsp;&nbsp;&#35;
        </p>
        <p class="not-indented with-spacing">
            Another admission: when I enter the opening lines of a single poem, I almost always forget the work’s title. Sometimes I won’t return to the first words until the poem’s end. Sometimes, midway through a poem, I’ll glance up like a passenger from her book or smartphone to see what station just passed. The italicization of “<em>Narcissus incomparabilis</em>” indicates a direct reference to the flower: a hybrid between the classic daffodil and the poet’s daffodil; however, the flower’s genus (<em>Narcissus</em>) makes the flower inseparable from classical mythology.
        </p>
        <p class="not-indented with-spacing center">
            &#35;&nbsp;&nbsp;&nbsp;&#35;&nbsp;&nbsp;&nbsp;&#35;
        </p>
        <pre class="preformatted-font with-spacing right">
AIR:
From a back pew, I listen as an uncle recounts 
how, as a child, my student ran through the 
house naked except for a cowboy hat and boots. I 
recall him curling dreadlocks around his finger.
I write “cowboy boots” on a scrap of paper.
        </pre>
        <p class="not-indented with-spacing center">
            &#35;&nbsp;&nbsp;&nbsp;&#35;&nbsp;&nbsp;&nbsp;&#35;
        </p>
        <p class="not-indented with-spacing">
            Which version of Narcissus does the reader adopt? The one who is unable to leave his reflection and, as a result, starves? The one who drowns? Or is this the Narcissus who lost his identical twin sister and attempts to recall her image by staring at his own? Is the “you” of the poem instructed to “lean down” in order to become less visible or to better see?
        </p>
        <pre class="preformatted-font with-spacing">
                                        <em>World may ripple—
                                        pearl, scale, pebble, bone—
                                        behind all memory,
                                        may ghost you, stranger,
                                        where you don’t belong.
                                        But lean down now,
                                        as memory hardens
                                        its incomparable light. 
                                        Don’t let the sun
                                        set on you again.</em>
        </pre>
        <p class="not-indented with-spacing">
            This final passage of York’s poem includes a short catalogue enclosed by a pair of em dashes: a sequence, maybe, or an analogy in which water and land are linked by the appearance of objects and their bodily counterparts (“pearl” is to “scale” as “pebble” is to “bone”). The “you,” identified here as “stranger,” is haunted by the world in which he is alien (“where you don’t belong”) and incurs the poem’s most direct threat of being erased by the world.
        </p>
        <p class="not-indented with-spacing center">
            &#35;&nbsp;&nbsp;&nbsp;&#35;&nbsp;&nbsp;&nbsp;&#35;
        </p>
        <pre class="preformatted-font with-spacing right">
MEMORY:
The day after mentioning my student’s death in 
an email, I receive a short reply from the poet 
Bob Hicok: “I hope you don't mind that I wrote 
the attached poem. I do that a lot in response to 
things people tell me.” I click on the attachment.
        </pre>
        <p class="not-indented with-spacing center">
            &#35;&nbsp;&nbsp;&nbsp;&#35;&nbsp;&nbsp;&nbsp;&#35;
        </p>
        <p class="not-indented with-spacing">
            If I break a poetry tenet by confusing the speaker with the poem’s author, then I’m permitted to confuse the “you” with the poem’s reader. In our day-to-day activities, each one of us is vulnerable. Each of us, regardless to what extent we allow ourselves to recognize the fact, is in danger of being “ghosted.” And so I’ll say it: With the passing of Jake Adam York in December 2012, I’m tempted to interpret “<em>Narcissus incomparabilis</em>” as an elegy.
        </p>
        <pre class="preformatted-font with-spacing">
                                        <em>His silence was what he could not 
                                        not do, like our breathing in this world, like our living, 

                                        as we do, in time.</em>

                                                    —Marie Howe (“The Promise”)
        </pre>
    </div>
</div>
