<div class="article-page-container">
    <div class="article-pages" id="page2">
        <p class="not-indented with-spacing center">
            &#35;&nbsp;&nbsp;&nbsp;&#35;&nbsp;&nbsp;&nbsp;&#35;
        </p>
        <p class="not-indented with-spacing">
            But taken by whom? What cosmic, supernatural, or spiritual force can I attach to the hunter in York’s poem? Between what spaces do the hunter and the “you” coexist as the light is seized?
        </p>
        <pre class="preformatted-font with-spacing">
                                        <em>When it’s gone, it’s everywhere—
                                        air a memory of light,
                                        incident turned ambient,
                                        and it never takes long 
                                        for this nacre to grow
                                        over each absence or intruder
                                        and become the world.</em>
        </pre>
        <p class="not-indented with-spacing">
            I blame, in part, my poor vocabulary on the Portland Public Schools. Mostly I blame Hanford (the nuclear reactor a few hundred miles up the Columbia River), and so I deflect embarrassment in the admission that York’s choice of “nacre” leads me to Merriam-Webster: mother-of-pearl, “a hard, shiny, and smooth substance that is on the insides of the shells of some shellfish…” This is the first of several connections to water in the poem, but what catches my eye on the sixteenth and twentieth reading of this passage is how the nacre envelopes “each absence or intruder.” The environment of York’s poem is turbulent, and in order to “become the world” each and all (including absence) must first be consumed.
        </p>
        <pre class="preformatted-font with-spacing">
                                        <em>All must collapse / and wither</em>.

                                                    —Farrah Field (“Self-Portrait in Toad Suck, Arkansas”)
        </pre>
        <p class="not-indented with-spacing center">
            &#35;&nbsp;&nbsp;&nbsp;&#35;&nbsp;&nbsp;&nbsp;&#35;
        </p>
        <p class="not-indented with-spacing">
            Delmore Schwarts writes: “The mind possesses and is possessed by all the ruins / Of every haunted, hunted generation’s celebration” (“<em>Narcissus</em>”), and York’s inclusion of “memory” (lines 8, 20, and 24) links the mind’s power with the recurrent light. Like my initial experience with the poem’s speaker and its “you,” I didn’t note these repetitions at first, but I believe their effect had already begun to work on my attention. 
        </p>
        <p class="not-indented with-spacing center">
            &#35;&nbsp;&nbsp;&nbsp;&#35;&nbsp;&nbsp;&nbsp;&#35;
        </p>
        <pre class="preformatted-font with-spacing right">
LIGHT:
I drive north into the suburbs and the village of 
Mundelein. Because of an early snowstorm, I’m 
late to my student's funeral. The traffic moves 
too slowly. The heater in the Volvo doesn’t 
work. The pants of my one suit are painfully thin.
        </pre>
        <p class="not-indented with-spacing center">
            &#35;&nbsp;&nbsp;&nbsp;&#35;&nbsp;&nbsp;&nbsp;&#35;
        </p>
        <p class="not-indented with-spacing">
            Life is short and we are returned once, many times, or never again. If lucky, then there are those hunted creatures in “The Heaven of Animals” by James Dickey, another southern poet by birth: “They fall, they are torn, / They rise, they walk again.” In York’s poem, the transaction between hunter and hunted (as embodied by the “you”) remains unrequited. When I visit and revisit the lines—the words that the poet left for me, their reader—I see that the poem blends its imperative voice with multilayered images, and the action (the danger and the leaning) is perpetual.
        </p>
        <pre class="preformatted-font with-spacing">
                                        <em>Lean down now,
                                        creel of starlight and moon,
                                        and reflect again
                                        your inherited light.</em>
        </pre>
        <p class="not-indented with-spacing">
            York chooses to repeat the opening phrase (“Lean down”) at the midpoint of “<em>Narcissus incomparabilis</em>” (the phrase appears a fourth time, nine lines later). Following the poem’s longest sentence, the recurrence of “lean down” echoes familiar terrain. These four lines provide relief in terms of pacing and raise (for this reader) another question: my dictionary defines “creel” as a basket used to carry newly caught fish. This subtle, five-letter word is delightful as it not only links land and water, it introduces yet another reference to hunter and prey. Instead of carrying fish, this is a basket that carries “starlight and moon,” and the setting of the poem has transitioned more fully into darkness
        </p>
        <pre class="preformatted-font with-spacing">
                                        <em>I lay down my head 
                                        To the very end of my silence 

                                        To the very end of my silence 
                                        I lay down my head</em>

                                                    —Noelle Kocot (“Song”)
        </pre>
    </div>
</div>
