<div class="article-page-container">
    <div class="article-pages" id="page4">
        <p class="not-indented with-spacing">
            ***
        </p>
        <p class="not-indented with-spacing">
            There is one last book to come, with an afterword he wrote entitled “A Foreword for Subsequent Readings.” Jon Tribble safeguarded this book, shepherded it from word document through binding after Jake died. <em>Abide</em>. Already I know that I can only do with it what I do with Larry Levis’ <em>Elegy</em>, each year on his birthday reading one poem. Slowly making my way through his words because after this, there are no more.
        </p>
        <p class="not-indented with-spacing">
            And we are all of us the more bereft because of it.  
        </p>
        <p class="not-indented with-spacing">
            ***
        </p>
        <p class="not-indented with-spacing">
            And the living? Who now will speak the names of the dead, remember them back into being?
        </p>
        <p class="not-indented with-spacing">
            ***
        </p>
        <p class="not-indented with-spacing">
            A painter cleans his brushes after finishing the work of the day, solvent teasing the bristles apart. Without paint, it’s the bluntest of instruments, infinitely capable. Even clean, the brushes still hold the residue of each color he used to capture his subject, to finish the painting, or not. There is always tomorrow, after all. And each portrait anyway at best only an approximation, a temporary rendering of a moment that is already gone.
        </p>
        <p class="not-indented with-spacing">
            ***
        </p>
        <p class="not-indented with-spacing">
            A flask of bourbon. The fellowship of barbecue. Conversations late into the night over the flickering of coals. In the flavors, communion. In the brine, an amen. And at the end of all the words he finished, there remains all he left unsaid. A silence. Then nothing more. 
        </p>
        <p class="not-indented with-spacing">
            How is it that the psalms, the songs of praise and thanksgiving, end? <em>Selah</em>.<br />
            Stop, and listen. An underlining of what was just said. <em>Pause, and think on that</em>.
        </p>
    </div>
</div>
