<div class="article-page-container">
    <div class="article-pages" id="page3">
        <p class="not-indented with-spacing">
            ***
        </p>
        <p class="not-indented with-spacing">
            After Jake died, I got flasks inscribed with this quote from “Grace”:
        </p>
        <pre class="preformatted-font with-spacing">
            <em>history moves in us as we raise
            our voices and then our glasses</em>
        </pre>
        <p class="not-indented with-spacing">
            and gave them to the other poets who’d gathered for the elegy at AWP. In the poem, Jake summons his ancestors, the lineage behind food, hands that shaped the dough, breaths that inhaled and exhaled the recipes into being. Burners and stovetops, cast iron skillets and biscuit rings, one generation handing tradition, fellowship, the very meaning of family down to the next. It is a song, a psalm, a feast, a gratitude. At readings, I pour one out of my flask for him and read his poem first. Give thanks for the man as he does for <em>his</em> own, for inheritance, for what the living carry and how we must carry on.
        </p>
        <p class="not-indented with-spacing">
            ***
        </p>
        <p class="not-indented with-spacing">
            Jake’s poetry was an investigation. An excoriation. And, ultimately, jubilation, for no matter what was unearthed, we could celebrate the flipping of the stones. As Southerners, we both long for and dread accountability. Reckoning. And Jake didn’t flinch. Not even when the reflection was at its ugliest. Not even when he himself was implicated. We ourselves. The South is a beautiful difficulty, its ugliness too easy. There is nothing simple about it. And now that he has gone, even less is understood.
        </p>
        <p class="not-indented with-spacing">
            ***
        </p>
        <p class="not-indented with-spacing">
            But isn’t that the very nature of grace—that you’re undeserving? The very bounty of it its unexpectedness? The fact that it is neither required nor expected? Who, me? Why me?
        </p>
        <p class="not-indented with-spacing">
            ***
        </p>
        <p class="not-indented with-spacing">
            I think about the poet’s project, a life’s work: <em>Inscriptions for Air</em> an elegy for each martyr of the Civil Rights Movement. About the agony of that decision. If I speak for the dead, am I not just reifying the racial dynamics that say I am entitled to? If I do not speak for the dead, who will?
        </p>
        <p class="not-indented with-spacing">
            I think about the poet himself, cut down at the age of 40, only from within. The body the briefest, most fragile of containers. The words, the breath, only, transcendent.
        </p>
    </div>
</div>
