<div class="article-page-container">
    <div class="article-pages" id="page2">
        <p class="not-indented with-spacing">
            ***
        </p>
        <p class="not-indented with-spacing">
            After Jake died, I couldn’t listen to Radiohead. Because I could hear him in the undersong. And then I couldn’t <em>not</em> listen to them. Because I could hear him in the undersong.
        </p>
        <p class="not-indented with-spacing">
            ***
        </p>
        <p class="not-indented with-spacing">
            Lost email thread: A running back and forth about the shows in St. Louis and Denver. Song titles with a series of exclamation points. Thom Yorke and band refracted a thousand times over in sharded mirrors that hung down, translucent. An eye here. A bobbing bald pate drumming. Thom flapping like a Prospect in his leather cut. <em>They played The Amazing Sounds of Orgy!!! Can you believe it?</em>
        </p>
        <p class="not-indented with-spacing">
            ***
        </p>
        <p class="not-indented with-spacing">
            After Jake died, there was an essay about the last time I saw Jake, poems solicited and written while on my elbows, gratitude for a grinder, a sieve. There was silence. Then I started to listen again.
        </p>
        <p class="not-indented with-spacing">
            <em>Gagging Order</em> over and over and then <em>How to Disappear Completely</em>. Move along; there’s nothing left to see. I’m not here. This isn’t happening.
        </p>
    </div>
</div>
