<div class="article-page-container">
    <div class="article-pages" id="page1">
        <p class="not-indented">
            I haven’t eaten meat in almost thirty years. I never much cared for the sear of steak or the brackishness of fish, but I can still remember the flavor of barbecue, the distinctions between pit and spit, mustard versus vinegar. Pig is perhaps the only taste I miss, and still I don’t eat it, mainly out of fear of what the body would do if I did. The violence of sudden introduction, presence after such a long time away.
        </p>
        <p class="not-indented with-spacing">
            But that didn’t stop me from talking to Jake about barbecue. Buried coals and shake shingles, fat caps and Cadillac cuts—there weren’t many things that Jake didn’t feel at least a little passionate about, and he knew something about it all. Unassumingly, disarmingly brilliant. The food he wrote about was an extension of the people he wrote about, who were an extension of the South he wrote about, which was a disillusory diminishing of the place he knew it capable to be.
        </p>
        <p class="not-indented with-spacing">
            Which was the other thing we had in common: what we knew it to be. And what we knew it could mean. And can never. And won’t stop. Alabama and Georgia are neighbors, and Jake and I geehawed every time we met like we were watering tomato plants along the fence.
        </p>
        <p class="not-indented with-spacing">
            ***     
        </p>
        <p class="not-indented with-spacing">
            When Jake was researching and teaching for a year at my undergraduate alma mater, Emory, he wrote to see if he could interview me for their Southern Spaces series—poets interviewed in the physical places they wrote about in their poems. We dreamed up an itinerary that included the rolling lawn in front of the carved Confederacy on Stone Mountain, Margaret Mitchell’s grave at Oakland Cemetery, the Euclid Avenue Yacht Club, the Austin Avenue Buffet. But it was winter, and Stone Mountain was bedecked in gaudy Bavarian village lights and blown snow, so we agreed to reschedule and never did.      
        </p>
        <p class="not-indented with-spacing">
            Amidst all the conversations that did happen, that’s the one I think about most: the one that didn’t. The questions he might have asked, the things I would say that I didn’t realize I thought, or knew, or understood just three minutes earlier. The things that now won’t ever occur to me because they have no reason to. That’s what Jake did best: his intelligence drew out yours, affability only part of the package.         
        </p>
        <p class="not-indented with-spacing">
            The problem is that we think that we have time.
        </p>
    </div>
</div>
