<div class="article-page-container">
    <div class="article-pages" id="page1">
        <p class="not-indented">
            Dear Jake,
        </p>
        <p class="not-indented with-spacing">
            Lately I have been selfish in my missing you because it has been a bewildering year. Because you would have helped me sort through it. Because I would have left our conversation with broader and more nuanced ways to think about my place in the world. It is what you did: instinctively, gracefully. It is what your poems do.
        </p>
        <p class="not-indented with-spacing">
            Last week, Jon Tribble posted on Facebook a picture of the cover of <em>Abide</em>. I remembered, then, that you sent it to me last summer. I am ashamed to admit that it has hurt too much to read the poems since you first sent them, so I haven’t until recently. It’s a stunning cover, and does such honor to the difficult and beautiful brilliance within it. 
        </p>
        <p class="not-indented with-spacing">
            Lately I have been thinking about time, because when I went through my inbox to find <em>Abide</em>, you were alive in the email you sent to me with it attached. Because I am fascinated by how email and Facebook allows us to go back through archives, and bring the past into the present so that it is the present again. This, too, your poems do. 
        </p>
        <p class="not-indented with-spacing">
            In reading <em>Abide</em> again, I remembered that William Matthews wrote that “time goes one way only but we / go two: we disappear into the past / and into the future at once.” And Donald Hall has wondered how we both “float out of the self” yet “walk on the earth of the present.” So many of your poems do such necessary and arresting work, Jake. 
        </p>
        <p class="not-indented with-spacing">
            In “Letter Already Broadcast into Space,” written to Sun Ra, for example, you suggest in the very title that the poem itself no longer exists in the form in which it was originally written. “Already” functions both as a way to affix time and transcend it: we are reading a poem that is elsewhere. This paradox is compounded by the poem’s immediate and adamant litany that Sun Ra is “not here,” though he is, in various tangible and physical metaphors: in Birmingham, shopping malls, barbecues. 
        </p>
        <p class="not-indented with-spacing">
            But it is only after we have widened our vision to see past Earth’s various “monuments of bronze and steel” into “all the rearrangements / of the stars,” that he is there, finally. And so are you, imploring him in the penultimate stanza to “come down, / and help [you] rise.” You not only bring him back to life, but into the present in a letter that has already been sent into space, unrecoverable without his receipt of it. It is no coincidence that Sun Ra was a jazz musician from Birmingham who died twenty years before you wrote a poem about him. Who died twenty years before you did. 
        </p>
        <p class="not-indented with-spacing">
            Friedrich Schiller has suggested that the poet realizes form when he creates time. In your poems, the urge to document comes from the same impulse to sing. “I have forgot my wings,” you mourn in the final stanza. It is only now that I can see how your use of the documentary as lyric is such a stunning way to make song—and history—soar. Like a letter already broadcast into space. Like a child waking from a dream in which he is an adult: a poet who will leave the legacy of his urgent poems so that you, Jake, can remind us again and again how crucial we are to the past, and how crucial the past is to our futures. 
        </p>
        <p class="not-indented with-spacing">
            With love and gratitude, 
        </p>
        <p class="not-indented with-spacing">
            Tarfia
        </p>
        <p class="with-spacing">&nbsp;</p><br />
        <div id="article-workscited">
            <span class="workscited-title">Works Cited</span>
            <p>
                <a name="wc1"></a>Jackson, Richard. <em>The Dismantling of Time in Contemporary Poetry</em>. Tuscaloosa: University of Alabama, 1988. Print.
            </p>
        </div>
    </div>
</div>
