<div class="article-page-container">
    <div class="article-pages" id="page2">
        <p class="indented">
            Donald Justice says that sincerity, that elusive quality of good poetry, which long before our times has been alternately revered and maligned, 
            consists in being able to “[discover] what you mean in the act of saying it.”  Robert Frost says that sincerity consists in “a highest liveliness 
            escaping from a succession of dead selves.”  Forget the term of contention “sincerity”: both could be talking about a kind of sentence, a sentence 
            which is perpetually lively. 
        </p>
        <div class="dividing-line-container"><div class="dividing-line"></div></div>
        <p class="indented">
            A sentence is also a speech act.  We’ve experienced and practiced speech acts all our lives.  People who hold the floor at committees know how to 
            extend sentences ad infinitum.  The sentence, and we’ve all experienced this in practical rather than theoretical terms, becomes, in a formal occasion 
            like a meeting or a trial or a lecture, a unit of power.  Power is inherent in the grammatical structure we call the sentence.  As Roland Barthes says 
            in <i>Writing Degree Zero</i>, his little book on pleasure and bliss in the verbal arts, “a professor is a person who can speak in complete sentences.”  
            Observe sentence length in the next classroom or meeting or conference you go to.  For exactly as long as you extend a sentence you hold the floor.
        </p>
        <p class="indented">
            In poetry there is not so much a floor to hold as air to tread. 
        </p>
        <div class="dividing-line-container"><div class="dividing-line"></div></div>
        <p class="indented">
            Grammar may bend unconsciously to emotional cues.  That it can and sometimes does is why even the most openly ungrammatical cases of inverted syntax 
            can still sound utterly inevitable.  Consider this famous sentence of John Berryman from his “Homage to Mistress Bradstreet.”  Its syntactic inversion 
            and mindboggling grammatical instabilities, in that either cannot be predicted, have an unquestionable, even fated quality:
        </p>
        <p class="not-indented excerpt-spacing">
       		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;. . . . We are on each other’s hands<br /><br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Who care.
        </p>
        <p class="not-indented">
            It doesn’t take a linguist to get at the depths of this unaccountable yet utterly pleasing and even reasonable—the meter does this—wrenching of 
            grammar.  Its complexities can be internalized precisely because of its stealth, without the reader’s having to give a single thought to it.  A good 
            line of poetry can be immediately clear even if it is not immediately apparent.  When a good line of poetry embodies complex emotional states we hear 
            and internalize the possibilities before we can identify our own thoughts or feelings.  Initially we hear it in all its possibilities. 
        </p>
        <p class="indented">
            In this line in Berryman’s love-elegy to a lost poet, grief is like all complex emotional states: we think about it even when we are not thinking about 
            it.  The line ought to read something like this: “We who care are on each other’s hands.”  But that phrasing wouldn’t get at the difficulty in the face 
            of oblivion of care.  The word “care” has to end the sentence, and simply, because it is the outcome of internal pressures that wrench the grammar to 
            their own purposes.  And the inverted syntax is only the beginning of the other oddities of the line.  I am not certain but I think that this one line 
            is the first instance of an often-used contemporary poetic effect: the encrypted phrase.  Like string theory, the encrypted phrase makes multiple 
            readings not only possible but probable.  You hear these probabilities even if you do not think them.  It is “blood,” not “we” that we usually find on 
            our hands: the encrypted word “blood” heightens a sense of the speaker’s guilt and accountability.  And the phrase “on each other’s hands” by all rights 
            should read “in each other’s hands.”  Or it could read “In each other’s minds.”  But “minds” is more abstract than “hands.”  “Hands” suggests that 
            actions, including speech acts like poems, have both motives and consequence—initiating the speaker’s ambition to write an elegy that can somehow 
            redress the heartlessness of nature and all plague and bloodshed owing to Puritan imperialism, as well as his own shortcomings as a person and as a 
            poet.  In short, the pronoun “we” on one probable and true level stands in for “blood.” We bloody our own hands and hurt others not only by how we act 
            but by how we speak.  So does the culture to which we belong.  Person and culture are inextricable in this moment of instable grammar: Berryman the 
            young poet bent on writing a long poem that will make him a name, Bradstreet and her own less careerist ambitions, and the obliteration of Bradstreet 
            and of her family and of her community and even perhaps of a belief system—all lost to time. 
        </p>
        <p class="indented">
            John Ashbery frequently uses the encrypted phrase that Berryman patented in this one line.  In this one instance from the poem “The One Thing That Can 
            Save America,” destabilized grammar is not made a great deal of.  No flourish accompanies it, no linguistic ideology underwrites it.  It almost comes 
            off as a psychological slip:
        </p>
        <p class="not-indented excerpt-spacing">            
     		It is the lumps and trials<br />
            That tell us whether we shall be known<br />
            And whether our fate shall be exemplary, like a star.
        </p>
        <p class="not-indented">
            For lumps and trials, read “trials and tribulations.”  But “trials and tribulations” is a cliché, and one too pompous for this poem of seemingly casual 
            language.  And “trials and tribulations” is religious and legal, not secular and personal: the phrase rises from the well-spring of the Bible, not from 
            the noggin of John Ashbery, so it simply won’t do.  Therefore, “lumps and trials.”  Far less glamorous or lyrically charged are such lumpenproletariat 
            impediments to redemption or fame and posterity.  “Lumps and trials” suggests everyday challenges, not epical, heroic challenges.  Lumps.  You have to 
            take your lumps with your sugar.  A “lump”: a dimwit or ungainly person.  Lumps (informal): severe punishment.  Get your lumps in.  Lump: to 
            begrudgingly tolerate what must be endured, as in “like it or lump it.”  I have to think that the encrypted phrase probably came instantly rather 
            than deliberately but that it was left to stand by the author precisely because of its richness.  That is, for its diverse precisions.  Ambiguities 
            are not imprecisions.  False complexity is mere obscurity.  True complexity is not up for grabs.  You may as a writer improvise your way there but 
            self-awareness is the final arbiter.
        </p>
        <p class="indented">
            The encrypted phrase couldn’t sound more natural.  Children play with such nominal substitutions all the time (our goddaughter sang trains of words, 
            their substitutions and nonsense words, all pretty indistinguishable to soothe herself to sleep when she was a toddler), just for the sake of play.  
            Play, an engine of language acquisition.  Along with our very capacity to acquire language and learn its rules comes the seemingly oppositional 
            capacity to subvert phrasings, to bend grammar, to stretch and even break rules. 
        </p>
        <p class="indented">
            Some of the most graceful and quieting moments in poetry do this.  Here are three such moments from a poet we think of as our most garrulous, 
            Walt Whitman.
        </p>
        <p class="indented">
            First, from song 3 of “Song of Myself”:
        </p>
        <p class="not-indented excerpt-spacing">
		    Clear and sweet is my soul, and clear and sweet is all that is not<br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;My soul.<br />
            <br />
		    Lack one lacks both, and the unseen is proved by the seen,<br />
		    Until that becomes unseen and receive proof in its turn.
        </p>
        <p class="not-indented">
            Whitman’s majestic syntactic balance via his leanings towards medial caesuras (all these lines have medial caesuras) is a way for his verse to reflect 
            grammatically his sense of his theory of prudence, that all things be in their place and be treated in just proportion, “each thought or action matched 
            by its correlative.”  Even if opposites.  Whitman is a <i>both/and</i> rather than an <i>either/or</i> poet: for Whitman, opposite grandeurs amplify and temper each 
            other.  As Niels Bohr says, “the opposite of a fact is a lie.  The opposite of a great truth is another great truth.”
        </p>
        <p class="indented">
            This balance permits odd phrases like “lack one lacks both.”  When you hear this phrase out loud you may be more apt to trust it and not be confused by 
            it.  We have the capacity to hear and internalize the complexity of any grammar well before we can identify the actual grammar.  This phrasing of 
            Whitman’s is among the most elliptical in American poetry I know.  And it happens in the midst of an expansive line and syntax.  By all rights it 
            should read, “If I or you lack either the knowledge that all that is the soul is clear and sweet and all that is not the soul is clear and sweet, 
            then we lack both the soul’s sweetness and clarity and all the clarity and sweetness that is not the soul.”  In other words, “lack one lacks both.”  
            You hear it, it doesn’t sound strange because it is naturally strange.  The subject, “lack one,” is an elliptical predicate with a long implicit 
            subordinating conjunction; the complement of the predicate “lack,” “lacks both,” is also a verb phrase with the same implicit, unstated subordinate 
            phrase.  These elliptical phrases happen out of a pre-condition of unawareness.  “Lack one lacks both”—you get this equivalence as deeply as you do 
            because you don’t immediately get it.  “Lack one lacks both”: the subject is an active predicate phrase, the object is an active predicate phrase.  
            Subject and predicate are practically one and the same.  The pronoun “one” becomes almost interchangeable with the must pronoun “both.”  So “one” and 
            “both” are one and the same: that’s a pretty big statement to make with so little fanfare! 
        </p>
        <p class="indented">
            Two of Whitman’s best poems end on such subtle instabilities.  Here is the last stanza of “When Lilacs Last in the Dooryard Bloomed”:
        </p>
        <p class="not-indented excerpt-spacing">
		    Yet each to keep and all, retrievements out of the night,<br />
		    The song, the wondrous chant of the gray-brown bird,<br />
		    And the tallying chant, the echo arous’d in my soul,<br />
		    With the lustrous and drooping star with the countenance full of woe,<br />
		    With the holders holding my hand nearing the call of the bird<br />
		    Comrades mine and I in the midst, and their memory ever to<br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;keep, for the dead I loved so well,<br />
		    For the sweetest, wisest soul of all my days and lands—and this<br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;for his dear sake,<br />
		    Lilac and star and bird twined with the chant of my soul,<br />
		    There in the fragrant pines and the cedars dusk and dim.
        </p>
        <p class="not-indented">
            This last stanza has no overt subject or predicate: it is a long prepositional phrase the subject and verb of which both belong to a prior stanza.  
            In essence, as goes grammar, the entire stanza is a predicate to an unstated—invisible, or transcended—subject, or self.  The “soul” of the penultimate 
            line is linked by juxtaposition to the “there” in the ultimate line: that is, the soul, is out “there” in the world.  Any boundaries between the 
            internal and the external are broken down because of a subtle grammatical effect.  That’s pretty good.  But it’s the last line that sticks with me, 
            that I hope never to forget.  Instable grammar is why.  Look at the words “dusk and dim.”  If it were translated into workaday free verse the phrase 
            would read “there in the fragrant pines and the dusky and dim cedars.”  Whitman inverts the syntax to emphasize physical qualities of “dusk” and “dim.”  
            And he doesn’t use “dusky.”  He uses “dusk.”  The noun “dusk” and all it connotes in poetry—loss, end-time, sadness—is grammatically relativized into 
            its adjective.  This is not Adamic verse, the poet assigning nouns to all the particulars of creation.  In this elegiac realm the consciousness 
            of the poet cannot be completely suggested.  “Dusk” as an adjective rather than a noun comes off more as a quality than a readily signified time of 
            day.  There is something Heisenberg-like here: “dusk” is a noun if you consider it grammatically a noun; it is an adjective if you internalize the 
            feel of it.  It shifts: it keeps up with such shifting perceptions as inform acknowledgement at its fullest, so that it includes its opposite: in the 
            face of decline—of sunlight, of a nation’s assassinated hope—the last line offers sanctity and a sanctum.
        </p>
        <p class="indented">
            A second Whitman ending, the last lines of “Out of the Cradle Endlessly Rocking”:
        </p>
        <p class="not-indented excerpt-spacing">
            Death, death, death, death, death.<br />
	        <br />
            Which I do not forget,<br />
            But fuse the song of my dusky demon and brother,<br />
            That he sang to me in the moonlight on Paumanok’s gray <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;beach,<br />
            With the thousand responsive songs at random,<br />
            My own songs awaked from that hour,<br />
            And with them the key, the word up from the waves,<br />
            The word of the sweetest song and all songs,<br />
            That strong and delicious word which, creeping to my feet,<br />
            (Or like some old crone rocking the cradle, swathed in sweet <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;garments, bending aside,)<br />
            The sea whispered me.
        </p>
        <p class="indented">
            “Creeping to my feet” has at least three references: the “word,” the antecedent that the phrase directly modifies; the speaker himself who has earlier 
            in the poem considered his birth and his infancy and a time in his life when he had not yet crept to his feet, and the sea that will emerge as the 
            antecedent of Everything.  The phrase couldn’t dangle with less stability.  And something else is evoked in the phrase.  Whitman’s sense of prosody, 
            he writes in a letter, originated from listening day and night all through childhood to the sea off Paumanok: it is as if for a moment the very sea 
            had evolved to life, creeping right up to the speaker’s feet—and the almost inaudible pun on “feet” glosses Whitman’s prosody—“the free growth of 
            metrical laws” as he puts it in “The Preface.” 
        </p>
        <p class="indented">
            Even more strange is the grammar of the last line: it should read “the sea whispered <i>to</i> me.”  But “me” is most directly, if most subliminally, a direct 
            object of “whispered.”  The sea has whispered Whitman into being.  He himself is “death’s outlet song of life.”  The entire poem funnels down to “me.”  
            And seldom if ever has the word “me” been used at so hushed a register.  Self does not autonomously announce its presence here, it is a natural 
            extension of greater powers of expression.  Sub rosa.  Sibiliant.  Final.  “The sea whispered  me” is—the lineation does this—also its own sentence, a 
            sentence within a sentence, an inmost sentence.  In whatever form the sea creeps to the speaker’s feet, it does so with a sibilant whisper and not with 
            a masculine bang.     
        </p>
        <p class="indented">
            At poem’s end, the speaker is the creation of the sea.  And he is the creation of his own poem, not its creator or the conductor of its orchestral 
            syntax.  As Whitman says, “a great poem should be a beginning to a man, not a finish.”  The poem ends humbly, on “me” but in doing so it ends 
            paradoxically on a note of highest liveliness.  In this case, liveliness is the capacity of poetry to still the self enough that it can hear its own 
            perpetual creation.
        </p>
        <p class="indented">
            “Me” is both direct and indirect object.  Not either/or but one/both.
        </p>
        <div class="dividing-line-container"><div class="dividing-line"></div></div>
    </div>
    <div class="article-sidebar">
        <div id="article-footnotes">
            <ol start="1">
            </ol>
        </div>
    </div>
</div>