<div class="article-page-container">
    <div class="article-pages" id="page1">
        <p class="not-indented">
            isn’t sleep.  Isn’t the clock’s steady<br />
            one and one and one though seconds eventually make<br />
            an hour. And morning passes<br />
            into a thing it might not recognize by afternoon.<br />
            <br />
            Or you practice the ordinary art<br />
            of shrinking strangers back to children, who they<br />
            could have been: bangs cut straight across,<br />
            boys and girls the same.<br />
            I blink kids into grown-ups too, who they<br />
            might become, the exaggerated gestures we do,<br />
            the weight on each word<br />
            a warning, kindly<br />
            or just so full of ourselves,<br />
            we can’t help it.  But this odder<br />
            <br />
            elsewhere not old or young, male,<br />
            female, this century<br />
            or that. It simply visits, this who, this<br />
            what. This art<br />
            of suspension. Wait.<br /> 
            <br />
            If you’ve ever acted, you understand what it is,<br />
            standing in the wings, the dark<br />
            murmur out there.  Every dream<br />
            for days you nightmare that. Saying or not saying.<br />
            Then wake to lights, the other<br />
            pretenders on stage bowing, happy enough.<br />
            Except it’s not<br />
            <br />
            like that, this wish<br />
            being small: to make emptiness<br />
            an occasion,  the art of calling-it-down.<br />
            To wonder for the first time as I write it. And elegant<br />
            is good. Wild, edgy, half-uttered in fragments is<br />
            good.  And always that sense of the dead overhearing.<br />
            Or simply: voice I never,<br />
            not once in the world, give me a sign.<br />
            I’ll pick up the thread. Dally with it, sit in its coma,<br />
            wait for its news in the little room<br />
            off the nurse’s station. Don’t be<br />
            <br />
            maudlin, says the garden, don’t<br />
            be pretty pretty pretty, and don’t think whimsy<br />
            unto irony disguises.<br />
            Because it is<br />
            a garden. You walk and walk and twilight now,<br />
            its darker half<br />
            half floats a yellow still visible in high spiky things.<br />
            <br />
            There’s a dovecote where nothing nests. There’s an expanse<br />
            orderly as blueprint but flowers get wily, and only<br />
            make believe they agree the best place<br />
            to stand or lean. It’s not the sun.<br />
            I can’t decide anything. Can’t decide.<br />
            <br />
            Begging bowl, ask<br />
            until asking<br />
            is a stain.  Any garden’s a mess.<br />
            Am I poised at an angle?  Am I listening?<br />
            A stillness in summer<br />
            so different than winter’s.  Lush and forgetful though<br />
            <br />
            all the lost summers lie in it, ones<br />
            in old photographs.  Children a century ago, a few<br />
            who never thought to leave, still busy<br />
            in certain pictures making houses in the yard out of<br />
            porch chairs tipped over,<br />
            and sheets.  Their worn shirts, their hair every<br />
            which way.  Someone loved them.<br />
            She raised a camera.<br />
            <br />
            But I don’t,<br />
            don’t mean that. It’s the art of the makeshift<br />
            almost house. Or how the children<br />
            don’t see her, so aren’t<br />
            dear yet.<br />
        </p>
    </div>
    <div class="article-sidebar">
        <div id="article-footnotes">
            <ol start="1">
            </ol>
        </div>
    </div>
</div>