<div class="article-page-container">
    <div class="article-pages" id="page1">
        <p class="normal">
            In 1938 Muriel Rukeyser said in a radio interview, “The actual world, not some fantastic structure that has nothing to do with reality, 
            must provide the material for modern poetry . . . .”  She had just published her second collection, <i>U.S. 1.</i>, and was talking about 
            “The Book of the Dead,” a long poem that explores the suit brought against Union Carbide by miners and the families of miners who became 
            ill from silicosis after working in a tunnel under conditions Union Carbide clearly knew to be unsafe.  The poem incorporates congressional 
            reports; interviews that Rukeyser, then a young journalist, conducted with survivors and the family members of miners who died; and other 
            public documents concerning the mining disaster.  When the radio interviewer compared the poem to Edgar Lee Master’s <i>Spoon River Anthology</i>, 
            Rukeyser countered, “What I have done is to use a contemporary statistical method.”  She is referring not just to the inclusion in the poem 
            of stock reports and salary information but also to her use of testimony from Congressional Subcommittee and community hearings in poems 
            “spoken” by community members.  In other words, Rukeyser makes use of the documentary form in her poem as a way to bring “the actual world” 
            into her poem.
        </p>
        <p class="normal">
          In the 1930’s documentary photography and the social documentary film were genres vigorously inventing themselves in America.  
          A team of photographers, including Ben Shahn, Walker Evans, Dorothea Lange and others, was hired by the Farm Security Administration 
          to photograph scenes from the Depression—images of poverty and the results of drought and poor working conditions—as a justification 
          for New Deal relief programs.  Leftist filmmakers made short documentaries of labor disputes and strikes, breadlines and the lives of 
          longshoremen.  In <i>Documentary Expression and Thirties America</i>, William Stott says, “We understand a historical document intellectually, 
          but we understand a human document emotionally.”  Or, as Marvin Bell says in his poem “Cable News Night,”  
        </p>    	
        <p class="excerpt-formatting-2">
			If you want to know how it was,<br />
			make the siren into the shape of a man<br />
			or woman.
        </p>
        <p class="normal">
            If the FSA photographs brought the shape of a man or woman, starkly and movingly, into focus, it was in the immediate service of propaganda: 
            to engage the emotions in order to change the law.  And the agenda of leftist documentary shorts such as “Workers on the Waterfront” was, 
            to quote Prairie Miller, to “become solidifying agents of political education, aiming to inform, to build morale, to agitate.”  
            But what of a photograph or a film that aspired at once to reality and to art?  For “a young art” is what, in 1949, in <i>The Life of Poetry</i>, 
            Rukeyser calls the social documentary of the 30’s, looking back fondly and with admiration: “They were not tricks, 
            the documentary methods . . . .  They were functions of real information in real art.”  Then she offers this criticism:
        </p>
        <p class="excerpt-formatting-2">
	        The flaw was this: that, working with a set of durable principles, the small groups making documentary films allowed themselves the 
            luxury of feeling that the principles alone would hold.  They did not go on creating.
        </p>
	    <p class="resume">
            Real information in real art.  How to bring art into interaction with reality without diminishing either the art or the reality?  
            How can art document a moment in time, or make use, as Rukeyser claims to do, of a “contemporary statistical method”? 
        </p>
        <p class="normal">
            My family has regular arguments about whether or not you can believe statistics—any statistics—you hear on the news or in a tabloid or 
            the <i>New York Times</i> or the <i>Arizona Republic</i> or out of the mouth of a politician.  And yet “fact” means something pretty plain: 
            “the quality of existing or being real.”  “Something known to exist or to have happened.”  Of her “Migrant Mother,” 1936 photograph 
            of Florence Owens Thompson, a pea-picker working in California during the Great Depression, Dorothea Lange wrote, “I did not ask her 
            name or her history. . . .  I did not approach the tents and shelters of other stranded pea-pickers.  It was not necessary; I knew I had 
            recorded the essence of my assignment.”  <i>Recorded</i>, she writes—to record, <i>to provide permanent evidence about past events</i>.  Is the careworn 
            face of that migrant worker, thirty-two-year-old pea-picker Florence Owens Thompson, a fact, or has it been transformed by lights and darks, 
            by framing, by a slight retouching of the woman’s hand, into evidence, or beyond evidence into . . . something else?  Does its lasting 
            quality make it art?  Does its artistry make it more or less real?
        </p>        
        <p class="normal">
            “Art is the process or product of deliberately arranging elements in a way to affect the senses or the emotion” (en.wikipedia.org.wiki/Art).
        </p>
        <p class="normal">
            “ART is a proprietary image file format used mostly by the America Online (AOL) client software” (en.wikipedia.org.wiki/Art).
        </p>
        <p class="normal">
            “. . . art is the third album from the Australian rock band, Regurgitator, released in 1999” (en.wikipedia.org.wiki/Art).
        </p>
        <p class="normal">
	        Muriel Rukeyser, what would you think of letting Wikipedia have the final word? Is fact in art a fabrication, or a new creation, 
            half-fact, half-poet?  If we begin with the facts, can we even begin to comprehend them?  Marvin Bell’s “Cable” poem concludes, 
            “We are such minds as have no mind to / linger, though we slow down at the scene.” Can a poem act as human siren whose mouthings 
            arrest the moment?  The reader?
        </p>
        <p class="normal">
            I’d like to consider these questions by looking at one section of Muriel Rukeyser’s <i>Book of the Dead</i>, and Khaled 
            Mattawa’s “On the Difficulty of Documentation,” a poem on Palestinian refugee camps from his 2010 collection <i>Tocqueville</i>.  
            I’m interested in how each poem addresses, departs from, makes free of, and/or somehow responds to an “actual world,” to some of 
            its facts that most trouble and alarm and baffle.
        </p>
        <br />
        <br />
    </div>
    <div class="article-sidebar">
        <div id="article-footnotes">
            <ol start="1">
            </ol>
        </div>
    </div>
</div>