<div class="article-page-container top-margin-10em">
    <div class="article-pages" id="page4">
        <p class="with-spacing indented">
            Sze’s poems often ride on the melting of their noticing, to borrow from Frost’s famous “The Figure a Poem Makes,” rather than on anticipation of a synthesis of antithetical elements. The complexity and freshness of their meanings comes through subtle analogy of images, tones, sounds, rather than through distinction and affirmation. Poems in both modes can certainly be composed in the manner Frost describes in his lovely figure of ice on a hot stove that “must ride on its own melting,” a process of discovery in composition similar to Sze’s: “[the poem’s] most precious quality will remain its having run itself and carried away the poet with it. Read it a hundred times: it will forever keep its freshness as a petal keeps its fragrance. It can never lose its sense of a meaning that once unfolded by surprise as it went” (778). A favorite logically-unfolding poem that always appears fresh is “September 1st, 1939” by W.H. Auden, which discovers its surprises out of a strict rhetorical and formal structure, in which antithetical human drives—to take solitary sensory pleasure from the world or to take power over others—must be transformed into one love for other human beings, or the consequences will be disastrous:
        </p>
        <pre class="preformatted-font with-spacing">
            All I have is a voice
            To undo the folded lie,
            The romantic lie in the brain
            Of the sensual man-in-the-street
            And the lie of Authority
            Whose buildings grope the sky:
            There is no such thing as the State
            And no one exists alone;
            Hunger allows no choice
            To the citizen or the police;
            We must love one another or die. (45-55)
        </pre>
        <p class="with-spacing no-indent">
            We arrive at the final line in this stanza, which would appear an empty truism in another context, feeling the full force of its moral imperative as the culmination of a logical argument and the delivery of the anticipated rhyme that has been postponed by four intermediary lines. Auden wrote this poem as a British expatriate in New York just after Hitler invaded Poland. The fear, frustration, and hope evoked in the poem are convincing to me, even though Auden would later renounce it. As Frost asserts in “The Figure a Poem Makes,” genuine emotion for the writer is a precondition for surprising oneself in writing a poem: “No tears in the writer, no tears in the reader. No surprise for the writer, no surprise for the reader” (777).
        </p>
        <p class="with-spacing indented">
            Who could verify such a statement? I can only say that in my experience it seems true. My best notes in <em>The Book of Uncommon Praise</em> arose out of a genuine feeling of wonder at what I was noticing. At the same time, there are many unreadable purple passages in that journal where I am trying to impose some feeling on an object or experience that I just didn’t have. My point, ultimately, is that at this moment in time, when I am honest with myself about the origin of my deepest feelings, I see them arising out of small moments of everyday perception of the world around me or insights into the relationships I care about. Though I have written some rhetorical political poems expressing deep anxiety about environmental destruction, the moments when those anxieties have risen to the pitch of an impetus to write poems have been far fewer recently than moments of surprise at seemingly more mundane subjects.
        </p>
        <p class="with-spacing indented">
            I find Sze, then, so insightful in understanding why these smaller noticings, these smaller surprises, can nevertheless be 
            profoundly important.  Sze, as editor of the anthology <em>Chinese Writers on Writing</em>, remarks how recent Chinese writers 
            in exile in the West have observed that the strong impetus of political resistance that drove their poems in their home 
            country disappeared when they could suddenly write anything they wanted:
        </p>
        <p class="excerpt-spacing">
            For the more recent Misty School poets, Bei Dao’s generation, you should know
            that they had large audiences and what they wrote was taken very very seriously.
            So when Chinese writers have left China, they’ve often said: “Writing in Chinese,
            we knew what the stakes were, we knew certain political and social boundaries,
            and we felt like our lives were on the line. Now that we’re in America, we can
            write anything we want. We have this great freedom, but the tension is gone.
            Nobody really cares or, at the least, there isn’t that dangerous edge that there was
            in China.” (Davis 7)
        </p>
        <p class="with-spacing no-indent">
            Sze goes on to outline a different function for poetry in our more politically open, more privileged American society:
        </p>
        <p class="excerpt-spacing">
            For the American writer, I think writing asserts imaginative power, a widening and deepening of our experience, and poetry as an art form is in resistance to American consumer culture because it asks readers to slow down, to listen, to fully experience the sounds, rhythms and nuances of language. Good poems need to be read and re-read again. Stevens asserts, “Poetry must resist the intelligence almost successfully.” So poetry reveals itself over repeated readings. It is incredibly nourishing and plays a vital role in rooting ourselves imaginatively in the world. What’s at stake is to see clearly, to experience with deep emotion. At the Napa Valley Writer’s Conference in July, Brenda Hillman asserted, “Deep feeling is endangered in American culture. Few people feel deeply anymore.” And poetry asks us to passionately do that. (Davis 7)
        </p>
        <p class="with-spacing no-indent">
            Slowing down, seeing clearly, experiencing with deep emotion—these actions may at first seem narrowly personal. Bennett, though, argues that we need to be aware of the ways our emotions affect our ethical choices because wonder at the world is often a precondition for caring about it and our worldviews are to a certain extent performative: we create the world we imagine. In other words, if we are only capable of imagining the desecration of the world, we will inhabit a desecrated world:
        </p>
        <p class="excerpt-spacing">
            …it seems to me that presumptive generosity, as well as the will to social justice, are sustained by periodic bouts of being enamored with existence, and that it is too hard to love a disenchanted world. Affective fascination with a world thought to be worthy of it may help to ward off the existential resentment that plagues mortals, that is, the sense of victimization that recurrently descends upon the tragic (or absurd or incomplete) beings called human. (12)
        </p>
        <p class="with-spacing no-indent">
            Bennett asks us to be enamored with the existence we inhabit, which includes metamorphing creatures (for example: Catwoman; Deep Blue; Rotpeter, Kafka’s ape-man); nanotechnology; advertisement (pants dancing as if by their own volition in a Gap ad). Bennett is careful to acknowledge the potential negatives of each of these phenomena, but she also accepts them as facts of our world and asks us to be honest about the wonder they evoke, drawing on that wonder in our thinking about who we are and how we might act ethically.
        </p>
        <p class="with-spacing indented">
            For example, she points out that the harsh condemnation of consumerism by theorists like Adorno and Horkheimer may help us both feel righteous in our opposition to consumerism and sense that changing our consumption habits won’t affect the capitalist monolith at all, leaving us to continue consuming indifferently. Instead, if we acknowledge that there is an aspect of consuming that is attractive to all of us, we might come to consume more inclusionary goods (public healthcare, education, transportation, for instance) and fewer exclusionary (cars, private healthcare, private education). Most importantly, when we presume the world of late capitalism is a totalizing force of control, we set ourselves up to feel helpless to act ethically, and we blind ourselves to the potentially magnanimous, exhilarating energies latent in capitalist products.
        </p>
        <p class="with-spacing indented">
            Bennett’s call to be open to the wonder possible in a contemporary context might be seen as a very recent iteration of Lao-tzu’s admonition to be prepared to accept and use whatever arises: “[The master] is ready to use all situations / and doesn’t waste anything” (27); or of Keats’s negative capability: “…when a man is capable of being in uncertainties, mysteries, doubts, without any irritable reaching after fact and reason” (261). The poetry of Arthur Sze is capable of evoking the wonder of contemporary subjects. “Virga,” for instance, begins: “A quarterback slants a short pass to a tight end, / and the screen fills with tacklers” (1-2). The way the screen fills with tacklers in this opening image is uncanny; it is as if the screen was a vessel and the humans were being poured into it. The uncanniness is reinforced by the parallelism of “quarterback slants” and “screen fills,” which accords an equal agency to the human and the screen. The image gives us a sense that the players are there as much to fill the screen as the screen is to record their playing.
        </p>
        <p class="with-spacing indented">
            By simply noticing in a detached way what happens on the screen, Sze has undermined the narratives of personal glory professional and college football leagues use to keep people interested, subtly suggesting that the players might be merely replaceable atoms in a massive entertainment complex. But they become something even stranger, almost sublime, when we recall them by analogy in the poem’s final image: “at an underwater peak / in the Coral Sea, shrimp thought to be extinct / for fifty million years, on a large screen, congregate” (27-29). Is it that, like the shrimp’s unexpected resilience, some resilient quality being acted out through football will allow human beings to go on? Or, more sinister, is it that all life has come to be mere content to be watched on screens by passive human receivers? Or, perhaps it is that screens offer a frame through which the world’s wondrousness can be newly appreciated—the coordinated movements of football tacklers, of shrimp so deep in the sea that without cameras their existence would be entirely unknown? As with the analogous images in many of Sze’s poems, all of these possibilities seem plausible—their non-exclusive co-existence inaugurates the complex, multi-dimensional world of the poem.
        </p>
        <p class="with-spacing indented">
            The suggestive juxtapositions in Sze’s poems are endless as the possible moves in the Chinese game of “go,” which the poem “Fractal” posits would “…take a computer / longer than the expected / lifetime of the universe” to consider (5-7). What a pleasure, then, to trace significances in a few sequences while knowing there will always be other significances in store on another read. In “Yardangs,” “a neighbor frets over air-pollution vectors; / a teenage girl worries her horse slashes // its neck along barbed wire” (8-10).  In “Grand Bay” an “…airplane lifts / from a nearby strip and triggers vultures” that “rise in waves” (11-13). In “Pinwheel,” a walk across the forecourt of the Pergamon Altar (in Berlin), the “incubator // of dreams” (12-13) foreshadows the later living dream of life on the street: “We did not foresee sponges dangling / inside a spice shop or the repeating pattern // of swastikas along walls that have led there” (13-15).
        </p>
        <p class="with-spacing indented">
            Bachelard offers us an even more basic way to apprehend Sze’s juxtaposed images than attempting to explain their significances:
        </p>
        <p class="excerpt-spacing">
            the reader of poems is asked to consider an image not as an object, and even less as a substitute for an object, but to seize its specific reality…At the level of the poetic image, the duality of subject and object is iridescent, shimmering, unceasingly active in its inversions. (xv)
        </p>
        <p class="with-spacing no-indent">
            The “specific reality” presented by the image works like a hologram, then—a hologram held at an angle conducive to experiencing its depth, and, when it is shimmering just at that angle, we may feel we inhabit the dimensioning of that depth. Yes, held at another angle, the illusion will disappear and we may see the bare outlines of the image, the text as text. But this admission doesn’t preclude dwelling in the dimension the image, when apprehended naïvely at the right angle, inaugurates.
        </p>
        <p class="with-spacing indented">
            If the poetic image is not a concept, then, if it is not a symbol pointing to some idea outside of itself, not a digestion of objects into subjective thought, what is it, and what good is it? To Bachelard, it is a coming into being, into form, of an “inner light” that is not simply a reflection of a “light from the outside world” (xvii). Or, as Heidegger sees it, through the lens of Rilke’s famous characterization of poets as “bees of the invisible”:
        </p>
        <p class="excerpt-spacing">
            The inner recalling converts that nature of ours which merely wills to impose, 	together with its objects, into the innermost invisible region of the heart’s space. 	Here everything is inward: not only does it remain turned toward this true interior 	of consciousness, but inside this interior, one thing turns, free of all bounds, into 	the other. The interiority of the world’s inner space unbars the Open for us. Only 	what we thus retain in our heart (par coeur), only that do we truly know by heart. 	Within this interior we are free, outside of the relation to the objects set around us 	that only seem to give us protection. In the interiority of the world’s inner space 	there is safety outside of all shielding. (130)
        </p>
        <p class="with-spacing indented">
            For Heidegger, the “objects set around us that only seem to give us protection” are the material ends of a language that assumes an instrumental relationship to the earth and its resources (the powerlines, computers, televisions, airplanes, etc. we find in Sze’s poems), a language that arises out of a desire to dominate Earth through scientific calculation and technological production. The language of poetry frees us psychologically from this instrumental relationship to Earth, allows us access instead to an interior “world” of being. For Bachelard, the poem reverberates with “a sonority of being” when we speak it:
        </p>
        <p class="excerpt-spacing">
            The reverberations bring about a change of being. It is as though the poet’s being 	were our being. The multiplicity of resonances then issues from the 	reverberations’ unity of being. Or, to put it more simply, this is an impression that 	all impassioned poetry-lovers know well: the poem possesses us entirely. (xviii)
        </p>
        <p class="with-spacing indented">
            Being possessed is frightening. It is an experiment with non-identity, with a focus so total it exists outside the realm of reflective thought. It is an absorption into a being shared by all beings, where, according to Heidegger, “one thing turns, free of all bounds, into the other.” In other words, the poetic image is an enchantment, in Bennett’s sense of that word (drawing on Philip Fisher): a momentarily immobilizing encounter, a suspension of time and body movement, a moment of pure presence, which, crucially, doesn’t remind us of anything (5). We might think again of Emerson’s claim in “Self-Reliance” that true prayer doesn’t ask for anything, it is more like pure joy: “It is the soliloquy of a beholding and jubilant soul” (276). Or of Simone Weil’s related assertion: “Absolutely unmixed attention is prayer” (106). The good of images like those in Sze’s poems, then, is that they allow us to experience the fullness of being. Creation of and receptive immersion in the poetic image, by its very nature, must take place outside the realm of instrumental production and consumption, in the fortuitous space of naïvety, openness, attention.
        </p>
        <p class="with-spacing indented">
            Allowing oneself to be possessed and enchanted, experimenting with non-identity—these practices are as old as human culture. Brenda Hillman offers a compelling metaphor to explain the significance of such ancient ideas in our current moment: just as increased technological production and resource consumption threaten biological species with extinction, they threaten species of thought:
        </p>
        <p class="excerpt-spacing">
            In addition to endangered species, there are endangered forms of thought. One of the things ecopoetics tries to do is reconfigure the poem so as to include some of 	the endangered thought species. Poets keep track of radical and intimate 	encounters with the nonhuman. These encounters have often taken 	iconoclastic—	and seemingly “abnormal”—forms in writers such as Clare, Dickinson, or Gerard 	Manley Hopkins, and include the permission to record the unacceptable or 	dysfunctional perception, the excess of feeling, or the integration of mythic states 	with other ideas.  (Hume 12-13)
        </p>
        <p class="with-spacing no-indent">
            The metaphor might be extended—just as biodiversity is necessary for an ecosystem to reach and maintain a state of climax, so thought-diversity is necessary to ensure a flourishing of salutary “encounters with the nonhuman;” otherwise, instrumental reason, which views all nonhuman others as potential resources for extraction, potential means to the ends of human enjoyment, might so dominate our understanding of these encounters as to eventually eliminate them altogether.
        </p>
    </div>
</div>
