<div class="article-page-container top-margin-10em">
    <div class="article-pages" id="page5">
        <p class="with-spacing indented">
            <em>The Book of Uncommon Praise</em> was ultimately a failure in a number of ways. My interpretation of praise was too narrowly positive—the beam of my attention was focused primarily on natural objects like trees, rivers, mountains I felt I could safely worship. I missed the larger point of attention—being fully present to what is actually there. At times my sentences sound like those of a second-rate Ruskin imitator. Though I agree with Hillman about the value of incorporating “endangered thought species” in one’s work, including “radical and intimate encounters with the nonhuman,” I admit I was often beholden to these “endangered thought species” to the detriment of my noticing. Furthermore, my practice was usually to take my journal into the field and record as I saw; when I didn’t see anything, I strained to see something. I rarely made leaps out of the narrowly defined present of my walk into memories, ideas, myths, all the inward riches of association. I was “grazing on the ‘immediate biomass’ of perception, sensation, and thrill,” as Gary Snyder cautions against in “Poetry, Community, & Climax,” rather than “re-viewing memory, internalized perception, blocks of inner energies, dreams, the leaf-fall of day-to-day consciousness” (174).
        </p>
        <p class="with-spacing indented">
            I have since changed my writing practice. I rarely take a journal with me and write on the spot. Rather, after I have had some unusual experience or gone for a walk or a bike ride I let some time pass before I record the aspects of it that have stayed with me. In this sense, memory becomes a tool of selection. I tend to remember best what I noticed myself noticing and to forget the rest. Another change is that I allow frequent associative leaps off of the subject of my walk or ride into other areas of my mind. The associations might be of sound, tone, shape, or of analogies I am not even aware of at the time. I have learned to worry less about the coherence of what I am writing and have thus come closer to writing <em>to write</em>.
        </p>
        <p class="with-spacing indented">
            Later, I comb back through a number of journal entries looking for phrases, images, metaphors, that call out to each other across the page. I pull these out to see if they might coalesce, along with other lines composed at the moment, into a poem. It is a playful process, but always, I hope, “play for mortal stakes” as Frost describes meaningful work in “Two Tramps in Mud Time”:
        </p>
        <pre class="preformatted-font with-spacing">
	        Only where love and need are one,
	        And the work is play for mortal stakes,
	        Is the deed ever really done
	        For Heaven and the future's sakes. (69-72)
        </pre>
        <p class="with-spacing no-indent">
            My journal now is more playful than when I filled <em>The Book of Uncommon Praise</em>, but the stakes feel as high or higher. An entry October 22nd of this past year should demonstrate the difference in my process from that exhibited in the passages I quoted earlier:
        </p>
        <p class="excerpt-spacing">
            <em>The scent of the snuffed match that lit the candle lingers long after the meditation begins. I listen to the recording of someone breathing years ago already in San Francisco. Remember eating the large, cheap, tongue-like oysters at happy hour in Seattle, drinking stout. Happy hours hail hangovers. But first, listening to the symphony just at the edge of drunkenness, you feel falsely carried by the notes into the upper deck. Then fall back down, to sleep almost, by intermission. Before a child is born, the whole world is there for your pleasure alone. Then you mumble in the night to your love to be careful not to roll over onto him whom you have already put back in his crib. All occurrences are teaching us acceptance. I’d like to learn anything else. One bag of fresh stir-fry noodles I bought yesterday was thorough moldy. We sat to eat and I smelled the foul steaming strands hanging from my chopsticks. This morning sunlight raised the backyard maple to a glorious orange-yellow. Now distant clouds have come to backdrop the tree, deepen its catching colors. Months from now you could blow on the smoldering coals of those colors, and they will go out anyway. Imagine your chagrin, you gaseous pouch! The pianist’s hands quiver with potentials my untrained hands lack. Do pianists’ hands pump gas? Please, no. And yet I do hope they dice unusual squash. Delicata, yes. My eyes have potentials, yes. Bright leaf-piles decorate the street. The tall tree by the auditorium is a gingko! I must never have looked higher than its trunk. My life had come to mean…anger at noodles. Dear tree, now that I see you are a Gingko, I feel the lockjaw superego release. I heard Mitsuko Uchida climb Bach’s spiral staircase in that auditorium for five dollars, you must have arranged it. I place fingertips on eyelids veined like your fan-shaped leaves. I think I could hear every note of a sonata without being reminded of anything. The sonata Delicata. A sonata for prepared rattle with tea tin accompaniment. It is an orange-striped emittance. An out-crashing gas. Ezra is its centripetal center. Everyone asks how he is sleeping, not how often he smiles. Not whether he enjoys looking at a book upside down as much as the other way. “Will he watch with berserker joy the tea tin roll across the floor and back?” no one asks. Here: a cold apple from the refrigerator, a cold apple on the bough. Monsieur Ez grimaces to bite where I have bitten, smiles as if he has been tricked, grabs the apple to bite again. We live far enough from the city the first frost is news to people. I like whatever is news to people, but—people. If we only agreed to comb each other’s eyebrows sometimes there would be this trust. Before we ever kissed the lost one asked me to shave her neckline with a razor! Oh we had it all out of order. My breath rustled the hanks I lifted. Breath and neckline and rapt rapt rapt the razor made itchy sound where it slid...  “Stand back! Give me a little time beyond my cuffed head and slumbers and dreams and gaping…” Yes, that’s why barbers smile that way. I just say joy of the worm to them. A young man picks up a smooth buckeye, thinks uneasily of his wormy testicles. We act certain the outer ring of the stump was last. But we were born so late, it could have always been all rings at once.</em>
        </p>
        <p class="with-spacing indented">
            Is this excerpt done for “Heaven and the future’s sakes?” Let’s not know, yet. In fact, let’s let others know, let’s only notice: the recurrence of child and music and trees. Of failed philosophies. Of circles, spirals, rings. Of sensory pleasures, loves.
        </p>
        <p class="with-spacing indented">
            And it leaps! Meditation to oysters to symphony to baby to noodles. Maple to hands to gingko to symphony to baby. Frost to eyebrows to lost love to barbers to buckeye to stump. Emerson says: “Power ceases in the instant of repose; it resides in the moment of transition from a past to a new state, in the shooting of the gulf, in the darting to an aim” (271). Emerson isn’t always right. I’d modify his statement thus: “in the shooting of the gulf, in the darting, darting, darting…” My aim was to write to write. Perhaps I accomplished that. I like to think it is somewhat evidenced in the unselfconsciousness of the passage, in the charge of its language. I also like what the Tao te Ching says: “Do your work, then step back. / The only path to serenity” (9).
        </p>
        <p class="with-spacing indented">
            I step back, knowing the work is there to return to. It could be a poem is somewhere in the passage. It could be a poem is somewhere across this passage and others. It could be the passage is complete unto itself or irreparably incomplete.  What luck to not know yet! To feel no irritable reaching!
        </p>
        <p class="with-spacing indented">
            If attention is in the passage, there is praise. If it is attention it is uncommon in that it won’t ever occur again in just that way. Tomorrow I will return to the passage or to the possible poem or to a blank page with openness, hopefully. Like A.R. Ammons in “Corsons Inlet,” I will greet whichever of these I choose without finality of vision, like a new walk:
        </p>
        <pre class="preformatted-font with-spacing">
                I see narrow orders, limited tightness, but will   
            not run to that easy victory:
                        still around the looser, wider forces work:
                        I will try
                   to fasten into order enlarging grasps of disorder, widening   
            scope, but enjoying the freedom that
            Scope eludes my grasp, that there is no finality of vision,   
            that I have perceived nothing completely,
	            that tomorrow a new walk is a new walk. (120-128)
        </pre>
        <p class="with-spacing">&nbsp;</p><br />
        <div id="article-workscited">
            <span class="workscited-title">Works Cited</span>
            <p>
                <a name="wc1"></a>Ammons, A.R. <em>The Selected Poems: Expanded Edition</em>. New York: Norton, 1986. Print.
            </p>
            <p>
                <a name="wc2"></a>Auden, W.H. “September 1, 1939.” <em>www.poets.org</em>. Web. 8 Feb. 2015.
            </p>
            <p>
                <a name="wc3"></a>Bachelard, Gaston. <em>The Poetics of Space</em>. New York: The Orion Press, 1964. Print.
            </p>
            <p>
                <a name="wc4"></a>Baker, David. “A Conversation with Arthur Sze.” <em>The Kenyon Review Conversations</em>. Kenyon Review Online. June 2010. Web. Dec. 2014.
            </p>
            <p>
                <a name="wc5"></a>Bennett, Jane. <em>The Enchantment of Modern Life: Attachments, Crossings, and Ethics</em>. Princeton: Princeton University Press, 2001. Print.
            </p>
            <p>
                <a name="wc6"></a>Davis, Jen Marie and Travis Macdonald. “Dual Perspective: An Interview with Arthur Sze.” <em>Fact-Simile</em>. 3.2 (Autumn 2010): 6-9, 33-36. Web. Dec. 2014.
            </p>
            <p>
                <a name="wc7"></a>Emerson, Ralph Waldo. <em>Essays and Lectures</em>. Ed. Joel Porte. New York: The Library of America, 1983. Print.
            </p>
            <p>
                <a name="wc8"></a>Frost, Robert. <em>Collected Poems, Prose, and Plays</em>. Richard Poirer and Mark Richardson, eds. New York: The Library of America, 1995. Print.
            </p>
            <p>
                <a name="wc9"></a>Hass, Robert. <em>Field Guide</em>. New Haven: Yale University Press, 1973. Print.
            </p>
            <p>
                <a name="wc10"></a>Heidegger, Martin. <em>Poetry, Language, Thought</em>. New York: HarperCollins, 1971. Print.
            </p>
            <p>
                <a name="wc11"></a>Hume, Angela. “Imagining Ecopoetics: an Interview with Robert Hass, Brenda Hillman, Evelyn Reilly, and Jonathan Skinner.” <em>Interdisciplinary Study of Literature and Environment (ISLE)</em>. 19.4 (Autumn 2012): 751-766. Print.
            </p>
            <p>
                <a name="wc13"></a>Keats, John. <em>Selected Poems and Letters</em>. Douglas Bush, ed. Boston: Houghton Mifflin, 1959. Print.
            </p>
            <p>
                <a name="wc14"></a>Lao-tzu. <em>Tao Te Ching</em>. Trans. Stephen Mitchell. New York: Perennial Classics, 1988. Print.
            </p>
            <p>
                <a name="wc15"></a>Levertov, Denise. “Some Affinities of Content.” <em>New & Selected Essays</em>. New York: New Directions, 1992. Print.
            </p>
            <p>
                <a name="wc16"></a>Rosenthal, Sara. “Our Very Greatest Human Thing is Wild: An Interview with Brenda Hillman.” <em>Rain Taxi Online</em>. Rain Taxi. Fall 2003. Web. July 2014.
            </p>
            <p>
                <a name="wc17"></a>Ruskin, John. <em>Ruskin’s Modern Painters: Abridged and Edited</em>. Ed. A. J. Finberg. London: G. Bell and Sons, 1927. Print.
            </p>
            <p>
                <a name="wc18"></a>Snyder, Gary. “Poetry, Community, Climax.” <em>The Real Work: Interviews and Talks 1964-1979</em>. Wm. Scott McLean, ed. New York: New Directions, 1980. Print.
            </p>
            <p>
                <a name="wc19"></a>Suzuki, Shunryu. <em>Zen Mind, Beginner’s Mind</em>. Boston: Weatherhill, 2005. Print.
            </p>
            <p>
                <a name="wc20"></a>Sze, Arthur. <em>The Ginkgo Light</em>. Port Townsend: Copper Canyon Press, 2009. Print.
            </p>
            <p>
                <a name="wc21"></a>Weil, Simone. <em>Gravity & Grace</em>. New York: Routledge, 2001. Print.
            </p>
            <p>
                <a name="wc22"></a>Yohe, Jill Ahlberg. “Situated Flow: A Few Thoughts on Reweaving Meaning in the Navajo Spirit Pathway.” <em>Museum Anthropology Review</em> 6.1 (2012). Web. Dec. 2014.
            </p>
        </div>
        <p class="with-spacing">&nbsp;</p><br />
        <div id="article-workscited">
            <span class="workscited-title">Permissions</span>
            <p>
                “Power Line” and “The North Window” from <em>The Gingko Light</em>, © 2009 by Arthur Sze, used by permission of Copper Canyon Press, www.coppercanyonpress.org
            </p>
        </div>
    </div>
</div>
