<div class="article-page-container top-margin-10em">
    <div class="article-pages" id="page3">
        <p class="with-spacing indented">
            Arthur Sze, a poet whose work I have come to admire, espouses an understanding of the poetic process similar to my own. Crucially, Sze understands that goal-oriented poetry, poetry that desires, for instance, to express a certain political orientation, is in danger of becoming shallow and predictable:
        </p>
        <p class="excerpt-spacing">
            I prefer poetry that isn’t overtly political. It seems to me a danger of political poetry is when you or the poem moves into a position where you try to tell people what to see or what to do, and poetry shouldn’t really be doing that. Poetry should be mining a much deeper, visionary experience and, in a way, shedding all of those controls. It’s much more subversive and liberating in its true potential and actuality. Ultimately, politics are going to be there—you can say they’re even in the choice of words you make, in the form of the poem you choose or create. But I prefer poems to be a little more oblique; as Emily Dickinson said, “Tell all the truth, but tell it slant.” (Davis 7)
        </p>
        <p class="with-spacing no-indent">
            Sze’s preference for obliqueness means that his poetry is often not reducible to any particular stance or commitment; he says of his writing process, “My procedure, more often than not, is to shed or not know where I’m going” (Davis 8). Nevertheless, he works to balance openness with rigor:
        </p>
        <p class="excerpt-spacing">
            …I want to add a distinction between superficial and deep surprise. On a first
            reading, a poem may dazzle with surface effects, but if the underlying rigor isn’t
            there, the initial surprises evaporate, whereas, with a deep surprise, there may be
            an initial feeling of discomfort and disorientation, but over several readings, the
            singularity of vision and underlying rigor emerge. (Baker)
        </p>
        <p class="with-spacing no-indent">
            Sze’s notion of “deep surprise” here, the initial discomfort of which invites further investigation, is comparable to Bennett’s description of enchantment, with its fear that “becalms and intensifies perception” (5).  Beyond the “pleasurable feeling of being charmed by the novel and as yet unprocessed encounter” during enchantment, Bennett posits “a more <em>unheimlich</em> (uncanny) feeling of being disrupted or torn out of one’s default sensory-psychic-intellectual disposition” (5). Sze’s “deep surprise,” after initially disrupting our default sensory-psychic-intellectual disposition, opens a meditative space in which to contemplate the possibly limitless interconnections between objects and occurrences, without delimiting and thus fossilizing their significance.
        </p>
        <p class="with-spacing indented">
            In Sze’s poems, “deep surprise” opens an imaginative world that is inhabitable. Inhabiting requires we more fully utilize all of our organs of perception and thought—to be fully present. Take, for instance, the poem “Power Line” from Sze’s 2009 collection, <em>The Gingko Light</em>, whose juxtaposition of intensely particular images is exemplary of Sze’s style since his acclaimed 1996 collection, <em>Archipelago</em>:
        </p>
        <pre class="preformatted-font with-spacing">
            <em>Power Line</em>

            As light runs along the length of power lines,
            you glimpse, in the garden, watermelon,
            honeydew, broccoli, asparagus, silking corn;

            you register the tremor of five screech owls
            perched on a railing under the wisteria,
            shaggymanes pushing up through pecan shells;

            though a microbiologist with a brain tumor
            can't speak—he once intimated he most
            feared to be waiting to die and is now

            waiting to die—children play tag in spaces
            around racks of bowling balls and white tables,
            while someone scores a strike, shrieks;

            young girls chasse diagonally across a floor;
            a woman lays in an imperfection before
            she completes her Teec Nos Pos weaving;

            a sous-chef slices ginger, scallions,
            anticipates placing a wet towel over dumplings,
            as light lifts off the length of a power line.
        </pre>
        <p class="with-spacing indented">
            On a first reading, the images of this poem may seem mundane and disconnected from one another. However, further inspection shows each image is unusual and compelling in its way, and resonates with other images in the poem. The opening image, light running along the length of power lines, is not dramatic, but it is particular, the kind of thing we see all the time without noticing ourselves noticing it. What’s more, the more you think about it, the stranger the image becomes—the “power” of each power line has nothing to do with the sunlight that falls on the line; the line transmits electricity day and night. And yet, zoom out a few levels of scale, and the sunlight has everything to do with the power inside the line—whether it is generated by wind, water, coal, or uranium, that electrical power originates in the power of the sun. The image and the poem’s title become subtly meta-poetic—the “power” in each line of poetry is transmitted through the charge held by its sound, tone, and image; but, in a larger sense, each line is dependent for its full power on the dimensioning effect of the poet’s vision of the relationship of all of the sounds, images, and tones in the poem.
        </p>
        <p class="with-spacing indented">
            One of the amazing aspects of “Power Line” and Sze’s poetry in general is how subtly, almost imperceptibly, the author intervenes in the creation of meaning; in other words, very little of the poem could be said to be rhetorical. Instead, the poem invites us to compare the tremor of screech owls living under the wisteria in a garden with children playing in a bowling alley and with the shrieks of the bowlers. What to make of such a comparison? Each occurrence is set in a human, circumscribed space—a garden, a bowling alley—and each space, nevertheless, allows the spontaneity of life to occur within its bounds—tremors, play, shrieks. Still, there is uncertainty. A tremor or a shriek can be a sign of pleasure or of pain, a strike is a triumph in bowling but can mean death in a military context. Soon after the strike in the bowling alley, “a woman lays in an imperfection before / she completes her Teec Nos Pos weaving” (14-15)—an image of a woman making a Navajo rug. Because this indigenous craftswoman appears so soon after the strike, we cannot help but remember the history of brutality perpetrated against the Navajo and other indigenous groups. However, according to ethnographer Jill Ahlberg Yohe, the imperfection (called a “spiritline”) Sze refers to is an artistic element of the rug purposely included by Navajo weavers to invite the rug-making tradition to continue and to express modesty: “the spiritline is woven into the textile as an intentional ‘flaw,’ a symbolic path for the survival of the weaving tradition to continue into the future. The second interpretation is that the spiritline is a deliberate design element incorporated by the weaver as a valued expression of modesty” (Yohe). So, the image of the weaver is also one of hope—of a tradition continuing despite great hostility, even as it subtly reminds us of that hostility.
        </p>
        <p class="with-spacing indented">
            Similarly, the positive image of the edible mushrooms pushing up through the pecan mulch contrasts with the unwanted growth of the tumor in the microbiologist. This latter image is complex in itself as the tumor is about to kill someone who may have contributed something to the understanding of or treatment of such tumors. Later, the image of girls chasse-ing in a zigzag, which, taken by itself, might evoke the corniness of a halftime show at a high school basketball game, rhymes visually with the zigzag pattern of the Navajo rug and becomes a sort of spiritline of its own. The final stanza of the poem celebrates sensation, the smell of ginger being cut, the taste of scallions, the tactile enjoyment of draping dumplings with a wet cloth. And yet these images are also subtle transmogrifications of the images of the living garden in the first stanza—where we had growing watermelons, broccoli, asparagus to open the poem, we conclude the poem with picked scallions and ginger, and whatever is filling the dumplings, probably beef or pork. We can anticipate the enjoyment of the dumpling’s taste, while also realizing that something living was sacrificed to make them. We can see the light lifting off of the power line and realize it is a signal of the end of a particular day, while also realizing that an end of all days will come for each of us. The power of “Power Line” is its complexity: it doesn’t ask us to choose between elegy and ode (which in another poem in <em>The Gingko Light</em>, “Equator,” form “our magnetic north and south”), but to enter a space in which we can contemplate both modes simultaneously.
        </p>
        <p class="with-spacing indented">
            In this sense, Sze is updating John Keats’s negative capability for the 21st century. “Negative capability,” which Keats describes as a state in which “a man is capable of being in uncertainties, mysteries, doubts, without any irritable reaching after fact and reason,” bears a strong resemblance to older meditative philosophies in which judgment is suspended in order to escape the ego’s tunnel-vision, especially Taoism and Buddhism (261). Sze’s poetry, which has been included in <em>The Wisdom Anthology of Contemporary Buddhist Poetry</em>, reaches back through the American Transcendentalists and British Romantics to a deeper vein of non-attachment in Asian philosophy. However, it would be wrong to think that because it rarely displays an “irritable reaching after fact and reason” Sze’s poetry never explores fact and reason. Rather, as in the “The North Window,” when Sze’s speakers employ rhetoric, they do it in a provisional, non-exclusionary way. In other words, ideas are often followed immediately by different, even contradictory ideas, so that the concerns of ego and superego are not denied and yet the mind is not allowed to fix on any one idea as if it provided a total picture of the world beyond the mind.
        </p>
        <pre class="preformatted-font with-spacing">
            <em>The North Window</em>

            Before sky lightens to reveal a coyote fence,
            he revels in the unseen: a green eel snaps; 

            javelinas snort; a cougar sips at a stream.
            He will not live as if a seine slowly tightens

            around them. Though he will never be a beekeeper,
            or lepidopterist, or stand at the North Pole,

            he might fire raku ware, whisk them to Atitlán,
            set yellow irises on the table, raft them

            down the Yukon. He revels at the flavor of 
            thimbleberries in his mouth, how they rivet 

            at a kiss. In an instant, raku ware and 
            the Yukon are at his fingertips. As light 

            traces sky out the north window, he nods: 
            silver poplars rise and thin to the very twig.
        </pre>
        <p class="with-spacing indented">
            In the opening stanza, the speaker posits a character who, before sunrise, is imagining animals—eel, javelina, cougar—living their lives out in the dark world. Curiously, we are told the character is imagining these animals “Before sky lightens to reveal a coyote fence,” so that he must also be imagining the coyote fence—a type of irregular wooden fence erected in New Mexico to prevent coyotes from leaping onto an owner’s property (1). Immediately we see a mind bringing into reality through its imagining animals as well as a means of controlling animals. We seem to be confronted with contradictory ideas: that one can both revel in the human-made, which impinges on and limits the activities of animals, and in the animals’ free, unhindered presence.
        </p>
        <p class="with-spacing indented">
            These two ideas are synthesized in the assertion at the end of the second couplet: “He will not live as if a seine slowly tightens / around them” (4-5). Here the character reveals the anxiety that the human-made means of animal control, the seine, might trap (and presumably kill) the animals he has imagined living free. Yet, curiously, he goes on to admit that he will never be a bee keeper or lepidopterist, as if those professions would allow him to keep the seine from closing down around animal species, when in fact those disciplines are highly controlling of the species they study, even requiring the death of individual organisms (think of Nabokov’s butterfly collection). Standing at the North Pole, too, seems to be the dubious result of the human ambition to know the world and conquer it. However, on second look, it is not so different from the more playful assertion that the character can imagine whisking these species to safety in a Guatemalan lake or an Alaskan river. Curious, too, is the interpolation of firing raku ware (Japanese pottery used in tea ceremonies) and setting yellow irises on a table—two acts done for the purposes of aesthetic pleasure—into the imaginary rescue of the animals. Is the idea that the rescue will be an act of aesthetic enjoyment that will allow humans to co-exist with other species being set in contrast here to the act of scientific observation, whose distancing makes it easier to control the animal other? That there is a type of human making that is generous to other species and a type that is disastrous? Could cutting irises be said to allow the flowers a separate existence like a cougar sipping at a stream? Strange, too, is that a sudden moment of sensory pleasure—the kiss-like eating of a thimbleberry, puts imaginary raku ware and Yukon at the speaker’s fingertips. Here, the attentively experienced sensory detail (thimbleberry) appears to allow imagined things (raku ware, Yukon) to be experienced as if they too were sensory.
        </p>
        <p class="with-spacing indented">
            A reader may initially be at a loss to find a through-line of coherent thought in “The North Window.” However, Sze’s poem isn’t trying to convince us of an effective means of preserving animal species; it isn’t instrumental in that way. Rather, it is asking us to experience a sensitive mind’s mulling this problem from many angles at once. It is as if the poem is asking us to notice (not control) thoughts as they arise; as if, before we can act ethically we must learn to notice <em>all</em> of the competing impulses behind our desire to act. What is affirmed, finally, is that this process of noticing allows us to fully inhabit our lives. Because the speaker has traced this imagining that begins with a slight anxiety about a coyote fence out in the pre-dawn dark, he has prepared his attention to notice what is actually there at dawn—silver poplars rising, not the idea of silver poplars, but particular ones thinning “to the very twig” (14).
        </p>
    </div>
</div>
