<div class="article-page-container top-margin-10em">
    <div class="article-pages" id="page2">
        <p class="with-spacing indented">
            Yes, I actually said <em>souls</em>, and Bachelard does too, without wincing or winking, but with a footnote that offers a genealogy of the word “soul” and its cognates leading back, “among nearly all peoples,” to the physical breath (xvi). In this sense, soul is not so metaphysical as it might have come to appear to us—it is grounded in inspiration, inhale, breath—in the one place that our bodies, quite literally, touch the entire earth, each cell replenished by molecules that may have once been part of a fir in Siberia or a stone in Ecuador.
        </p>
        <p class="with-spacing indented">
            My writing in <em>The Book of Uncommon Praise</em> would be commonplace as breathing. In its pages, the scraps of my days could be heaped without judgment. Maybe poems would grow from the heap, but more than poems, I wanted this practice of daily writing in and of itself to make my life richer by focusing my attention on the world around me.
        </p>
        <p class="excerpt-spacing">
            <em>At the market, a woman is pouring a thread of sun-struck honey jar to jar.</em>
        </p>
        <p class="excerpt-spacing">
            <em>We hiked until the footprints stopped at a high outcropping, above a steep snowfield, and sat to rest. Far down the snowfield a great black alpine crow landed on the white and flew off again. I made a snowball and rolled it down to the place the crow had been. The hill was so steep that the ball rolled fifty yards down the slope, gathering mass to five times it original size and standing up with a sudden cap of snow, like a miniature totem. We made a game then of rolling snowballs down the slope to see who could come closest to the original totem without knocking it over. By the time we tired of the game we had left beneath us a field of rude snow monuments, casting shadows across the white.</em>
        </p>
        <p class="excerpt-spacing">
            <em>I have been reminded just now by Thoreau of an apple tree I discovered in the woods by my parents’ house in Oregon last summer, the tree probably not wild, yet certainly abandoned, growing singly among firs where the creek bent. I was led again back to thoughts of the farmer who must have planted it by the creek there and perhaps marveled at the transformation of the apples’ skins to red even as the reddening Chinook returned in the creek to spawn. I also thought of the apple tree Alex and I discovered growing out of a berm beneath railroad tracks by the sound at Golden Gardens a year ago, dropping its sour green apples into clefts of rocks the saltwater sucked in and out of. We ate the apples with blackberries that had overgrown the berm, hidden from the commuter train clattering by just above our heads.</em>
        </p>
        <p class="excerpt-spacing">
            <em>I drove past a sunken barn with bands of light falling into it through its broken roofbeams—falling onto a huge unruly snarl of green blackberry vines. It was clear no livestock had sheltered in that place for a long time, and I could think that now, when it appeared most forlorn and abandoned, the barn was finally filled with its proper store. The farmer could have cleared those vines out, but I like to think he delights in the accident of this crop, and awaits their ripening in August with secret zeal. </em>
        </p>
        <p class="with-spacing indented">
            I took so much pleasure in writing (and take now in re-reading) these paragraphs that it seems silly to try to justify them. The pleasure is in noticing, and noticing is not what you might think. It cannot, for instance, be willed. Noticing is the intuition rising to greet events beyond one’s control or predicting. In fact, it is relinquishing the need to predict, or to already know; it is naïve in Bachelard’s sense of openness. It is profound acknowledgment and acceptance of what is there. It is a suspension of judgment, with its concerns for distinguishing between arbitrary binaries like right and wrong. It is allowing the mind to take its interests and attending to those interests.
        </p>
        <p class="with-spacing indented">
            Talking about noticing belies the difficulty of practicing it. You can’t will noticing, you can only train your mind to quiet the chatter of already-knowing that inhibits noticing. Even then, because the act of noticing requires full attention, it is difficult to notice yourself noticing. For instance, this morning I was trying to pour cereal quietly so as not to wake my son. Never before had I noticed, as I did now, the incredible loudness of cereal crashing into the bowl. But I didn’t notice myself noticing this until after I had already poured cereal and milk and was munching, reflecting on how quiet the house was at 5:30 on a winter morning. It would have been easy for the noticing of the loudness of the cereal not to rise to the level of consciousness and to be immediately forgotten. The difficulty and pleasure, then, is to notice your mind’s noticing.
        </p>
        <p class="with-spacing indented">
            This example should illustrate that the act of noticing isn’t necessarily the same as the act of writing poetry. Poetry, or I should say the poetry most necessary to my life, discovers language suitable to evoke objects, events, memories and ideas noticed, and selects and coordinates them into a unity that allows us to experience the palpable presence of <em>the noticed</em>. The discovery of language is itself another kind of noticing—an intuitive attraction to fortuitous sounds, rhythms, diction, and a recognizing of them as, in fact, fortuitous. More often than not, the poet must admit that the sounds, rhythms, diction have not been fortuitous, but have been forced by some habitual way of writing or seeing the world and conform with some preconceived notion of reality or form.
        </p>
        <p class="with-spacing indented">
            I have an index card pinned above my writing desk that I turn to when I am hampered by my own preconceived notions of writing and reality. It is from <em>Zen Mind, Beginner’s Mind</em> by Shunryu Suzuki:
        </p>
        <p class="excerpt-spacing">
            You become discouraged with your practice when your practice has become
            idealistic. You have some gaining idea in your practice and it is not pure enough.
            It is when your practice has become rather greedy that you become discouraged
            with it. (72)
        </p>
        <p class="with-spacing no-indent">
            Suzuki is talking about a meditation practice in which there is no goal except to sit. Any desire for enlightenment would get in the way of enlightenment, so the meditator instead focuses only on posture and breath, which enable sitting to occur. The sitting practice is analogous in my mind with a writing practice that opens a space for noticing. There are many ways writing can become greedy, just as a desire for enlightenment is greedy in Zen meditation practice. Sometimes I want to write a poem as good or as complex as a certain poet. Sometimes I want to write a poem that expresses some truth I think I know about the world. But the work resulting from such desires never surprises. The noticed, no matter how mundane, must always surprise us with its presence. Bachelard explains it this way: “A consciousness associated with the soul is more relaxed, less intentionalized than a consciousness associated with the phenomena of the mind. Forces are manifested in poems that do not pass through the circuits of knowledge” (xvii). It is only when I can enter the space where I am writing to write without knowing where I am going that I begin to remember events and objects I have noticed, and I begin to discover a language to make them palpably present.
        </p>
        <p class="with-spacing indented">
            In just this sense, the poem is a process not an object. It is the noticing discovered in the act of writing the poem; it is not (or not only) a transmission of content known before the poem was written. It is also the noticing discovered by the reader in the act of reading the poem. The richest poems include a surplus of noticing far beyond what the poet could even have been consciously aware of as the poem was written.
        </p>
    </div>
</div>
