<div class="article-page-container top-margin-10em">
    <div class="article-pages" id="page1">
        <p class="indented">
            As a teenager, I often went after midnight to fish, by lantern light, the slack tide on Oregon’s
            Newport Bay from the Army Corps jetty. Waves crashed over the riprap behind my friend and I, and
            sculpins attracted by our lanterns brought larger fish within the range of our flies. One night I
            pulled from the dark water a tremendous lingcod, a prehistoric fish with a massive eye that shone spookily in the light of our lantern. There we were, my friend and I, far enough out on the human-made jetty that the elegant arc of the highway bridge over the bay glimmered miniscule in the distance, scared, almost, to touch this creature thrashing madly in the water lit by our kerosene lantern as if it might put the lantern out and leave us exposed to the stars. It was not until I read Robert Hass’s poem, “On the Coast near Sausalito,” about catching a cabezone, a similar ancient ocean bottom fish I had also caught in the waters off of Newport Bay, that I could find words for the significance of my moment with the lingcod: “creature and creature, / we stared down centuries” (49-50).
        </p>
        <p class="with-spacing indented">
            “On the Coast Near Sausalito” is spiritual poetry in Denise Levertov’s sense, as expressed in her essay on Pacific Northwest 
            spiritual poetry “Some Affinities of Content,” in that it conveys a “conscious attentiveness to the non-human and…a more or 
            less conscious desire to immerse the self in that larger whole” (5). The cabezone is allowed to be simply a cabezone in the poem, 
            but it also inhabits the vastness of “centuries” with the speaker, the slimy rocks, the sea. “On the Coast Near Sausalito,” is 
            spiritual in that, like most of Hass’s poems, it unites intellect—“But it’s strange to kill / for the sudden feel of life” 
            (39-40)—with sensory experience and the emotions that attend such experience—
        </p>
        <pre class="preformatted-font with-spacing">
            Holding the spiny monster in my hands 
            his bulging purple eyes  
            were eyes and the sun was 
            almost tangent to the planet 
            on our uneasy coast. (44-48)— 
        </pre>
        <p class="no-indent">
            to evoke a wonder at some larger mystery (“we stared down centuries”).
        </p>
        <p class="with-spacing indented">
            Growing up in the Pacific Northwest, I was keenly aware of the destructive power of human interferences in the environment: the clear-cutting of forests that kills owls and silts streams, the dams that grind salmon smolts to pulp, the oil spills that coat and kill shore birds. Nevertheless, I felt a strong sense of mystery and wonder in the presence of the remaining forests, rivers, and mountains. Indeed, I spent as much time as I could in “non-urban nature” as Levertov characterizes it, often alone, or fishing with a friend (5). Wading icy rivers that cut through walls of sheer rock, or casting from igneous crags into the crashing Pacific turned me inward, towards contemplation of and awe at the vastness of geologic time and the multiplicity of life-forms and landforms I was miraculously contemporary with.
        </p>
        <p class="with-spacing indented">
            I often felt the enchantment Jane Bennett characterizes as a subtle sense of fear that widens perception rather than shutting it down: “…fear cannot dominate if enchantment is to be, for the latter requires active engagement with objects of sensuous experience; it is a state of interactive fascination, not fall-to-your-knees awe. Unlike enchantment, overwhelming fear will not becalm and intensify perception, but only shut it down” (5).  When I encountered the poetry of the Romantics, I was astonished that others had felt similar wonder in the face of natural objects. It would be hard to convey the sense of relief I felt that I was not inventing such feelings. Later, I discovered a deep kinship with West Coast poets like Gary Snyder, Richard Hugo, William Stafford, and Robert Hass, who brought the landscapes of my youth back to me when I lived across the country.
        </p>
        <p class="with-spacing indented">
            In fact, there was a time when, living in Chicago, I felt the work of these poets to be one of the few things in my life keeping me sane. After living in Portland and Seattle, two hilly cities that offered endless new vistas of mountains and waters, in which the street where you bought your coffee might end in a switchback trail through woods leading to a fifty-mile view, I found Chicago’s flat grid absolutely oppressive. None of my friends who grew up there understood my complaints. They thought I was being melodramatic, or they took offence that I couldn’t recognize the greatness of their city. “If you want to see nature, look at the lake!” they would say. I walked to Lake Michigan and found it slobbering on its concrete-toothed revetments. There was no place in the city from which to see the lake except immediately next to it, in the crush of runners, bicyclists, rollerbladers, skateboarders, picnickers, kite flyers, dog walkers, yachters, plastic umbrellas, sunbathers, tiki shacks, etc. There was no solitude for me out in that city, so I stayed home reading poems about the West.
        </p>
        <p class="with-spacing indented">
            After two and a half years in Chicago I had a chance to house-sit for six weeks for a former professor in Port Townsend, WA. Six weeks would give me time to find a job in Seattle. When I had an interview in Seattle, I drove from Port Townsend and spent the night on a friend’s couch in his tiny studio above the bookstore in the U-District where he worked. His studio had just enough room for a hide-a-bed when it was pulled out, a couch, a bowl the ceiling leaked into, and three crammed bookshelves. After work, he sat across from me on the bed and read this:
        </p>
        <p class="excerpt-spacing">
            God is not in the earthquake, nor in the fire, but in the still small voice. They are but the blunt and low faculties of our nature, which can only be addressed through lampblack and lightning. It is in quiet and subdued passages of unobtrusive majesty, the deep, and the calm, and the perpetual, — that which must be sought ere it is seen, and loved ere it is understood, — things which the angels work out for us daily, and yet vary eternally, which are never wanting, and never repeated, which are to be found always yet each found but once; it is through these that the lesson of devotion is chiefly taught, and the blessing of beauty given. These are what the artist of highest aim must study; it is these, by the combination of which his ideal is to be created; these, of which so little notice is ordinarily taken by common observers, that I fully believe, little as people in general are concerned with art, more of their ideas of sky are derived from pictures than from reality, and that if we could examine the conception formed in the minds of most educated persons when we talk of clouds, it would frequently be found composed of fragments of blue and white reminiscences of the old masters. (Ruskin 79-80)
        </p>
        <p class="with-spacing no-indent">
            Then he uncongealed some cold, well-seasoned grease layered in a cast-iron pan and made us eggs.
        </p>
        <p class="with-spacing indented">
            I started a new journal that month, writing in large letters in the flyleaf: <em>The Book of Uncommon Praise</em>. On the facing page I copied the quote from Ruskin that my friend had read. Over the next year Thoreau, Emerson, Whitman, and Hopkins crowded in my handwriting onto that page. I was thrilled to be in Seattle, and was preparing a space for my own “soliloquy of a beholding and jubilant soul,” as Emerson characterizes prayer (276).
        </p>
        <p class="with-spacing indented">
            Right now, something in me, some words charged magnetically, want to form this genteel request for your forgiveness. What, after all, after Marx, Nietzsche, Freud, Benjamin, Adorno, Horkheimer, Althusser, Jameson, Baudrillard, could be more naïve than prayer or praise? But some stronger repellant pole overcomes those tiny attracting motes to say: don’t forgive my praise. Rather, consider the difficulty for the deeply skeptical of praising in a way that convinces. Consider if there is a difficulty more worthy of scratching pen across paper for. I think there is not.
        </p>
        <p class="with-spacing indented">
            Contemporary poetry, especially poetry that considers itself experimental, often seems to be written in defiance, if not fear, of naïvety, whether formal, linguistic, political, or philosophical. But Gaston Bachelard’s definition of naïvety is not synonymous with gullibility or stupidity: to him to be naïve is to be receptive—receptive, specifically, to the poetic image. This definition is brave because receptivity implies openness, and openness vulnerability. For Bachelard, the poetic image is a case of language with a special significance: “Because of its novelty and its action, the poetic image has an entity and a dynamism of its own; it is referable to a direct <em>ontology</em>” (xvi). In other words, the poetic image, when received with uncompromised openness, does not refer only to objects or ideas, but inaugurates in our souls a way of being.
        </p>
    </div>
</div>
