<div class="article-page-container">
    <div class="article-pages" id="page1">
        <h3 style="font-size:1.75em; margin-top:0;">When I saw her corpse</h3>
        <pre class="preformatted-font with-spacing">
as if    I saw   lightening strike the other end of my office desk 
the alarms rang   and I knew it was not     a fire drill 
and I knew she was not dead          yet 

I knew she was not dead     but     when I saw her corpse 
flatten to the floor     curl the legs of my office desk like an abandoned animal 
I took the shortcut past my nerves     


                                    reached out with my hands 

those pleading eyes     glossy 
					

                                            when I tried to put those lids to rest     I saw 
							        my own eyes 
							        looking at my own 
							        body detached from my own 
							        body hovering down 
							        looking    above 






there!                       look! 

a silver button rests upon the bottom step of a concrete stairwell 

the color of the button changes with the color of the day and today 
when I saw her corpse scab a white scar over those bells 
shrieking     <em>lock it down</em> 
				        <em>lock it down</em>
							        I knew
        </pre>


        
        <h3 style="font-size:1.75em; margin-top:10em;">Blinking in Knots</h3>
        <pre class="preformatted-font with-spacing">
I’ve handcuffed myself again     to an open sea 
act like you know 
lungs underwater     my scratchy throat     a tightrope act 


I hear the sky is a menace     I watch the clouds slither 

eyesight in smoke     my cut felt stomach     scrape and tar 


I know what the moon can give     and I know what she can break 

a twisted wrist     the blindness of teeth   my knees   the give 


c’mon     act like you know 
the black of a burnt structure 
a split stone along the road 
the moan of a dying animal 

act like you know the way metal melts 
	the way a bloody lip tastes 
		the way any bruise can find     excuse 




What I know is the knock out and the dying fall 
caught by the dust lit corners of a concrete wall 
the nickel sent knuckled slump of a back hand 
press   clamp   shut   slam 
				and a rippled spat apology

        </pre>
    </div>
</div>
