<div class="article-page-container">
    <div class="article-pages" id="page1">
        <pre class="preformatted-font">
as if    I saw   lightening strike the other end of my office desk 
the alarms rang   and I knew it was not     a fire drill 
and I knew she was not dead          yet 

I knew she was not dead     but     when I saw her corpse 
flatten to the floor     curl the legs of my office desk like an abandoned animal 
I took the shortcut past my nerves     


                                    reached out with my hands 

those pleading eyes     glossy 
					

                                            when I tried to put those lids to rest     I saw 
							        my own eyes 
							        looking at my own 
							        body detached from my own 
							        body hovering down 
							        looking    above 






there!                       look! 

a silver button rests upon the bottom step of a concrete stairwell 

the color of the button changes with the color of the day and today 
when I saw her corpse scab a white scar over those bells 
shrieking     <em>lock it down</em> 
				        <em>lock it down</em>
							        I knew
        </pre>
    </div>
</div>
