<div class="article-page-container">
    <div class="article-pages" id="page1">
        <pre class="preformatted-font">
I’ve handcuffed myself again     to an open sea 
act like you know 
lungs underwater     my scratchy throat     a tightrope act 


I hear the sky is a menace     I watch the clouds slither 

eyesight in smoke     my cut felt stomach     scrape and tar 


I know what the moon can give     and I know what she can break 

a twisted wrist     the blindness of teeth   my knees   the give 


c’mon     act like you know 
the black of a burnt structure 
a split stone along the road 
the moan of a dying animal 

act like you know the way metal melts 
	the way a bloody lip tastes 
		the way any bruise can find     excuse 




What I know is the knock out and the dying fall 
caught by the dust lit corners of a concrete wall 
the nickel sent knuckled slump of a back hand 
press   clamp   shut   slam 
				and a rippled spat apology

        </pre>
    </div>
</div>
