<div class="article-page-container top-margin-10em">
    <div class="article-pages" id="page4">
        <p class="no-indent">
            Discussing current battles with the lyric I, Marianne Boruch questions whether to “battle—or absorb,” leaning towards the latter 
            and adding: “There are ways. Because there <em>have been ways</em>: shrewd or blundering, serious or comic, ways found by accident or design, 
            predictable ways or no-one-in-her-right-mind-could-imagine, pretty much impossible ways to enter a poem and keep it going” (52).  
            Perhaps the most exciting thing about Brown and Siken is simply that they find ways, “serious or comic… pretty much impossible ways,” 
            to speak newly of and from the self in the twenty-first century. In a <a href="http://bombmagazine.org/article/6136/fight-club-richard-siken">2011 interview</a> with Bomblog, Siken says, “In ‘You Are Jeff,’ 
            everyone in the world—including the speaker and the reader—is named Jeff. With only one identity, each part of the world must now 
            define itself in relation to its other parts, rather than as a stand-alone thing, independent of context.” The interviewer responds, 
            “Naming restricts, naming limits, naming is an alchemy that makes that which is <em>wild</em>, suddenly somehow <em>civil</em>. Is naming a political act?” 
            Siken: “Yes.” And we’re back to that “political aptitude” of the lyric. Asked if he is a political poet, though, Siken replies, “No. 
            I’m interested in nouns and verbs, not agendas. I wish my scope was larger. There are things worth arguing about and fighting for. But 
            I’m not a soldier—not that kind of soldier—I’m a spy.” 
        </p>
        <p class="with-spacing indented">
            I love that qualification: <em>Not that kind of soldier</em>. Instead, Siken and Brown pick up the lyric project and subtly shift what comes 
            before, what comes next. How the lyric voice “materializes,” how it morphs and slides. But thank goodness their poems aren’t just 
            <em>about poems</em>, full instead of breathing, living beings. Full of ironies, yes, but sincerity too. It’s no coincidence, surely, that 
            both of these books are full of images of <em>skin</em>, that neither-outside-nor-in layer a language of race and pain and desire. Their poems 
            change how we hear and feel the boundaries between us. Getting on the subway. Tying back our hair. High theory aside, they march with 
            their trumpets around the walls of our cities; make us feel the hairpin turn in our throats. 
        </p>
        <p class="with-spacing">&nbsp;</p><br />
        <div id="article-workscited">
            <span class="workscited-title">Works Cited</span>
            <p>
                <a name="wc1"></a>Baker, David. “‘I’m Nobody’: Lyric Poetry and the Problem of People.” <em>Radiant Lyre</em>. Eds. David Baker and Ann Townsend. Saint Paul, MN: Graywolf, 2007. 297-205. Print.
            </p>
            <p>
                <a name="wc2"></a>Bishop, Elizabeth. “In the Waiting Room.” <em>The Complete Poems: 1927-1979</em>.  New York, NY: Farrar Straus and Giroux, 1983. 159-161. Print.
            </p>
            <p>
                <a name="wc3"></a>Boruch, Marianne. “The Little Death of Self.” <em>American Poetry Review</em>. May/June 2011: 51-54. Print.
            </p>
            <p>
                <a name="wc4"></a>Brown, Jericho. “Naming Each Place.” Interview by Natasha Trethewey. <em>Southern Spaces</em>. Emory University. 4 March 2010. Web. 27 June 2014.
            </p>
            <p>
                <a name="wc5"></a>---. <em>Please</em>. Kalamazoo, MI: New Issues Press, 2008. Print.
            </p>
            <p>
                <a name="wc6"></a>---, Tina Chang, Olena Kalytiak Davis, Meghan O’Rourke, and Mark Wunderlich.  “Sincerely Ironic.” Poets Forum, Academy of American Poets. New York, NY.  Oct. 2010. Presentation. Web. 27 June 2014.
            </p>
            <p>
                <a name="wc7"></a>Butler, Judith. <em>Bodies that Matter</em>. New York, NY: Routledge, 1983. Print.
            </p>
            <p>
                <a name="wc8"></a>---. “Your Behavior Creates Your Gender.” Interview by Max Miller. <em>Big Think</em>. Big Think. 13 Jan. 2011. Web. 27 June 2014.
            </p>
            <p>
                <a name="wc9"></a>Casey, Nell. “Nerve-Wracked Love: A Profile of Richard Siken.” <em>Poetry Foundation</em>. Poetry Foundation. 27 Feb. 2006. Web. 27 June 2014.
            </p>
            <p>
                <a name="wc10"></a>Childress, Susannah. “Hit it!—The Love Song of Jericho Brown’s <em>Please</em>.” <em>Valparaiso Poetry Review</em>. Fall-Winter 2009-2010. Web. 27 June 2014.
            </p>
            <p>
                <a name="wc11"></a>Gregerson, Linda. “Life Among Others.” <em>Radiant Lyre</em>. Eds. David Baker and Ann Townsend. Saint Paul, MN: Graywolf, 2007. 206-218. Print.
            </p>
            <p>
                <a name="wc12"></a>Keats, John. <em>The Complete Poems and Selected Letters of John Keats</em>. New York, NY: The Modern Library, 2001. Print.
            </p>
            <p>
                <a name="wc13"></a><em>New Revised Standard Version Bible</em>. Nashville, TN: Thomas Nelson Publishers, 1990. Print.
            </p>
            <p>
                <a name="wc14"></a>Sappho. Trans. Mary Branard. “It’s no use.” <em>Sappho</em>. Oakland, CA: University of California Press, 2012. 12. Print.
            </p>
            <p>
                <a name="wc15"></a>Siken, Richard. <em>Crush</em>. New Haven, CT: Yale University Press, 2005. Print.
            </p>
            <p>
                <a name="wc16"></a>---. “Fight Club: Richard Siken.” Interview by Legacy Russell. <em>Bomblog</em>. Bomblog. 11 Oct. 2011. Web. 27 June 2014.
            </p>
            <p>
                <a name="wc17"></a>Waite, Stacey. “Embracing the Contradictions: Stacey Waite on Gender, Poetry, and Infinite Possibility.” Interview by Jennifer Perrine. <em>Pilot Light</em>. Pilot Light, Dec. 2011. Web. 27 June 2014.  
            </p>
        </div>
    </div>
</div>
