<div class="article-page-container top-margin-10em">
    <div class="article-pages" id="page2">
        <p class="no-indent">
            Jericho Brown’s <em>Please</em> takes many of its cues from music, where intimacy and performance go hand in hand. The book is 
            divided into sections titled “Repeat,” “Pause,” “Power,” “Stop,” and “Liner Notes,” and includes several poems labeled “Tracks.” 
            The first of these, “Track 1: Lush Life,” begins the collection. In the book’s “Liner Notes,” the lyrical footnotes at the end
            of the book, we learn:
        </p>
        <p class="excerpt-spacing">
            Billy Strayhorn (1915-1967) wrote <a href="https://www.youtube.com/watch?v=K7bGtR_ETJE">“Lush Life”</a> while still in his 
            teens. For her comeback in the form of a jazz singing actress, hip hop artist Queen Latifah performed the song for her role 
            in the 1998 movie <em>Living Out Loud</em>…. The poem is dedicated to the singer Mary Griffin… [who] performed regularly at The Bourbon 
            Room in New Orleans before Hurrican Katrina and her subsequent move to Texas…. Griffin is also known for singing ‘And I Am 
            Telling You I’m Not Going’ (Holliday) from <em>Dreamgirls</em> in full voice flat on her back at the close of each show. (67)
        </p>
        <p class="with-spacing no-indent">
            Brown’s notes bring our attention to a few of the many voices this song has visited: Queen Latifah in comeback, Mary Griffin 
            uprooted by hurricane. Each of these figures (including the songwriter who was just a teen when he wrote “Lush Life”) exudes 
            both power and vulnerability. And through these multiple voices, the song—not just the experience of listening to it, but the 
            experience of singing it—becomes an already shared thing, further shared with us, now, through the singular crafting of its most 
            recent singer/speaker. Of course, you can read the poem without the background Brown provides, and the effect is similar, but 
            bringing our attention to these voices feels like part of the book proper. In “Lush Life,” which sets the stage for the book as 
            a whole, the voice we hear is both personal and communal, located in a club (public space) where “The woman with the microphone 
            sings to hurt you, / To see you shake your head” (1-2), an intimate interaction, which quickly draws even closer, as “The mic may 
            as well / Be a leather belt” (2-3). In addition to the relationship between public and personal selves, we are introduced to the 
            book’s movement between pleasure and pain: “You drive to the center of town / To be whipped by a woman’s voice. You can’t tell / 
            The difference between a leather belt and a lover’s / Tongue” (4-6).
        </p>
        <p class="with-spacing indented">
            Through most of “Track 1: Lush Life,” it is tempting to read the poem’s “you” as its speaker (rather than an address to the reader). 
            So specific it is in its world, (“A lover’s tongue might call you <em>bitch</em>, / A term of endearment where you come from”), and its 
            memories (“your father’s leather belt”), that we read the “you” almost as an “I.” Yet the pronoun shifts in the final lines of 
            the poem, when the first person makes a surprising entrance: “She does not mean to entertain / You, and neither do I” (15-16).  
            As Susannah Childress writes,

        </p>
        <p class="excerpt-spacing">
            This line… does two things: readers are introduced to the speaker within or beyond the second-person point-of-view, which then 
            allows us to recognize the perspective heretofore not as a “Gotcha!” but the complication of both holistic invitation and experiential 
            impossibility, something of a “You think, reader, you can inhabit my world, and though you won’t, fully, ever, let’s go after 
            it anyway—why not?”
        </p>
        <p class="with-spacing no-indent">
            Brown draws us closer to the speaker here even as we feel the moorings of the speaking voice ripple and change around us. Song 
            and speaker: we begin with these bulwarks of the lyric project in a subtly complex poem. The song, we are warned (or promised), 
            will bring us both pleasure and pain, and the speaker—the speaker is both the man in the audience and the woman with the microphone 
            and, perhaps floating somewhere between, a part of all those other voices the song has visited.
	    </p>
        <p class="with-spacing indented">
            In later poems labeled “Tracks,” Brown directs us to hear other familiar songs sung in specific voices. One notable instance 
            is “Track 5: Summertime,” where the epigraph tells us to hear this poem/song 
            <a href="https://www.youtube.com/watch?v=bn5TNqjuHiU">“as performed by Janis Joplin”</a>. While the “Liner 
            Notes” for this poem are briefer than those for “Track 1: Lush Life,” most readers will be familiar with the song’s origin.  
            Still, it’s worth pausing on the fact that “Summertime” was originally written by the white, male George Gershwin, to be sung 
            by a black woman in the opera <em>Porgy and Bess</em>. Here, Brown reverses the standard’s original slalom between the identities of writer 
            and singer, with the poem written by a black man but voiced, as the epigraph tells us, through a white woman, (re)crossing 
            boundaries of race and gender to both blur and highlight the lines between us. The poem further highlights these connections when 
            the speaker compares her voice to that of Willy Baker:
	    </p>
        <pre class="preformatted-font with-spacing">
            I get high and say one thing so many times

            Like Willy Baker who worked across the street—

            I saw some kids whip him with a belt while he

            Repeated, <em>Please</em>. School out, summertime

            And the living lashed, Mama said I should be

            Thankful, that the town’s worse to coloreds

            Than they are to me, that I’d grow out of my acne.

            God must love Willie Baker—all that leather and still

            A <em>please</em> that sounds like music. See. (18-26)
        </pre>
        <p class="with-spacing no-indent">
            The mother’s comments are both ironic and instructive; the town is indeed worse to Willie Baker, yet it is Joplin’s voice Brown 
            re-inhabits, reaching back to the book’s, and Willie’s, “<em>please</em>” through her. 

        </p>
        <p class="with-spacing indented">
            Beyond the immediately “performed” nature of song in “Lush Life” and “Summertime,” their polyphony also plays with the notions of 
            the performative nature of identity (including but not limited to gender identity). Discussing performativity, Judith Butler notes:

        </p>
        <p class="excerpt-spacing">
            To say that gender is performative is a little different [than saying it is “performed”], because for something to be performative it means it 
            produces a series of effects; we act and walk and speak and talk in ways that consolidate an impression of being a man or being a woman. 
            (<a href="https://www.youtube.com/watch?v=Bo7o2LYATDc">“Your Behavior Creates Your Gender”</a>)

        </p>
        <p class="with-spacing no-indent">
            The theory of performativity is sometimes interpreted as denying possibilities for agency in identity construction, but Butler 
            goes on to say that “the question” (or, at least, one of the questions) is rather “what the best way to disrupt [norms] and 
            overcome the police function is.” Brown’s poems achieve this disruption by drawing our attention to the ways voices inhabit and 
            modulate one another, overlapping not as they conceal but rather as they create possibilities for more complex understandings 
            of selfhood.
        </p>
        <p class="with-spacing indented">
            <em>Please</em> includes persona poems in the voices of Dorothy’s guides to Oz (Tin Man, Scarecrow, and Lion), as well as “Tracks” 
            sung by other singers, but the book is not wholly character driven. Rather, the persona pieces weave between seemingly personal 
            family portraits and encounters with lovers. The book’s final poem, “Because My Name is Jericho,” plays with and complicates 
            our expectations of the confessional by partnering it with another sort of mask.  Here, Brown draws attention to his name, a 
            name he has chosen for himself (he was born Nelson Demery III). Brown discusses his name in an 
            <a href="http://southernspaces.org/2010/naming-each-place#section2">interview</a> with Natasha Tretheway, 
            explaining how his father, at his graduation ceremony, didn’t know whom this <em>Jericho</em> was when his name was read. The prerogative 
            of self-naming has long been important to both feminist and queer activism. In this case, the act both conceals—providing 
            distance from one’s past, perhaps even some safety from it—and provides the opportunity for revelation, as we see in the final 
            poem of <em>Please</em>.
       </p>
        <p class="with-spacing indented">
            In “Because My Name is Jericho,” Brown compares the speaker’s experience with a lover to the biblical fall of the town of 
            Jericho, which is captured (with much fanfare) not by direct force, but by music. Joshua is instructed by God:
        
        </p>
        <p class="excerpt-spacing">
            You shall march around the city, all the warriors circling the city once. Thus you shall do for six days… On the seventh day 
            you shall march around the city seven times, the priests blowing the trumpets. When they make a long blast with the ram’s horn, 
            as soon as you hear the sound of the trumpet, then all the people shall shout with a great shout; and the wall of the city will
             fall down flat. (Joshua 6:3-5)

        </p>
        <p class="with-spacing no-indent">
            While I recalled this part of the story from early years in Sunday school as a sort of musical, non-violent confrontation, we 
            must have glossed over what happens next. When the walls come down, “they devoted to destruction by the edge of the sword all 
            in the city, both men and women, young and old, oxen, sheep, and donkeys” (Joshua 6:21). After burning the city, Joshua places
             a curse on anyone who would rebuild it. It begins with music, but it’s a bloody story.
        
        </p>
        <p class="with-spacing indented">
            While Brown is invoking this story, he is also rewriting it. The speaker declares, “I am not a city nor a saint,” and wonders 
            if perhaps the man he meets (named Joshua) resents both his humanness and his beauty:
        </p>
        <pre class="preformatted-font with-spacing">
                        ............I was too beautiful

                 To be such a sinner. He must have hated me 
            For that. Maybe some of us are 

                 Better broken into – we mend 
            Easy as a ripped shirt or 

                 A damaged wall.
            If ever asked about damage I will tell

                 What I tell myself. I am overwhelming.
            He was overwhelmed. 

                 See. I am just as much a man
            As Joshua.  I’ve got the silence to prove it. (15-25)

        </pre>
        <p class="with-spacing no-indent">
            That silence gets the last word at the end of a book filled with song is an ironic and haunting reminder of language’s 
            limits. It’s as <em>sincerely ironic</em> as it gets. Perhaps it also points us towards one of the many reasons for the cast of 
            personae in this book. While the persona poems breathe new life into a host of fictional and famous characters, these 
            characters also deepen and complicate our reading of Brown’s more autobiographical speaker. They tear down the walls, 
            Joshua style, between the self and the personae while complicating our understanding of both. This splitting of the voice 
            allows its pain and knowledge to refract through the book. Like the mirror that the beautiful one shatters in the book’s 
            epigraph, it shatters the single story of the speaker without offering us any easy absolution in the process.

        </p>
    </div>
</div>
