<div class="article-page-container top-margin-10em">
    <div class="article-pages" id="page3">
        <p class="no-indent">
            Richard Siken’s debut collection <em>Crush</em> is similarly full of shattered mirrors. Power and vulnerability, or, alternately, 
            violence and love, also course through <em>Crush</em>. Siken’s speakers come to us through cinematic gestures that both court the 
            “continuous dream” of stable characters and frustrate simple understandings of their identity. It’s a book full of ragged 
            seams. This is most apparent in the long sequence near the end of <em>Crush</em>, titled “You Are Jeff,” a tour d’ force of identity 
            and desire. In <a href="http://www.poetryfoundation.org/article/177761">“Nerve-Wracked Love”</a>, Siken refers to the final section of <em>Crush</em>, in which this poem is found, as spoken by 
            “God, the director of the movie, in a helicopter trying to give advice and finding that no one is listening.”  The first 
            poem in this section, “Planet of Love,” introduces us to this director/God image:
        </p>
        <pre class="preformatted-font with-spacing">
        				In a word, in a phrase, it’s a movie,

								            you’re the star,

		     so smile for the camera, it’s your big scene,

			    you know your lines.

							            I’m the director. I’m in a helicopter.

					                I have a megaphone and you play along,

							                because you want to die for love,

							            you always have. (5-11)
        </pre>
        <p class="no-indent">
            All controlling, hovering somewhere “above,” this God mirrors many traditional depictions. Yet this God is also slightly 
            mocking and contemporary (telling the “you” to “smile for the camera”), flipping our sense of our life’s importance, its 
            <em>realness</em>, on its head: “In a word, in a phrase, it’s a movie,” a series of given “lines” (not unlike the poem) with which 
            we “play along.” Still, the “you” remains more complex than mere puppet. The speaker repeats, “I’m the director,” as if the 
            “you” is, perhaps, failing to take clear direction:
        </p>
        <pre class="preformatted-font with-spacing">
			            I’m the director

	            and I’m screaming at you,

		            I’m waving my arms in the sky,

					            and everyone’s watching, everyone’s

								            curious, everyone’s

							               holding their breath. (26-31)
        </pre>
        <p class="with-spacing no-indent">
            While the repetition of “everyone’s watching” mocks our sense of our self-importance (everyone on Facebook is waiting to 
            hear what you had for lunch!), both the director and the audience seem aware that the “you” remains a volatile, in-the-process-of-becoming 
            quantity. Even with those predetermined “lines,” with the God/director waving his arms and screaming, the “you” has the power to surprise.
        </p>
        <p class="with-spacing indented">
            This “you” becomes increasingly multi-dimensional in the poem “You Are Jeff,” where the helicoptering God/I disappears to 
            the point where we begin to read the “you” as a manifestation of “I” (as in the beginning of Brown’s “Track 1: Lush Life”). 
            Written in twenty-four prose sections, the poem begins with “two twins on motorbikes,” and a choice: “The one in front will 
            want to take you apart, and slowly…. The other brother only wants to stitch you back together.” To be fragmented or made 
            whole. The speaker (still God?) instructs us, “Do not choose sides yet” (section 1). In the second section the speaker decides 
            we’ll call both of the twins Jeff, and by the fourth section the “you” also becomes one of the Jeffs, “Your name is Jeff 
            and somewhere up ahead of you your brother has pulled to the side of the road and he is waiting for you with a lug wrench 
            clutched in his greasy fist” (section 4). The Jeffs continue to multiply, “Let’s say the Devil is played by two men. We’ll 
            call them Jeff” (section 5). There are three Jeffs by section seven: “your father… your brother… and your current boyfriend. 
            All of them have seen you naked and heard you talking in your sleep.” The situation is part comedy, part terrifying vulnerability. 
            Identity and desire both coming undone as “one of the Jeffs has put his tongue in your mouth. Please let it be the right 
            one.” Siken uses the incest taboo to push our discomfort, push us to question our clearly drawn lines, alternately distinguishing 
            between <em>brother, father, lover, self</em>, and insisting upon them all being given the same name. 
        </p>
        <p class="with-spacing indented">
            Throughout, the poem places us in such positions of uncertainty. Many of the most powerful moments in the poem are couched 
            in hypotheticals—“suppose,” we are constantly instructed:
        </p>
        <p class="excerpt-spacing">
            Suppose for a moment that the heart has two heads, that the heart has been chained and dunked in a glass booth filled with 
            river water. The heart is monologing about hesitation and fulfillment while behind the red brocade the heart is drowning. 
            Can the heart escape? Does love even care? Snow falls as we dump the booth in the bay.
        </p>
        <p class="excerpt-spacing">
            Suppose for a moment we are crowded around a pier, waiting for something to ripple the water. <em>We believe in you. There is no 
            danger. It is not getting dark</em>, we want to say. (section 11)
        </p>
        <p class="with-spacing no-indent">
            The “suppose” opens possibilities even as it qualifies. The speaker will not say, unequivocally, <em>“the heart has two heads.”</em> 
            Instead, the speaker qualifies the potential sentimentality of these lines, allowing the poem to slide quickly into self-aware 
            humor (“The heart is monologing about hesitation and fulfillment”). But the final qualification, “We want to say” is less 
            comical. Why must we “suppose”? Why can’t we just “say”? Probably because there <em>is</em> danger, because it <em>is</em> getting dark, because 
            we’re not entirely sure we believe. Following the Jeffs on this road, we are constantly instructed to “consider the hairpin 
            turn” (sections 1, 12, 16). Despite occasional playfulness, we are made aware that there is always a sharp, dangerous twist 
            up ahead. 
        </p>
        <p class="with-spacing indented">
            At stake in this poem is partially an understanding of identity in the abstract, or rather a challenge to our understanding 
            of it: “Here are two Jeffs. Pick one. This is how you make the meaning, you take two things and try to define the space between 
            them. Jeff or Jeff?” But I would argue that at stake, also, is the life of the ever more specific “you” who enters immediately 
            after: “Jeff or Jeff? Who do you want to be? You just wanted to play in your own backyard, but you don’t know where your own 
            yard is, exactly. You just wanted to prove there was one safe place, just one safe place where you could love him. You have 
            not found that place yet” (section 18). The “you” here, like the one at the beginning of Brown’s “Track 1: Lush Life,” is an 
            intimate one, asking us to participate in the creation of its story.
        </p>
        <p class="with-spacing indented">
            The culminating view of the Jeffs is not one of decision and thus separation, but of the Jeffs convening to impart “One thing” 
            to the “you.” The poem has slid into first person occasionally before this point, usually in a way that reads more like a 
            close third person for one of the Jeffs. We see a similar “I,” here, though it’s the “you” in which we remain most invested:
        </p>
        <p class="excerpt-spacing">
            Here: I’ll be all of them—Jeff and Jeff and Jeff and Jeff are standing on the shoulder of the highway, four motorbikes knocked 
            over, two wrenches spinning in the ordinary air. Two of these Jeffs are windows, and two of these Jeffs are doors, and all of 
            these Jeffs are trying to tell you something. Come closer. We’ll whisper it in your ear… One thing. Come closer. Listen…(section 23)
        </p>
        <p class="with-spacing no-indent">
            While the Jeffs still evoke chaos, they have, for a moment, a singular voice and a singular message (or, the promise of one). 
            This penultimate section ends on the ellipsis, though, interrupting the Jeffs attempt to provide some final answer to the speaker/you. 
        </p>
        <p class="with-spacing indented">
            In the last section of the poem, the Jeffs disappear, and we’re left with only a “you” and a “he”: “You’re in a car with a 
            beautiful boy, and he won’t tell you that he loves you, but he loves you.”  Despite the use of second person, we’re in deeply 
            personal territory here. Moving this way throughout the poem, we’ve arrived at something like a lyric <em>you</em> for a speaker.  
            “You’re trembling,” Siken writes, “but he reaches over and he touches you, like a prayer for which no words exist, and you 
            feel your heart taking root in your body, like you’ve discovered something you don’t even have a name for” (section 24).
        </p>
        <p class="with-spacing indented">
            The “like,” here, works similarly to the “suppose” above. Hasn’t he, haven’t we <em>actually</em> discovered something? Using “like” 
            hedges the declaration, could be said to take a step back from the risk of it. But I suspect the real risk in this final 
            section is something simpler—in both the assurance and the heartbreaking silence of that first sentence: “he won’t tell you 
            that he loves you, but he loves you.”  An almost capital “R” Romantic thing occurs as “you feel your heart taking root in 
            your body.” To have a root, to <em>be</em> rooted, seems a not-particularly queer (theory) place to arrive; yet it’s <em>through</em> the very 
            disruptions of our usual understandings of identity (all those Jeffs make sure of that) that we do arrive here, in this nameless, 
            almost-rooted place. While Siken’s voice often strikes me as more wary of the lyric than Brown’s, the books’ endings work slightly 
            against the modes each has established, with <em>Crush</em> striking a more Romantic tone and <em>Please</em> proclaiming the silences we still 
            hold, however near we draw one another.
        </p>
    </div>
</div>
