<div class="article-page-container top-margin-10em">
    <div class="article-pages" id="page1">
        <p class="excerpt-spacing justified" style="margin-top: 0;">
            “We may, though we needn’t, consult high theory to find what we find in the lyric poem:
            the self or first person is not, in the first instance, singular. Like language, it is social at
            inception. It emerges as singular in the process of social encounter and social thinking-through, 
            in the byways of longing and recoil, in the shocks of recognition. The first
            person is born of the second and born again of the third. It is learned. It is made, it is less
            a home than a mode of navigation. In this it resembles the poem.”<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Linda Gregerson
        </p>
        <p class="excerpt-spacing justified">
            “I’m not a soldier—not that kind of soldier—I’m a spy.”<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Richard Siken
        </p>
        <p class="no-indent with-spacing">
            The first person is tricky, at once professing intimacy and boundary. In the lyric tradition, it both creates and examines identity. “But I felt:
            you are an I, / you are an Elizabeth,” Bishop writes in “In the Waiting Room”: “I scarcely dared to look / to see what it was I was” (59-60, 63-64).
            <em>Scarcely</em> dared, not <em>didn’t</em> dare: the poem looks. It identifies and precariously places the self in the world. Or, <em>selves</em>. As Linda Gregerson argues,
            “the self or first person is not, in the first instance, singular” (218). And that gesture towards theory that brings us to Butler, perhaps, saying,
            “Thus there is no ‘I’ who stands <em>behind</em> discourse and executes its volition or will <em>through</em> discourse. On the contrary, the ‘I’ only comes into
            being through being called, named, interpellated” (225). Do I really believe that? Partially. Not <em>exactly</em>. I’m more at home with Bishop, her
            speaker casting her gaze over “shadowy gray knees, / trousers and skirts and boots / and different pairs of hands,” emerging as an “I” even
            while uncertain of where that “I” begins and ends:
        </p>
        <pre class="preformatted-font with-spacing">
            Why should I be my aunt,
            or me, or anyone? 
            What similarities—
            boots, hands, the family voice
            I felt in my throat, or even
            the National Geographic
            and those awful hanging breasts—
            held us all togethers
            or made us all just one? (74-82)
        </pre>
        <p class="with-spacing no-indent">
            The becoming of both poem and speaker, here, is slippery, accompanied by the sense of “falling off / the round, turning world / into cold,
            blue-black space” (56-58). Accompanied by others. And Bishop nails it, that early awe and horror at becoming “one of them” (64). Or, back
            to Butler, at the <em>materialization</em> of that identity (8). Though there’s something deceiving about the word “materialization,” how plastic
            it feels, how clinical, when the process is anything but. In poetry, I’m drawn to a kind of becoming that shows its bruises out of necessity,
            one that disrupts the ease of the univocal speaker not to turn away from, but to more fully inhabit its selfhood.
        </p>
        <p class="with-spacing indented">
            How to seek out then, rather than smooth over, the seams of this becoming? How to trouble or make strange the lyric voice, even while inhabiting
            its tradition? In truth, that “tradition” already encompasses an impossibly wide expanse: from the troubadours’ public songs to Dickinson’s
            private ones, from Herbert’s sacred verse to Ginsberg’s profane. It encompasses trouble, contradiction. How fitting, then, that among those
            early, public lyrics of Ancient Greece we also find Sappho’s deeply interior fragments:
        </p>
        <pre class="preformatted-font with-spacing">            
            It’s no use
            Mother dear, I
            can’t finish my
            weaving
                You may
            blame Aphrodite

            soft as she is

            she has almost
            killed me with
            love for that boy (1-10)
        </pre>
        <p class="with-spacing no-indent">
            Mary Braynard’s translation captures both the forcefulness of Sappho’s voice (“It’s no use”) and its precariousness. We sense the
            hesitation of the “I” hanging off that second line, with neither the weaving nor the love fulfilled. Or, take another poem of love
            and loss (whose own author’s name has been lost), millennia later but still probably “the first personal lyric in English”:
        </p>
        <pre class="preformatted-font with-spacing">            
            Oh Western wind, when wilt thou blow
            That the small rain down can rain?
            Christ, that my love were in my arms,
            And I in my bed again! (1-4) 
        </pre>
        <p class="with-spacing no-indent">
            Marianne Boruch, in “The Little Death of Self,” reminds us to pause on that “<em>Christ</em>,” to “note… how dramatically this lyric goes 
            inward, how convincingly (exclamation point and all) it moves from that flash of the great world to an ordinary life, from that 
            world’s furious natural detail to the experience of loss and serious desire” (51). The poem has a completely different music than 
            the fragment from Sappho, but both create a relationship between self and world in the midst of that personal loss: Sappho positioning 
            herself between the domestic world and Aphrodite, the English poet butting the private grief up against the chaos of the natural world.  
            I go back to that old argument between Wordsworth and Keats. How much of the self? How much of the world? Even the Romantics were of 
            two minds, with Keats coining the phrase “egotistical sublime” in a complaint against Wordsworth, positing, in its place, the notion 
            of the chameleon poet, who takes on the identity of all he or she encounters, the “most unpoetical of any thing,” run through with 
            world (though, it’s important to say, Wordsworth could be a chameleon too) (500-501). We’re still puzzling these 
            questions of song and voice, maybe always will be, shifting them a bit to reflect current concerns. As David Baker asks, “If a lyric 
            poem is a song of oneself, what <em>is</em> that self? What is its relation to the collective?” And to trouble things further:
        </p>
        <p class="excerpt-spacing">
            Does the lyric possess a political aptitude? Can it protest, criticize, convince? What is the place of the popular in a seemingly 
            hermetic site? How do communities, indeed how do urban and technological constructions, fit into the private or pastoral space of the lyric?   (198)
        </p>
        <p class="with-spacing no-indent">
            Exactly how elastic <em>is</em> the lyric? What happens when it lets this twenty-first century world in, or when it admits to the world already being in?
        </p>
        <p class="with-spacing indented">
            I was reminded of Baker’s questions about the political, the community, when listening to a Poets Forum discussion titled <a href="http://www.poets.org/poetsorg/text/video-sincerely-ironic">“Sincerely Ironic.”</a> 
            The title points to a contemporary discomfort with sincerity, a discomfort that shares some ground with anxieties about the lyric. It’s a 
            pushback against sentimentally, against the confessional, the poem-as-whine. It’s a pushback, in part, against the “I.” As the name of a 
            friend’s website proclaims, “Authenticity Is No Longer an Option.” That <em>no longer</em> strikes me as interesting. It suggests authenticity once 
            was an option. It suggests (though I’m probably reading too far into this) <em>longing</em>, which seems a fairly sincere emotion. Similarly, that 
            title—“Sincerely Ironic”—gives us both a clever nod and walks us back slightly from the purely ironic, as the panelists repeatedly do in 
            the conversation itself. In one such instance, Jericho Brown asks us to reconsider Eliot’s “Tradition and the Individual Talent” through 
            a peopled lens:
        </p>
        <p class="excerpt-spacing">
            People thought [‘Tradition and the Individual Talent’] meant, ‘Oh, every time I write a poem, the only thing I'm doing is writing poems.’ 
            As if nothing else can be affected by that. The truth is, yeah, I change all the poems, but I also change my hair, and I change Matisse, 
            and I change getting on the subway.
        </p>
        <p class="with-spacing no-indent">
            Brown suggests that there is agency in self and voice, with poetry as a site of interaction and creation (and even the most “hermetic” 
            poem can be this) that extends beyond the trajectory of the poem. Reading Brown’s poems, it seems like the reverse of his comments 
            is also true&#8202;&mdash;&#8202;that his hair and Matisse and the subway likewise find their way into his language. To answer Baker, the relationship 
            between the “I” and the collective is as invisible and necessary as breath.
        </p>
        <p class="with-spacing indented">
            While this interplay with the collective might disrupt notions of the univocal speaker, it doesn’t necessarily negate self. Instead, 
            it leads poems to deepened, more complicated renderings of identity. “In the Waiting Room” illustrates this, with the speaker’s awareness 
            of herself triggered by the images of the women in the <em>National Geographic</em>. Her awareness of self does not emerge as <em>separate</em> from these 
            women (as a her vs. them), but rather through a moment of startled familiarity that takes the speaker out of herself briefly (that moment 
            an eternity), before landing her back again, changed. She now recognizes herself in those other women, can hear her aunt’s voice in her 
            throat. Also in the “Sincerely Ironic” discussion, Mark Wunderlich addresses the role of voice in the lyric’s agency, or what he refers 
            to as “polyphonic” voicing. After noting “the problem of language’s ability to represent experience, language’s ability to represent the 
            self,” he goes on to suggest that polyphonic voicing cracks open this “problem.” Reaching back to Whitman and Dickinson, Wunderlich says, 
            “Dickinson speaks through—you know, it’s polyphonic—she speaks through so many different personae in those poems, and Whitman creates one 
            persona that he’s constantly changing and modulating and shaping as you go through that whole long book.” I love this turn to two of our 
            most iconic American poets <em>not</em> for the deep familiarity, the singularity of their voices, but for the fissures and multiplicities and 
            modulations they bring us. Listen harder, he suggests. You might <em>think</em> you know them, but their voices refuse domestication.
        </p>
        <p class="with-spacing indented">
            Just as we listen again to these old masters, contemporary poets keep refusing that the work of the lyric is done. We’re still finding 
            ways to simultaneously inhabit the lyric and trouble it. Jennifer Perrine’s interview with Stacey Waite, <a href="http://www.pilotlightjournal.org/2/7/1">“Embracing the Contradictions: 
            Stacey Waite on Gender, Poetry, and Infinite Possibility,”</a> discusses how poetry is already positioned to explore the complication of 
            identity. Waite notes, “The kind of writing that can tolerate, accommodate, and move toward contradiction is the kind of writing that 
            can better represent genderqueer lives,” and calls for “poems that lean into what is difficult, complicated, and perhaps even impossible 
            to name,” showing how such an act has both personal and political ramifications (2). Also exploring LGBTQ identity, the poems of Jericho 
            Brown’s <em>Please</em> and Richard Siken’s <em>Crush</em> offer stunning examples of the ways poets continue to test the lyric’s elasticity. While both of 
            these collections engage, at least indirectly, with Butler’s concept of performativity, both also wrestle with very personal landscapes 
            of being and speaking as a self in the world. Siken and Brown recognize “the problem of language’s ability…to represent the self,” but 
            refuse to turn away from the challenge. Instead, they help us glimpse identity’s fragility, multiplicity, and complication as they move 
            the lyric into the twenty-first century.
    </p>


        </div>
</div>
