<div class="article-page-container">
    <div class="article-pages" id="page1">
        <pre class="preformatted-font">
White and purple, our lilacs 
are in bloom. I don’t know 
how they hang on in a wind 
like today’s. This morning 
my student asked how poems begin.
It was pouring at the time, the rain
battering panes and roof. I stopped 
being a teacher and tried to tell 
the truth, but around the soft core 
each corner curled up like a lie. 
I don’t know how my brain 
lights up to let me see, hear, 
and call memories to a “mind.” 
Tonight I’ve latched onto Szymborska, 
who must have started each day 
recalling the war and the Russians 
and then smoking until the migraine passed.
I begin with a voice or some music, 
a lithe shape fused by desire or fear. 
With me, mostly desire. Once,
I heard a band fill an Irish hall 
with waves of old tunes until a girl 
in jeans and sneakers leapt from a chair
and clogged across the floor like she— 
bright cheeks, hair a flame—
was wired to the sky.
        </pre>
    </div>
</div>
