body{ padding: 2em 2em 2em 2em; }
.superscript{ font-size: 65%; vertical-align: super; }
.lit{ color: #ff9900; }
.book-title{ font-style:italic; }
.italic{ font-style:italic; }
.clear{ clear:both; }
.section-title { font-size:2em; margin: 1.00em 0 .25em 0; font-weight:bold; }
.dividing-line-container{ margin: 2em 0 2em 0; }
.dividing-line{
    width:10em;
    margin-left:auto;
    margin-right:auto;
    border-bottom:.125em solid #c8cece;
}

#article-container{ }
#article{  }
#article-title{
    display:block;
    clear:both;
    float:left;
    font-size:2.15em;
    font-weight:bold;
    margin: 0 0 .85em 0;    
}
#article-author{
    display:block;
    clear:left;
    float:left;
    font-size:1.65em;
    font-weight:normal;
    margin: 0 0 1.55em 0;
}
.continued{
    display:block;
    clear:left;
    float:left;
    font-size:1.00em;
    font-weight:normal;
    font-style:italic;
    margin: 0 0 2.00em 0;
}
.article-page-container{
    width:100%;
    clear:both;   
}
.article-sidebar{
    clear:right;
    float:right;
    padding: 0 0 0 .10em;
}

.article-pages{
    clear:both;
    float:left;
    display:block;
    text-align:justify;
    width:100%;
    margin: 0;
    padding: 0;
}
.article-pages p {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    line-height: 1.65em; 
    font-size:1.25em;
}
.article-pages p.normal{
    text-indent: 1.25em;   
}
.article-pages p.resume{    
    text-indent: 0em; 
}
.article-pages p.excerpt-formatting-1{
    text-indent:0em;
    font-size:1.25em;
    line-height:1.75em;
    margin: .85em 0 .85em 3.1em;
    padding: .5em 0 .5em 0;     
}
.article-pages p.excerpt-formatting-2{
    text-indent:0em;
    font-size:1.25em;
    line-height:1.75em;
    margin: .85em 0 .85em 3.1em;
    padding: .5em 0 .5em 0;    
}
.article-pages p.excerpt-formatting-3{
    text-indent:0em;
    font-size:1.25em;
    line-height:1.75em;
    margin: .85em 0 .85em 3.1em;
    padding: .5em 0 .5em 0;   
    font-style: italic; 
}
.article-pages p.excerpt-formatting-4{
    text-indent:0em;
    font-size:1.25em;
    line-height:1.75em;
    margin: .85em 0 .85em 3.1em;
    padding: .5em 0 .5em 0;
}
.article-pages p.additional-note{
    text-indent:0em;
    font-size:1.05em;
    line-height:1.10em;
    margin: 2.0em 0 .85em 0;
    padding: .5em 0 .5em 0;   
    font-style: italic; 
}

.article-paging{
    clear:both;
    float:right;
    margin: 0 0 1.5em 0;    
}
.article-paging ul{
   display:inline;
   list-style:none;  
}
.article-paging ul li{
    margin: 0 .10em 0 .10em;
    display:inline;
    list-style:none;
    text-align:right;
    cursor: pointer;    
}
.article-paging ul li a{
    color: #ff9900; 
    text-decoration:none;
    font-size: 1.15em;
}
.article-paging ul li a:hover{
}
.article-paging ul li a.current{
    color: #c8cece;
    border: 0 none;
}


#article-footnotes{
    line-height:1.0em;
    font-size:.75em;
}
#article-footnotes ol{
    list-style-type:decimal;
    margin-left:1.3em;
}
#article-footnotes ol li{
    color: #ff9900;
}
#article-footnotes ol li p{
    margin:0 0 0 0;
    padding: 0 0 0 0;
    color: #c8cece;
    text-indent:0;
}


#article-workscited{
    border-top: .15em solid #c8cece;
    padding: 1.0em 0 0 0;
    display:block;
    clear:both;
}
#article-workscited p{
    margin: 0 0 1.00em 0;
    padding: 0 0 .45em 0;
    padding-left: 2em ;
    text-indent: -2em ;
}
#article-workscited-title{
    font-size:1.25em;
    font-weight:bold;   
    display:block;
    margin: 0 0 1.0em 0;
}
.workscited-links {
    color: #ff9900;    
}