<div class="image-container">
    <img class="image" alt="" src="@Url.Content("~/Content/pl_dec_2011_gina_franco.jpg")" width="450" />
    <span class="image-credit">Photo by: Gina Franco</span>
</div>