<div class="article-page-container">
    <div class="article-pages" id="page1">
        <p class="not-indented">
            <em>Toward The Unfinishable Sentence of a Moment in Contemporary American Poetry in which the Idea of the 
            <strike>white</strike> South might be as <strike>white</strike> perceptible and relevant as it is 
            <strike>white</strike> transitional</em> 
        </p>
        <p class="not-indented">
            <br />
            <br />
            <br />
            <span style="display:block; text-align:left; margin-left:12em;">Whose life is this anyway?</span>
            <span style="display:block; text-align:right;">—Joshua Poteat</span><br />
            <span style="display:block; text-align:right;">“Illustrating how to catch and manufacture ghosts”</span><br /><br /><br />
            <span style="display:block; text-align:left; margin-left:12em;">Being’s a vagabond—</span>
            <span style="display:block; text-align:right; margin-right:10em;">It shows itself in its absence—</span>
			<span style="display:block; text-align:right;">—Brian Barker</span><br />
            <span style="display:block; text-align:right;">“Dragging Canoe Vanishes from the Bear Pit into the <br />Endless Clucking of the Gods,”</span>
            <br /><br /><br /><br />
        </p>
        <p class="not-indented bold center">Dear Brian</p>
        <p class="not-indented with-spacing">
            whatever you said when I asked you what you thought of <em>Illustrating the Machine That Makes The World</em> seemed right, but it was so brief I lost it, let it slip away, 
            and that was more than a year ago,
        </p>
        <p class="not-indented with-spacing">
            but as I read Josh’s book again yesterday, struck (again) by the decay, from the invocatory poem, “Illustrating the illustrators”—“We said, <em>If death is like this, 
            then give us more</em>”—forward
        </p>
        <pre class="preformatted-font preformatted-spacing">
                <span style="font-variant:small-caps">“Apparatus to show the amount of dew on trees and shrubs”</span>

                        The timothy grass coned long for cows
		                        and the one-eared lamb, blue flies dead

                        in troughs. Under the orchard where

	                        the rotting pears, those dull sparks

                        in the grass, could warm a man’s hands
		                        with wasp sting…


                <span style="font-variant:small-caps">“Illustrating the theory of twilight”</span>

                        Down in the reeds, farthest from God,

	                        where the vultures wash their feet,

                        is where I slept the night the dogs found
		                        the wild boar, half-dead from a cancer…


                <span style="font-variant:small-caps">“Illustrating an answer to a question through the order in which a bird reveals
                letters by eating the grains set on top of them”</span>

                        In the empty muffin case, termites root their black chambers,

	                        famine through the hours…


                <span style="font-variant:small-caps">“Illustrating the manner of communicating vibrations to the air”</span>

                        On the branch of a chestnut, before the blight,

	                        a hornet’s nest grew its skin until it throbbed

                        with ten thousand poisons, and because of this
		                        it must suffer. I say this now as a warning,

                        as a translator of sight beyond.

	                        I watched the nest for weeks, its heart alabaster

                        with the sickness, let it grow, took its air
		                        and its long, purposeful lights to bed with me,

                        for what can one do but let the world happen?
        </pre>
        <p class="not-indented with-spacing">
            I thought I almost remembered it, something about the book’s interest in the “antique,” which I may be misremembering, 
        </p>
        <p class="not-indented with-spacing">
            though that’s not wrong, because there are a lot of devices here, but little that’s “modern,” which is to be expected since the book is founded, as the subtitle 
            tells us, on J. G. Heck’s 1851 <em>Pictorial  Archive of Nature and Science</em>, so maybe there’s something “antique” about Heck’s “science” as delivered here, and maybe, 
            too, something antique about the decay itself, so the word seems plausible,
        </p>
        <p class="not-indented with-spacing">
            though I want to remember it not just because I can’t exactly remember it, not just to scratch the itch of absence, itch of erasure, but because it seems to me 
            a dependent clause from which a complex sentence might proceed 
        </p>
        <p class="not-indented with-spacing">
            to ask, whether the decay of the pastoral or the agricultural idyll in the face of an imminent (a faithful but naïve) industrialization is somehow written into 
            Heck’s <em>Pictorial Archive</em> and excavated by Poteat
        </p>
        <p class="not-indented with-spacing">
            or if this world is the world Poteat can’t not imagine beneath the Confederate afterlife into which the first movement of <em>Ornithologies</em> stumbles (can’t not stumble) 
        </p>
        <p class="not-indented with-spacing">
            or whether Heck’s <em>Archive</em> illustrates—as it turns Nature into machine, as it mechanizes Nature—the imminent passing of the pre-industrial world that becomes the 
            idyll of post-bellum Southern romance, which becomes for Poteat an inevitable subject, something he has to write about once he discovers it 
        </p>
        <p class="not-indented with-spacing">
            or, to go even further, to ask if the instability of the Confederate world-view is somehow written into Heck’s vision, even as the War seems inevitable after the 
            1850 Compromise and the Fugitive Slave Act—making Heck’s world a kind of proleptic elegy for the world that, if it ever existed, begins to decay only more obviously 
            in the War it would take another 14 years to lose, an elegy to which Poteat turns as a kind of extension of the “Nocturnes” section in <em>Ornithologies</em> but, more 
            importantly, as way of shaping as it participates in a moment in Southern writing, in Southern poetry, 
        </p>
        <p class="not-indented with-spacing">
            a moment in which we’re working to see what’s been suppressed for so long—not only African-American history and culture, but also <em>whiteness</em>—and to write ourselves 
            into a kind of new world, while all the while being tethered to the world that’s passing—if it has not already passed—away, 
        </p>
        <p class="not-indented with-spacing">
            namely The mythical-capital-letter SOUTH, which is to say that (to ask whether) maybe somehow Heck’s <em>Pictorial Archive</em> gives Poteat the material he needs to make 
            for the present the past it needs in order to make sense—
        </p>
        <div class="dividing-line-container"><div class="dividing-line"></div></div>
        <p class="not-indented center bold">Dear Joshua</p>
        <p class="not-indented with-spacing">
            a moment in your kitchen, that lovely vanilla-tinged tea steeping, the daylight a little tentative or lazy or maybe just shopworn to which I need to return    
        </p>
        <p class="not-indented with-spacing">
            —and by “return” I don’t mean get myself to Richmond in the next few months, but literally to revisit that moment—with Brian’s <em>The Black Ocean</em> in my bag, because 
            it wasn’t out then, though I’m pretty sure I’d read it, so I could ask you about it, specifically the book’s <em>lastness</em>, its eschatologies / we could maybe get 
            Wojahn in on this, too, but what I want to ask you about is / the sense of an ending that permeates the book—though maybe it’s better to say the <em>senses</em> of ending 
            the book maintains, because 
        </p>
        <p class="not-indented with-spacing">
            sometimes the book seems to report, to observe, to visit, as in 
        </p>
        <pre class="preformatted-font preformatted-spacing">
                <span style="font-variant:small-caps">“Dragging Canoe Vanishes from the Bear Pit into the Endless Clucking of the Gods”</span>

                        But here, now,
		                        the air is clean and empty

                        and holds them, man and bears, as the pit sinks
                        to blackness beneath the shapes I trace.

                        If I lean over the edge
				                        I can almost touch them.

	                        They are thin
			                        and light as snow now …

		                        Now they are nothing.


                <span style="font-variant:small-caps">“In the City of Fallen Rebels”</span>

                        Here they come, galloping across the river

                        of a dead king rising, surplice, bearded in flames,

                        blowing their battered bugles.

                        They want a word with the boy, they say. They take him

                        into the trees. And there he goes, still half-asleep,

                        dragging his death by a string.

                        and at other times to pray


                <span style="font-variant:small-caps">“Lullaby for the Last Night on Earth”</span> 

                        When at last we whisper, <em></em>so long, so lonesome</em>

                        and watch our house on the horizon
                        go down like a gasping zeppelin of bricks,

                        we’ll turn, holding hands,
                        and walk the train tracks to the sea…


                <span style="font-variant:small-caps">“Lost on the Lost Shores of New Orleans, They Dreamed Abraham Lincoln Was the 
                Magician of the Great Divide”</span>

                        He pulled his hand from his hat and held out the bridge

                        they’d never make it across, bright lights

                        and the river braiding its spell of filth beneath it.
                        He held out questions, unanswerable, and the smell of wet newsprint

                        that won’t wash off. He held out a red scarf,

                        rigor mortis, a small band of farmers shaking pitchforks at a tank.
 

                <span style="font-variant:small-caps">“A Brief Oral Account of Torture Pulled Down Out of the Wind”</span>

                        so speak to me now as you disappear

                        and I will carry your message

                        to the cold lips of the sleepers

                        yes I will tell them I saw you standing amazed

                        smiling in another life

                        I will look them in the eye

                        I will tell them you longed to be loved
        </pre>
        <p class="not-indented with-spacing">
            not only in a present tense that seems traditionally revelatory—but also in the future and the past, to which I want to refer you, because it’s here, for me anyway, 
            I hear a kind of attitudinal rhyme with the scenes of ruin, the images of ruin and decay—I might even say a kind of decadence—in <em>Illustrating the Machine</em>—
        </p>
        <div class="dividing-line-container"><div class="dividing-line"></div></div>
        <p class="not-indented center bold">Dear Brian</p>
        <p class="not-indented with-spacing">
            —which is a way of asking, as you think about it, if you’d accept any connection between Poteat’s anti-pastorals and the apocalyptic scenes—both the 
            historical/mythical scenes of New Orleans or the 1980s or Cherokee and the eschatological “Last Night” scenes—in <em>The Black Ocean</em>
        </p>
        <div class="dividing-line-container"><div class="dividing-line"></div></div>
        <p class="not-indented center bold">Dear Joshua</p>
        <p class="not-indented with-spacing">
            —and maybe I’m reading you through <em>The Black Ocean</em> in a way that’s unfair—or I’m reading you through me, which is inevitable, though also maybe unfair, 
            however many times I might invoke Eliot<span class="superscript lit">1</span>—
        </p>
        <p class="not-indented with-spacing">
            but I’m wondering if it’s possible that, whatever we might say about it, we could say that <em>Illustrating</em> delivers a nostalgia, encrypted in a kind of surrealism, 
            you yourself have decrypted from Heck’s <em>Pictorial Archive</em>, 
        </p>
        <p class="not-indented with-spacing">
            a diagram of 1851 in which it’s already clear that the Civil War is inevitable and also that The South as a political cause will dissolve at least into the kind 
            of ghost that will haunt itself for a century and a half,
        </p>
        <p class="not-indented with-spacing">
            which is to say that maybe <em>Illustrating</em> creates for the speaker/see-er/traveler of <em>Ornithologies</em> the past necessary to the present <em>Ornithologies</em> 
            imagines and the future for which it prays,
        </p>
        <p class="not-indented with-spacing">
            in which case, maybe it’s possible—however unfair—to read Brian through <em>Ornithologies/Illustrating</em>
        </p>
        <div class="dividing-line-container"><div class="dividing-line"></div></div>
    </div>
    <div class="article-sidebar">
        <div id="article-footnotes">
            <ol start="1">
                <li id="foot1" style="top:6138px; position:relative;">
                    <p>
                        “But I believe that the critical writings of poets, of which in the past there have been some very distinguished examples, owe a great deal of their interest 
                        to the fact that the poet, at the back of his mind, if not as his ostensible purpose, is always trying to defend the kind of poetry he is writing, or to 
                        formulate the kind that he wants to write.” “The Music of Poetry” (1942).
                    </p>
                </li>
            </ol>
        </div>
    </div>
</div>