<div class="article-page-container">
    <div class="article-pages" id="page2">
        <p class="not-indented center bold">Dear Brian, Dear Joshua</p>
        <p class="not-indented with-spacing">
            and say that the future <em>The Black Ocean</em> imagines
        </p>
        <p class="not-indented with-spacing">
            expresses, as a kind of logical realization, by reflection, the decay at the heart of our (to the extent Southern, to the extent white, to the extent that 
            Southern is white) own present, even as <em>Illustrating</em> archaeologizes a similar decay in the history of our imagination/politics/nostalgia,
        </p>
        <p class="not-indented with-spacing">
            each of which being a way, as it were, as people, to walk away, after the poems, to move <em>forward</em> into what Whitman might have called “the new life of new forms,”
        </p>
        <p class="not-indented with-spacing">
            though I think too that, if I might, that we live in the kinship of a moment in which these mirrorings and reversals, 
        </p>
        <p class="not-indented with-spacing">
            these sentences that keep switching back on themselves and others, 
        </p>
        <p class="not-indented with-spacing">
            as the poems in <em>Illustrating</em> and in <em>The Black Ocean</em> switch between the longer/meditative poem—and here I might connect the long, segmented form of something like 
            “Dragging Canoe” to the series described created as the “Illustrating” titles link all the poems in the first and third sections of <em>Illustrating</em>—and the shorter 
            poem, whether the erasures in the fourth section (Appendix I) of <em>Illustrating</em> or the single-page lyrics in <em>The Black Ocean</em>,
        </p>
        <p class="not-indented with-spacing">
            the futures that flip back on the past and the pasts that flip forward onto the future,
        </p>
        <p class="not-indented with-spacing">
            are passing but can never pass entirely away<span class="superscript lit">2</span>
        </p>
        <div class="dividing-line-container"><div class="dividing-line"></div></div>
        <p class="not-indented with-spacing">
            and that remain, that ask, which is to ask, recalling what Alain Badiou wrote in his <em>Handbook of Inaesthetics</em>, that “Art <em>itself</em> is a truth procedure,” that “Art is 
            a thought in which artworks are the Real (and not the effect),” to say that <em>art thinks</em> and so to ask <em>what is our poetry thinking?</em> and to answer, in the first place, 
            that it is thinking about an end, to which we might ask, will ask, are asking <em>what is coming to an end?</em> to which I want to say
        </p>
        <p class="not-indented with-spacing">
            (this is where I insert myself between you and maybe misread you both or wishfully read you both or argumentatively read you both in order to produce a me-shaped 
            space between you)
        </p>
        <p class="not-indented with-spacing">
            that what we are imagining (together, what our work in its eschatologies, in its elegies, points toward) is a world in which whiteness is not an invisible, 
            insinuating, hegemonic, totalizing power, that what is passing away is generations on generations of white arrogance—
        </p>
        <p class="not-indented with-spacing">
            not that we are creating it, but we arrive at an unusual and auspicious time, having each of us come <em>after</em> the Civil Rights Movement, and so being raised to 
            inherit, at least in some measure, the consciousness, the idea the Movement fought to create, but inheriting it without having to face the violence of the 
            resistance to the Movement, and so experiencing the Movement somewhat indirectly (witnessing secondarily, to half-quote Dona Apel, at a remove in which meditation 
            is possible)
        </p>
        <p class="not-indented with-spacing">
            but also at a time not so many years forward that we do not also know the stink of the resistance, resistance-whispered-under-the-breath, the resistance that is 
            not entirely gone, that seems to haunt, but is in fact still operative 
        </p>
        <pre class="preformatted-font preformatted-spacing">
                Michael Donald, lynched in Mobile in 1981

                James Byrd, Jr., dragged to death behind a truck in Texas in 1998

                James Craig Anderson, beaten and then run over with a truck in a parking lot in 
                Jackson, Mississippi, 2011
        </pre>
        <p class="not-indented with-spacing">
            but has not passed away
        </p>
        <p class="not-indented with-spacing">
            so we can’t pretend that old white power is gone, that whiteness doesn’t exist in the way it used to, we can’t just not look at it or even at its ghost, 
            because to look away is to make it invisible again, to throw that Anteas to the ground where it could rise again,
        </p>
        <p class="not-indented with-spacing">
            which is to say in response to the question <em>what is our poetry thinking?</em> we might say will say are saying already <em>the end of whiteness, but concerned that 
            whiteness may not be killable, that it may be undead, something that has so insinuated itself it is beyond death, so we stand over it always in case someone has to 
            close the casket lid again</em>
        </p>
        <div class="dividing-line-container"><div class="dividing-line"></div></div>
        <p class="not-indented with-spacing">
            this moment of threshold—the sentence moving forward but still connected to its own past through itself, through its syntax
        </p>
        <p class="not-indented with-spacing">
            “the latent power,” Badiou says, “in which the contrast between presence and disappearance (being as nothingness) can present itself to the intelligible”<span class="superscript lit">3</span>
        </p>
        <p class="not-indented with-spacing">
            the sentence, the long sentence—which includes not only the long sentence, grammatically speaking, but as well the series—because it is only in such sequence, such syntax, deployed properly,
        </p>
        <p class="not-indented with-spacing">
            laden to the point that it becomes impossible to remember or to figure neatly its function or its fulfillment so the sentence exceeds (has already exceeded) its 
            instrumentality so it will not disappear into the result of its having carried all it was charged to move but instead remain however irrelevant the charge has become 
            as a trace of the movement from intention or initiation to acquisition and shape to delivery to briefly uncomfortable loitering like a valet waiting for—what is 
            it?—a tip a word a sign that all is done that transitions into a steady if mostly invisible presence that then comes to be a part of the family retinue, the estate, 
            a factotum, an administrative appendage that actually does a better job than almost anyone else at remembering how it came to be there<span class="superscript lit">4</span> and what its coming to be a 
            part of the family says about the family itself and maybe even the entirety of the family because it holds at least one stable point from which to measure and 
            therefore (by operation on the value of the measure) remember everything,
        </p>
        <div class="dividing-line-container"><div class="dividing-line"></div></div>
        <pre class="preformatted-font preformatted-spacing">

even how 
it became so laden it became 
 
impossible to remember or to figure neatly 
its function or its fulfillment 

so the sentence exceeded 
(and continues to exceed

as it creates it own epoch 
within itself) its instrumentality 

so it can never disappear into
its having carried all it was charged to move but 

must instead remain however irrelevant 
the charge had become as a trace 

of the movement from intention 
or initiation to acquisition and shape
 
to delivery—or however irrelevant
the charge had become

as a trace of the movement from intention
or initiation to acquisition deformation

and delivery, a briefly 
uncomfortable loitering—to a briefly

uncomfortable loitering 

like a valet once waited for—what is it?—
a tip, a word, 

a sign that all was done,

that moved into a steady if 
mostly peripheral presence 

that then came to be a part 
of the family that does 

(has done, is doing) better 
than almost anyone else 

remembering how it came to be 
there and what its coming to be 

a part of the family 
says about the family 

because it holds at least one 
point (instead of a stream, 

a river, a rush, the flood<span class="superscript lit">5</span> 
of always being in the middle of something

that began so long ago it may as well never
have begun) from which to measure and therefore 

(by operation on the value of the measure) 
remember everything
        </pre>
        <div class="dividing-line-container"><div class="dividing-line"></div></div>
        <p class="not-indented with-spacing">
            that “long sentence capable of moving in various ways, describing certain things and leaving others out, and coming back” Levis describes in Faulkner in that 
            interview with Leslie Kelen in <em>The Antioch Review</em> in 1990 or so,
        </p>
        <p class="not-indented with-spacing">
            to which we are drawn (I might say <em>called</em>) so we can write and move forward without letting the past fall back into itself and so into invisibility where a 
            kind of hegemony might reconstitute itself as such,
        </p>
        <p class="not-indented with-spacing">
            so that we can keep the past where we need it, so we can put it into passing, so we can show it passing, not only by turning toward something else, but by 
            placing it under the sign of the new consciousness, whereby the constitution of the past is stabilized in its <em>relation</em> to the new thing,
        </p>
        <div class="dividing-line-container"><div class="dividing-line"></div></div>
    </div>
    <div class="article-sidebar">
        <div id="article-footnotes">
            <ol start="2">
                <li id="foot2" style="top:885px; position:relative;">
                    <p>
                        Benjamin: “nothing that has ever happened should be regarded as lost for history. To be sure, only a redeemed mankind receives the fullness of its past—which 
                        is to say, only for a redeemed mankind has its past become citable in all its moments.” “Theses on the Philosophy of History.” <em>Illuminations</em>, 254.<br /><br />
                        William Faulkner: “The past is never dead. It’s not even past.” <em>Requiem for a Nun</em>, I.iii.
                    </p>
                </li>
                <li id="foot3" style="top:2625px; position:relative;">
                    <p>
                        “It is poetry that remarks on the barely perceptible disappearances from our world such as that of the sleeping porch or the root cellar. And poetry that 
                        notes the barely perceptible appearances.” C. D. Wright, <em>Cooling Time: An American Poetry Vigil</em>, 53.
                    </p>
                </li>
                <li id="foot4" style="top:2990px; position:relative;">
                    <p>
                        “Even and especially in our day, in our amnesiac land, poets are the griots, the ones who see that the word does not break faith with the line of the 
                        body.” C. D. Wright, <em>Cooling Time: An American Poetry Vigil</em>, 10.
                    </p>
                </li>
                <li id="foot5" style="top:4280px; position:relative;">
                    <p>
                        Tsvetaeva: “A poet without history cannot have a striving towards a goal. He himself doesn’t know what the lyric flood will bring him.” (139)
                    </p>
                </li>
            </ol>
        </div>
    </div>
</div>