<div class="article-page-container">
    <div class="article-pages" id="page3">
        <p class="not-indented with-spacing">
			which, as Glissant himself explains, is “not narrative”
		</p>
		<p class="not-indented excerpt-spacing">
			The incomparable suspense in Faulkner’s writing denies the foundational power of the Story. By this very denial, it establishes another dimension, a poetics that is not 
			narrative but creates a relationship between what is narrated and what is unsayable.
		</p>
		<p class="not-indented with-spacing">
			a point almost echoed by Levis in his interview exchange with Kelen, in response to a question about the role or place of “narrative” in his work
		</p>
		<p class="not-indented excerpt-spacing">
			LK: Let’s discuss your most recent book, <em>Winter Stars</em>. By way of introducing the book’s heavy reliance on narrative, would you trace how the narrative element 
			has developed in your previous books? 
			<br /><br />
			LL: You can discern the elements of it all the way to <em>Wrecking Crew</em> in a poem like “Fish.” There actually is a story, or half of a story, in that poem about an arrest. 
			I think the narrative mode drops out of my poetry after that, except for a muted narrational quality in the long poem “Linnets,” in <em>The Afterlife</em>. Then it comes back far 
			more strongly in <em>The Dollmaker’s</em> Ghost. The trouble with narrative is that sometimes when a poet writes for narrative, the narrative overwhelms every other consideration. 
			When I go back to <em>The Dollmaker’s Ghost</em>, if I see any deficiencies, it’s that the poem is racing so much to be a narrative that other considerations, such as the 
			integrity of a line, or rhythm, sometimes disappear. In <em>Winter Stars</em> the subjects themselves have the narrative so implicitly about them in elegies that all one needs to 
			do is allude to it, repeat a certain thing (like a motif), and the narrative moves into that image or that line. In <em>Winter Stars</em>, too, I was consciously writing a rather 
			traditional five-beat line against some of the free verse in the book. But I wanted it to remain unnoticeable; I wanted the rhythm to work unconsciously. What intrigued 
			me was coming back to a very traditional poetic source, while at the same time using or involving myself in narrative. So there was this tension between the two. The 
			narrative was always wishing to break into prose, which is our narrative tradition. And the older line, which once contained any kind of narrative you would possibly want 
			to write in, was coming back in the position of poetry and saying, well, there are certain things we won’t do.
		</p>
		<p class="not-indented with-spacing">
			an exchange that shows Levis trying to find, in what he elsewhere in that interview calls a “meditative” poetry, a place for narrative that is not a dominant, but a related, even 
			circumscribed place,
		</p>
		<div class="dividing-line-container"><div class="dividing-line"></div></div>
		<p class="not-indented with-spacing">
			a poetry that is not narrative, though it contains narrative, a poetry that is lyrical while being narrative,
		</p>
		<p class="not-indented with-spacing">
			a lyricism that, in Levis, is shown not so much in short poems like “Photograph, Migrant Worker, Parlier, California, 1967” or “The Poem Returning as an Invisible Wren to the World” 
			but rather in the undeveloped images within the longer poems, like the radio in the orchard in “Elegy With a Thimbleful of Water in the Cage” or the girl’s comb in “At the Grave of 
			My Guardian Angel, St. Louis Cemetery, New Orleans,” the moments within the river of something narrative that arrest the flow, like a weir, and gather the fish, the pearls, the quartz, 
			the ore, and show the other motions,
		</p>
		<p class="not-indented with-spacing">
			which is what, the lyricism, I think, the erasures in <em>Illustrating the Machine That Makes The World</em> are excavating from the already lyric but somewhat narrative poems that comprise 
			its first and third sections,
		</p>
		<p class="not-indented with-spacing">
			in a method apparently different from the sectioning in <em>The Black Ocean</em> but temperamentally or attitudinally cousin
		</p>
		<div class="dividing-line-container"><div class="dividing-line"></div></div>
		<p class="not-indented with-spacing">
			which is, then, to suggest
		</p>
		<p class="not-indented with-spacing">
			that Levis’s full-scale adoption and adaptation of this method expands the capacities of his work’s associative sweep and leap so it can move along (and also back along) whatever 
			trajectory of metonymy or metaphor also into history
		</p>
		<p class="not-indented with-spacing">
			&amp;
		</p>
		<p class="not-indented with-spacing">
			that Levis adopts and adapts it (perhaps coincidentally or perhaps because poetry, as a form of art, has to continue thinking what the language is trying to think even as it is 
			trying to think what it itself wishes to think) even as early as “Picking Grapes in an Abandoned Vineyard” in <em>The Dollmaker’s Ghost</em>, which is the book he’s discussing when he says 
			to Kelen that he’d been reading Faulkner when he was developing a new kind or rhythm
		</p><br />
		<p class="not-indented excerpt-spacing">
			Whereas, traditionally, in poetry, one might think of rhythm being linear, one could begin to think of it more architecturally, as not only a linear but a vertical figure, establishing itself 
			in rhythms or variations, both across the line and then vertically down through the poem, picking up repetitions and motifs.
		</p>
		<p class="not-indented with-spacing">
			—a poem (“Picking Grapes”) in which his own relation to the Mexican culture, through the persons of the hands on his family’s farm who <em>are actually named</em>
		</p>
		<pre class="preformatted-font preformatted-spacing extra-line-height">
		I remember two of them clearly:
		A man named Tea, six feet, nine inches tall
		At the age of sixty-two,

&

		And Angel Domínguez,
		Who came to work for my grandfather in 1910,
		And who saved for years to buy
		Twenty acres of rotting, Thompson Seedless vines.
		</pre>
		<p class="not-indented with-spacing">
			and so humanized, humanized further in a poem (we should pause here and read the entire thing to the air) whose rhythms perforate the boundaries between narrator and subject by creating a single 
			body of syntax and sound that reaches through and around their separate bodies
		</p>
		<p class="not-indented with-spacing">
			these men, named, who remain an important part of Levis’s narrative consciousness indexed to the undoing of a central whiteness, as we see in “Elegy for Whatever Had a Pattern In It,” where 
			another of the Mexican farmhands appears and becomes also the occasion for Levis to “deny the foundational power of the Story,” as Glissant writes,
		</p>
		<pre class="preformatted-font preformatted-spacing extra-line-height">
		One afternoon in August, two black widow spiders bit Ediesto Huerta.
		He killed them both & went on working,
		
		Went on swinging the boxes up to me. In a few minutes the sweat
		Bathed his face until it glistened, & still he went on working,
		And when I asked him to stop he would not & instead
		
		Seemed to begin to dance slowly in the rhythms of the world,
		Swing & heft & turning back for another box, then
		
		Swing, heft, & turning back again. And within a half hour or so,
		Without him resting once but merely swinging box after box
		
		Of peaches up to me in the heat, the fever broke.
		
					5
		
		In the middle of turning away again, he stopped dancing,
		He stopped working. He seemed to be listening to something, & then
		
		He passed out & fell flat on his back. It looked as if he had gone to sleep
		For a moment. I let the idling tractor sputter & die, & by the time
		
		I reached him, he had awakened, &, in the next moment, his face
		
		Began twitching, his arms & legs danced to something without music
		And then stiffened, his jaws clenched & his eyes fluttered open
		And turned a pure white. I made a stick from a peach limb & tore
		
		The leaves & shoots off it & stuck it between his teeth
		
		As I heard one was supposed to do, &, in this way, almost 
		Killed him by suffocation, & so took the stick out & threw it away.
		
		And later lifted him by the one arm he extended to me & pulled him up onto
		The bed of the trailer. He dangled his legs off the rear of it.
		
		We sat there, saying nothing.
		
		It was so quiet we could hear the birds around us in the trees.
		
		And then he turned to me, &, addressing me in a name as old as childhood,
		Said, “Hey <em>Cowboy</em>, you wanna cigarette?”
		
					•
		
		In the story, no one can remember whether it was car theft or burglary,
		But in fact, Ediesto Huerta was tried & convicted of something, & so, afterward,
		Became motionless & silent in the web spun around him by misfortune.
		
		In the penitentiary the lights stay on forever,
		
		Cell after cell after cell, they call their names out, caught in time.
		
		Ring, & after ring, & echo.
		
		In the story, the girl always dies of spider bites,
		When in fact she disappeared by breaking into the jagged pieces of glass
		Littering the roadsides & glinting in the empty light that shines there.
		
					6
		
		All we are is representation, what we appear to be & are, & are not,
		And representation is all we remember,
		
		Something hesitating & looking back & caught for a moment.
		
		God in the design on a spider’s belly, standing for time & infinity,
		Looks back, looks back just once, then never again.
		
		We go on without a trace, I am thinking…
		</pre>
		<p class="not-indented with-spacing">
			to establish at the center of the work the dialectic Badiou named, that relationship between presence and disappearance, that Glissant named between “what is narrated and 
			what is unsayable” 
		</p>
		<p class="not-indented with-spacing">
			&amp;
		</p>
		<p class="not-indented with-spacing">
			that, each of us, encountering Levis in our own time and way (Joshua as a student in his last year, Brian at VCU at nearly the same time, in the first umbra, and I years 
			later after Craig Arnold insisted that I acquire and read and take seriously <em>Elegy</em> which I attempted but failed to do for another year or two until I traveled to California 
			and through Levis’s valley to interview Philip Levine for a film in which he was supposed to talk about himself though he refused, insisting to talk about Levis instead) 
			learned from and absorbed this method and through Levis were (even cryptographically, steganographically) connected back to Faulkner, both teachers providing not only the 
			method fireworks long operatic sermonic aria John Coltrane playing for five or ten or fifteen minutes in the blank space provided for the solo but also the motive for the 
			adoption of the method
		</p>
		<div class="dividing-line-container"><div class="dividing-line"></div></div>
    </div>
    <div class="article-sidebar">
        <div id="article-footnotes">
        </div>
    </div>
</div>