<div class="article-page-container">
    <div class="article-pages" id="page3">
        <p class="centered-title">Brian</p><br /><br />
		<p class="resume">
			in your own encounters with the historically Other
		</p><br /><br />
		<p class="resume">
			that begin and end both your books, in the last movement of “Flood”
		</p><br /><br />
		<pre class="preformatted-font extra-spacing">
		I want to say, <em>this is the music of beginning again,</em>
		When a face on the news stops me.
		
		It’s a Mexican man I’ve seen somewhere before,
		Perhaps slinking in the long sheetmetal
		Shadow of the day labor office off Shepherd,
		Standing now on the steps of his house,
		The street swollen with water and debris.
		He’s holding a fishing net
		And scooping up a muddy wedding dress
		Billowing in the backwash of the bayou.
		
		He stands holding it for a long time,
		Watching the water empty out
		Of its lace skirt and bodice. He doesn’t look up,
		Not even when the reporter thrusts
		The microphone beneath his chin.
		He starts staring at the dress,
		And before I can speak I’m gone with him
		To the place where he last remembers it,
		Unzippered and crumpled at the bottom of a skiff
		Shored where the cattails bow along the bank,
		A half-mile down river from the wedding feast.
		
		The stars never so close and silent as this,
		As he and his new wife swim, the water
		So black and warm against their bodies the world
		Seems to be springing forth
		For the first time out of the dark,
		Out of their footprints pressed in silt,
		Out of the willowroots and stones and snakegrass.
		
		And when I study his face
		And close my eyes now, I can see the rowing
		Back, the oars rising and dripping
		Like wet wings. I can feel the hot blisters swell
		On my hands and welcome them.
		I can hear the music that floods the night
		And blesses the boat, and there is
		No reason to speak, no reason to say anything.		
		</pre><br /><br />
		<p class="resume">
			where the periods can’t stand against the integrating force not just of scene, which would be merely narrative, but the coordinating conjunctions, 
			the invitation to run on, and the anaphoric repetition, all of which bring each apparent beginning into its place in a continuing and accumulating movement,
			which here is dilated by this encounter with the <em>face</em> of the historically Other, which Levinas says is the location of any perception of <em>infinity</em>
            <span class="superscript lit">9</span> 
		</p><br /><br />
		<p class="resume">
			and powerfully in “Dragging Canoe” and “A Brief Oral Account of Torture Pulled Down Out of the Wind” 
		</p><br /><br />
		<p class="resume">
			and
		</p><br />
		<div class="dividing-line-container"><div class="dividing-line"></div></div>
        <p class="centered-title">Joshua</p><br /><br />
		<p class="resume">
			in your encounter with the nostalgias of the old order, encounters that occasion, too, a reach, a turn to the side, away from the center, to retrieve what is lost 
			within and from the story,
		</p><br /><br />
		<p class="resume">
			as in “Nocturne: For the River”
		</p><br /><br />
		<pre class="preformatted-font extra-spacing">
		Tell me, Robert E. Lee, of the hundred-year sleep,
			of mice skulls in own dung, your bronze head
		
		bearing the weight of catacombs hidden
			in the itch of amputees, gas-lit, forlorn.
		
		Tell me, J. E. B. Stuart, that everything will be okay,
			that your horse is facing the north because
		
		she misses the snowy fields.
			Tell me, sad horse, with doves nesting
		
		under your raised hoof, in this century of longing,
			how can I go on loving this ruined excuse for a city,
		
		sleepy-sweet night, sweet cicada,
			sweet oak, sweet old nothing?
		</pre><br /><br />
		<p class="resume">
			reaching from the centers of the history, Lee and Stuart, to the edges, to the amputees who would be amputated from the tale, to the horse, which is able to 
			become here a life, a creature, a point of attention
		</p><br />
		<div class="dividing-line-container"><div class="dividing-line"></div></div>
		<p class="resume">
			in a muscle
		</p><br /><br />
		<p class="resume">
			in a motion in a flood<span class="superscript lit">10</span> in a river of attention
		</p><br /><br />
		<p class="resume">
			this sentence
		</p><br /><br />
		<p class="resume">
			(and think, too, while we’re here of all the other poets from the South from the last two decades who have been drawn into the idea of the flood of sentence 
			of thought: Ammons, Dickey, Stanford, Wright, Daniels)
		</p><br /><br />
		<p class="resume">
			in which we too whether by choice or force of example of drift of time and momentum even of language itself could imagine
		</p><br /><br />
		<p class="resume">
			through these images of decay and end the decay and end of a white hegemony (which is still dying)
		</p><br /><br />
		<p class="resume">
			but also show,
		</p><br /><br />
		<p class="resume">
			also <em>trace</em> (to use Glissant’s word, signifying both the ability to discover a line of thought of cause and as well the confusion or obscuring of 
			the line of cause within the flood—
		</p><br />
		<p class="excerpt-formatting-5">
			Essentially, it comes down to this. To explore this double field—the flat reality that flaunts and exhibits its monsters, and the realm of primal truth that, 
			if its mysteries can be fathomed, should finally allow a weighing of reality’s monstrosity—Faulkner invented very naturally a language that does both <em>at the 
			same time</em>. It describes and <em>at the same time</em> seeks to say what cannot be said through description yet fully signifies (establishes through disclosed reason) 
			what is described. The pitch and fluctuations in Faulkner’s writing come from the fact that also, <em>at the same time</em>, it constantly reminds you that this full 
			disclosure is impossible.<br />
			
			<span style="display:block; float:left; width:1.75em;">&nbsp;</span>Faulkner’s writing originates from these three elements: a hidden truth (prior and 
            primordial, such as the impossibility of the country being well rooted, 
			its illegitimacy) that regulates the description of the real; a visionary description (determined by intuition and premonitions of primal truth); and the 
			disturbed assurance that the secret of this truth will never be revealed.<br />
			
			<span style="display:block; float:left; width:1.75em;">&nbsp;</span>These three elements, or three modes—the hidden, the described, and the inexpressible—are 
            interwoven throughout a book (<em>Absalom, Absalom!</em> for example), just 
			as they are within a chapter <strong>and sometimes in a single sentence, carrying the reader to a vertiginous unknown, which is the most precise manner of 
			approaching what can be known.</strong>
		</p><br /><br />
		<p class="resume">
			—so, to trace, but not entirely in the way Glissant ascribes to Faulkner who, he argues, has discovered the impossibility of the disclosure of the truth of the 
			system’s (the hegemony’s) illegitimacy,
		</p><br /><br />
		<p class="resume">
			because we exist we write at a moment in which that illegitimacy is now more legible than ever, in part because of Faulkner’s tracing, so maybe we are tracing 
			over Faulkner’s tracing and actually writing something further there)
		</p><br /><br />
		<p class="resume">
			trace the passing away of the past by placing it in the past of the sentence, by making it dependent on the central and present motion and by placing that in a 
			position that does not look forward so much as writes forward to a future
		</p><br /><br />
		<p class="resume">
			out of a moment so briefly and precariously constructed so that
		</p><br /><br />
		<p class="resume">
			(Glissant 
		</p>
		<p class="excerpt-formatting-1">
			Whatever attitude he adopts in his rapport with the Other and whatever global vision of the Other he has formed, the writer has no choice but to disturb this 
			vision through his work, even after expressing it in the work. Because finally he must renounce indivisibility and terrifying unicity… 
		</p>
		<p class="resume">
			)		
		</p><br /><br />
		<p class="resume">
			the moment of writing itself, and the moment of identity, the coalescing, the direction that enables and works through the writing, is a moment in which all 
			things have to be constantly improvised,
		</p><br /><br />
		<p class="resume">
			in ways that are clearer in the increasingly improvised impossibly and irritatingly long sentence (when will this be over? are we there yet?) in which all 
			moments and in which even the effort itself, the motion forward seems always about to fall apart,
		</p><br /><br />
		<p class="resume">
			but each time it doesn’t fall entirely apart, each time it makes another motion forward, it preserves—even as it is still looking back or feeling at least 
			the morse-tremblings of the motion of the past along the filament of the sentence—the possibility of moving forward into even
		</p><br /><br />
		<p class="resume">
			another emergent consciousness that must also pass away along the line we are imagining our way to imagining
		</p><br /><br />
        <div id="article-workscited">
            <span class="workscited-title">Permissions</span>
            <p class="no-indent">
                “Flood” from <em>The Animal Gospels</em> by Brian Barker, &copy 2006. Used by permission of Tupelo Press.
            </p>
            <p class="no-indent">
                “Dragging Canoe Vanishes from the Bear Pit into the Endless Clucking of the Gods”; “In the City of Fallen Rebels”; “Lullaby for the Last Night on Earth”; 
                “Lost on the Lost Shores of New Orleans, They Dreamed Abraham Lincoln Was the Magician of the Great Divide”; and “A Brief Oral Account of Torture Pulled Down Out 
                of the Wind” from <em>The Black Ocean</em> by Brian Barker, published by Southern Illinois University Press, &copy 2011. Used by permission of the author.
            </p>
            <p class="no-indent">
                “Airplanes” from <em>Wrecking Crew</em> by Larry Levis, &copy 1972. All rights are controlled by the University of Pittsburgh Press, Pittsburgh, PA 15620. Used by 
                permission of the University of Pittsburgh Press.
            </p>
            <p class="no-indent">
                “At the Grave of My Guardian Angel: St. Louis Cemetery, New Orleans” from <em>The Widening Spell of the Leaves</em> by Larry Levis, &copy 1991. All rights are 
                controlled by the University of Pittsburgh Press, Pittsburgh, PA 15620. Used by permission of the University of Pittsburgh Press.
            </p>
            <p class="no-indent">
                “Elegy for Whatever Had a Pattern in It” from <em>Elegy</em> by Larry Levis, &copy 1997. All rights are controlled by the University of Pittsburgh Press, 
                Pittsburgh, PA 15620. Used by permission of the University of Pittsburgh Press.
            </p>
            <p class="no-indent">
                “Illustrating how to catch and manufacture ghosts”; “Apparatus to show the amount of dew on trees and shrubs”; “Illustrating the theory of twilight”; 
                “Illustrating an answer to a question through the order in which a bird reveals letters by eating the grains set on top of them”; and “Illustrating the 
                manner of communicating vibrations to the air” from <em>Illustrating the Machine That Makes the World: From J.G. Heck’s 1851 Pictorial Archive of Nature and 
                Science</em> by Joshua Poteat, &copy 2009. Used by permission of the University of Georgia Press.
            </p>
            <p class="no-indent">
                “Nocturne: For the River” from <em>Ornithologies</em> by Joshua Poteat, &copy 2006. Used by permission of Anhinga Press.
            </p>
        </div>
    </div>
    <div class="article-sidebar">
        <div id="article-footnotes">
            <ol start="9">
                <li id="foot9" style="top:1560px; position:relative;">
                    <p>
                        “The face of the Other at each moment destroys and overflows the plastic image it leaves me, the idea existing to my own measure and to the measure of its <em>ideatum</em>—the 
	                    adequate idea… It <em>expresses itself</em>. The face brings a notion of truth which, in contradistinction to contemporary ontology, is not the disclosure of an impersonal Neuter, 
	                    but <em>expression</em>: the existent breaks through all the envelopings and generalities of Being to spread out in its ‘form’ the totality of its ‘content,’ finally abolishing 
	                    the distinction between form and content. This is not achieved by some sort of modification of the knowledge that thematizes, but precisely by ‘thematization’ turning 
	                    into conversation. The condition for theoretical truth and error is the word of the other, his expression, which every lie already presupposes. Be the first content of 
	                    expression is the expression itself. To approach the Other in conversation is to welcome his expression, in which at east instant he overflows the idea a thought would 
	                    carry away from it. It is therefore to <em>receive</em> from the Other beyond the capacity of the I, which means exactly: to have the idea of infinity.” <em>Totality and Infinity</em>, 
	                    p. 50-51.
                    </p>
                </li>
                <li id="foot10" style="top:2090px; position:relative;">
                    <p>
                        So Tsvetaeva’s taxonomy folds onto itself, where history itself is the flood, producing within in smaller floods, smaller moments of totalizing infinity.
                    </p>
                </li>
            </ol>
        </div>
    </div>
</div>