<div class="article-page-container">
    <div class="article-pages" id="page3">
        <p class="resume">
            that “long sentence capable of moving in various ways, describing certain things and leaving others out, and coming back” Levis describes in Faulkner, in that 
            interview with Leslie Kelen in <em>The Antioch Review</em> in 1990 or so, just before <em>The Widening Spell of the Leaves</em> is finished and comes out with that fantastic poem 
            at the end, “At the Grave of My Guardian Angel, St. Louis Cemetary, New Orleans,” 
        </p><br /><br />
        <p class="resume">
            this poem where, in a way, <em>Elegy</em> is already being written, is starting to be written—the mention of “Poe’s funeral” is here, a subject that will come back, in some 
            way, in “Elegy for Poe with the Music of a Carnival Inside It,” as is Los Angeles, which will appear again in several of the poems in <em>Elegy</em>—though you can follow the 
            thread back to the very early short poems and see clarified in comparison the genius of the longer sinuous poem, the poem in which, unlike Levis’s earliest poems, 
            those in <em>Wrecking Crew</em>, where the leap creates some interesting, even startling moments, as, for example in
        </p><br />
        <pre class="preformatted-font extra-spacing">
        <span style="font-variant:small-caps">Airplanes</span>

        I get a gun and go
        shoot an airplane full of holes,
        and stare at the thing on the runway
        until it’s covered with rust.
			        This takes years.
        I turn forty somewhere, waiting
        for the jet underneath me to
        clear its throat of burned
        starlings.
        </pre>
        <br />
        <p class="resume">
            the rapid (telescoped) aging or the appearance of the starlings, the imagistic shock, 
        </p><br /><br />
        <p class="resume">
            though reading <em>Wrecking Crew</em> in its entirety (this may be an unfair approach, reading the early work back through the lens of the later work, but that’s what we’ve 
            got, isn’t it, <em>historically affected</em> (or is it <em>effected</em>?) <em>consciousness</em>) it seems as if, however crisp one of the images in a poem may be, the poems seem more 
            interested, by comparison to the later work, in <em>having arrived</em> at the place where the startling image appears, in the <em>suddenness</em> of the image, 
        </p><br /><br />
        <p class="resume">
            a practice that is still visible in “At the Grave of My Guardian Angel” whether in a string of similetic images like “I would begin falling through myself like an 
            anvil or a girl’s comb or a feather” or in the movement from one scene to another, one city to another, most apparent when the poem breaks from one section to 
            another,
        </p><br /><br />
        <p class="resume">
            though the poem also shows, in these very places, what the longer poems—which start entering the oeuvre almost immediately after <em>Wrecking Crew</em>—do so 
            interestingly, namely to create a thread or tether between one moment and another, a moment between moments, which is often where another kind of appearance—like 
            the appearance of the starlings, for example, in the airplane poem—can occur, as just after that similetic string
        </p><br />
        <pre class="preformatted-font extra-spacing">
        It took nothing more than a few clouds straying over the sun,
        And I would begin falling through myself like an anvil or a girl’s comb or a feather
        Dropped, tossed, or spiraling by pure chance down the silent air shaft of a 
                warehouse,
        The spiderweb in one fourth-floor window catching, in that moment, the sunset
        </pre><br />
        <p class="resume">
            an appearance that also disappears, 
        </p><br /><br />
        <p class="resume">
            the arrival of the girl within the arrival of the girl’s comb making for a double disappearance of girl and comb once the feather arrives with its invisible 
            or unknown discarder who also evaporates into chance though the feather remains long enough to drop out of sight or fade into distraction as the eye of the poem 
            catches the illuminated spiderweb which will itself disappear in another line or two—
        </p><br /><br />
        <p class="resume">
            the creation of the thread, 
        </p><br />
        <pre class="preformatted-font extra-spacing">
        To gaze out at a two-hundred-year-old live oak tethering
        The courtyard to its quiet
        </pre><br />
        <p class="resume">
            which is a thread of syntax, which, to remember Baidou, is “the latent power in which the contrast between presence and disappearance (being as nothingness) can 
            present itself to the intelligible” and here presented in extreme contrast            
        </p><br /><br />
        <p class="resume">
            which is maybe nothing new since these longer poems, these meditative, these syntactical poems (not “narrative” though that term presents itself as being 
            the Other to lyric<span class="superscript lit">6</span>) start appearing in <em>The Afterlife</em> (just three or four years after <em>Wrecking Crew</em>, as  a result, Levis explains to Kelen in that 1990 
            interview, of a shift in mood and mind while he was at Iowa with David St. John and others) and already achieve some maturity in <em>The Dollmaker’s Ghost</em> 
            (in poems like “Adah” which I love (why isn’t this in the <em>Selected?</em>)), though as Levis’s career progresses, the tension in the syntax that heightens the 
            contrast between presence and absence, appearance and disappearance, is amplified and calibrated toward its height in <em>Elegy</em>,
        </p><br />
        <div class="dividing-line-container"><div class="dividing-line"></div></div>
        <p class="resume">
            so “At the Grave” is not a singular poem, but I’d put an x on it because Levis’s transportation of himself into New Orleans—
        </p><br /><br />
        <p class="resume">
            I mean the way this poem makes him a creature of New Orleans, by using the cemetery as the crossroads (think Robert Johnson, think Legba) of his own being 
            and non-being, the place he enters when the thought of death or the notion of the thought of death (“nothing more than a few clouds straying over the sun”) 
            overcomes him, the place where his death is buried, where his life moves forward but also remains there,
        </p><br />
        <pre class="preformatted-font extra-spacing">
        It took nothing more than a few clouds straying over the sun,
        And I would begin falling through myself like an anvil or a girl's comb or a feather
        Dropped, tossed, or spiraling by pure chance down the silent air shaft of a 
                warehouse,
        The spiderweb in one fourth-floor window catching, in that moment, the sunset.
        For in such a moment, to fall was to be simplified & pure,
        With a neck snapped like a stem instead
        Of whoever I turned out to be,
        Wiping the window glass clear with one cuff
        To gaze out at a two-hundred-year-old live oak tethering
        The courtyard to its quiet,
        The tree so old it has outlived even its life as a cliché,
        And has survived, with no apparent effort, every boy who marched, like a 
                wilderness
        Himself, past it on his way to enlist in Lee’s army,
        And now it swells gently in the mist & the early sunlight.
        So who saved me? And for what purpose?
        Beneath the small angel cut from cheap stone, there was nothing   
        But my name & the years 1947-1949,
        And the tense, muggy little quiet of a place where singing ends,
        And where there is only the leftover colored chalk & the delusions of voodoo,
        The small bones & X’s on stones signifying the practitioner’s absence,   
        Entirely voluntary, from the gnat swirl & humming of time;
        To which the chalked X on stone is the final theory; it is even illiterate.   
        It is not even a lock of hair on a grave. It is not even
        The small crowd of roughnecks at Poe’s funeral, nor the blind drunkard   
        Laughing there, the white of his eyes the unfurling of a cold surf below a cliff—
        Which is the blank wave sprawl of fact receding under the cries of gulls—
        Which is not enough.
        </pre>
        <p class="resume">
            —this transportation amplifies his invocation of Faulkner in the Kelen interview,
        </p><br /><br />
        <p class="resume">
            in which Levis slips himself geographically in the tradition of Faulkner into which he’s already moved himself methodologically, 
        </p><br /><br />
        <p class="resume">
            yes, because of the locale, but more importantly because of the overlay of times and places recalls for me the work of <em>Absalom, Absalom!</em> in particular 
        </p><br />
        <p class="excerpt-formatting-1">
            They stared—glared—at one another, their voices (it was Shreve speaking, though save for the slight difference which the intervening degrees of latitude had 
            inculcated in them (differences not in tone or pitch, but of turns of phrase and usage of words), it might have been either of them and was in a sense both: both 
            thinking as one, the voice which happened to be speaking the thought only the thinking become audible, vocal; the two of them creating between them, out of the 
            rag-tag and bob-ends of old tales and talking, people who perhaps had never existed at all anywhere, who, shadows, were shadows not of flesh and blood which had 
            lived and died but shadows in turn of what were (to one of them at least, to Shreve) shades too) quiet as the visible murmur of their vaporising breath. The 
            chimes now began to ring for midnight, melodious slow and faint beyond the closed, the snow-sealed, window. “—the old Sabine, who couldn’t to save her life had 
            told you or the lawyer or Bon or anybody else probably what she wanted, expected, hoped for because she was a woman and didn’t need to want or hope or expect 
            anything, but just to want and expect and hope (and besides, your father said that when you have plenty of good strong hating you dont need hope because the hating 
            will be enough to nourish you);—the old Sabine (not so old yet, but she would have just let herself go in the sense that you keep the engines clean and oiled and 
            the best of coal in the bunkers but you dont bother to shine the brightwork or holystone the decks anymore; just let herself go on the outside. Not fat; she would 
            burn it up too fast for that, shrivel it away in the gullet between swallowing and stomach; no pleasure in the chewing; having to chew just another nuisance like 
            no pleasure in clothing; having the old wear our and having to choose the new just another nuisance: and no pleasure in the fine figure he—” neither of them said 
            ‘Bon’ “—cut in the fine pants that fit his leg and the fine coats that fit his shoulders nor in the fact that he had more watches and cuff buttons and finer linen 
            and horses and yellow-wheeled buggies (not to mention the gals) than most others did, but all that was too just an unavoidable nuisance that he would have to get 
            shut of before he could do her any good just like he had to get shut of the teething and the chicken pox and the light boy’s bones in order to be able to do her any 
            good)—the old Sabine getting the faked reports from the lawyer like reports sent back to headquarters from a battle front, with maybe a special nigger in the lawyer’s 
            anteroom to do nothing else but carry them and that maybe once in two years or five times in two days, depending on when she would begin to itch for news and began 
            to worry him—the report, the communiqué about how we are not far behind him in Texas or Missouri or maybe California (California would be fine, that was far away; 
            convenient, proof inherent in the sheer distance, the necessity to accept and believe) and we are going to catch up with him any day now and so do not worry. So 
            she wouldn’t, she wouldn’t worry at all: she would just have out the carriage and go to the lawyer, busting in in the black dress that looked like a section of limp 
            stove pipe and maybe not even a hat but just a shawl over her head, so that the only things missing would be the mop and the pail—busting in and saying ‘He’s dead. 
            I know he is dead and how can he, how can he be’, not meaning what the Aunt Rosa meant: <em>where did they find or invent a bullet that could kill him but How can 
            he be allowed to die without having to admit that he was wrong and suffer and regret it</em> and so in the next two seconds they would almost catch him (he—the 
            lawyer—would show her the actual letter, the writing in the English she couldn’t read, that had just come in, that he had just sent for the nigger to carry to her 
            when she came in, and the lawyer done practised putting the necessary date on the letter until e could do it now while his back would be toward her, in the two 
            seconds it would take him to get the letter out of the file)—catch him, get close to him as to have ample satisfaction that he was alive; so close indeed that he 
            would be able to get her out of the office before she had sat down and into the carriage again and on the way home again where, among the Florentine mirrors and 
            Paris drapes and tufted camisoles, she would still look like the one that had come in to scrub the floors, in the black dress that the cook wouldn’t have looked 
            at even when it was new five or six years ago, holding, clutching the letter she couldn’t read (maybe the only word in it she could even recognize would be the word 
            ‘Sutpen’) in one hand and brushing back a rope of lank iron-colored hair with the other and not looking at the letter like she was reading it even if she could have, 
            but swooping at it, blazing down at it as if she knew she would have only a second to read it in,  only a second for it to remain intact in after her eyes would 
            touch it, before it took fire and so would not be perused but consumemd, leaving her sitting there with a black crumbling blank carbon ash in her hand. And him—” 
            (Neither of them said ‘Bon’) “—there watching her, who had got old enough to have learned that what he thought was childhood wasn’t childhood, that other children 
            had been made by fathers and mothers where he had been created new when he began to remember, new again when he came to the point where his carcass quit being a 
            baby and became a boy, new again when he quit being a boy and became a man, between a woman whom he had tought was feeding and washing and putting him to bed and 
            finding him in the extra ticklings for his palate and his pleasure because he was himself, until he got big enough to find out that it wasn’t him at all she was  
            washing and feeding the candy and the fun to but it was a man that hadn’t even arrived yet, whom even she had never seen yet, who would be something else beside that 
            boy when he did arrive like the dynamite that destroys the house and the family and maybe even the whole community aint the old peaceful paper that maybe would 
            rather be blowing aimless and light along the wind or the old merry sawdust or the old quiet chemicals that had rather be still and dark in the quiet earth like 
            they had been before the meddling guy with ten-power spectacles came and dug them up and strained warped and kneaded them;—created between this woman and a hired 
            lawyer (the woman who since before he could remember he now realized had been planning and grooming him for some moment thatwould come and pass and following which 
            he saw that to her he would be little more than so much rich rotting dirt; the lawyer who since before he could remember he now realised had been plowing and 
            planting and watering and manuring and harvesting him as if he already was):—him watching her, lounging there against the mantel maybe in the fine clothes, in the 
            harem incense odor of what you might call easy sanctity, watching her looking at the letter, not even thinking <em>I am looking upon my mother naked</em> since if 
            the hating was nakedness, she had worn it long enough now for it to do the office of clothing like they say that modesty can do, 
            does——<span class="superscript lit">7</span>
        </p><br /><br />
        <p class="resume">
            but also more generally Faulkner’s “stream of modified consciousness” as Edouard Glissant calls it, the recall of which seems particularly amplified given “At 
            the Grave”’s errantry into a broad stretch of Southern history, but, in the context of the current sentence, also because, even where the subject or immediate 
            focus is beyond the ken or interest of Faulkner’s work, Levis’s method 
        </p><br /><br />
        <p class="resume">
            (not just the stream, but the crossing of presence and absence, of appearance and disappearance)
        </p><br /><br />
        <p class="resume">
            echoes, recalls, evokes, and maybe even invokes (with the statement to Kelen the underlying harmonic) that central aspect of Faulkner’s fiction
        </p><br />
        <div class="dividing-line-container"><div class="dividing-line"></div></div>
        <p class="resume">
            Glissant identifies as Faulkner’s response to the crisis, the ultimate and inevitable decadence and decay of the hegemony of whiteness, the European worldview, 
            responding to the crisis even as it’s announcing it, as Glissant explains 
        </p><br />
        <p class="excerpt-formatting-1">
            We are living in the moment when an indivisible world harmony and the conceptions it suggests are breaking up, a time when partial harmonies arise everywhere 
            and converge toward a generalized disharmony, something the writer feels he cannot explore without first renouncing this indivisibility that established him, 
            sovereign and seer, in his place and words. To renounce the indivisible is to learn a new way of approaching the world; in doing so the writer learns to deploy 
            all of his works in this approach, to become accustomed to this new and generalized disharmony while trying to follow its innumerable traces.
            <span class="superscript lit">8</span>
        </p><br /><br />
        <p class="resume">
            which is to say that Faulkner’s stream, as it reaches forward and back, is what Glissant will term elsewhere a kind of <em>relational</em> thinking, which is to say that 
        </p><br /><br />
        <p class="resume">
            that long sentence, whether we’re being very strict about that term syntactically or grammatically or just allowing the sentence to be defined by the shape 
            and size of a thought (its bandwidth and its duration
        </p><br /><br />
        <p class="resume">
            to quote Glissant from his <em>Poetics of Relation</em>,
        </p><br />
        <p class="excerpt-formatting-1">
            We no longer reveal totality within ourselves by lightning flashes. We approach it through the accumulation of sediments. The poetics of duration 
            (another leitmotiv), one of the first principles of the sacred, founding books of community, reappears to take up the relay from the poetics of the moment. 
            Lightning flashes are the shivers of one who desires or dreams of a totality that is impossible or yet to come; duration urges on those who attempt to live this 
            totality, when dawn shows through the linked histories of peoples. 
        </p><br /><br />
        <p class="resume">
            duration being the space in which the linkages of histories and of peoples can be seen),which is to say that this long sentence is also a tool of thought 
            and for showing a thought that enters into the relation of duration, a thought and a record of thought that not only perceives but works to show that relation, 
            the entanglement, not just what is central or dominant, but the complex, the tangle, the everything,
        </p><br /><br />
        <p class="resume">
            which is to say that Faulkner’s long sentence, his stream, his duration is a mechanism that displaces the centrality of whiteness, that works to escape and 
            neutralize white hegemony even as it preserves the traces of its movement from that very center, which is to say that it keeps its eye on what it is trying to 
            pass away, to pass on,
        </p><br />
        <div class="dividing-line-container"><div class="dividing-line"></div></div>
    </div>
    <div class="article-sidebar">
        <div id="article-footnotes">
            <ol start="6">
                <li id="foot6" style="top:2095px; position:relative;">
                    <p>
                        Tsvetaeva: All poets can be divided into poets with development and poets without development. Into poets with history and poets without history. 
                        The first could be depicted graphically as an arrow show into infinity; the second—as a circle.<br /><br />C. D. Wright, <em>Cooling Time</em>, 37:
                        Narrative is. You have to know when to enter in, when to egress, when to provoke, when to let be, e. However, narrative is overly identified with 
                        Southern poetry, whereas it is a lifelong, global condition, not a literary convention. Poets should be willing to exploit the rind of narrativity, 
                        and be more than willing to be lost as the heart. Exceptional intellection is being exercised to decry narrative. I am not learning much from that 
                        line of refutation.
                    </p>
                </li>
                <li id="foot7" style="top:5985px; position:relative;">
                    <p>
                        <em>Absalom, Absalom!</em> The Corrected Text. 1986. p. 243-245
                    </p>
                </li>
                <li id="foot8" style="top:6765px; position:relative;">
                    <p>
                        <em>Faulkner, Mississippi, </em> 5.
                    </p>
                </li>
            </ol>
        </div>
    </div>
</div>