<div class="article-page-container">
    <div class="article-pages" id="page1">
        <p class="not-indented">
			<em>Stacey Waite is the author of three chapbooks</em>—Choke, <em>winner of the Thorngate Road Press Frank O’Hara Prize for Poetry</em>; Love Poem to 
			Androgyny, <em>winner of the Main Street Rag Press Chapbook Prize</em>; <em>and</em> the lake has no saint, <em>winner of the Tupelo Press Snowbound Prize 
			in Poetry. Hir first full-length collection,</em> Butch Geography, <em>is forthcoming from Tupelo Press in 2012. An assistant professor at 
			University of Nebraska-Lincoln, s/he currently teaches composition, gender studies, and creative writing.</em>
		</p>
		<p class="not-indented with-spacing">
			<em>I first met Stacey Waite fifteen years ago, and since that time, we have had many exchanges in which we have shared with one another 
			the pleasures and challenges of writing poetry that seeks not just to represent queer lives, but also to imagine a queer poetics—a way of 
			writing that opens up new possibilities for (un)doing and (un)thinking gender and sexuality. In our many discussions, I have appreciated 
			how Stacey and hir poetry have disrupted the restrictively normative idea(l)s of natural, coherent gender identities and, in the process, 
			exposed the fictions that underlie compulsory heterosexuality. I enjoyed the opportunity to interview Stacey for </em>Pilot Light<em>, as it gave 
			me the chance to share with a greater audience the conversations in which Stacey and I have been engaging for over a decade.</em>
		</p>      
        <div class="dividing-line-container"><div class="dividing-line"></div></div>
		<p class="not-indented with-spacing">
			<em>JP: In your series of “On the Occasion of Being Mistaken for a Man . . .” poems, you offer reflections on moments when the body is 
			mistaken, when gender is misread. Do you see relationships between mistaking/misreading the body and misreading text/language?</em>
		</p>
		<p class="not-indented with-spacing">
			SW: The idea of “mis-reading” has always been fascinating to me, both because there is really no way for someone to not “mis-read” my 
			body—that is, if they are using the conventional interpretative frame for gender that widely circulates in the culture. But then, there 
			is a sense of mis-reading that is more productive, more generative than perhaps a more aligned reading might be. For example, just 
			recently, a little boy at the DMV pointed to me and said to his mother, “Mommy, that man is a girl.” His statement might, in other 
			contexts, be considered a mis-reading, an impossibility even. But in the end, he is more right about gender than his mother is. She 
			says, “Of course he’s not.” Her response means both that I was not a girl (which I, a little bit, am) and that men cannot be girls (which, 
			of course, they can). So I think mis-reading the body, or mis-reading the text, is sometimes a result of not having the tools to read 
			other than in the usual, binary ways. But it can also be more subversive to “mis-read,” more disruptive. Sometimes mis-reading means 
			reading more queerly. Since the first set of “On the Occasion of Being Mistaken for . . .” poems, I have written more of them, and have 
			found that I can be “mis-read” as a woman as well—to read my gender in an either/or way is always to mis-read it. Then again, to read my 
			gender more queerly, as something else entirely, something not able to be captured in man/woman terms would, to some, be its own kind of 
			mis-reading. I guess, in a sense, all my poems are about mis-readings in that (I hope) they call attention to the ways meaning is made, and 
			more importantly to the ways meaning might be re-made, queered, open to infinite possibility.
		</p>
		<p class="not-indented with-spacing">
			<em>JP: How does place affect your poetry? I’ve noticed in your poems a relationship between location/place and the body. Baseball games, 
			restaurants, public bathrooms, airports—they’re all imbued with certain assumptions about gender and space, although in some places these 
			assumptions are more readily apparent than in others. You’ve recently moved to a new place after many years in Pennsylvania—does Nebraska 
			“ask” you to write differently? Does it call up different readings or writings of gender? Does it reinforce/disrupt/shape your poetic 
			process?</em>
		</p>
		<p class="not-indented with-spacing">
			SW: That’s an interesting question. Like most writers, my surroundings have a profound influence on my writing—not just because of the places 
			my poems name as their settings, but also because shifting around in place can feel quite similar to shifting around in gender. I’ve only 
			been in Lincoln, Nebraska, a few months, but already I can feel the landscape in my body. I was in Pittsburgh for thirteen years before this 
			most recent move and in Pittsburgh you can’t walk ten feet without having to climb a hill, without navigating a tunnel or crossing a bridge. 
			Moving from that kind of space to this flat expanse of sky and earth is, at times, a bit daunting. I can actually feel the vulnerability of 
			having no place to hide—like if the lightning wanted to find me out here on the plains, it most certainly could. I’ve written a few poems since 
			I’ve arrived, and I think the poems have that vulnerable feeling to them; they seem more exposed to me, more aware of the infinite space there 
			is. I’m looking forward to feeling the effects of this big expanse of sky. I’m hoping it will expand my reach, help me see past what is to what 
			might be possible. 
		</p>
		<p class="not-indented with-spacing">
			As far as gender goes, sometimes it feels like a different reading of gender gets called up in me every time I shift in my chair or turn my 
			head, so I expect that will be the case here in Nebraska. But I would be lying if I didn’t mention how sometimes I can feel Falls City, Nebraska, 
			below me, how I am both drawn to the place and in fear of it, how the story of Brandon Teena’s life feels somehow closer than before. And while 
			I am not naïve enough to think that hate crimes and violence against queers only happen in more rural places, I do think something about that 
			open sky and that flat expanse of land does make me feel more susceptible to that violence—however irrational that fear may be. I’m aware, as a 
			queer person, of the ways the media and the urban cultures I have largely lived in have situated places like Nebraska as dangerous for people 
			like me. But the truth is that, because gender is everywhere, danger is everywhere. And I guess part of writing poems, for me, is coming to 
			terms with that danger and trying to offer a kind of political, aesthetic and poetic argument: that gender is not sustainable, that it’s 
			dangerous to all of us—not merely to folks who fall outside its constructed norms.
		</p>
		<p class="not-indented with-spacing">
			<em>JP: Do you think about audience reception of your poetry? Does your poetry queer its audience? I’m thinking about times when I’ve taught 
			</em>Love Poem to Androgyny, <em>and some students experience a revelation/affinity that’s about them (an “oh my gosh, I might not be as gender 
			normative as I thought” realization), while others read the book as about you, as autobiography/memoir. Do you prefer one response to the other? 
			Is one closer to how you think about your reasons for writing? Are there other ways you hope an audience would respond to your poems?</em>
		</p>
		<p class="not-indented with-spacing">
			SW: I do think part of what I hope happens for an audience in reading or hearing my poems is a kind of defamiliarization—something, I would 
			argue, all poets try to do. So, in that sense, there is a kind of aesthetic of making the familiar seem strange, or shifted, or even new. 
			Because so many of my poems take up questions of gender, sexuality, and the body, I think I am hoping those terrains become strange as well, 
			that suddenly the taken-for-granted-ness of bodies and their meanings, bodies and their relationships to other bodies, becomes visible, that 
			suddenly we see differently something we think we have been looking at our whole lives—that something being our own bodies, our own identities 
			in relationship to gender. I guess I am hoping my poems explore and expose gender as failure, as always a profound failure, even for those 
			who consider themselves traditionally gendered—whatever that means. And I think I work hard, as a poet, to capture the shifting ground of 
			gender, even in terms of the way I characterize its effects. One moment a poem captures gender in its silliness, its playfulness and humor, 
			only then to move to highlight gender in its terror, its fear, its violence. Poetry is a place, it seems to me, where contradictions are 
			valued as the kind of dynamic tension that makes art <em>art</em>.  
		</p>
		<p class="not-indented with-spacing">
			<em>JP: What’s your relationship to received form? I’m thinking about the constraints of received forms, the constraints of gender—are the 
			constraints less constricting when imposed on the self? Or do received forms feel like policing the self? Is there a form you’re drawn to 
			that suggests questioning/queering? Do you feel a pull to be experimental/radical/innovative with form? How do your concerns about narrative 
			inform/complicate/shape your concerns about form (or vice versa)?</em>
		</p>
		<p class="not-indented with-spacing">
			SW: I had a teacher, back in undergraduate, Karl Patten, who once asked me (though I learned later he might have been kidding me a bit) to 
			write ten sonnets in a week. He said this to me after I had said, rather nonchalantly in his office, “I don’t like form.” This was the same 
			teacher who once forbade me to write a poem that had a single true fact or “real” event inside it. I spent that semester trying to understand 
			iambic pentameter, writing a horrifying number of persona poems in the voices of farmers, prostitutes, fathers, and military soldiers. It’s 
			strange to me now that writing a poem that wasn’t “true” somehow translated to me as speaking in someone else’s voice. I remember being 
			frustrated with Karl back then, thinking that the constraints were arbitrary or part of some conspiracy to control emotion. But really, in 
			the end, I learned some really valuable things about how constraints work, about how we always (as writers and as bodies) move within a field 
			of constraints—whether those constraints are pre-existing forms, rules we give ourselves, or limitations put upon us by some force, or someone, 
			who stands in powerful relation to us. I mean, gender is a form, right? A way of limiting what can be said, known, and expressed. And I guess 
			what I am saying is that forms are there to be pushed on, exploded, made fun of, followed then abandoned. 
		</p>
		<p class="not-indented with-spacing">
			So, in a way, I stand by what I said, “I don’t like form,” meaning that if a form intends to limit or frame what is able to be seen and 
			therefore what is possible, then yeah, I don’t like form. But, as I learned that semester with Karl Pattern, some forms can set us free from 
			the very limitations they set in the first place. Sometimes to work with form is precisely to work against it, to push back at the boundaries 
			of what can be thought. So we can understand one another as men or women, or we can say fuck men and women. We can start writing sonnets in 
			order to say fuck sonnets. And sometimes, sometimes in the writing and in moving through the world, sometimes “boy” fits just right, or 
			sometimes the sonnet carries us until we realize we have made a sonnet—we have said, “Okay, sonnet, for now.” I’m not sure if I’m answering 
			your question, but I think what I want to say is that, for me, the forms I value are temporary, contradictory, fleeting—and so, when I say 
			“form” that is what I imagine. 
		</p>
		<p class="not-indented with-spacing">
			As far as narrative, well, I am reminded of Joan Didion’s “The White Album” in which she says something like <em>writers live by the 
			imposition of a narrative line upon the disparate images that are the shifting phantasmagoria </em>[love that word]<em> which is our actual 
			experience</em>. So, in that case, narrative can be normative, can be the most unqueer form of all—that is, if that narrative is linear, 
			sequential. I have been interested lately in some of the shifts in queer theory whereby scholars like Lee Edelmen, José Muñoz, and 
			Judith Halberstam have been theorizing about queer time and queer space. In <em>the lake has no saint</em>, I was really conscious of trying 
			to move in queer time, right down to the syntax of a sentence. I tried to think of sentences themselves as a disruption in narrative, 
			rather than as something to be contained <em>by the narrative</em>. As a writer, I absolutely do give myself forms and rules, projects with 
			which to work, but I often find that the pleasure in that is located in the moments I move outside the bounds of my own expectations, 
			move out into the realm of what’s possible that before was impossible.
		</p>
		<p class="not-indented with-spacing">
			<em>JP: I’ve been to a few of your readings and have heard audience members remark every time that your performance changed how they thought 
			about your poetry. Do you think performance in general recreates/alters the poem? Does the embodiment of a poem change it? Does the poem 
			change with the person embodying it? For instance, do you experience a slippage between your performance of your own poems and, if you’ve 
			had the occasion to witness this, someone else’s performance of your poems?</em>
		</p>
		<p class="not-indented with-spacing end">
			SW: As a poet deeply invested in the music of poems, and in their embodiment, I really do think that all of my poems are meant 
			as embodiments, are written with the idea in mind that someone who looks and sounds like me is reading them, out loud. I don’t 
			mean to suggest at all that only I can read my poems aloud, but I do mean to suggest that the poem is an embodiment that offers 
			a particular <em>kind</em> of body. And I don’t exactly mean a particular kind of gendered body. I mean more that the body is 
			queered in its performance, that it exposes itself outwardly as a deviant and disobedient body—one that will not <em>mean</em> in the usual 
			ways bodies come to <em>mean</em>. I think of poems as sung, and I think of reading as a kind of singing, moving sound and story 
			through the body. I do think that when people say that my reading of the poems changes the poems that it has something to do with 
			a poet suddenly becoming a body. When you read poems on a page, there is an invisible author (and there may be some generative 
			productivity to this kind of reading), but when the author arrives to sing his own songs, suddenly there is a human, a body given 
			over as evidence of the poems having been written by hand, by a hand reaching out from a body with a beating heart. And at one of 
			my readings, this also means there is a body that both can and cannot be seen. I can sometimes see an audience member fixate on my 
			chest or crotch, and I can assume they’re looking for traditional symbols of interpretation. I think it helps to remember that there 
			are actual bodies with actual lived experience, bodies that don’t “add up,” that refuse the usual narrative, bodies that might have 
			before seemed impossible. I think my poems might sometimes raise the questions: <em>Who could live like this? Who could live as 
			neither/nor or as either/or</em>? It seems unimaginable—that is, until there I am, singing the song. There I am woman/boy with no 
			direct line to the easily categorized answer. And I breathe, and my hands are hands, and there may or may not be a cock in my pants. 
			But who’s counting cocks anyway?
		</p>
    </div>
    <div class="article-sidebar">
    </div>
</div>