<div class="article-sidelinks">
    <br />
    <div class="heading bold">Poems by Stacey Waite:</div>
    <ul>
        <li>@Html.ActionLink("On the Occasion of Being Mistaken for a Man by Security Personnel at Newark International Airport", 
            "Work", "Issue", null, null, "1", new { page = 2 }, new { @class = "workscited-links" })</li>
        <li>@Html.ActionLink("On the Occasion of Being Mistaken for a Woman By a Therapist in the South Hills", 
            "Work", "Issue", null, null, "2", new { page = 2 }, new { @class = "workscited-links" })</li>
        <li>@Html.ActionLink("when leaving the house as a man", 
            "Work", "Issue", null, null, "3", new { page = 2 }, new { @class = "workscited-links" })</li>
    </ul>
</div>