<div class="article-page-container">
    <div class="article-pages" id="page2">    
		<p class="not-indented with-spacing">
			<em>JP: Does poetry offer an understanding of genderqueer lives that scientific/medical/psychiatric discourse cannot or does not?</em>
		</p>
		<p class="not-indented with-spacing">
			SW: I really like this question because I am sometimes asked it another way, something like: how do you manage your work in gender studies, with your 
			work in composition, with your work in creative writing? And I often find myself trying to unearth the overlaps; I often find myself frustrated with 
			that question and want to answer just: <em>it’s all the same work</em>. But I feel like your question here is inviting me to say something else about 
			how writing is, or can be, queer. I am not sure I would go so far as to say that poetry, as a particular genre of writing, can offer more complex 
			understandings of genderqueer lives. I might say that writing itself as a practice can offer more nuanced, more complicated and layered ideas about 
			queer lives. Of course, science and medicine also translate into writing. So, what’s the difference in the kind of writing I am talking about? Well, 
			here’s what I think. The kind of writing that can tolerate, accommodate, and move toward contradiction is the kind of writing that can better represent 
			genderqueer lives. Students in writing classes all over the country might have heard teachers say: <em>you contradict yourself here</em> or <em>there’s a 
			contradiction in your paper</em> (this meaning, get the contradictions outta there). But poetry, the best poetry I think, asks us to move toward the 
			contradictions, to embrace them. I am thinking of F. Scott Fitzgerald, who said, “Intelligence is the ability to hold two opposing ideas in mind at 
			the same time and still retain the ability to function.” I do think poetry demands this kind of intelligence. I hope most poets feel a responsibility, 
			an obligation even, to write poems that reflect this kind of complexity, poems that lean into what is difficult, complicated, and perhaps even 
			impossible to name. I do think writing can lead us from what seems unthinkable to the imaginable. 
		</p>
		<p class="not-indented with-spacing">
			For genderqueer lives, one of the most important things that could happen in the consciousness of this culture is that we could move beyond the realm 
			of the possible, that we could imagine lives other than the ones we have lived, seen, or imagined. With all the bullying of queer teens, the sad fact 
			that many queer people can’t imagine what Judith Butler calls a “livable life” is a real problem. I am not so naïve as to think poetry can save the 
			world, or that my poems can inspire some kind of global change, but I do know what it was like for me, as a young queer person, to hear the voices 
			and the poetry of people who had imagined and were living queer lives. So in that, I suppose poetry is my way of showing up, of being heard and that 
			poetry, as a genre, does allow and even demand that the contradictory be visible, that the impossible be imagined, that there is a world beyond the 
			world we can see from where we stand. To me, even the simplest poem, even the shortest, image-based, “In a Station of the Metro”-type poem is resisting 
			one-dimensional understandings, pushing on the limits of what’s imaginable. Poetry is always pointing to something unsayable. And as far as my gender 
			is concerned, it is, quite literally, in the English language, unsayable in the third person. I cannot be talked about without the use of “he” or “she.” 
			Unless, of course, I am with others—“they”—and am thereby an “other.” And queers are starting to push on the language, to invent new names for ourselves, 
			like “ze,” for example, which is a term that has been embraced by some people in the trans community. I sometimes use “s/he” both to echo my 
			identification with the character in Minnie Bruce Pratt’s <em>S/he</em>, and also because for me something feels complicated about the slash, about 
			what it intends to mean. Poetry is the exact place for innovative language, for using words in ways they were not intended to be used, for coming up 
			with new names for ourselves, for clouds, for the sound of breathing. So, yeah, poetry understands me.
		</p>
        <p class="not-indented with-spacing">
			<em>JP: How do you understand the relationship between queer poetry and queer activism? Is there a relationship?</em>
		</p>
		<p class="not-indented with-spacing">
			SW: I think I would say that it really would be impossible to be saying radical things, to be writing poems that ask their readers to reimagine bodies 
			and identity and have those poems not be activism. I see myself as actively protesting gender in its current systematic form. And if activism is about 
			disrupting and trying to change damaging dominant ideologies and institutions, then there is no way around the fact that I am also an activist. I know 
			not all queer poets would see themselves that way, but I do think there is a way to see one’s writing as a call to change. I know quite a few poets who 
			feel that thinking of their work this way is to cheapen it, or to make it somehow less about art, but I think most art is activism too—that at a very 
			basic level artists offer us alternative ways of seeing. Sometimes even the subtlest shift in the way we look at things, or even the smallest shifting 
			of the angle from which we see the world, can be a life changing and world shifting moment. 
		</p>
		<p class="not-indented with-spacing">
			When I was an undergraduate, I had the opportunity to listen to a reading by Robin Becker, an old school, soft butch poet who may or may not consider 
			herself an activist (we’d have to ask Robin about that). But, she read the poem “Solar” from her collection <em>All-American Girl</em>, and there I 
			was—nineteen, sporting a major mullet (and not the ironic kind), and I was at a college with lots of people who considered themselves “real boys” 
			and “real girls.” And something shifted in me, in the degree and quality of my own shame when Robin read:
		</p>
		<pre class="preformatted-font preformatted-spacing extra-line-height">
		The desert is butch, she dismisses your illusions 
		about what might do to make your life 
		work better, she stares you down and doesn’t say 
		a word about your past. She brings you a thousand days, 
		a thousand suns effortlessly each morning rising. 
		She lets you think what you want all afternoon.
		</pre>
		<p class="not-indented with-spacing">
			And I am not kidding, I remember sitting in the church-like poetry building at Bucknell University thinking: <em>I am a desert. I am a vast expanse</em>. 
			I remember feeling my body relax into the thought of it. I remember looking at Robin and thinking my life as a queer poet was suddenly possible, that I 
			could even write about this queerness, that queerness was precisely what poetry was about. Now, I don’t know if everyone would consider this activism, 
			but something changed there. Something changed in the way I thought about myself and what was possible for me. And I think these moments shape the work 
			that I do, that I hope changes a few people’s notions of self and body along the way, then shapes the way they do what they do. And I don’t think this is 
			only about poetry. I once had a nurse write to me. Her sister, a poet, had dragged her out to an event where I happened to be reading. And I got to hear 
			this nurse talk about an experience she had over a year after my reading, where a middle-aged transman who had a heart attack was brought into her unit. 
			And she told me how my poems sort of “came over her” (that was the language she used) as she treated this guy, and how she was able to see him and to 
			talk about him to the other nurses and aids on her floor in a way she couldn’t have before. So, I do think that’s activism. That’s change. If we all 
			wanted to live in the world just as it is, why write? Why imagine anything at all?
		</p>
		<pre class="preformatted-font preformatted-spacing extra-line-height">
<strong>Poems by Stacey Waite:</strong>

        <strong><a name="1"></a>On the Occasion of Being Mistaken for a Man by Security
	        Personnel at Newark International Airport</strong>

It’s like being born again, these metal detectors
are like traveling through the womb, the buzz
goes off to indicate the birth of trouble.
And the gender of trouble matters because
when a woman goes through, Jimmy yells,
“Female Search” and a large woman appears 
from behind her security table. So when I walk through
and my wallet chain sets off the womb alert,
I wait. I wait for “Female Search” like I wait for the bus,
that hopeful and expecting look. But Jimmy takes me
himself. Jimmy slides his hands down the length
of my thighs, he pats his palm stiffly against my crotch.
He asks me to remove my boots and jacket.
And so I do. And at first, the woman in me goes unnoticed.
But when I hold my arms straight out 
and he traces the outline of my underarms, he makes
that face, the face I’ve seen before, 							          
the “holy-shit-it’s-a-woman” face, 							         
the “pretend-you-don’t-notice-the-tits” face.

Jimmy’s hands change from a tender sweep 
to a kind of wiping, like he’s trying to rid my body
of the afterbirth, he is preparing to peal off the skin of my body 				           
as he would the apple he brings to work for break time.

Jimmy stares hard at the metal detector, 							       
with a kind of respect like the arch of it became holy, 				        
transformed me on my walk through.  							   
Jimmy is nervous for the following reasons:

he has just felt the crotch and chest of a woman who he thought was a man,
he can not decide which way he liked her best,
his supervisor might notice he has not yelled “Female Search”
which he knows is grounds for some sort of lawsuit,
he’s angry, his blue uniform makes him angry
so that when he is patting her down now, he does it with force,
he wants her to feel he is stronger than she is,
he wants the metal detector to stop being a gender change machine
from which this woman, who is also me, immerges,
unties her boots slowly, follows all his directions.
And when Jimmy is done, he nods. He wants me
to keep him secret, to pretend neither of us had ever been born.
		</pre>
        <div class="top-border preformatted-font preformatted-spacing extra-line-height">
            This poem first published in <em>Nimrod</em> in 2003.<br />
            Also appears in <em>Love Poem to Androgyny</em> (Main Street Rag 2006)<br />
	        <a href="http://www.mainstreetrag.com/store/chapbooks.php">http://www.mainstreetrag.com/store/chapbooks.php</a>
        </div><br /><br /><br />
		<pre class="preformatted-font preformatted-spacing extra-line-height">
        <strong><a name="2"></a>On the Occasion of Being Mistaken for a Woman
            By a Therapist in the South Hills</strong> 

<em>Tell me again, she says, how you liked being Hansel
in the sixth grade production of Hansel and Gretel.
She leans in close, you’ve told me how it feels
to be a man, how about how it feels to be a woman?</em>

And I remember how it felt to play the woodcutter’s son,
the tight grip of the suspenders on my shoulders,
Lila Henning’s small hands as she played the role
of my sister, how she pushed Mrs. Gladys,
who played the conspiring candyhouse witch,
into the oven. I was a good Hansel, I practiced
making the disappointed face for the moment
we realize the birds have eaten the breadcrumb trail.

It felt wrong to be a woman, wrong when 
the barista at the café says <em>have a nice day
ladies</em>, wrong when my mother calls 
my underwear <em>panties</em>, wrong when
my hair is tied in pigtails. I do not speak
the language of women, and the therapist
is trying to unwind me. She thinks, of course
that I must know what it is like, that somewhere,
somewhere deep inside myself, lives the life
of a woman, if I would only let her speak.

I sit still, I sit like Hansel locked in his cage.
The witch, after all, plans on eating him.
If I thought a woman were there, I would go
look for her. I am the kind of man who rescues,
who thinks to leave a failing trail in the forest.
I am the woodcutter’s son, unwanted, 
but finally, after a close call with death,
held closely and welcomed home.
		</pre>
        <div class="top-border preformatted-font preformatted-spacing extra-line-height">
            This poem first published in <em>The Rattling Wall</em> in 2011.<br />
            Will be forthcoming in <em>Butch Geography</em> (Tupelo Press, 2013)<br />
            <a href="http://www.tupelopress.org/books/lakehasnosaint">http://www.tupelopress.org/books/lakehasnosaint</a>
        </div><br /><br /><br />
		<pre class="preformatted-font preformatted-spacing extra-line-height">
        <strong><a name="3"></a>when leaving the house as a man</strong>

i was sixteen the first time i saw a drag show. it was, as it turned out, my first time in a tie if we 
don’t count the endless number of times i tried on my father’s ties in the master bedroom, pulling 
each one close to my neck trying to learn how to loop the fabric, how to <em>become</em> a man. here, in 
this gay bar off the coast of suburban long island, drag queens called me “handsome,” giggled 
when i pulled out their chairs and lit their cigarettes. and when i arrive home late, when i try to 
sneak in through the back sliding glass door, my mother sees me in the suit and tie. she, for a 
moment, covers her eyes as though i had been naked and not her child. “what are you doing?” she 
wants to know. “where could you have gone dressed like that?”			
		</pre>
        <div class="top-border preformatted-font preformatted-spacing extra-line-height end">
            This poem appears in <em>the lake has no saint</em> (Tupelo Press 2010)<br />
            <a href="http://www.tupelopress.org/books/lakehasnosaint">http://www.tupelopress.org/books/lakehasnosaint</a>
        </div>
    </div>
    <div class="article-sidebar">
    </div>
</div>